@charset "UTF-8";

//------------------------------------
//  ICONS
//------------------------------------

$icons: (
	"arrow-left"              : "\e602",
	"arrow-right"             : "\e603",
	"arrow-up"                : "\e604",
	"arrow-down"              : "\e601",
	"boxes"                   : "\e61f",
	"consul-boxes"            : "\e605",
	"clipboard"               : "\e620",
	"consul-clipboard"        : "\e60c",
	"search"                  : "\e613",
	"chat"                    : "\e61e",
	"consul-chat"             : "\e60a",
  "eye"                     : "\e90a",
  "cadastrar"               : "\e908",

	"brastemp-account"        : "\e622",
	"consul-account"          : "\e612",
	"brastemp-cart"           : "\e621",
	"consul-cart"             : "\e608",
	"brastemp-loupe"          : "\e624",
	"consul-loupe"            : "\e613",

	"logo-brastemp"           : "\e623",
	"logo-consul"             : "\e60e",
  "logo-consul-aniversario" : "\e90b",

	"icecream"                : "\e618",
	"house"                   : "\e619",
	"waves"                   : "\e61a",
	"ice"                     : "\e61b",
	"blob"                    : "\e61c",
	"pan"                     : "\e61d",

	"check-mark"              : "\e60b",
	"close-icon"              : "\e60d",
	"close"                   : "\e606",

	"lock"                    : "\e614",

	"features-card"           : "\e607",
	"features-factory"        : "\e610",
	"features-money"          : "\e609",
	"features-shield"         : "\e615",
	"features-truck"          : "\e616",

	"social-facebook"         : "\e60f",
	"social-linkedin"         : "\e611",
	"social-twitter"          : "\e617",
	"social-youtube"          : "\e600",
  "facebook-messenger"      : "\e909",

	'gae-truck'               : '\e901',
	'gae-solucao'             : '\e902',
	'gae-seguranca'           : '\e903',
	'gae-protecao'            : '\e904',
	'gae-phone'               : '\e905',
	'gae-cubo'                : '\e906',
	'gae-balcao'              : '\e907',
);

@font-face {
	font-family: 'whirlpool';
	src: url("#{$icon-path}whirlpool2.eot");
	src: url("#{$icon-path}whirlpool2.eot?#iefix") format("embedded-opentype"),
		 url("#{$icon-path}whirlpool2.woff2") format('woff2'),
		 url("#{$icon-path}whirlpool2.woff") format("woff"),
		 url("#{$icon-path}whirlpool2.ttf") format("truetype"),
		 url("#{$icon-path}whirlpool2.svg#whirlpool") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'whirlpool';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@each $key, $value in $icons {
		&.icon-#{$key}:before { content: $value }
	};
}

%icon-hamburger {
	@include responsiveFont(13);
	display: inline-block;
	height: 14px;
	position: relative;
	width: 16px;

	&:before {
		content: ' ';
		height: 2px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		right: 0;
		width: 100%;
	}
}

@mixin icon-hamburger ($color: #ffffff) {
	@extend %icon-hamburger;
	border-bottom: 2px solid $color;
	border-top: 2px solid $color;
	color: $color;

	&:before { background-color: $color; }
}

.icon-hamburger {
	@include icon-hamburger ();
}

@mixin icon-get( $icon ) {
	font-family: "whirlpool" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	content: map-get($icons, $icon);
};