/* Magnific Popup CSS */

@import 'mfp-settings';

////////////////////////
//
// Contents:
//
// 1. General styles
//    - Transluscent overlay
//    - Containers, wrappers
//    - Cursors
//    - Helper classes
// 2. Appearance
//    - Preloader & text that displays error messages
//    - CSS reset for buttons
//    - Close icon
//    - '1 of X' counter
//    - Navigation (left/right) arrows
//    - Iframe content type styles
//    - Image content type styles
//    - Media query where size of arrows is reduced
//    - IE7 support
//
////////////////////////



////////////////////////
// 1. General styles
////////////////////////

// Transluscent overlay
.mfp-bg {
  background: $mfp-overlay-color;
  height: 100%;
  left: 0;
  opacity: $mfp-overlay-opacity;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $mfp-z-index-base + 2;
  @if $mfp-IE7support {
    filter: unquote('alpha(opacity=#{$mfp-overlay-opacity*100})');
  }
}

// Wrapper for popup
.mfp-wrap {
  -webkit-backface-visibility: hidden; // fixes webkit bug that can cause 'false' scrollbar
  height: 100%;
  left: 0;
  outline: none !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $mfp-z-index-base + 3;
}

// Root container
.mfp-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 0 $mfp-popup-padding-left;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

// Vertical centerer helper
.mfp-container {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

// Remove vertical centering when popup has class `mfp-align-top`
.mfp-align-top {
  .mfp-container {
    &:before {
      display: none;
    }
  }
}

// Popup content holder
.mfp-content {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: left;
  vertical-align: middle;
  z-index: $mfp-z-index-base + 5;
}
.mfp-inline-holder,
.mfp-ajax-holder {
  .mfp-content {
    width: 100%;
    cursor: auto;
  }
}

// Cursors
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur {
  &, .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor {
  .mfp-content {
    cursor: auto;
  }
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -moz-user-select: none;
  -webkit-user-select:none;
  user-select: none;
}

// Hide the image during the loading
.mfp-loading {
  &.mfp-figure {
    display: none;
  }
}

// Helper class that hides stuff
@if $mfp-use-visuallyhidden {
  // From HTML5 Boilerplate https://github.com/h5bp/html5-boilerplate/blob/v4.2.0/doc/css.md#visuallyhidden
  .mfp-hide {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
} @else {
  .mfp-hide {
    display: none !important;
  }
}


////////////////////////
// 2. Appearance
////////////////////////

// Preloader and text that displays error messages
.mfp-preloader {
  color: $mfp-controls-text-color;
  left: 8px;
  margin-top: -0.8em;
  position: absolute;
  right: 8px;
  text-align: center;
  top: 50%;
  width: auto;
  z-index: $mfp-z-index-base + 4;
  a {
    color: $mfp-controls-text-color;
    &:hover {
      color: $mfp-controls-text-color-hover;
    }
  }
}

// Hide preloader when content successfully loaded
.mfp-s-ready {
  .mfp-preloader {
    display: none;
  }
}

// Hide content when it was not loaded
.mfp-s-error {
  .mfp-content {
    display: none;
  }
}

// CSS-reset for buttons
button {
  &.mfp-close,
  &.mfp-arrow {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: none;
    overflow: visible;
    padding: 0;
    z-index: $mfp-z-index-base + 6;
  }
  &::-moz-focus-inner {
      padding: 0;
      border: 0
  }
}


// Close icon
.mfp-close {
  color: $mfp-controls-color;
  cursor: pointer!important;
  font-size: 0;
  font-style: normal;
  opacity: $mfp-controls-opacity;
  position: fixed;
  right: 40px;
  text-decoration: none;
  top: 40px;

  &:hover{
    color: $green;
  }

  &:before{
    @include icon-get('close-icon');
    font-size: 28px;
  }

}

// '1 of X' counter
.mfp-counter {
  color: $mfp-controls-text-color;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
}

// Navigation arrows
@if $mfp-include-arrows {
  .mfp-arrow {
    font-size: 38px;
    margin: 0;
    opacity: $mfp-controls-opacity;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      color: $green;
      opacity: 1;
      @if $mfp-IE7support {
        filter: unquote('alpha(opacity=#{1*100})');
      }
    }

  }

  .mfp-arrow-left {
    left: 40px;

    &:before{@include icon-get('arrow-left')}
  }

  .mfp-arrow-right {
    right: 40px;

    &:before{@include icon-get('arrow-right')}

  }
}



// Iframe content type
@if $mfp-include-iframe-type {
  .mfp-iframe-holder {
    padding-bottom: $mfp-iframe-padding-top;
    padding-top: $mfp-iframe-padding-top;
    .mfp-content {
      line-height: 0;
      max-width: $mfp-iframe-max-width;
      width: 100%;
    }
    .mfp-close {
      top: -40px;
    }
  }
  .mfp-iframe-scaler {
    height: 0;
    overflow: hidden;
    padding-top: $mfp-iframe-ratio * 100%;
    width: 100%;
    iframe {
      background: $mfp-iframe-background;
      box-shadow: $mfp-shadow;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}



// Image content type
@if $mfp-include-image-type {

  /* Main image in popup */
  img {
    &.mfp-img {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      height: auto;
      line-height: 0;
      margin: 0 auto;
      max-width: 100%;
      padding: $mfp-image-padding-top 0 $mfp-image-padding-bottom;
      width: auto;
    }
  }

  /* The shadow behind the image */
  .mfp-figure {
    line-height: 0;
    &:after {
      background: $mfp-image-background;
      bottom: $mfp-image-padding-bottom;
      box-shadow: $mfp-shadow;
      content: '';
      display: block;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: $mfp-image-padding-top;
      width: auto;
      z-index: -1;
    }
    small {
      color: $mfp-caption-subtitle-color;
      display: block;
      font-size: 12px;
      line-height: 14px;
    }
    figure {
      margin: 0;
    }
  }
  .mfp-bottom-bar {
    cursor: auto;
    left: 0;
    margin-top: -$mfp-image-padding-bottom + 4;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .mfp-title {
    color: $mfp-caption-title-color;
    line-height: 18px;
    padding-right: 36px; // leave some space for counter at right side
    text-align: left;
    word-wrap: break-word;
  }

  .mfp-image-holder {
    .mfp-content {
      max-width: 100%;
    }
  }

  .mfp-gallery {
    .mfp-image-holder {
      .mfp-figure {
        cursor: pointer;
      }
    }
  }


  @if $mfp-include-mobile-layout-for-image {
    @media screen and (max-width: 800px) and (orientation:landscape), screen and (max-height: 300px) {
      /**
       * Remove all paddings around the image on small screen
       */
      .mfp-img-mobile {
        .mfp-image-holder {
          padding-left: 0;
          padding-right: 0;
        }
        img {
          &.mfp-img {
            padding: 0;
          }
        }
        .mfp-figure {
          // The shadow behind the image
          &:after {
            bottom: 0;
            top: 0;
          }
          small {
            display: inline;
            margin-left: 5px;
          }
        }
        .mfp-bottom-bar {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          background: rgba(0,0,0,0.6);
          bottom: 0;
          box-sizing: border-box;
          margin: 0;
          padding: 3px 5px;
          position: fixed;
          top: auto;
          &:empty {
            padding: 0;
          }
        }
        .mfp-counter {
          right: 5px;
          top: 3px;
        }
        .mfp-close {
          background: rgba(0, 0, 0, 0.6);
          height: 35px;
          line-height: 35px;
          padding: 0;
          position: fixed;
          right: 0;
          text-align: center;
          top: 0;
          width: 35px;
        }
      }
    }
  }
}



// Scale navigation arrows and reduce padding from sides
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: $mfp-popup-padding-left-mobile;
    padding-right: $mfp-popup-padding-left-mobile;
  }
}



// IE7 support
// Styles that make popup look nicier in old IE
@if $mfp-IE7support {
  .mfp-ie7 {
    .mfp-img {
      padding: 0;
    }
    .mfp-bottom-bar {
      left: 50%;
      margin-left: -300px;
      margin-top: 5px;
      padding-bottom: 5px;
      width: 600px;
    }
    .mfp-container {
      padding: 0;
    }
    .mfp-content {
      padding-top: 44px;
    }
    .mfp-close {
      padding-top: 0;
      right: 0;
      top: 0;
    }
  }
}
