/*! nouislider - 8.5.1 - 2016-04-24 16:26:42 */


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

@charset 'UTF-8';


.noUi-target,
.noUi-target * {
	box-sizing: border-box;
	touch-action: none;
	user-select: none;
-moz-box-sizing: border-box;
-moz-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-webkit-touch-callout: none;
-webkit-user-select: none;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1; /* Fix 401 */
	&:before {
		content: 'Min.';
		left: -5px;
		transform: translate(-50%,0);
	}
	&:after {
		content: 'Max.';
		right: 10px;
		transform: translate(50%,0);
	}
	&:before,
	&:after {
		@include responsiveFont(12, 16, true);
		position: absolute;
		top: 10px;
	}
}
.noUi-origin {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-state-tap .noUi-origin {
	transition: left 0.3s, top 0.3s;
-webkit-transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 2px;
}
.noUi-horizontal .noUi-handle {
	background: #fff;
	border-radius: 50%;
	height: 15px;
	left: -15px;
	top: -6px;
	width: 15px;

	&.noUi-handle-upper{
		height: 20px;
		left: -20px;
		top: -9px;
		width: 20px;
	}
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	height: 34px;
	left: -6px;
	top: -17px;
	width: 28px;
}

/* Styling;
 */
.noUi-background {
	background: $gray;
}
.noUi-connect {
	background: $orange;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
	transition: background 450ms;
-webkit-transition: background 450ms;
}
/* .noUi-origin {
	border-radius: 2px;
} */
/* .noUi-target {
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
} */
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: n-resize;
}
.noUi-handle {
	border: 2px solid $orange;
	cursor: pointer;
}

/* Handle stripes;
 */
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	height: 1px;
	left: 6px;
	top: 14px;
	width: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
	cursor: not-allowed;
}


/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
	box-sizing: border-box;
-moz-box-sizing: border-box;
}
.noUi-pips {
	color: #999;
	position: absolute;
}

/* Values;
 *
 */
.noUi-value {
	position: absolute;
	text-align: center;
}
.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
	background: #CCC;
	position: absolute;
}
.noUi-marker-sub {
	background: #AAA;
}
.noUi-marker-large {
	background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
	height: 80px;
	left: 0;
	padding: 10px 0;
	top: 100%;
	width: 100%;
}
.noUi-value-horizontal {
	-webkit-transform: translate3d(-50%,50%,0);
	transform: translate3d(-50%,50%,0);
}

.noUi-marker-horizontal.noUi-marker {
	height: 5px;
	margin-left: -1px;
	width: 2px;
}
.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
	height: 100%;
	left: 100%;
	padding: 0 10px;
	top: 0;
}
.noUi-value-vertical {
	-webkit-transform: translate3d(0,-50%,0);
	padding-left: 25px;
	transform: translate3d(0,-50%,0);
}

.noUi-marker-vertical.noUi-marker {
	height: 2px;
	margin-top: -1px;
	width: 5px;
}
.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}

.noUi-tooltip {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #D9D9D9;
	display: block;
	padding: 5px;
	position: absolute;
	text-align: center;
}

.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
	top: -32px;
}
.noUi-horizontal .noUi-handle-upper .noUi-tooltip {
	bottom: -32px;
}
.noUi-vertical .noUi-handle-lower .noUi-tooltip {
	left: 120%;
}
.noUi-vertical .noUi-handle-upper .noUi-tooltip {
	right: 120%;
}


//CUSTOM STYES
.slider__values {
	position: absolute;
	width: 100%;
}

.slider__value {
	@include responsiveFont(12, 16, true);
	margin-top: 1em;

	&:before { content: 'R$ ' }
}

.slider__value--from,
.slider__value--to {
	@include responsiveFont(12, 16, true);
	background-color: $gray;
	padding: 2px 4px;
	position: absolute;
	top: -40px;

	&:before {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $gray;
		bottom: -5px;
		content: '';
		display: inline-block;
		height: 0;
		left: 50%;
		position: absolute;
		transform: translate(-50%,0);
		width: 0;
	}
}
.slider__value--from {
	left: -5px;
	transform: translate(-50%,0);
}
.slider__value--to {
	right: 10px;
	transform: translate(50%,0);
}

.slider__apply { margin-top: 40px }