@charset 'UTF-8';

.modal-whp {

	&__mask {
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;

		&:before {
			@include contentBefore;
			background: #000;
			height: 100%;
			left: 0;
			opacity: 0;
			top: 0;
			transition: opacity .5s ease;
			width: 100%;
		}

		&--enter:before { opacity: .75; }
		&--loaded .modal-whp__body {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&__body {
		@include breakpoint(medium, 'min') { min-width: 550px; };
		background: #fff;
		display: inline-block;
		left: 50%;
		opacity: 0;
		overflow: hidden;
		padding: 30px;
		position: relative;
		top: 50%;
		transform: translateX(-50%) translateY(-100%);
		transition: .75s transform cubic-bezier(.18, .89, .32, 1.28), .75s opacity ease;
	}

	&__title {
		@include font-size(18px, true, false);
		color: $orange;
		font-weight: bold;
		margin-top: 0;
	}

	&__confirm,
	&__cancel {
		@include font-size(14px, true, false);
		padding: .7em 2.5em;
	}

	&__confirm {
		@include breakpoint(medium, 'min') { margin: 0 2em 0 0 };
		margin: 0 0 2em 0;
	}

	&__close {
		@include font-size(22px, true, false);
		color: #000;
		position: absolute;
		right: 15px;
		top: 10px;
	}

}