.banners,
.banners-mobile {
	position: relative;

	.container {
		height: 30px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);

		@include breakpoint(small, 'max') {
			bottom: 40px;
			left: 0;
			max-width: 100%;
			text-align: center;
			top: initial;
			transform: none;
		}
	}

	a.open-regulamento {
		@include responsiveFont(11, 16, true);
		background: $orange;
		color: #ffffff;
		display: none;
		font-weight: bold;
		left: 90px;
		padding: 5px 10px;
		position: absolute;
		text-decoration: underline;
		text-transform: uppercase;
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint(small, 'max') {
			bottom: 0;
			margin: 0 auto;
			position: static;
			transform: inherit;
		}
	}
}

// Banner principal DESKTOP
.banner-principal {
	overflow: hidden;
	padding: 0 !important;
	position: relative;

	// [ Desktop ] - Altura mínima para evitar o "pulo" do browser no carregamento dos scripts.
	@include breakpoint(extra-large, 'min') { min-height: 340px; }

	.box-banner {
		position: absolute;
		top: 0;
		width: 100%;

		a {
			display: block;
			height: auto;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
		}

		img {
			display: block;
			height: auto;
			left: 50%;
			position: relative;
			transform: translateX(-50%);
			width: 1900px;

			@include breakpoint(small, 'max') { max-width: 100%; }
		}

		&.slick-slide { position: relative; }

		&:first-child { z-index: 1; }
	}

	// [ Mobile ] - Banner principal
	&.banner-mobile {
		.box-banner {
			img {
				left: 0;
				max-width: 100%;
				transform: translateX(0);
				width: auto;
			}
		}
	}

	// Esconder o banner na página de busca
	// quando a busca não trouxer resultado.
	.busca-vazia & {
		@include hide-conditional();
	}
}

#vtex-modal-regulamento-banner {
	.modal-holder { max-width: 712px; }

	#modal-regulamento-banner {
		padding: 20px;
		text-align: left;
	}
}