.bread-crumb {
	@include font-size(14px);
	font-weight: 700;
	margin: 30px 0;
	text-transform: uppercase;

	@include breakpoint(small, 'max') { margin: 20px 0; }

	li {
		display: none;
		margin-right: 5px;
		vertical-align: middle;

		a {
			color: $txt-gray-l;

			&:before {
				color: $txt-gray-l;
				content: '\2192';
				display: inline-block;
				margin-right: 6px;
				top: 1px;
			}

			&:last-child {
				color: $orange;
			}
		}

		&:first-child {
			display: inline-block;

			a {
				color: $txt-gray-l;
				font-size: 0;

				&:before {
					@include font-size(14px);
					content: 'Home';
					margin-right: 0;

					@include breakpoint(small, 'max') { color: $txt-gray; }
				}
			}
		}

		&:first-child,
		&.last {
			display: inline-block;
		}
	}
}