body.categoria,
body.departamento {
	.category-postheader {
		background: #fcfcfc;
		border: 1px solid #e3e1e1;
		margin-bottom: 30px;

		@include breakpoint ('medium', 'max') {
			white-space: nowrap;
		}
	}

	section.breadcrumb {
		margin: 0 auto;

		.bread-crumb {
			@include font-size(14px);
			font-weight: 700;
//			margin: 30px 0;
			margin: 10px 0;
			text-transform: uppercase;


			li {
				color: #736c6b;
				display: inline-block;
				font-weight: 400;
				margin-right: 5px;
				vertical-align: middle;

				a {
					color: #736c6b;
					font-size: .75rem;

					&:before {
						color: $green;
						content: '•';
						display: inline-block;
						font-size: .75rem;
						font-weight: 700;
						margin-right: 6px;

						@include breakpoint ('medium', 'max') {
							color: #e3e1e1;
						}
					}

					@include breakpoint('medium', 'max') {
						pointer-events: none;
					}

				}

				@include breakpoint ('medium', 'max') {
					max-width: 10px;
					overflow: hidden;

					transition: max-width .5s ease;
				}


				&:nth-child(2) {
					a {
						&:before {
							color: $green;
						}
					}
				}

				&:last-child {
					a {
						&:before {
							color: $green;
							content: '>';
						}

						@include breakpoint ('medium', 'max') {
							font-size: .75rem;
							pointer-events: auto;
						}
					}

					@include breakpoint ('medium', 'max') {
						max-width: inherit;
					}
				}

				&:first-child {
					margin-right: 0;

					a {
						font-size: 0;
						max-width: inherit;

						&:before {
							color: #736c6b;
							content: 'Home';
							font-size: .75rem;
							font-weight: 400;

							@include breakpoint ('medium', 'max') {
								pointer-events: auto;
							}
						}
					}

					@include breakpoint ('medium', 'max') {
						max-width: inherit;
					}
				}
			}

			&.show-active {
				ul {
					li:not(:first-child) {
						max-width: 500px;
						a {
							pointer-events: auto;

							&:before {
								color: $green;
							}
						}
					}
				}
			}

			@include breakpoint ('medium', 'max') {
				overflow: auto;
			}
		}

		@include breakpoint ('medium', 'max') {
			padding: 0;
			width: auto;
		}
	}
}