@charset 'UTF-8';

@import '../helpers/rfs';

$self-primary: $green!default;
$self-secondary: $txt-gray-l!default;
$self-third: $gray-l!default;

@keyframes contentPlaceholder {
	from { left: 0%; }
	to { left: 100%; }
}

div[data-chaordic] {
	//CONTENT PLACEHOLDER MOBILE CHANGES
	ul.content-placeholder {
		display: flex;
		@include breakpoint(small, 'max') {
			margin: 20px 0;

			li:not([id^='slick-']) {
				margin: 0 0 0 0;

				&:nth-child(1) {display: none!important}
			}
		}
	}

	ul {
		li:not([id^='slick-']) {
			display: flex;
			height: auto;
			width: 33.333333%;

			@include breakpoint('small', 'max') {
				// border: 1px solid #ccc;
				margin: 0;
				padding: 10px;
				text-align: left;
				width: 47.5%;
			}
		}
	}

	// .slick-prev { left: -5% }
	// .slick-next { right: -5% }

	.slick-prev { left: -2% }
	.slick-next { right: -2% }
	.slick-dots {
		bottom: 0;
		margin: 5% 0;
		position: relative;
	}

	.slick-track { display: flex; }
}

.shelf {
	&.shelf-max-size {
		@include breakpoint('medium', 'min') { max-width: 270px; }
	}

	&-pre-title {
		// margin: 0;
		padding: 20px 5px;

		span { color: $self-primary; }

		// span {
		// 	@include breakpoint(medium, 'min') {
		// 		@include responsiveFont(78, 16, true);
		// 		color: $self-primary;
		// 		display: block;
		// 		font-weight: 100;
		// 		line-height: 1;
		// 		text-transform: capitalize;
		// 	}
		// }
	}

	&-title {
		font-size: 1.5625rem;
		font-weight: 700;
		margin-bottom: 15px;
		text-align: center;

		.shelf--compre-junto {
			color: $green;
			display: inline-block;
			font-size: 1.5625rem;
			font-weight: 700;
			text-transform: none;
		}
	}

	&-item {
		//HOVER ON SHELF ITEM ACTIONS
		@include breakpoint (medium, 'min') {
			&:hover {
				.shelf-item__image {
					&--hover {
						opacity: 1;
						visibility: visible;
					}

					&:before { opacity: 1; }

					.flag { opacity: 0; }
				}
			}
		}
		@include breakpoint(small, 'max') { text-align: left; }
		margin: 0 auto;
		width: 100%;

		&--empty {
			background: $gray;
			position: relative;

			&:before {
				animation: contentPlaceholder 1.5s infinite linear;
				animation-direction: alternate;
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .25) 33.33333%, rgba(255, 255, 255, 0) 100%);
				content: '';
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 45%;
			}
		}

		@import 'components/shelf/image';
		@import 'components/shelf/info';
		@import 'components/shelf/price';

		a { text-decoration: none }


		&.product-has-discount {
			.discount-boleto {
				span { display: inline-block!important; }
			}
		}
	}

	&-plus,
	&-equals {
		@include breakpoint(small, 'max') { display: none; }
		color: $green;
		float: left;
		font-size: 36px;
		font-weight: 400;
		margin: 18% 1.3% 18% 1.3%;
	}

	&--personalized {
		@include breakpoint(medium, 'min') {
			.slick-arrow.slick-prev { left: 0 }
			.slick-arrow.slick-next { right: 0 }

			& > h2 { display: none }
		}

		// &.container { padding: 0; }

		&__holder {
			@include breakpoint(small, 'max') {
				ul.content-placeholder li.inline-b:not([id^='slick-']):nth-child(1) {display: inline-block!important}
			}
			float: left;
			max-width: 600px;

			& > .container { padding: 0; }
		}

		h2 {
			@include breakpoint(small, 'max') {
				&:not(.shelf-sub-title) {
					margin-left: calc(-0% - 10px);
					margin-right: calc(-0% - 10px);

					@include breakpoint('extra-small', 'max') {
						margin-left: calc(-3% - 10px);
						margin-right: calc(-3% - 10px);
					}
				}

				&.shelf-sub-title {
					display: block;
					padding-left: 0;
					padding-right: 0;

					// position: relative;
					// text-align: center;

					// &:before {
					// 	border-color: $self-third transparent transparent transparent;
					// 	border-style: solid;
					// 	border-width: 10px 10px 0 10px;
					// 	bottom: -10px;
					// 	content: '';
					// 	/*display: block;*/
					// 	height: 0;
					// 	left: 50%;
					// 	position: absolute;
					// 	transform: translateX(-50%);
					// 	width: 0;
					// }
				}
			}
		}

		&-res {
			@include breakpoint(small, 'max') { width: 100%; }
			background: #f4f2f1;
			padding-bottom: 35px;
			text-align: center;
			width: 23%;

			.shelf-item__button {
				font-size: 1rem;
				font-weight: 500;
				height: 45px;
				line-height: 40px;
				margin: 0 auto;
				width: 215px;

				@include breakpoint (large, 'max') {
					@include breakpoint (small, 'max') { width: 215px; }
					width: 160px;
				}
			}
		}


		&-ref {
			@include breakpoint(small, 'max') {
				width: 100%;

				ul li:not([id^='slick-']) {	border: none!important }

				&>h2 { display: none; }
			}
			width: 100/3*1%;

			ul li { width: 100%!important; }

			.box-produto { border-color: transparent; }
		}

		&-rec {
			@include breakpoint(small, 'max') {
				width: 100%;

				// h2 {
				// 	background-color: $self-third;
				// 	font-weight: normal;
				// }
			}
			width: 100/3*2%;

			ul.content-placeholder li:not([id^='slick-']) { width: 50%; }

			// h2 {
			// 	color: $self-primary;
			// 	background-color: #ccc;
			// }
		}
	}

	// &--history-personalized { margin-bottom: 35px; }

	&--history-personalized-ref {
		@include breakpoint('small', 'max') {
			height: auto;
			width: 100%;
		}
		height: 525px;
		width: 33.3%;
		z-index: 50;

		ul {
			.slick-track {
				@include breakpoint('small', 'min') { display: block; }
			}

			li {
				.shelf-item__image {
					float: left;
					max-width: 150px;
					width: 100%;

					img { min-height: unset; }

					@include breakpoint('small', 'max') {
						float: none;
						max-width: none;
						position: relative;
						width: auto;
					}
				}

				.shelf-item__info {
					height: 70px;
					overflow: hidden;
				}

				.shelf-item__infos {
					float: right;
					max-width: 162px;
					width: 100%;
					@include breakpoint('medium', 'max') { max-width: 100%; }
					@include breakpoint('small', 'max') { float: none; }
				}

				.shelf-item__name.show-mobile {
					@include breakpoint('small', 'max') { display: block; }
					display: none;
				}

				.shelf-item__name.show-desk {
					text-align: left;

					@include breakpoint('small', 'max') { display: none; }
				}

				.shelf-item__price {
					margin: 0;

					span.off,
					span.product-with-discount { display: none!important; }
				}

				.shelf-item__price--best.por {
					.val { @include rfs(17); }
				}

				.shelf-item__button { display: none; }

				.shelf-item__price--list.de {
					a { @include rfs(12); }
				}

				.shelf-item__price--installment,
				.shelf-item__price--cash {
					@include breakpoint('small', 'max') { display: block; }

					.discount-boleto {
						@include rfs(11);
						@include breakpoint('small', 'min') {
							padding-left: 0;

							&:before { display: none; }
						}


						strong { white-space: nowrap; }

						span { display: none; }
					}

					span { @include rfs(11); }
				}

				.shelf-item__price--installment {
					@include breakpoint('small', 'min') {
						padding-left: 0;

						&:before { display: none; }
					}

					strong {
						@include rfs(11);

						.val { white-space: nowrap; }
					}
				}
			}
		}
	}

	&--history-personalized-cart {
		ul {
			li {
				// display: block!important;
				// margin: 10px 0;
				// max-width: 340px;
				// width: 100%!important;
				.shelf-item__image {
					float: left;
					max-width: 160px;
					width: 100%;
					img {
						min-height: unset;
					}
				}
				.shelf-item__infos {
					float: right;
					max-width: 162px;
					width: 100%;
				}
				.shelf-item__name {
					font-size: 17px;
					margin-top: 0;
					text-align: left;
				}
				.shelf-item__price--list {
					display: none;
				}
				.shelf-item__price {
					font-size: .875rem;
					margin: 0;
					text-align: left;
					// span.off {
					// 	display: none!important;
					// }
				}
				.shelf-item__price--installment,
				.shelf-item__price--cash {
					display: none;
				}
				.shelf-item__button {
					font-size: 13px;
					width: 100%;
				}
			}
		}
	}

	&-item__voltage {
		text-align: left;
		span {
			font-size: .8em;
			line-height: 1.5;
		}
		&>div {
			height: 25px;
		}
	}

	&-item__voltage-option {
		color: #b4afad;
		cursor: pointer;
		display: inline-block;
		margin: 0 10px 0 0;
		position: relative;
		transition: .4s ease all;
		vertical-align: middle;
		input[type=radio] {
			-webkit-appearance: none;
			background-color: #fff;
			border: 2px solid #b4afad;
			border-radius: 50%;
			box-sizing: border-box;
			float: left;
			height: 14px;
			margin-right: 5px;
			width: 14px;
			&:checked {
				border: 4px solid #f47921;
				& + label {
					color: #f47921;
				}
			}
		}
		label {
			float: left;
		}
	}

	&-item__button {
		background: $green;
		border: 2px solid $green;
		border-radius: 50px;
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 14px;
		height: 30px;
		line-height: 24px;
		margin-top: 5px;
		position: relative;
		text-align: center;
		transition: all 250ms ease-out;
		width: 130px;

		&:hover {
			background: transparent;
			color: $green;
		}
	}

	&-res-text {
		color: #736c6b;
		font-size: 1.2rem;
		line-height: 30px;
		margin: 55px 0 15px 0;

		&-first {
			display: block;
			margin: 0;
		}

		&-second {
			display: block;
			font-weight: bold;
			margin: 0;
		}

		@include breakpoint(small, 'max') {
			margin: 20px 0;
		}

		&:before {
			background: url('/arquivos/compre-junto-icon.png') no-repeat top;
			background-size: contain;
			content: '';
			display: block;
			flex-wrap: wrap;
			height: 55px;
			margin: 15px auto;
			width: 47px;

			@include breakpoint ('small', 'max') {
				display: none;
			}
		}
	}

	&-line {
		border-top: 2px solid $green;
		display: block;
		margin: 0 auto;
		width: 10%;

		@include breakpoint ('small', 'max') {
			margin-bottom: 15px;
			width: 7.75%;
		}
	}

	&-res-prices {
		margin: 30px 0 15px 0;
		@include breakpoint(small, 'max') {
			margin: 0 0 15px 0;
		}
		.old-price {
			color: #702F8F;
			font-size: 1rem;
			font-weight: 500;
			text-decoration: line-through;
		}
		.price {
			color: $green;
			font-size: 1.8rem;
			font-weight: 700;

			@include breakpoint(large, 'max') {
				font-size: 1.2rem;

				@include breakpoint(small, 'max') {
					font-size: 1.8rem;
				}
			}
		}
		.installments {
			color: #736c6b;
			font-size: .9rem;
			font-weight: bold;
			margin-top: 20px;
		}
	}

	&-item__percent {
		color: #736c6b;
		font-size: 18px;
		font-weight: bold;
		height: 22px;
		line-height: 22px;
		margin: 15px auto 0;
		width: 100%;
		span {
			color: #7f2893;
		}
	}

}

#relacionados {
	h2 {
		display: none;
	}

	.pre-title {
		font-size: 1.5625rem;
		margin-bottom: 20px;
		text-align: center;

		span {
			font-size: 1.5625rem;
		}
	}
}
