@charset 'UTF-8';

$self-primary: $green!default;
$self-secondary: $txt-gray-l!default;
$self-third: $gray-l!default;

@keyframes contentPlaceholder {
	from {
		left: 0%;
	}

	to {
		left: 100%;
	}
}

div[data-chaordic] {
	//CONTENT PLACEHOLDER MOBILE CHANGES
	ul.content-placeholder {
		display: flex;
		@include breakpoint(small, 'max') {
			margin: 20px 0;

			li:not([id^='slick-']) {
					margin: 0 5px 0 0;

					&:nth-child(1) {display: none!important}
			}
		}
	}

	ul {
		li:not([id^='slick-']) {
			display: flex;
			height: auto;

			@include breakpoint(small, 'max') {
				border: 1px solid #ccc;
				margin: 0 5px;
				padding: 10px;
				text-align: left;
				width: 47.5%;
			}

			width: 33.333333%;
		}
	}

	.slick-prev { left: -5% }
	.slick-next { right: -5% }
	.slick-dots {
		bottom: 0;
		margin: 5% 0;
		position: relative;
	}

	.slick-track { display: flex }
}

.shelf {
	&-pre-title {
		@include breakpoint(small, 'max') {
			@include responsiveFont(16, 16, true);
			background-color: $self-primary;
			border: 1px solid #fff;
			color: #fff;
			display: block;
			font-weight: bold;
			line-height: 1.5;
			margin: 0 0 15px;
			padding: 15px;
			position: relative;
			text-align: left;

			&+div {
				max-height: 1000px;
				overflow: hidden;
				transition: max-height .8s ease;
			}

			&:not(.shelf-sub-title):after {
				@include icon-get('arrow-down');
				@include responsiveFont(5, 16, true);
				display: block;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				transition: transform .5s ease;
			}

			&--active {
				&+div {	max-height: 0 }

				&:after { transform: translateY(-50%) rotate(180deg)!important; }
			}
		}
		margin: 20px 0;

		span {
			@include breakpoint(medium, 'min') {
				@include responsiveFont(78, 16, true);
				color: $self-primary;
				display: block;
				font-weight: 100;
				line-height: 1;
				text-transform: capitalize;
			}
		}

	}

	&-item {
		//HOVER ON SHELF ITEM ACTIONS
		@include breakpoint (medium, 'min') {
			&:hover {
				.shelf-item__image {
					&--hover {
						opacity: 1;
						visibility: visible;
					}

					&:before { opacity: 1; }

					.flag {
						opacity: 0;
					}
				}

				.shelf-item__name { font-weight: bold }
			}
		}

		@include breakpoint(small, 'max') {
			text-align: left;

			.flag { bottom: 60% }
		}

		margin: 0 auto;
		max-width: 327px;
		width: 100%;

		&--empty {
			background: $gray;
			position: relative;

			&:before {
				animation: contentPlaceholder 1.5s infinite linear;
				animation-direction: alternate;
				background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .25) 33.33333%, rgba(255, 255, 255, 0) 100%);
				content: '';
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 45%;
			}
		}

		@import 'components/shelf/image';
		@import 'components/shelf/info';
		@import 'components/shelf/price';

		a { text-decoration: none }
	}

	&--personalized {
		@include breakpoint(medium, 'min') {
			.slick-arrow.slick-prev { left: 0 }
			.slick-arrow.slick-next { right: 0 }

			&>h2 { display: none }
		}

		&__holder {
			@include breakpoint(small, 'max') {
				ul.content-placeholder li.inline-b:not([id^='slick-']):nth-child(1) {display: inline-block!important}
			}

			float: left;
		}

		h2 {
			@include breakpoint(small, 'max') {
				&:not(.shelf-sub-title) {
					margin-left: calc(-5% - 20px);
					margin-right: calc(-5% - 20px);
				}

				&.shelf-sub-title {
					display: block;
					position: relative;
					text-align: center;

					&:before {
						border-color: $self-third transparent transparent transparent;
						border-style: solid;
						border-width: 10px 10px 0 10px;
						bottom: -10px;
						content: '';
						display: block;
						height: 0;
						left: 50%;
						position: absolute;
						transform: translateX(-50%);
						width: 0;
					}
				}
			}
		}



		&-ref {
			@include breakpoint(small, 'max') {
				width: 100%;

				ul li:not([id^='slick-']) {	border: none!important }

				&>h2 { display: none; }
			}
			width: 100/3*1%;

			ul li {
				border: 1px solid $self-third;
				width: 100%!important;
			}
		}

		&-rec {
			@include breakpoint(small, 'max') {
				// margin-top: -20px;
				width: 100%;

				h2 {
					background-color: $self-third;
					font-weight: normal;
				}
			}
			width: 100/3*2%;

			ul.content-placeholder li:not([id^='slick-']) { width: 50%; }
			h2 { color: $self-primary }
		}
	}
}