$bgcolor: #212121;

body {
	.shelf-bf {
		background-color: $bgcolor;
		overflow: hidden;

		.pre-title {
			color: #fff;
			margin: 0 0 20px;
			text-align: center;

			span { color: $green; }
		}

		.box-produto { background-color: #fff; }

		div[chaordic] {
			margin: 48px 0;

			&:empty { display: none; }
		}
	}
}
