input[type=checkbox] {
	cursor: pointer;
	display: inline-block;
	margin-left: -13px;
	visibility: hidden;

	+ label {
		padding: 5px 0 5px 20px;
		position: relative;
		&:after {
			background-color: #fff;
			border: 1px solid $gray-d;
			border-radius: 3px;
			content: ' ';
			display: inline-block;
			height: 15px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			visibility: visible;
			width: 15px;
		}
	}
	&:checked {
		+ label:before {
			background-color: $orange;
			content: ' ';
			display: inline-block;
			height: 9px;
			left: 0;
			margin-left: 3px;
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			visibility: visible;
			width: 9px;
			z-index: 1;
		}
	}
	&.loading {
		+label {
			&:before { display: none; }
			&:after {
				@include spinner($orange);
				@include responsiveFont(16, 16, true);
				background-color: transparent;
				position: static;
			}
		}
	}
}
