input[type=checkbox] {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  visibility: hidden;

  &:after {
    background-color: #fff;
    border: 1px solid $gray;
    border-radius: 3px;
    content: ' ';
    display: inline-block;
    height: 15px;
    visibility: visible;
    width: 15px;
  }
  &:checked:before {
    background-color: $orange;
    content: ' ';
    display: inline-block;
    height: 9px;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
    visibility: visible;
    width: 9px;
  }
  &.loading {
    &:before { display: none; }
    &:after {
      @include spinner($orange);
      @include responsiveFont(16, 16, true);
      background-color: transparent;
      position: static;
    }
  }
}
