
// Utility helpers
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/functions';

input[type=checkbox] {
	cursor: pointer;
	display: inline-block;
	margin-left: -13px;
	visibility: hidden;

	+ label {
		font-weight: lighter;
		padding: 5px 0 5px 30px;
		position: relative;

		&:after {
			background-color: #fff;
			border-radius: 2px;
			border: 1px solid #BBBBBB;
			content: ' ';
			display: inline-block;
			height: 20px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			visibility: visible;
			width: 20px;
		}

		&:before {
			color:		#fff;
			content: '';
			font-size: 	10px;
			left: 		4px;
			position: 	absolute;
			top: 		13px;
			z-index:	1;
		}
	}
	&:checked {
		+ label {
			font-weight: bold;
		}

		+ label:before {
			@include icon-get(check-mark);
		}

		+ label:after {
			background: #90B447;
		}
	}
	&.loading {
		+label {
			&:before { display: none; }
			&:after {
				@include spinner($orange);
				@include responsiveFont(16, 16, true);
				background-color: transparent;
				position: static;
			}
		}
	}
}
