@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');
@import 'helpers/rfs';

$purple: #702f8f;
$purple-dark: #481f5c;
$bg-gray: #212121;
$green: #9aca3c;
$gray-light: #eeeeee;

.hide {
	display: none;
	visibility: inherit;
}
.counter {
	&__section {
		background-color: $bg-gray;
		padding-bottom: 20px;
		position: relative;

		> .container {
			padding: 30px 0 10px;
		}
	}

	&__title {
		@include rfs(32);
		color: $green;
		font-weight: 700;
		line-height: 36px;
		margin-bottom: 10px;
		margin-top: 0;
		text-align: center;
	}

	&__offer {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 10px;

		@include breakpoint('small', 'max') {
			display: block;
			flex-direction: row;
			width: 100%;
		}
		&-prod {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
			min-height: 125px;
			padding: 0 10px;
			width: 100%;

			.prateleira.default {
				align-items: center;
				display: flex !important;
				flex-direction: row;
				flex-wrap: nowrap;
				h2 {
					display: none;
				}
				.box-produto {
					border: none;
					box-shadow: none;
					max-width: 100%;
					padding: 10px 0;
					width: 100%;
					.detalhes {
						flex: auto;
						flex-direction: row;
						flex-flow: nowrap;
						.product-infos-wrap {
							background-color: #fff;
							border-radius: 0;
							display: block;
							max-height: 179px;
							max-width: 179px;
							overflow: hidden;
							padding: 2px;
							pointer-events: none;
							position: relative;
							width: 40%;
							@include breakpoint('phone', 'max') {
								padding: 10px;
								.backup {
									position: absolute;
									img {
										width: 100%;
									}
								}
							}
							.wishlist__container,
							.wishlist__button {
								display: none;
								visibility: hidden;
							}
						}
						.prod-info {
							border: none;
							cursor: none;
							margin: 0 auto;
							max-width: 100%;
							padding: 20px 0 20px 29px;
							pointer-events: none;
							width: 360px;
							@include breakpoint('small', 'max') {
								padding: 0 0 0 15px;
								width: calc(100% - 104px);
							}

							.nome {
								@include rfs(18);
								color: #fff;
								display: block;
								flex: initial;
								font-family: $base-font-family;
								font-weight: 500;
								line-height: 24px;
								margin: 0 0 20px;
								span {
									.product-field {
										color: $bg-gray;
										line-height: 8px;
										ul {
											li {
												@include rfs(12);
												color: $gray-light;
												font-weight: 400;
											}
										}
									}
								}
							}
							.price {
								.discount-boleto,
								.por-boleto,
								.adicional {
									display: none;
									visibility: hidden;
								}
								.txtDe,
								.txtPor {
									display: inline-block;
								}
								.txtPor {
									line-height: normal;
									margin-right: 5px;
								}
								.de {
									@include rfs(16);
									color: #fff;
									font-weight: 500;
									text-decoration: none;
								}
								.por {
									@include rfs(32);
									color: $green;
									display: flex;
									flex-direction: row;
									font-family: $base-font-family;
									font-weight: 900;
									line-height: normal;
									margin-right: 5px;
									.off {
										display: none;
										visibility: hidden;
									}
									.val {
										@include rfs(32);
										line-height: normal;
										margin-bottom: 0;
									}
								}
							}
							.promo-destaque,
							.features,
							.ts-shelf-container {
								display: none;
								visibility: hidden;
							}
						}
					}
					&:hover {
						border-color: none;
						box-shadow: none;
					}
				}
				#countdown_dashboard {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					margin: 0 auto;
					text-align: center;
					width: 282px;
					& .title {
						@include rfs (18);
						color: #fff;
						font-weight: 500;
						margin-bottom: 0;
						padding-bottom: 16px;
						text-align: left;
						span {
							color: $purple;
							text-shadow: 0 0 1px $purple;
						}
						&:last-child {
							font-size: 14px;
							padding-top: 26px;
						}
					}

					& .dashp {
						background-color: $bg-gray;
						border: 1px solid $green;
						border-radius: 3px;
						color: #ffffff;
						display: flex;
						flex-direction: column;
						margin: 0;
						max-height: 68px;
						max-width: 100%;
						min-height: 50px;
						padding: 3px 0;
						position: relative;
						text-align: center;
						width: 64px;

						#days {
							display: none;
						}
						&.hidden {
							display: none !important;
							visibility: hidden !important;
						}
						& .dashtitle {
							bottom: 0;
							display: block;
							font-size: 14px;
							font-weight: 400;
							left: 0;
							position: absolute;
							right: 0;
							text-transform: unset;
							top: 58px;
						}

						& > p {
							color: #fff;
							display: block;
							font-size: 40px;
							font-weight: 500;
							margin: 0 auto;

							@include breakpoint('medium', 'max') {
								font-size: 22px;
								font-weight: 400;
								margin-bottom: -5px;
								min-width: auto;
							}
						}
					}
					& .pontos {
						@include rfs(35);
						color: #fff;
						font-weight: 900;
						position: relative;
						text-align: center;
					}
				}
			}
		}
		.sku_buy {
			background-color: $green;
			display: block !important;
			height: 40px;
			position: relative;
			width: 100px;
			z-index: 99;
		}

		&-count {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
			min-height: 125px;
			padding: 10px;

			@include breakpoint('large', 'max') {
				flex-basis: calc(50% - 10px);

				@include breakpoint('small', 'max') {
					flex-basis: 100%;
					margin: 20px 0;
					min-height: 105px;
					padding: 0;
					width: 100%;
				}
			}
		}

		&-btn {
			@include transition(all);
			background-color: $purple;
			border: 2px solid transparent;
			border-radius: 100px;
			color: #fff;
			display: block;
			font-size: 18px;
			line-height: 34px;
			min-height: 40px;
			text-align: center;
			width: 100%;

			&:hover {
				background-color: transparent;
				border: 2px solid $purple;
				color: $purple;
				text-decoration: none;
			}
		}
	}
}
