@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap');
@import 'helpers/rfs';

$purple: #702F8F;
$purple-dark: #481F5C;
$text-color: #5B5B5B;
$green-primary: #9ACA3C;
$white: #ffffff;

// @include breakpoint('small', 'min') {}
	.counter-bf-2020 {
		background-image: url('/arquivos/bg-counter-bf-2020.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		min-height: 435px;
		padding-bottom: 20px;
		position: relative;
		& .row {
			align-items: end;
			display: flex;
			justify-content: center;
			margin-bottom: 0;
		}
		&__container {
			margin: 0 auto;
			max-width: 100%;
			width: 1140px;
		}

		&__img-black {
			background-image: url('/arquivos/black-title.png');
			background-position: top center;
			background-repeat: no-repeat;
			height: 227px;
			width: 312px;
		}

		&__title {
			@include rfs(40);
			color: #fff;
			font-weight: 300;
			line-height: 44px;
			margin-bottom: 0;
			text-align: center;
			strong {
				color: $green-primary;
				display: block;
				margin: 0 auto;
			}
		}
		&__clock {
			color: $white;
			display: flex;
			justify-content: space-around;
		}
		&__item {
			display: flex;
			flex-flow: column;
			text-align: center;
		}
		&__time {
			&.days,
			&.hours,
			&.minutes,
			&.seconds {
				@include rfs(32);
				font-weight: 500;
			}
		}
		&__timetext {
			@include rfs(16);
			font-weight: 300;
		}
	}
