@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,700&display=swap");
@import "helpers/rfs";

$purple: #702f8f;
$purple-dark: #481f5c;
$gray-light: #c8c8c8;
$green-primary: #9aca3c;
$white: #ffffff;

// @include breakpoint('small', 'min') {}
.counter-bf-2020 {
	background-image: url("/arquivos/bg-counter-bf-2020.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	padding-bottom: 20px;
	position: relative;
	&.cont-mobile {
		margin-top: 33px;
		padding-bottom: 14px;
		padding-top: 14px;
	}
	&.show-mobile {
		display: none;
	}
	@media (max-width: 641px) {
		&.show-mobile {
			display: block !important;
		}
		&.cont-mobile {
			&.containerc {
				padding: 10px 0 25px;

			}
		}
	}
	& .row {
		align-items: end;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
		@media (max-width: 350px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media (min-width: 351px) and (max-width: 641px) {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}
	&__container {
		margin: 0 auto;
		max-width: 100%;
		padding: 30px 16px 60px;
		width: 1140px;
		@media (max-width: 641px) {
			padding-bottom: 40px;
		}
	}

	&__img-black {
		background-image: url("/arquivos/black-title.png");
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 222px;
		width: 312px;
		@media(max-width: 641px) {
			background-position: bottom left;
			background-size: contain;
			height: 95px;
			max-width: 40%;
			min-width: 140px;
		}
	}
	&__block {
		align-items: center;
		display: flex;
		flex-flow: column;
		max-width: 100%;
		@media(max-width: 641px) {
			max-width: 60%;
			min-width: 190px;
			width: 220px;
		}
	}
	&__title {
		@include rfs(40);
		border-bottom: 1px solid $green-primary;
		color: #fff;
		font-weight: 300;
		line-height: 44px;
		margin-bottom: 15px;
		max-width: 100%;
		padding-bottom: 15px;
		text-align: center;
		width: 354px;
		strong {
			color: $green-primary;
			display: block;
			margin: 0 auto;
		}
		@media (max-width: 641px) {
			font-size: 18px;
			line-height: normal;
			margin-bottom: 10px;
			margin-top: 18px;
			padding-bottom: 10px;
		}
	}
	&__clock {
		align-items: center;
		color: $white;
		display: flex;
		justify-content: space-around;
		max-width: 100%;
		width: 400px;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	&__item {
		display: flex;
		flex-flow: column;
		line-height: normal;
		max-width: 100%;
		text-align: center;
		width: 74px;
		@media (max-width: 768px) {
			width: auto;
		}
	}
	.bolinha {
		background-color: $green-primary;
		border-radius: 30px;
		display: inline-block;
		height: 5px;
		width: 5px;
	}
	&__time {
		&.days,
		&.hours,
		&.minutes,
		&.seconds {
			@include rfs(32);
			font-weight: 500;
			@media (max-width: 641px) {
				font-size: 20px;
			}
		}
	}
	&__timetext {
		@include rfs(16);
		font-weight: 300;
		text-transform: lowercase;
		@media (max-width: 641px) {
			font-size: 12px;
		}
	}
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 38px auto 0;
		max-width: 100%;
		width: 794px;
		@media (max-width: 768px) {
			margin-top: 20px;
			width: 100%;
		}
		label {
			@include rfs(16);
			color: $gray-light;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 12px;
			text-align: left;
			@media (max-width: 641px) {
				@include rfs(12);
			}
		}
		input {
			@include rfs(14);
			border: 1px solid #e0e0e0;
			border-radius: 3px;
			display: inline-block;
			height: 48px;
			padding: 14px 12px;
			@media (max-width: 641px) {
				height: 32px;
				max-width: 100%;
				width: calc(100% - 102px);
			}
			@media (min-width: 642px)  {
				height: 48px;
				max-width: 595px;
				width: calc(100% - 196px);
			}

			&::placeholder {
				@include rfs(14);
				color: #212121;
				font-weight: 500;
			}
		}
	}
	.btn-enviar {
		@include rfs(16);
		background-color: $green-primary;
		border: none;
		border-radius: 30px;
		color: $white;
		font-weight: 500;
		height: 48px;
		text-align: center;
		width: 180px;

		&:hover {
			background-color: #8fc525;
		}
		@media (max-width: 641px) {
			height: 32px;
			width: 92px;
		}
	}
}
