.container-epromotor {
	a {
		display: block;
		text-decoration: none;

		img {
			@include breakpoint(400px, "max") {
				display: none;
			}

			display: block;
			max-width: 100%;

			&.mobile {
				@include breakpoint(400px, "max") {
					display: block;
					margin: 0 auto;
				}

				display: none;
			}
		}
	}

	&.show {
		display: block;
	}
}
