@charset 'UTF-8';

// @import 'header/tooltip';
//------------------------------------
//  HEADER
//------------------------------------

#ajaxBusy { @include superHide(); }

// Ajuste modal Vtex - BTN Close
.vtexIdUI .modal-header {
	.close {
		display: block !important;
		right: 5px!important;
		top: 5px!important;

		&:focus { outline: none!important; }
	}

	.vtexIdUI-heading {
		font-size: 14px!important;
		text-align: center;
	}
}

$mobile-header-height: 100px;

body {

	.covid-shipping-guarantee {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;
		flex-flow: row wrap;
		background: #9ACA3C;
		color: #FFF;
		font-weight: 500;
		div {
			display: flex;
			justify-content: center;
    		align-items: center;
			img {
				margin-right: 10px;
				max-height: 40px;
				width: auto;
			}
		}
		b {
			color: #4B4848;
			font-weight: bold;
		}
		a,
		a:active:focus,
		a:active,
		a:hover {
			background: #FFF;
			color: #9ACA3C;
			padding: 4px 36px;
			max-height: 30px;
			min-width: 190px;
			font-size: 16px;
			border-radius: 30px;
			text-align: center;
			margin: 10px 0px;
		}
	}

	.pre-header {
		background: $gray-c;
		font-family: 'Open Sans';
		height: 22px;
		line-height: 1.2;
		margin: 0;

		.col-6:not(.float-right) {
			padding-left: 22px;
		}

		a {
			@include responsiveFont(12);
			color: #fff;
			display: inline-block;
			font-weight: 500;
			margin-left: 20px;

			&:first-child { margin-left: 0; }

			&[href*='tel'] { border-bottom-color: transparent; }

			&[href*='tel:+551130037872'] { margin-left: 0; }

			&[title*='Televendas'] { margin-left: 4px; }
		}

		.float-right { text-align: right; }
	}

	.security {
		background-color: #f5f5f5;
		font-family: $base-font-family;
		min-height: 40px;

		.container {
			align-items: center;
			display: flex;
			justify-content: space-between;
			position: relative;
		}

		&-content {
			align-items: center;
			color: #424242;
			display: flex;
			font-size: 14px;
		}

		&-title {
			color: #712f8f;
			font-weight: 700;
		}

		&-text {
			font-weight: 400;

			&::before {
				content: '';
				background-color: #424242;
				height: 1.5px;
				width: 1.5px;
				border-radius: 50%;
			}
		}

		&-link {
			color: #712f8f;
			font-weight: 700;
			margin: 0;
		}

		&-close {
			position: absolute;
			right: 0;
		}
	}

	header {
		@include breakpoint(small, 'max') {
			max-height: unset;
			min-height: $mobile-header-height;
		}

		&.menu-scroll {
			@include breakpoint(small, 'max') {
				height: unset;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 99999;
			}

			overflow-y: scroll;
		}

		.header {
			margin: 0;

			section {
				@include breakpoint('small', 'max') { display: block; }
				display: flex;
				justify-content: space-between;
			}

			div.account {
				@include breakpoint ('small', 'max') {
					margin-left: 0;
					opacity: 0;
					visibility: hidden;
				}
				@include rfs(12);
				align-items: center;
				color: $txt-gray-l;
				display: flex;
				flex: 0 0 300px;
				font-weight: 700;
				height: 60px;
				justify-content: center;
				padding: 0;
				position: relative;
				width: 300px;


				&:before {
					@include breakpoint ('small', 'max') {
						border-left: 1px solid #E3E1E1;
						content: '';
						display: inline-block;
						height: 20%;
						position: absolute;
						right: 50%;
						top: 48%;
						transform: translateY(-50%);
					}
				}

				&:after {
					@include breakpoint('small', 'max') { display: none; }
					border-left: 1px solid #E3E1E1;
					content: '';
					display: inline-block;
					height: 20%;
					position: absolute;
					right: 50%;
					top: 48%;
					transform: translateY(-50%);
				}

				.link-meus-pedidos {
					@include breakpoint('small', 'max') {
						align-items: center;
						background-color: #fff;
						border-top: none;
						display: flex;
						height: 100%;
						justify-content: flex-start;
						padding: 0 0 0 53px;
						right: 0;
						width: 50%;
					}

					padding-left: 53px;
					position: relative;
					width: 150px;

					&:before {
						@include icon-get('icon-truck-consul');
						color: $green;
						font-size: 30px;
						left: 16px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}

					.account-text {
						@include breakpoint('small', 'max') {
							@include rfs(12);
							color: $base-link-color;
							line-height: 1.5;
						}

						position: relative;

						&:after {
							@include rfs(10);
							bottom: 4px;
							content: 'Acompanhe!';
							display: block;
							font-weight: 400;
							position: relative;
							width: 60px;
						}
					}
				}

				.welcome-message {
					@include breakpoint ('small', 'max') {
						left: 0;
						max-width: unset;
						width: 50%;
					}
					width: 150px;

				}

				.icon-brastemp-account {
					@include responsiveFont(33, 16, true);
					color: $gray-d;
					display: block;
					float: left;
					font-weight: bold;
					height: 50px;
					line-height: 42px;
					margin-right: 10px;
					margin-top: 5px;
					width: 30px;
				}

				.hide { @include show-conditional(); }

				.welcome {
					@include breakpoint('small', 'max') {
						height: 100%;
						justify-content: center;
					}

					color: $base-link-color;
					display: flex;
					flex-direction: column;
					float: right;
					justify-content: flex-end;
					margin: 0;
					max-width: 150px;
					overflow: hidden;
					padding: 0 20px 0 30px;
					position: relative;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: fit-content;

					&:before {
						@include icon-get('icon-profile-consul');
						color: $green;
						font-size: 26px;
						left: 0;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						z-index: 1;
					}

					em {
						@include rfs(12);
						display: block;
						font-style: normal;
					}

					.account__icon--profile ~ em {
						@include breakpoint('small', 'max') { bottom: 24px;	}
						bottom: 4px;
						line-height: 1.2;
						position: relative;
						text-align: left;

						a {
							@include breakpoint('small', 'max') { border: none;	}
						}
					}

					a {
						color: $green;
						position: relative;

						&[href='/no-cache/user/logout'] {
							@include rfs(10);
							bottom: 0;
							color: $gray-d;
							font-weight: 400;
							left: 0;
							padding: 0;
							position: relative;
						}
					}

					svg {
						margin: 0 auto;
						max-height: 20px;
						width: 25px;
					}
				}

				#login {
					@include breakpoint(large, 'max') { @include responsiveFont(11, 16, true); }
					@include breakpoint('small', 'max') {
						border: none;
						line-height: 1.5;
						margin: 0;
						padding: 0;
					}
					@include responsiveFont(12, 16, true);
					background-color: #ffffff;
					color: $base-link-color;
					display: block;
					max-width: 100px;
					overflow: hidden;
					text-align: left;
					text-overflow: ellipsis;
					white-space: nowrap;

					&:after {
						@include rfs(10);
						bottom: 4px;
						content: 'Acesse sua conta!';
						display: block;
						font-weight: 400;
						left: 0;
						position: relative;
						text-align: left;
						z-index: 1;
					}

				}

				.account__icon {
					display: inline-block;
					margin-right: .5em;
					vertical-align: middle;
					width: 25px;

					&.account__icon--profile {
						position: relative;
						top: 5px;
					}

					&--enter,
					&--profile { fill: $green }
					&--truck { fill: $gray-d }

					&.account__icon--profile,
					&.account__icon--enter,
					&.account__icon--truck {
						display: none!important;
					}

					svg { max-height: 20px; }
				}


			}

			.menu.menu-department .account {
				@include breakpoint('small', 'min') {
					display: none;
					visibility: hidden;
				}
			}
			.menu-mobile.menu-active .account {
				@include breakpoint(small, 'max') {
					opacity: 1;
					visibility: visible;
				}
			}

			.menu-mobile .account {
				@include breakpoint(small, 'max') {
					height: 60px;
					left: 0;
					overflow: hidden;
					position: relative;
					top: 0;
					width: 100%;
					z-index: 100;
				}

				.welcome-message {
					@include breakpoint(small, 'max') {
						height: 60px;
						line-height: 60px;
						margin: 0;
						padding: 0;
						text-align: center;
						width: 50%;
					}
				}

				a[href='/minhaconta/pedidos'] {
					.account__icon.account__icon--truck {
						@include breakpoint(small, 'max') {
							display: inline-block;
							margin-top: -12px;
						}
					}
				}

				.ajax-content-loader {
					background-color: #fff;
					height: 100%;
				}
			}

			.container {
				@include breakpoint(small, 'max') {
					border-bottom: 1px solid $gray;
					max-width: 100%;
					padding: 0;
					position: relative;
					width: 100%;
				}
			}

			.account,
			.minicart {
				@include breakpoint(small, 'max') {
					background-color: #fff;
					height: 50px;
					position: absolute;
					text-align: left;
					top: 44px;
					vertical-align: top;
					width: 100% / 4 * 1;
					z-index: 10;
				}
			}

			.minicart {
				@include breakpoint(small, 'max') {
					background-color: transparent;
					right: 10px;
					text-align: right;
					top: 0;
				}

				float: right;
			}

			@include breakpoint(small, 'max') {
				padding: 0;
				padding-bottom: 0;
				text-align: right;
			}
		}

		.cont-logo {
			@include breakpoint('large', 'max') {
				padding-left: 22px;

				@include breakpoint(small, 'max') {
					display: none;
					text-align: center;
					width: 100% !important;
				}
			}

			flex: 0 0 209px;
			padding-left: 10px;
			text-align: left;
		}

		.cont-logo-mobile {
			@include breakpoint(small, 'max') {
				flex: 0 !important;
				float: none;
				height: 50px;
				max-width: 100% !important;
				text-align: center;
				width: 100% !important;
			}

			a {
				@include breakpoint(small, 'max') {
					display: inline-block;
					padding: 6px 0;
					top: 0;
				}
			}

			.logo-mobile-svg {
				@include breakpoint(small, 'max') {
					height: 35px;
					left: 50%;
					position: absolute;
					transform: translateX(-50%);
				}
			}
		}

		.logo {
			@include breakpoint(1119px, 'max') { padding-left: 0; }
			@include breakpoint(small, 'max') {
				@include responsiveFont(25.5, 16, true);
				color: #ffffff;
				display: block;
				margin-top: 0;
				position: static;
				text-align: center;
				top: -40px;
			}
			@include responsiveFont(30, 16, true);
			color: $green;
			display: inline-block;
			padding: 5px 18px 0 12px;
			position: relative;
			vertical-align: top;

			.logo-desktop-svg {
				height: 40px;
				line-height: 1;
				position: relative;
				transform: translateY(15%);
				width: 85px;
			}

		}
	}

	&:not(.produto):not(.pre-home) {
		@include breakpoint(small, 'max') {
			padding-top: $mobile-header-height;
		}

		header {
			@include breakpoint(small, 'max') {
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 4;
			}
		}
	}

	&.consulempresa {
		.welcome-message {
			position: relative;

			.welcome {
				margin-bottom: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 145px;

				.email { @include responsiveFont(10, 16, true); }
			}

			a {
				color: $green;
				position: relative;

				&[href='/no-cache/user/logout'] {
					@include rfs(10);
					bottom: -11px;
					left: 0;
				}
			}
		}

		.link-meus-pedidos {
			display: inline-block;
			margin-top: 10px;
		}

		.logout a {
			@include responsiveFont(12);
			color: $orange;
		}

		&.pre-home {
			.header {
				padding-bottom: 14px;

				.logo {
					line-height: inherit;
					margin-top: 10px;
				}
			}
		}
	}

	.icon-icon-cart-consul {
		&:before {
			@include breakpoint('small', 'max') {
				left: unset;
				right: 5px;
				top: -2px;
			}
			color: $purple;
			font-size: 35px;
			left: 10px;
			position: absolute;
		}
	}

	.container.clearfix > .account {
		@include breakpoint('small', 'max') {
			display: none;
		}
	}
}
