@charset 'UTF-8';

// @import 'header/tooltip';
//------------------------------------
//  HEADER
//------------------------------------

#ajaxBusy { @include superHide(); }

// Ajuste modal Vtex - BTN Close
.vtexIdUI .modal-header {
	.close {
		display: block !important;
		right: 5px!important;
		top: 5px!important;

		&:focus { outline: none!important; }
	}

	.vtexIdUI-heading {
		font-size: 14px!important;
		text-align: center;
	}
}

$mobile-header-height: 84px;

// Header
header {
	&.menu-scroll {
		overflow-y: scroll;

		@media(max-width: 768px) {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 99999;
		}
	}

	@include breakpoint(small, 'max') { min-height: $mobile-header-height; }
}

@include breakpoint(small, 'max') {
	body:not(.produto):not(.pre-home) {
		padding-top: $mobile-header-height;

		header {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 4;
		}
	}
}

// Pre header
.pre-header {
	background: $gray-l;
	margin: 0;
	min-height: 40px;
	text-transform: uppercase;

	a {
		@include responsiveFont(12);
		border-bottom: 2px solid transparent;
		display: inline-block;
		font-weight: 700;
		line-height: 40px;
		margin-left: 20px;

		&:first-child { margin-left: 0; }

		&.active {
			border-bottom-color: $orange;
			color: $orange;
		}

		&[href*='tel'] { border-bottom-color: transparent; }

		&[href*='tel:+551130037872'] { margin-left: 0; }

		&[title*='Televendas'] {
			color: $orange;
			margin-left: 4px;
		}
	}

	.float-right { text-align: right; }
}

.header {
	margin: 0;
	padding: 12px 0 12px;

	@include breakpoint(small, 'max') {
		padding: 0;
		padding-bottom: 0;
		text-align: right;

		.container {
			border-bottom: 1px solid $gray;
			max-width: 100%;
			padding: 0;
			position: relative;
			width: 100%;
		}

		.cont-search,
		.account,
		.minicart {
			background-color: $gray-l;
			height: 50px;
			position: absolute;
			text-align: left;
			top: 44px;
			vertical-align: top;
			width: 100% / 4 * 1;
			z-index: 10;
		}

		.cont-search {
			background-color: #ffffff;
			left: 0;
			top: 93px;
			width: 100%;

			@include breakpoint(small, 'max') {
				border: none;
				height: 34px;
				padding: 0;
				top: 50px;

				.form-search {
					height: 34px;
				}

				.icon-consul-loupe {
					@include rfs (12);
					left: unset;
					right: 5px;
				}

				.text-search {
					background-color: #F5F5F5;
					border: none;

					&::placeholder {
						@include rfs(9);
						color: #707070;
						font-weight: bold;
					}
				}
			}
		}

		.account {
			left: 54%;
		}

		.minicart {
			@include breakpoint(small, 'max') {
				right: 0;
				text-align: right;
				top: 0;
			}
			background-color: transparent;
			right: 30px;
		}
	}
}

.cont-logo {
	text-align: left;

	@include breakpoint(extra-large, 'max') { width: 19%; }

	@include breakpoint(extra-large, 'min') {
		&.col-3 { width: 20%; }
	}

	@include breakpoint(small, 'max') {
		display: none;
		text-align: center;
		width: 100% !important;
	}
}

.cont-logo-mobile {
	@include breakpoint(small, 'max') {
		flex: 0 !important;
		float: none;
		height: 50px;
		max-width: 100% !important;
		text-align: center;
		width: 100% !important;

		a {
			display: inline-block;
			padding: 6px 0;
			top: 0;
			width: 85%;
		}

		.logo-mobile-svg {
			height: 35px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
		}
	}
}

.logo {
	@include breakpoint(1119px, 'max') { padding-left: 0; }
	@include responsiveFont(30, 16, true);
	color: $green;
	display: inline-block;
	padding-left: 30px;
	padding-top: 7px;
	position: relative;
	vertical-align: top;

	.logo-desktop-svg {
		line-height: 1;
    	width: 100px;
	}

	@include breakpoint(small, 'max') {
		@include responsiveFont(25.5, 16, true);
		color: #ffffff;
		display: block;
		margin-top: 0;
		position: static;
		text-align: center;
		top: -40px;
	}
}

div.minicart { float: right }

// Conta
div.account {
	@include breakpoint(extra-large, 'max') { width: 22.66667%; }
	@include responsiveFont(12);
	color: $txt-gray-l;
	font-weight: 700;
	min-height: 60px;
	padding: 0 0 0 fluidWidth(25px);
	position: relative;

	.link-meus-pedidos {
		bottom: 0;
		position: absolute;

		@include breakpoint ('small', 'max') {
			background-color: #f4f2f1;
			height: 60px;
			line-height: 60px;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 0;
			text-align: center;
			width: 50%;
		}
	}


	@include breakpoint ('small', 'max') {
		span {
			&.account__icon.account__icon--truck {
				display: inline-block;
				margin-top: -12px;

				svg {
					fill: #9aca3c;
				}
			}

			&:not(.account__icon) {
				bottom: 9px;
				display: block;
				font-size: 12px;
				line-height: normal;
				position: absolute;
				width: 100%;
			}
		}
	}

	// ******************************************************* //
	// Eu, Douglas, não me orgulho do que fiz daqui para baixo //
	// ******************************************************* //
	// Responsive fix
	// Esconder opção no desktop, caso
	// os itens estejam dentro do menu
	.menu.menu-department & {
		@include breakpoint('small', 'min') {
			display: none;
			visibility: hidden;
		}
	}
	@include breakpoint(small, 'max') {
		border-bottom: 1px solid #e4e4e4;
		margin-bottom: -1px;
		opacity: 0;
		visibility: hidden;

		.menu-mobile.menu-active & {
			opacity: 1;
			visibility: visible;
		}

		.header .menu-mobile & {
			height: 60px;
			left: 0;
			overflow: hidden;
			position: relative;
			top: 0;
			width: 100%;
			z-index: 100;

			.welcome-message,
			a[href='/minhaconta/pedidos'] {
				height: 60px;
				line-height: 60px;
				margin: 0;
				padding: 0;
				position: absolute;
				text-align: center;
				width: 50%;
			}



			a[href='/minhaconta/pedidos'] {
				right: 0;

				.account__icon.account__icon--truck {
					display: inline-block;
					margin-top: -12px;

					svg { fill: #9aca3c; }
				}
			}
		}

		// Usuário loggado
		&.logged-user {
			.header .menu-mobile & {

				.welcome-message {
					background-color: #e4e4e4;
					line-height: normal;
					z-index: 100;

					.welcome {
						@include breakpoint(360px, 'max') { font-size: 11px; }
						font-size: 12px;
						height: 60px;
						padding: 12px 0 0 45px;
						text-align: left;
						white-space: nowrap;
					}
				}

				.account__icon.account__icon--profile {
					left: 15px;
					position: absolute;
					top: 18px;
				}

				// Sair
				a[href='/no-cache/user/logout'] {
					border: none;
					bottom: 12px;
					display: block;
					font-weight: normal;
					height: 20px;
					left: inherit;
					position: absolute;
					right: 0;
					text-decoration: underline;
					top: inherit;
					width: 35px;
				}

				.view-cotas  {
					@include breakpoint(360px, 'max') { font-size: 11px; }
					background: none;
					bottom: 10px;
					color: #9aca3c;
					font-size: 12px;
					font-weight: normal;
					left: 32px;
					position: absolute;
					right: inherit;
					text-align: left;
					top: inherit;
					transform: translate(0, 0);
					white-space: nowrap;
					width: 70%;
				}
			}
		}
	}
	// ****************************************************** //
	// Eu, Douglas, não me orgulho do que fiz daqui para cima //
	// ****************************************************** //
	.icon-brastemp-account {
		@include responsiveFont(33, 16, true);
		color: $gray-d;
		display: block;
		float: left;
		font-weight: bold;
		height: 50px;
		line-height: 42px;
		margin-right: 10px;
		margin-top: 5px;
		width: 30px;
	}

	.hide { @include show-conditional(); }

	.welcome {
		// @include responsiveFont(12);
		color: $base-link-color;
		display: block;
		// left: 35%;
		// font-size: 0;
		margin: 0 0 .5em;
		overflow: hidden;
		padding-bottom: 10px;
		position: relative;
		// width: 75%;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 90%;

		@include breakpoint(770px, 'max') {
			background: #e4e4e4;
			padding: 10px 20px 0 20px;
		}

		@include breakpoint(1280px, 'min') {
			width: 90%;
		}

		em {
			display: block;
			font-size: 12px;
			font-style: normal;
		}

		a {
			color: $green;
			position: relative;

			&[href='/no-cache/user/logout'] {
				bottom: 0;
				font-size: 10px;
				left: 35px;
				position: absolute;

				@include breakpoint(770px, 'max') {
					border: 0;
					bottom: -8px;
					left: 0;
					padding: 23px 0 0 0;
					position: absolute;
					right: 0;
					text-align: center;
				}
			}
		}

		svg {
			margin: 0 auto;
			max-height: 20px;
			width: 25px;
		}
	}

	#login {
		@include breakpoint(large, 'max') { @include responsiveFont(11, 16, true); }
		@include responsiveFont(12, 16, true);
		background-color: #ffffff;
		color: $base-link-color;
		display: block;
		padding: 3px 0 0 0;
		top: 0;

		@include breakpoint ('small', 'max') {
			bottom: 9px;
			top: auto;
		}
	}

	.account__icon {
		display: inline-block;
		margin-right: .5em;
		vertical-align: middle;
		width: 25px;

		&.account__icon--profile {
			position: relative;
			top: 5px;
		}

		&--enter,
		&--profile {fill: $green}
		&--truck {fill: $gray-d}

		svg { max-height: 20px; }
	}

	.view-cotas {
		background: $green;
		color: #fff;
		padding: 1px 1.2em;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(90%);
	}
}

body.consulempresa {
	.welcome-message {
		position: relative;

		.welcome {
			margin-bottom: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 145px;

			.email { @include responsiveFont(10, 16, true); }
		}

		a {
			color: $green;
			position: relative;

			&[href='/no-cache/user/logout'] {
				bottom: -11px;
				font-size: 10px;
				left: 0;
				position: absolute;
			}
		}
	}

	.link-meus-pedidos {
		display: inline-block;
		margin-top: 10px;
	}

	.logout a {
		@include responsiveFont(12);
		color: $orange;
	}

	&.pre-home {
		.header {
			padding-bottom: 14px;

			.logo {
				line-height: inherit;
				margin-top: 10px;
			}
		}
	}
}

body {
	header {
		.a {
			stroke: none;
		}
		.menu-mobile {
			.menu-department {

				.welcome-message {
					@include breakpoint('small', 'max') {
						.ajax-content-loader {
							align-items: center;
							background-color: #fff;
							display: flex;
							height: 100%;
							justify-content: center;

							.welcome {
								@include rfs(12);
								color: $gray-d;
								display: inline-block;
								margin: 0;
								padding: 0;
								position: relative;

							}

							.account__icon.account__icon--enter,
							.account__icon.account__icon--profile {
								@include breakpoint('small', 'max') {
									@include rfs(15);
									bottom: unset;
									display: inline-block;
									height: 100%;
									line-height: 0;
									margin: 0;
									position: relative;
									top: 0;

									svg {
										left: 0;
										position: absolute;
										top: 50%;
										transform: translateY(-50%);
									}
								}
							}

							.login-text {
								@include breakpoint('small', 'max') {
									@include rfs(12);
									color: $gray-d;
									display: inline-block;
									margin: 0 5px;
									position: static;
									text-align: left;
									text-transform: none;
									width: unset;

									&:after {
										@include rfs(10);
										content: 'Acesse sua conta!';
										display: block;
										font-weight: 400;
									}
								}
							}
						}
					}
				}

				.account {
					@include breakpoint('small', 'max') {
						float: none;
						padding: 0;

						.welcome-message {
							background-color: #fff;

							.welcome {
								background-color: #fff;
								height: 100%;
								left: 0;
								top: -4px;
								width: 100%;

								em {
									height: 100%;
								}

								#login {
									align-items: center;
									background-color: #fff;
									border: none;
									display: flex;
									height: 100%;
									justify-content: center;
									padding: 0;
									top: 0;
								}
							}
						}
					}

					.link-meus-pedidos {
						align-items: center;
						background-color: #fff;
    					display: flex;
    					justify-content: center;

						.account__icon.account__icon--truck {
							@include breakpoint('small', 'max') {
								@include rfs(15);
								bottom: unset;
								display: inline-block;
								height: 100%;
								line-height: 0;
								margin: 0 5px;
								position: relative;
								top: 0;

								svg {
									left: 0;
    								position: absolute;
    								top: 50%;
    								transform: translateY(-50%);
								}
							}
						}

						.account-text {
							@include breakpoint('small', 'max') {
								@include rfs(12);
								color: $gray-d;
								display: inline-block;
								margin: 0 5px;
								position: static;
								text-align: left;
								text-transform: none;
								width: unset;

								&:after {
									@include rfs(10);
									content: 'Acompanhe!';
									display: block;
									font-weight: 400;
								}
							}
						}

						&:before {
							border: 1px solid #E3E1E1;
							content: '';
							height: 40%;
							position: absolute;
							right: 100%;
						}
					}
				}
			}
		}
	}
}