body.listagem {
	.category-title {
		@include rfs(24);
		border-bottom: 4px solid #F4F4F4;
		color: #5B5B5B;
		margin: 0 0 30px;
		padding-bottom: 12px;
		width: 260px;

		@include breakpoint ('medium', 'max') {
			background-color: #F4F4F4;
			bottom: 30px;
			left: -10px;
			margin: 0;
			max-height: 50px;
			padding: 14px 0 13px 16px;
			position: relative;
			width: 104%;

			@include breakpoint ('small', 'max') {
				bottom: 10px;
			}
		}

		& ~ div.list-container {
			bottom: 80px;

			@include breakpoint ('medium', 'max') {
				bottom: 0;
			}
		}
	}

	.category-banner {
		&-mobile {
			display: none;

			img {
				max-height: 500px;
				width: 100%;
			}

			@include breakpoint ('extra-small', 'max') {
				display: block;
				margin-bottom: -7px;
			}
		}

		&-desktop {
			display: inline-block;

			img {
				max-width: 100%;
			}

			@include breakpoint ('extra-small', 'max') {
				display: none;
			}
		}
	}
}