@charset "UTF-8";

@if $use-com-header == true {

	//------------------------------------
	//  HEADER
	//------------------------------------

	#ajaxBusy { @extend %superhide; }

	// Ajuste modal Vtex - BTN Close
	.vtexIdUI .modal-header {
		.close {
			display: block !important;
			right: 5px!important;
			top: 5px!important;

			&:focus { outline: none!important; }
		}

		.vtexIdUI-heading {
			font-size: 14px!important;
			text-align: center;
		}
	}


	// Header
	header {

		@include breakpoint(medium, "min") {
			min-height: 120px;
		}

		.container a { text-decoration: none; }
	}

	// Pre header
	.pre-header {
		background: $gray-l;
		margin: 0;
		min-height: 40px;
		text-transform: uppercase;

		a {
			@extend %single-transition;
			@include responsiveFont(12);
			border-bottom: 2px solid transparent;
			font-weight: 700;
			display: inline-block;
			line-height: 40px;
			margin-left: 20px;
			// margin-bottom: -2px;

			&:first-child { margin-left: 0; }

			&.active {
				border-bottom-color: $orange;
				color: $orange;
			}

			&[href*="tel"] { border-bottom-color: transparent; }

			&[title*="Televendas"] { color: $txt-gray-l; }
		}

		.float-right { text-align: right; }
	}

	.header {
		margin: 0;
		padding: 12px 0 14px 0;

		@include breakpoint(small, "max") {
			padding-bottom: 0;
			text-align: right;

			.container {
				padding: 0;
				position: relative;
				width: 100%;
				border-bottom: 1px solid $gray;
			}

			.cont-search,
			.account,
			.minicart {
				background-color: $gray-l;
				height: 50px;
				position: absolute;
				text-align: left;
				top: 44px;
				vertical-align: top;
				width: 100% / 4 * 1;
				z-index: 10;
			}

			.cont-search { left: 150px; }
			.account     { left: 54%; }
			.minicart    {
				background-color:transparent;
				right: 15px;
			}
		}
	}

	.cont-logo {
		text-align: left;

		@include breakpoint(extra-large, "max") { width: 19%; }

		@include breakpoint(extra-large, "min") {
			&.col-3 { width: 20%; }
		}

		@include breakpoint(small, "max") {
			text-align: center;
			width: 100%;
		}
	}

	.logo {
		@include responsiveFont(30);
		color: $green;
		display: inline-block;
		margin-top: 10px;
		// padding: 10px 40px 10px 0;
		padding-right: 20px;
		position: relative;
		vertical-align: top;

		@include breakpoint(small, "max") {
			@include responsiveFont(25.5, 16, true);
			display: block;
			margin: 2px auto 5px auto;
			text-align: center;
		}

		// svg {
		// 	display: block;
		// 	max-width: 100%;
		// }

		// img {
		// 	display: inline-block;
		// 	height: auto;
		// 	max-width: 100%;
		// 	width: 100%;
		// }
	}

	// Conta
	div.account {
		@include responsiveFont(12);
		font-weight: 700;
		height: 50px;
		padding: fluidWidth(5px) 0;
		padding-left: fluidWidth(25px);
		position: relative;
		text-transform: uppercase;


		@include breakpoint(extra-large, "max") { width: 22.66667%; }

		@include breakpoint(small, "max") {

			.header & {
				.hide { @include hide-conditional(); }

				a{
					display: block;
					font-size: 0;
					position: relative;
					height: 100%;
					width: 100%;
				}
			}
		}

		@include breakpoint(extra-small, "max") {
			.header & { left: 62%; }
		}

		.icon-consul-account {
			@include responsiveFont(40);
			// background-image: url($icon-consul-account);
			// background-repeat: no-repeat;
			// background-position: 0 5px;
			// color: #b4afad;
			display: block;
			float: left;
			height: 50px;
			line-height: 42px;
			margin-right: 10px;
			width:30px;

			@include breakpoint(small, "min") { color: $txt-gray-l; }

			@include breakpoint(small, "max") {
				@include responsiveFont(24, 16, true);
				line-height: 50px;
			}
		}

		a {
			color: $txt-gray;
			display: block;
			vertical-align: middle;
		}

		.hide { @include show-conditional(); }

		.welcome {
			@include responsiveFont(12);
			display: block;
			left: 35%;
			margin:0;
			position: absolute;
			width: 75%;

			em { font-style: normal; }

			a {
				color: $orange;

				&[href="/no-cache/user/logout"] {
					display: block;
					padding: 3px 0;
				}
			}
		}

		#login {
			@include responsiveFont(12, 16, true);
			background-color: #fff;
			color: $orange;
			display: block;
			position: absolute;
			top: 0px;
			padding: 3px 0 0 0;
			height: 100%;
			width: 100%;

			@include breakpoint(large, "max") { @include responsiveFont(11, 16, true); }
		}
	}
}

.home {
	.advertisement {
		display: none;
		padding: 10px 0;
		color: #010000;
		background: #c7b199;
		font-size: 14px;
		text-align: center;

		.centralize {
			position: relative;
			width: 95%;
			max-width: 1110px;
			margin: 0 auto;

			>span {
				display: block;
				position: absolute;
				bottom: -5px;
				right: 0;
				width: 30px;
				height: 30px;
				padding-top: 5px;
				border-radius: 30px;
				background: $orange;
				color: #ffffff;
				cursor: pointer;

				@include breakpoint(medium, "max") {
					top: 50%;
					@include vendor(transform,translateY(-50%));
				}
			}

			>p {
				margin: 0;
				padding: 0;
				font-weight: 100;

				@include breakpoint(medium, "max") {
					width: 80%;
					text-align: left;
				}

				a {
					color: #ffffff;
					font-weight: bold;

					@include breakpoint(medium, "max") {
						display: block;
					}
				}
			}
		}
	}
}