
.input-box {
	//font-size: $font-size-small;
	&.select {
		cursor: pointer;
		margin: 2rem 0;
		min-height: 53px;
		position: relative;
		.input-box-container {
			background-color: #fff;
			position: absolute;
			width: 100%;
		}
		&.active {
			.input-box-container {
				z-index: 2;
			}
		}
	}

	&-border {
		border: 1px solid #e4e4e4;
		//border-radius: 6px;
		color: #969696;
		position: relative;
		&.error {
			border-color: #dc3545;
			color: #dc3545;
		}
		&.focus,
		.input-box.active & {
			border-color: #9aca3c;
			color: #9aca3c;
		}
	}

	&-label {
		background-color: #fff;
		font-size: small;
		left: 8px;
		padding: 0 4px;
		position: absolute;
		top: -10px;
	}

	&-dropdown {
		&-toggle {
			color: #969696;
			cursor: pointer;
			display: block;
			font-size: 16px;
			line-height: 1;
			margin: 0;
			padding: 18px 12px 15px;
			position: relative;
			&:after {
				@include icon-get('arrow-down');
				@include vertical-centered();
				border: 0;
				color: #8600a7;
				font-size: .5rem;
				height: initial;
				margin: 0;
				padding: 0;
				right: 12px;
				transition: transform .3s ease;
				width: initial;
				.input-box.active & {
					transform: rotate(180deg) translateY(50%);
				}
			}
		}

		&-options {
			display: none;
			>* {
				color: #535353;
				cursor: pointer;
				display: block;
				font-size: 16px;
				margin: 0;
				position: relative;
				text-decoration: none;
				a {
					color: #535353;
					display: block;
					padding: 7px 12px;
					&:hover {
						color: #535353;
						text-decoration: none;
					}
				}
				&:hover {
					background-color: #f4f4f4;
					text-decoration: none;
				}
			}
		}
	}

	&-text {
		bottom: -20px;
		font-size: small;
		margin: 0;
		margin-left: 13px;
		position: absolute;
		z-index: 1;
	}
}
