$button-color: #404040;
$border: #E3E1E1;
$txt: #5B5B5B;
$bg-color: #FAF9F9;
$txt-light: #736C6B;
$txt-dark: #403C3B;

body {
	.vitrine-ofertas-interesses {
		@include breakpoint ('small', 'max') { display: none; }
		background-color: $bg-color;

		.interesses-title {
			h4 {
				@include rfs(28);
				color: $txt;
				font-weight: bold;
				margin: 0;
				text-align: center;
			}

			span {
				@include rfs(14);
				color: $txt-light;
				display: block;
				margin: 8px 0 42px;
				text-align: center;
			}
		}

		.discount-selector {
			margin-bottom: 36px;

			.discount-list {
				display: flex;
				flex-direction: row;
				justify-content: space-around;

				.discount-item {
					@include rfs(12);
					border: 1px solid $border;
					border-radius: 4px;
					color: $button-color;
					display: inline-block;
					height: 32px;
					line-height: 2.5;
					text-align: center;
					width: 152px;

					&.active {
						background-color: $button-color;
						color: #fff;
					}
				}
			}
		}

		.vitrines {
			position: relative;

			.vitrines-interesses {
				opacity: 1;
				position: relative;
				z-index: 1;

				li {
					background-color: #fff;
				}

				h2.shelf-pre-title {
					display: none;
				}

				&.not-show {
					opacity: 0;
					position: absolute;
					width: 100%;
					z-index: 0;

				}
			}

			.link-shelf {
				display: block;
				padding: 34px 0 32px;
				text-align: center;

				a {
					@include rfs(12);
					color: $txt-dark;
					font-weight: 500;

					&:after {
						@include icon-get('arrow-right');
					}
				}
			}
		}
	}
}