// custom Modal Login
$consul-primary: #9aca3c;
$consul-dsColor: #5B5B5B;
@import 'helpers/rfs';

// TESTES
#login {
	&.logged {
		background: #ff0000 !important;
	}
}

#vtex-modal-custom-login {

	.modal-holder {
		margin-bottom: 20px;
		margin-top: 20px;
		max-width: 800px;
		position: relative;

		.modal-header {
			position: unset;
			padding: 0;

			.close {
				@include rfs(10);
				height: 24px;
				right: 15px;
				top: 10px;
				width: 24px;

				&::before {
					color: #736c6b;
					content: '\e60d';
				}
			}
		}

		.mode-custom-login--header {
			display: none;

			.modal-custom-login--title {
				color: $consul-primary;
				margin-bottom: 0;
			}

			.modal-custom-login--subtitle1 {
				font-size: 15px;
				font-weight: 700;
				margin: 0;
			}

			.modal-custom-login--subtitle2 {
				font-weight: 400;
				margin-top: 10px;
			}
		}

		.modal-custom-login--buttons--box {
			margin-top: 40px;
		}

		.modal-custom-login--body {
			.modal-custom-login--errorBox {
				color: #ff0000;
				font-weight: 300;
			}

			input:-webkit-autofill,
			textarea:-webkit-autofill,
			select:-webkit-autofill {
				-webkit-box-shadow: 0 0 0 30px #ffffff inset;
			}

			// LAYOUT DEFAULT
			.modal-custom-login--init-layout {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				input[type='submit'] {
					margin-top: 15px;
					float: left;
					width: auto;
				}

			> div {
				flex-basis: 0;
				flex-grow: 1;

				&:first-child {
					max-width: 320px;
					padding-right: 15px;
					}

					&:last-child {
						padding-left: 15px;
						max-width: 330px;
					}
				}
			}

			#modal-custom-login-email-access--form {
				margin-top: 60px;
			}

			// LAYOUT SOLICITAR CHAVE POR EMAIL
			.modal-custom-login--email-access-layout,
			.modal-custom-login-email-to-pw {
				padding: 0 150px;

				.modal-custom-email--inputbox {
					margin-bottom: 70px;
				}

				.btn--voltar {
					margin-right: 15px;
				}
			}

			// LAYOUT KEYS
			.modal-custom-login--key-access-layout {
				padding: 0 150px;

				.modal-custom-login-key__fields {
					display: flex;
					justify-content: space-between;
					margin-bottom: 30px;

					&.invalid__key {
						input {
							border-color: #ff0000;
						}
					}

					input {
						border: solid 1px #ccc;
						border-radius: 8px;
						color: transparent;
						font-size: 20px;
						height: 60px;
						margin: 0 10px;
						padding: 0;
						text-align: center;
						text-shadow: 0 0 0 #736c6b;
						width: 44px;

						&:focus {
							background: $consul-primary;
							text-shadow: 0 0 0 #ffffff;
						}
					}
				}

				.custom-login-btn {
					margin-right: 15px;
				}
			}

			.custom-login-buttons--checkbox {
				align-items: center;
				display: flex;
				text-align: left;
				width: 100%;

				input[type="checkbox"] {
					position: relative;
					&.is--checked {
						visibility: hidden;
						&:before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%239aca3c;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M13.667,3H4.333A1.333,1.333,0,0,0,3,4.333v9.333A1.333,1.333,0,0,0,4.333,15h9.333A1.333,1.333,0,0,0,15,13.667V4.333A1.333,1.333,0,0,0,13.667,3Zm-6,9.333L4.333,9l.94-.94,2.393,2.387,5.06-5.06.94.947Z' transform='translate(-3 -3)'/%3E%3C/svg%3E");
							content: '';
							height: 100%;
							width: 100%;
							visibility: initial;
							position: absolute;
							z-index: 1;
						}
					}
				}

				span {
					@include rfs(12);
					padding-left: 7px;

					> a {
						text-decoration: underline;
					}
				}
			}

			.modal-custom-login--init-layout {
				.custom-login-buttons--action--box {
					input[type='submit'] {
						opacity: 0.5;
						pointer-events: none;
					}
				}
			}

			.modal-custom-login--sectitles {
				@include rfs(17);
				color: $consul-dsColor;
				font-weight: bold;
				margin-bottom: 20px;
				text-align: left;
			}

			.modal-custom-login--formOptions {
				margin-bottom: 15px;
				text-align: right;

				span {
					border-right: solid 1px #ccc;
					cursor: pointer;
					font-size: 12px;
					margin: 0 10px;
					padding-right: 10px;
					text-decoration: none;
					color: #0FB6DE;

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						border: none;
						margin-left: 0;
						margin-right: 0;
						padding: 0;
					}
				}
			}

			.modal-custom-login--buttons {
				.modal-custom-login-btn {
					background-position: 30px;
					background-repeat: no-repeat;
					border: 1px solid #E3E1E1;
					border-radius: 4px;
					color: #736C6B;
					font-size: 12px;
					margin-bottom: 15px;
					padding: 12px 0;
					text-align: center;
					transition: all .2s ease;
					width: 100%;

					&.facebook_access {
						background-color: #FFFFFF;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23404040;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M11,0A11,11,0,1,0,22,11,11.013,11.013,0,0,0,11,0Zm2.736,11.387h-1.79v6.379H9.294V11.387H8.034V9.133H9.294V7.675A2.487,2.487,0,0,1,11.97,5l1.965.008V7.194H12.509a.54.54,0,0,0-.562.614V9.133h2.02Z'/%3E%3C/svg%3E");
					}

					&.google_access {
						background-color: #FFFFFF;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23404040;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M14,3A11,11,0,1,0,25,14,11,11,0,0,0,14,3Zm7.213,11a7.2,7.2,0,1,1-2.182-5.175l-1.262,1.3A5.335,5.335,0,0,0,14,8.59a5.41,5.41,0,1,0,0,10.82A5.5,5.5,0,0,0,19.41,14.9H14V13.1h7.213Z' transform='translate(-3 -3)'/%3E%3C/svg%3E");
					}

					&:last-child {
						margin-top: 7px;
					}

					&:hover {
						opacity: .7;
					}
				}
			}

			.password-validate-indicators {
				margin-bottom: 30px;
				margin-top: 20px;
				text-align: left;

				.password-validate--title {
					font-weight: 400;
				}

				ul {
					li {
						color: #ff0000;
						font-size: 13px;

						&.validated {
							color: #5fbd5f;
						}
					}
				}
			}

			input {
				&:focus {
					outline: none;
				}
			}
		}
	}
}

#mail_pass_login.is--checked {
	.custom-login-buttons--action--box {
		input[type='submit'] {
			opacity: 1!important;
			pointer-events: all!important;
		}
	}
}


/* MISCELLANOUS */

// CUSTOM LABELS
.modal-custom-email--inputbox {
	&::before {
		content: 'Digite seu e-mail';
	}
}

.modal-custom-password--inputbox {
	&::before {
		content: 'Digite sua senha';
	}
}

.modal-custom-set-password--inputbox {
	&::before {
		content: 'Nova senha';
	}
}

.modal-custom-set-confirm-password--inputbox {
	&::before {
		content: 'Confirme a senha';
	}
}

.modal-custom-email--inputbox,
.modal-custom-password--inputbox,
.modal-custom--inputbox {
	margin-bottom: 10px;
	position: relative;

	&::before {
		@include rfs(13);
		display: block;
		font-weight: 500;
		width: 100%;
		line-height: 1.7;
		text-align: left;
	}

	span {
		left: 10px;
		position: absolute;
		top: 8px;
	}

	input {
		border-radius: 4px;
		border: 1px solid #E3E1E1;
		box-shadow: none;
		font-size: 12px;
		margin-bottom: 0;
		padding: 12px;
		width: 100%;

		&::placeholder {
			color: #E3E1E1;
		}
		&::-webkit-input-placeholder { /* Edge */
			color: #E3E1E1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #E3E1E1;
		  }
	}
}

// ESTILO BOTÕES
.custom-login-btn,
input[type='submit'].custom-login-btn {
	@include rfs(12);
	font-weight: 400;
	border: solid 2px;
	border-radius: 50px;
	padding: 7px 25px;
	transition: all .2s ease;
	width: auto;

	&.btn-custom-primary {
		background-color: #ffffff;
		border-color: $consul-primary;
		color: $consul-primary;

		&:hover {
			background-color: $consul-primary;
			border-color: $consul-primary;
			color: #ffffff;
		}
	}

	&.btn-custom-secondary {
		background-color: $consul-primary;
		border-color: $consul-primary;
		color: #ffffff;

		&:hover {
			background: #ffffff;
			border-color: $consul-primary;
			color: $consul-primary;
		}
	}
}

.btn--voltar--toDefault,
.btn--voltar--toEmail {
	cursor: pointer;
}

@include breakpoint (small, 'max') {
	#vtex-modal-custom-login {
		.modal-holder {
			margin-bottom: 20px;
			margin-top: 20px;

			.mode-custom-login--header {
				.modal-custom-login--subtitle2 {
					font-size: 14px;
					padding: 0 10px;
				}
			}

			.modal-custom-login--body {
				padding: 0 10px 10px 10px;

				.modal-custom-login--init-layout {
					flex-direction: column;

					> div {
						&:first-child {
							border: none;
							padding: 0;
						}

						&:last-child {
							padding: 0;
						}
					}

					.modal-custom-login--forms {
						input[type='submit'] {
							border-radius: 50px;
							padding: 8px 15px;
							width: 45%;
						}
					}

					.modal-custom-login--buttons {
						.modal-custom-login--sectitles {
							display: none;
						}
					}

					.modal-custom-login--buttons--box {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						margin-top: 35px;

						.modal-custom-login-btn {
							font-size: 11px;
							height: 40px;
							margin: 10px 0;
							padding: 0;
							text-align: center;
							width: 100%;
						}
					}
				}

				.modal-custom-login--email-access-layout,
				.modal-custom-login-email-to-pw {
					padding: 0;
				}

				.modal-custom-login--email-access-layout {
					padding: 0;

					.modal-custom-email--inputbox {
						margin-bottom: 30px;
					}
				}

				.modal-custom-login-email-to-pw {
					.modal-custom-email--inputbox {
						margin-bottom: 30px;
					}
				}

				.modal-custom-login--key-access-layout {
					padding: 0;

					.modal-custom-login-key__fields {
						flex-wrap: wrap;
						margin: 0;

						input {
							margin: 0 4%;
							margin-bottom: 15px;
							width: 25%;
						}
					}

					.custom-login-btn {
						margin-right: 0;
					}
				}

				.modal-custom-login--formOptions {
					span {
						font-size: 11px;
					}
				}

				.custom-login-buttons--action--box {
					display: flex;
					justify-content: space-between;

					.custom-login-btn {
						width: 100%;

						&:first-child {
							margin-right: 5px;
						}

						&:last-child {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}

	.custom-login-btn,
	input[type='submit'].custom-login-btn {
		border: solid 1px;
		border-radius: 20px;
		display: inline-block;
		padding: 5px 15px;
	}
};

body:not(.consulempresa):not(.consulqa2):not(.body-checkout-confirmation) {
	#vtexIdUI-global-loader,
	#vtexIdContainer {
		display: none !important;
	}
}

body.body-checkout-confirmation {
	#vtexIdContainer {
		position: fixed!important;
	}
}