@charset 'UTF-8';

@import './../helpers/rfs';

.vtex-modal {
	background: rgba(0, 0, 0, .7);
	bottom: 0;
	display: none;
	font-family: 'consul', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	left: 0;
	overflow-y: auto;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 99999;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.modal-holder {
		background-color: #fff;
		border-bottom: 2px solid $green;
		box-shadow: 0 5px 6px rgba(0, 0, 0, .16);
		display: inline-block;
		margin: 0 auto;
		max-width: 400px;
		text-align: left;
		vertical-align: middle;
		padding: 2.5em;
		width: 90%;
	}

	.modal-header {
		@include rfs(20px);
		color: #5B5B5B;
		font-weight: bold;
		line-height: 24px;
		position: relative;
		text-align: left;

		.close {
			@include rfs(22px);
			background-color: #fff;
			border: 0;
			border-radius: 50%;
			color: #5B5B5B;
			height: 34px;
			line-height: .7;
			outline: 0;
			padding: 0;
			position: absolute;
			right: -17px;
			text-align: center;
			top: -17px;
			width: 34px;

			&:before { @include icon-get('close'); }

			@include breakpoint(small, 'max') {
				right: -14px;
				top: -14px;
			}
		}
	}

	.modal-content { text-align: center; }
}

