@charset 'UTF-8';

@if $use-com-prateleira == true {
	.prateleira-slider {
		position: relative;

		h2 { display: none; }
	}

	.prateleira {
		&.default {
			color: $gray-d;
			text-align: center;

			& > h2 {
				@include responsiveFont(38);
				font-weight: 200;
				line-height: 1.14;
				margin: 0 0 10px;
			}

			span {
				font-weight: bold;
				&.total-parcelado__txt,
				.val {
					display: none;

				}
			}

			ul {
				@include clearfix();
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;

				li {
					display: flex;
					flex-direction: column;
					outline: none!important;
					width: 100/3*1%;

					@include breakpoint(small, 'max') {
						width: 100%;
					}

					article {
						@include responsiveFont(16, 16, true);
						display: flex;
						flex-direction: column;
						height: 100%;
						min-height: 300px;
						padding: 30px 20px;
						position: relative;
					}

					.detalhes {
						display: flex;
						flex-direction: column;
						height: 100%;
						min-height: 300px;

						h3 {
							min-height: 85px;

							@include breakpoint(extra-small, 'max') { min-height: 50px; }
						}

						.prod-info {
							display: flex;
							flex: 1;
							flex-direction: column;

							.nome {
								margin-bottom: 20px;
								@include breakpoint(small, 'max') {margin-bottom: 0};
							}

							.price {
								margin-top: auto !important;
							}
						}

						p.indisponivel {
							line-height: 80px;
							min-height: 80px;
							position: relative;
						}

						.img.main {
							@include breakpoint(small, 'max') { width: 100%; }
						}

						.img.hover {
							@include breakpoint(small, 'max') { width: 100%; }
							left: 0;
							opacity: 0;
							position: absolute;
							top: 0;
							transition: opacity 400ms, visibility 400ms;
							visibility: hidden;
							z-index: 1;
						}

						&:hover {
							.nome { font-weight: bold; }

							.img.hover {
								opacity: 1;
								visibility: visible;
							}

							.product_field_14 li { background-image: url('#{$img-path}selo-badge-consul.png')!important; }
						}

						.ts-shelf-container {
							&>div {
								text-align: center;
							}
						}
					}

					a {
						color: inherit;
						text-decoration: none;

						&.image {
							display: block;
							line-height: 0;
							position: relative;
							text-align: center;

							// Revisar - Não sei se essa é a melhor opção
							// 2h05 AM
							&:before {
								@include singleTransition(150);
								background: transparent url('/arquivos/selo-badge-consul.png') left bottom no-repeat;
								background-size: contain;
								bottom: 0;
								content: ' ';
								display: block;
								height: 30%;
								opacity: 0;
								position: absolute;
								right: 0;
								width: 30%;
								z-index: 3;

								@include breakpoint(small, 'max') {
									display: none;
								}
							}

							&:hover {
								&:before { opacity: 1; }
								.flag { opacity: 0; }
							}

							span {
								display: block;
								min-height: auto;
								position: absolute;

								@include breakpoint(large, 'max')       { min-height: 220px; }
								@include breakpoint(small, 'max')       { min-height: 284px; }
								@include breakpoint(extra-small, 'max') { min-height: 235px; }

								&.main {
									width: 100%;
									z-index: 1;
								}

								&.backup {
									position: relative;
									z-index: 0;
								}
							}

							img {
								height: auto;
								margin: 0 auto;
								max-width: 100%;
							}

							.product-field {
								bottom: 0;
								font-size: 0;
								position: absolute;
								right: 0;
								text-indent: -9999999cm;
								width: 30%;
								z-index: 3;

								li {
									background-color: transparent;
									background-position: left bottom;
									background-repeat: no-repeat;
									background-size: contain;
									clear: both;
									display: block;
									height: 103px;
									width: 100%;

									&:first-child { display: block; }
								}
							}
						}
					}
				}
			}

			.department-nav {
				@include responsiveFont(16, 16, true);
				color: $txt-gray-l;
				display: inline-block;

				span { @include transition(color, 400); }

				&:hover {
					span { color: $orange; }
				}

				@include breakpoint(small, 'max') {
					@include responsiveFont(12, 16, true);
					border: 2px solid $txt-gray-l;
					border-radius: 50px;
					color: $txt-gray-l;
					margin-bottom: 20px;
					padding: 10px 4px;
				}

				@include breakpoint (extra-small, 'max') {
					display: inline-block;
					padding: 0;
					width: 100%;

					span { display: block; }
				}
			}

			.btn-comparar {
				position: relative;
				fieldset {
					border: 0;
					margin-bottom: 0;
					padding: 0 15px 0;
					text-align: left;
				}
				input {
					position: absolute;
				}
				label {
					padding: 0 0 0 20px;
				}
			}

			.slick-prev { left: -12px; }

			.slick-next { right: -12px; }
		}

		&.default,
		&.destaque {
			.nome,
			h3 {
				@include responsiveFont(20);
				font-weight: normal;
				margin: 1em 0 0;

				span {
					@include clearfix();
					color: $txt-gray-l;
					display: block;
					font-weight: bold;

					* { display: inline; }

					.product-field { font-size: 0; }

					li {
						float: none;
						font-size: 18px;
					}
				}
			}

			.price {
				margin: 1em 0;

				& > p {
					margin: 0;

					&.de,
					&.por {
						span {
							@include responsiveFont(12, 16, true);
							font-weight: normal;
						}
					}

					&.de {
						@include responsiveFont(14, 16, true);
						height: 21px;

						/* .txtDe {
							//@include breakpoint (medium, 'min') { display: none; }
						} */

						.val { text-decoration: line-through; }
					}

					&.por {
						@include responsiveFont(14, 16, true);

						/* .txtPor {
							//@include breakpoint (medium, 'min') { display: none; }
						} */

						.val:empty { display: none; }

						.off {
							background-color: $green;
							border-radius: 10px;
							color: #fff;
							display: none;
							padding: 3px;

							@include breakpoint(extra-small, 'max') {
								border-radius: 50%;
							    bottom: 200px;
							    font-size: 12px;
							    height: 40px;
							    line-height: 14px;
							    padding: 6px 5px;
							    position: absolute;
							    right: 0;
							    width: 40px;
							    z-index: 2;

								small { vertical-align: initial; }

								p {
									@include responsiveFont(10, 16, true);
									line-height: 10px;

									em {
										@include responsiveFont(10, 16, true);
										vertical-align: initial;
									}
								}
							}
						}
					}

					&.adicional {
						@include responsiveFont(18, 16, true);
						color: $green;
					}

					&.discount-boleto { @include responsiveFont(12, 16, true); }
				}
			}
		}

		&.empresas {
			.por,
			.adicional {display: none;}
			.por-boleto {
				@include responsiveFont(18, 16, true);
				color: $green;
				display: block;
				visibility: visible;
				.cash {
					@include responsiveFont(13, 16, true);
					color: $txt-gray;
					display: block;
					font-weight: normal;
				}

			}
		}
	}

	section.slider {
		border-top: 1px solid $gray;
		padding: 0;
		width: 100% !important;

		&.home-prateleira-01 {
			.pre-title {
				padding: 25px 15px 15px 15px;

				&.open { padding: 15px; }
			}

		}

		.container {
			max-width: 1110px !important;
			padding: 0;
			width: 100% !important;

			.row { margin: 0; }
		}

		//nova prateleira mobile
		@include breakpoint(small, 'max') {
			height: auto;

			.prateleira-slider {
				.prateleira.default {
					margin-top: 0;

					ul {
						// display: none;
						padding: 20px 10px;

						li {
							article {
								margin-bottom: 0;
								padding: 0;

								.detalhes {
									.image {
										display: inline-block;
										margin-right: 10px;
										padding: 0;
										vertical-align: top;
										width: 40%;

										.FlagsHightLight,
										.off { display: none !important; }
									}

									.prod-info {
										display: inline-block;
										padding: 0;
										text-align: left;
										vertical-align: top;
										width: 100%;
										// width: 54%;

										.nome {
											@include responsiveFont(14, 16, true);
											font-weight: bold;
											margin: 0;
											min-height: inherit;

											.product-field { display: none; }
										}

										.price {
											margin: 0;
											min-height: inherit;

											.de,
											.por {
												span { @include responsiveFont(12, 16, true); }
											}

											.de { min-height: initial; }

											.por {
												font-size: 15px !important;

												.juros { display: none; }

												.off { display: none !important; }

												.total-parcelado {
													display: inline-block;
													font-size: 0;
													margin-top: 0 !important;
													position: relative;

													&:before {
														@include responsiveFont(12, 16, true);
														content: 'Total:';
														display: inline-block;
														left: 0;
														position: absolute;
														top: 0;
													}

													.val {
														@include responsiveFont(12, 16, true);
														display: inline-block;
														padding-left: 35px;
													}
												}
											}

											.adicional { @include responsiveFont(12, 16, true); }

											.discount-boleto {
												padding-top: 0 !important;

												strong { display: inline-block; }
											}
										}
									}
								}

								.department-nav { display: none; }
							}
						}

						.slick-prev,
						.slick-next {
							color: $gray-d;

							&:before { @include responsiveFont(16, 16, true); }
						}

						.slick-prev { left: 15px; }

						.slick-next { right: 15px; }

						.slick-dots {
							bottom: 20px;
							padding: 0;

							@include breakpoint(small, 'max') { bottom: 45px; }

							li {
								margin: 0;

								button { background: $gray; }

								&.slick-active {
									button {
										background: transparent;

										&:after {
											background: transparent;
											border: 3px solid $orange;
											border-color: $orange;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.pre-title {
			@include responsiveFont(30, 16, true);
			color: $gray-d;
			font-weight: 300;
			margin: 20px 0;

			span { display: block; }

			@include breakpoint(medium, 'min') {
				span {
					&.opcional { display: none; }

					color: $orange;
				}
			}

			@include breakpoint(small, 'max') {
				background: transparent;
				color: $gray-d;
				display: block !important;
				font-size: 16px !important;
				font-weight: bold !important;
				margin: 0;
				padding: 15px 10px;
				position: relative;
				text-align: left;
				text-transform: initial;

				&:before {
					font-size: 16px !important;
					font-weight: bold !important;
				}

				&:after {
					@include contentBefore();
					@include responsiveFont(8, 16, true);
					@include icon-get('arrow-down');
					color: $orange;
					position: absolute;
					right: 15px;
					top: 50%;
					transform: translateY(-50%);
					transition: all .3s linear;
				}

				&.open {
					background: $green;
					border: none;
					color: #ffffff;

					span,
					&:before { color: #ffffff !important; }

					&:after {
						color: #ffffff;
						top: 39%;
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	.destaque {
		@include breakpoint(small, 'max') { text-align: center; }

		.container {
			@include breakpoint(small, 'max') { padding: 0; }
		}

		.box-produto {
			position: relative;

			.icon {
				background: transparent no-repeat no-repeat;
				background-size: contain;
				display: block;
				height: 70px;
				max-height: 115px;
				position: relative;

				@include breakpoint(small, 'min') {
					height: 90px;
					width: 90px;
				}
			}

			&.Split i,
			&.Climatizador i { background-image: url('/arquivos/feature-icon-wind.png');    }
			&.Cooktop i      { background-image: url('/arquivos/feature-icon-chicken.png'); }
			&.Embutir i      { background-image: url('/arquivos/feature-icon-dish.png');    }
			&.Cervejeira i,
			&.Geladeira i    { background-image: url('/arquivos/feature-icon-cold.png');    }
		}

		.image {
			display: block;
			text-align: center;

			@include breakpoint(small, 'max') {
				float: left;
				width: 100%;
			}

			@include breakpoint(small, 'min') {
				bottom: 0;
				height: 100%;
				left: 0;
				position: absolute;
				width: 50%;
			}

			.img {
				display: block;

				@include breakpoint(small, 'min') {
					bottom: 0;
					left: 0;
					position: absolute;
				}

				@include breakpoint(small, 'max') {
					display: none;
					margin-top: 5px;

					&.backup { display: inline-block; }
				}
			}

			img {
				@include breakpoint(small, 'min') { display: block; }
			}
		}

		.content {
			@include breakpoint(small, 'max') { width: 100%; }

			@include breakpoint(small, 'min') {
				float: right;
				width: 45%;
			}

			& > a { display: inline-block; }
		}

		.icon {
			position: absolute;
			top: 0;

			@include breakpoint(small, 'min') { left: 55%; }

			@include breakpoint(small, 'max') {
				background-position: top center!important;
				width: 100%!important;
			}
		}

		h2 {
			@include responsiveFont(32);
			float: left;
			font-weight: 300;
			line-height: 34px;
			margin-top: 90px;
			width: 100%;

			@include breakpoint(small, 'max') { margin: 75px 0 5px 0; }

			@include breakpoint(small, 'min') {
				margin: 110px 0 0 55%;
				width: 100%;
			}
		}

		.content h3.nome {
			@include responsiveFont(24, 16, true);
			color: $gray-d;
			margin: 10px 0 0;
		}

		.price { color: $gray-d; }

		.button {
			@include responsiveFont(18);
			font-weight: bold;
			margin-top: 10px;
			text-transform: uppercase;

			@include breakpoint(small, 'max') { @include hide-conditional(); }
		}
	}

	//inverse mode
	.destaque-02 {
		.container {
			.image {
				left: inherit;
				right: 0!important;
			}

			.icon { left: 0; }

			h2 { margin-left: 0; }

			.content { float: none!important; }
		}
	}

	body.listagem {
		&.categoria {
			.prateleira.default {
				ul:not(.slick-slider) {
					.department-nav { display: none; }
				}
			}
		}
	}
}

// CTA Comparador
body.brastemp,
body.brastempqa {
	.btn-comparar {
		display: none;
		visibility: hidden;
	}
}



#quem-viu-clicou {
	// display: block !important;
	margin-top: 30px;

	h2 {
		font-size: 45px;

		@include breakpoint(small, 'max') {
			@include responsiveFont(16, 16, true);
			border-bottom: none;
		}
	}
}

#relacionados,
#quem-viu-clicou {
	@include breakpoint(small, 'max') {
		.prateleira.default {
			ul {
				li {
					article	{
						min-height: 0;
						padding: 0 25px;
					}

					.detalhes {
						flex-direction: row;
						min-height: 0;

						.image {
							width: 50%;
						}

						.prod-info {
							width: 50%;
						}
					}

					.prod-info {
						margin-top: 0;
					}
				}

				.slick-dots {
					bottom: -2px !important;
					justify-content: center;
				}
			}
		}
	}
}
