@charset 'UTF-8';

@import '_rebase/_root';
@import '../helpers/rfs';

$icon-preco-a-vista : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAhCAMAAAAS9VDrAAAAPFBMVEUAAABAPDpAPDpAOzpAMDBAOzpAOzpAOjpAPDhAOzpAODhAOztAOjpAOjpAOztAOTlAOzpBPTlAPDlAPDtn8C58AAAAE3RSTlMAwIDwEOCgX0CwIHAwkNBQzz9vwfUj9QAAAV9JREFUKM91k9muBCEIRAXEte1l6v//9Towiz3JrSdMRVIeMKyKeZBiiipv4a6tAkr8VKJZ5tXM0N6+x6OC4rerpBhuKuhLXcKPTvqUHec9SEz4ugwF5fa2riHY9ZsCMe8ATpoSQFKrtLgzQys8ppk4b/O+rp1/YmXFubi9SeXrenK5HklBRMuLttB3vKWphMXNSIazFD5KsRJvt2UjG2+osDt/AmBdz8QmgsTuL+LXrcYClxCXF8mE8aFHyHeSB9hSiWEmaQ5nCHSSfBGp6D5IXUlmNDfhdsZOxL04yWqx27RqtcvvmZdzklR297MZe7L1U+i8CHNDAtSnT0DvkHQEInMtJEt1VzmGaLA4UPLFaWHAKh3OL2GPYYgd5HxIdfaceZBAOD5P3RoLdn+akxxHMFWnwyi+QPm+mXI+7dYtibVftYlkryIvv2OZjI7HxUl8Wr8q0wB2buEfGYBf/QGrfhEE6ynUEwAAAABJRU5ErkJggg==';
$icon-preco-parcelado : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAaCAMAAAAHbGVJAAAANlBMVEUAAABAPDpAPDpAPDhAOzpAOztAMDBAOzpAOjpAOjpAOTlAODhAOzpAOjpAOztAOzpAPDlAPDu+7ph4AAAAEXRSTlMAwH9A8NAQ4DBfUCCfkHCwb3iku5gAAACSSURBVCjPzc85FoMwDEVRWYNHIPz9bzYibn0sytxGzSv0KZ+KvcJEJyztFVykRoGsiZAokrwqHCleveCVScRe/+VVFjeeO9VlleCUyIBJVpWw68+drryoFv65qtzuewQV46dvqwGTq3Ut20rA5D7YVlmtH9zU9n81hdMabBxSq+S5UY0iJdGBg/cSmPIHkZPe+QKB1w1XN3SUEQAAAABJRU5ErkJggg==';
%flex-center {
	display: flex;
	align-items: center;
}

@keyframes loaderAnimation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}

body.listagem {
	.main { margin-top: 10px; }

	.prateleira {
		&.default {
			& > ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin: 0 auto;
				width: 100%;

				& > li {
					margin-bottom: 20px;
					padding: 0 10px;

					@include breakpoint('small', 'max') {
						width: 100%;

						& > article {
							margin: 0;
							max-width: none;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

// Ajuste para quando o slick não carregar e
// focado no comportamento da prateleira no IE
.prateleira > ul {
	display: flex;
	flex-wrap: wrap;
	// overflow: hidden;

	& > li {
		display: inline-block;
	}
}

.prateleira-slider {
	.slick-track {
		padding: 2px 0;

		.slick-slide {
			@include breakpoint('medium', 'max') { margin: 0 10px; }
			margin: 0 4px;
		}
	}

	.slick-prev { left: -2%; }
	.slick-next { right: -2%; }
}

.box-produto {
	border: solid 1px #E3E1E1;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	max-width: 250px;
	padding: 15px;
	position: relative;
	transition: border .2s ease, box-shadow .2s ease;
	width: 250px;
	&.unavailable {
		.shelf-item__price--installment {
			display: none;
		}

		.shelf-item__price--list {
			@include rfs(12);
			font-weight: bold;
		}
	}

	&:hover {
		border-color: $c1!important;
		box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

		.detalhes {
			.wishlist__button {
				span {
					opacity: 1;
					transform: translateX(0);
					visibility: visible;
				}
			}
		}
	}

	&.product-has-discount {
		.discount-boleto {
			span { display: inline-block!important; }
		}

		.adicional {
			strong {
				&:first-child { display: block; }

				span {
					&:first-child {
						text-transform: none;

						&:before { display: none; }
					}
				}
			}
		}
	}

	.adicional {
		.d { display: none; }

		strong {
			display: block;
			font-weight: 500;

			&:first-child { display: none; }

			// span {
			// 	&:first-child {
			// 		text-transform: lowercase;

			// 		&:before { content: 'ou '; }
			// 	}
			// }
			.x:before { display: none;}
		}
	}

	.detalhes {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;

		.prod-info {
			border-top: 1px solid #f4f2f1;
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			line-height: normal;
			margin-top: .3em;
			padding-top: .3em;

			.nome {
				@include rfs(14);
				flex: 1 1 auto;
				font-family: 'Open Sans';
				font-weight: lighter;
				margin: 5px 0 15px;
			}

			// nome modelo prateleira
			.product_field_770,
			.product_field_25 {
				@include breakpoint('small', 'max') { display: none; }
				font-size: 0; // hide field title

				& > ul li {
					@include rfs(11);
					font-family: 'consul';
					font-weight: bold;
				}
			}

			.price {
				.de,
				.por {
					color: $c6;
					font-size: 12px;
					font-weight: 500;
					line-height: 1.2;
				}

				.de {
					@include rfs(14);
					color: #736c6b;
					font-weight: normal;
					margin: 0;
					text-decoration: line-through;

					.txtDe { display: none;	}
				}

				.por {
					margin: 0;

					.txtPor { display: none; }

					// Preço POR
					.val {
						@include rfs(26);
						color: #9aca3c;
						display: block;
						font-weight: bold;
						margin: 0 0 .4em 0;
					}

					.off {
						background-color: #702F8F;
						display: none;
						padding: 6px 18px;

						&:not(:empty) + .product-with-discount { top: 45px; }
					}

					.off,
					.product-with-discount {
						@include rfs(10);
						border-radius: 100px;
						color: #fff;
						position: absolute;
						right: 15px;
						top: 15px;
						z-index: 1;

						&:empty { display: none; }
					}

					.product-with-discount {
						background-color: #0fb6de;
						padding: 6px 14px;
						white-space: nowrap;
					}
				}
			}

			.adicional {
				margin: 0;

				strong {
					font-weight: normal;

					&:first-child { display: none; }

					.val { font-weight: bold; }
				}

				.total-parcelado { display: none; }

				// Icone pagamento parcelado
				&:before { background-image: url($icon-preco-parcelado); }
			}

			.adicional,
			.discount-boleto {
				@include rfs(12);
				color: #736C6B;
				display: block;
				padding-left: 20px;
				position: relative;

				// Icone pagamento
				&:before {
					@include square(15px);
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
					content: '';
					left: 0;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}


			.discount-boleto {
				margin: 0 0 .4em 0;

				// Icone pagamento
				&:before { background-image: url($icon-preco-a-vista); }

				span {
					@include rfs(10);
					color: #EC008C;
					display: none;
				}
			}

			.indisponivel {
				margin: 0;
				text-align: center;
			}
		}
		.product-infos-wrap {
			display: block;
			position: relative;
		}
		.wishlist {
			&__container {
				@include breakpoint('small', 'max') { height: 45px };
				@include rfs(12);
				@extend %flex-center;
				bottom: 0;
				color: #736C6B;
				cursor: pointer;
				font-weight: 500;
				height: 30px;
				width: 100%;
				z-index: 1;
				&.wished {
					.wishlist__button {
						font-weight: bold;
						i {
							&:before {
								background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='179' height='24' viewBox='0 0 179 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%239aca3c;font-size:12px;font-family:ConsulCoHeadline-Bold, Consul Co Headline;font-weight:700;%7D.b%7Bfill:%23736c6b;%7D.c%7Bfill:%235b5b5b;%7D.d%7Bfill:%23ec008c;%7D.e%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1033 -809)'%3E%3Cg transform='translate(-330.807 43.193)'%3E%3Cg transform='translate(1366.401 769.008)'%3E%3Cpath class='c' d='M394.242,853.886h-1.414v-1.414a.471.471,0,0,0-.943,0v1.414h-1.414a.471.471,0,0,0,0,.943h1.414v1.414a.471.471,0,0,0,.943,0v-1.414h1.414a.471.471,0,0,0,0-.943Z' transform='translate(-390 -852)'/%3E%3Cg transform='translate(3.771 4.259)'%3E%3Cpath class='d' d='M393.7,1131a3.947,3.947,0,0,0-2.866,1.229,4.311,4.311,0,0,0,0,5.92l5.993,6.285a.584.584,0,0,0,.826.02l.02-.02,6-6.279a4.31,4.31,0,0,0,0-5.92,3.948,3.948,0,0,0-5.732,0l-.687.712-.688-.718A3.947,3.947,0,0,0,393.7,1131Z' transform='translate(-389.661 -1131)'/%3E%3C/g%3E%3C/g%3E%3Crect class='e' width='24' height='24' transform='translate(1363.807 765.807)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
								content: '';
								display: block;
								height: 26px;
								margin-top: -2px;
								width: 22px;
							}
						}
						strong {
							color: #9ACA3C
						}
					}
				}
				&.loading {
					.wishlist__button {
						pointer-events: none;
						i {
							display: none;
						}
					}
					.wishlist__loader {
						display: block;
					}
				}
			}

			&__loader {
				display: none;
				height: 26px;
				margin-top: -2px;
				position: relative;
				width: 22px;

				div {
					animation: loaderAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
					border: 3px solid #c3e088;
					border-color: #c3e088 transparent transparent transparent;
					border-radius: 50%;
					box-sizing: border-box;
					display: block;
					height: 18px;
					margin: 4px;
					position: absolute;
					width: 18px;

					&:nth-child(1) {
						animation-delay: -0.45s;
					}
					&:nth-child(2) {
						animation-delay: -0.3s;
					}
					&:nth-child(3) {
						animation-delay: -0.15s;
					}
				}
			}
			&__button {
				@extend %flex-center;
				height: 100%;
				width: 100%;
				i {
					&:before {
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%235b5b5b;%7D.b%7Bfill:%238cc63f;%7D.c%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1364.307 -766.307)'%3E%3Cg transform='translate(1366.429 769.043)'%3E%3Cg transform='translate(3.812 4.406)'%3E%3Cpath class='a' d='M426.058,889.879a3.056,3.056,0,0,1,2.229.957l.69.721.645.674.648-.671.693-.718a3.066,3.066,0,0,1,4.456,0,3.439,3.439,0,0,1,0,4.7l-3.039,3.181-2.758,2.887-5.791-6.073a3.442,3.442,0,0,1,0-4.7,3.055,3.055,0,0,1,2.228-.956m0-.9a3.961,3.961,0,0,0-2.876,1.234,4.327,4.327,0,0,0,0,5.942l6.015,6.308a.587.587,0,0,0,.829.02l.02-.02,6.021-6.3a4.325,4.325,0,0,0,0-5.942,3.963,3.963,0,0,0-5.753,0l-.69.715-.69-.721a3.961,3.961,0,0,0-2.876-1.234Z' transform='translate(-422 -888.982)'/%3E%3C/g%3E%3Cpath class='b' d='M394.289,853.906h-1.429v-1.43a.477.477,0,0,0-.953,0v1.43h-1.43a.477.477,0,0,0,0,.953h1.43v1.43a.477.477,0,0,0,.953,0v-1.43h1.429a.477.477,0,0,0,0-.953Z' transform='translate(-390 -852)'/%3E%3C/g%3E%3Crect class='c' width='24' height='24' transform='translate(1364.307 766.307)'/%3E%3C/g%3E%3C/svg%3E");
						content: '';
						display: block;
						height: 26px;
						margin-top: -2px;
						width: 22px;
					}
				}
				span {
					display: block;
					margin-left: 8px;
					opacity: 0;
					position: relative;
					transform: translateX(-10%);
					transition: transform .2s ease;
					visibility: hidden;
				}
			}
		}
	}

	.btn-comparar {
		display: none;
		position: relative;
		visibility: hidden;

		fieldset {
			border: 0;
			margin: 0;
			padding: 0;

			input { position: absolute; }

			label { margin-top: 15px; }
		}

		// Exibir opção de comparar somente em páginas de categoria
		.listagem.categoria & {
			display: block;
			visibility: visible;
		}
	}


	.department-nav { display: none; }

	.image {
		display: block;
		line-height: 0;
		position: relative;
		text-align: center;
		margin-bottom: 5px;

		// Revisar - Não sei se essa é a melhor opção
		// 2h05 AM
		&:before {
			@include singleTransition(150);
			background: transparent url('/arquivos/selo-badge-consul.png') left bottom no-repeat;
			background-size: contain;
			bottom: 0;
			content: ' ';
			display: block;
			height: 30%;
			opacity: 0;
			position: absolute;
			right: 0;
			width: 30%;
			z-index: 3;

			@include breakpoint(small, 'max') {
				display: none;
			}
		}

		&:hover {
			&:before { opacity: 1; }
			.flag { opacity: 0; }
		}

		span {
			display: block;
			min-height: auto;
			position: absolute;

			@include breakpoint(large, 'max')       { min-height: 220px; }
			@include breakpoint(small, 'max')       { min-height: 284px; }
			@include breakpoint(extra-small, 'max') { min-height: 235px; }

			&.main {
				width: 100%;
				z-index: 1;
			}

			&.backup {
				position: relative;
				z-index: 0;
			}
		}

		img {
			height: auto;
			max-height: 210px;
			max-width: 100%;
			width: auto;
		}

		.product-field {
			bottom: 0;
			font-size: 0;
			position: absolute;
			right: 0;
			text-indent: -9999999cm;
			width: 30%;
			z-index: 3;

			li {
				background-color: transparent;
				background-position: left bottom;
				background-repeat: no-repeat;
				background-size: contain;
				clear: both;
				display: block;
				height: 103px;
				width: 100%;

				&:first-child { display: block; }
			}
		}
	}
}

#relacionados {
	.prateleira > h2 {
		display: none;
	}
}
