@charset 'UTF-8';

@import '_rebase/_root';
@import '../helpers/rfs';

body.listagem {
	.main { margin-top: 10px; }

	.prateleira {
		&.default {
			& > ul {
				display: flex;
				flex-wrap: wrap;
				margin: 0 -10px;
				width: 100%;

				& > li {
					margin-bottom: 20px;
					padding: 0 10px;
					width: 33.3333%;

					@include breakpoint('small', 'max') {
						width: 100%;

						& > article {
							margin: 0;
							max-width: none;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.prateleira > ul > li { display: inline-block; }

.prateleira-slider {
	.slick-track {
		padding: 2px 0;

		.slick-slide { margin: 0 10px; }
	}

	.slick-prev { left: -2%; }
	.slick-next { right: -2%; }
}

.box-produto {
	border: solid 1px #E3E1E1;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	max-width: 270px;
	padding: 15px;
	position: relative;
	transition: border .2s ease, box-shadow .2s ease;

	&:hover {
		border-color: $c1;
		box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	}


	&.product-has-5-off {
		.discount-boleto {
			span { display: inline-block!important; }
		}

		.adicional {
			strong {
				&:first-child { display: block; }

				span {
					&:first-child {
						text-transform: none;

						&:before { display: none; }
					}
				}
			}
		}
	}

	.adicional {
		.d { display: none; }

		strong {
			display: block;
			font-weight: 500;

			&:first-child { display: none; }

			span {
				&:first-child {
					text-transform: lowercase;

					&:before { content: 'ou '; }
				}
			}
			.x:before { display: none;}
		}
	}

	.detalhes {
		display: flex;
		flex: 1;
		flex-direction: column;

		.prod-info {
			border-top: 1px solid #f1f0f0;
			display: flex;
			flex: 1;
			flex-direction: column;
			line-height: normal;
			margin-top: 1em;
			padding-top: .3em;

			.nome {
				@include rfs(14);
				flex: 1;
				font-family: 'Open Sans';
				font-weight: lighter;
				margin: 5px 0 15px;
			}

			// nome modelo prateleira
			.product_field_770,
			.product_field_25 {
				@include breakpoint('small', 'max') { display: none; }
				font-size: 0; // hide field title

				& > ul li {
					@include rfs(11);
					font-family: 'consul';
					font-weight: bold;
				}
			}

			.price {
				.de,
				.por {
					color: $c6;
					font-size: 12px;
					font-weight: 500;
					line-height: 1.2;
				}

				.de {
					@include rfs(15);
					color: #736c6b;
					font-weight: normal;
					margin: 0;
					text-decoration: line-through;

					.txtDe { display: none;	}
				}

				.por {
					margin: 0 0 5px;

					.txtPor,
					.val { display: none; }

					.off {
						background-color: #702F8F;
						display: none;
						padding: 6px 18px;

						&:not(:empty) + .product-with-5-off { top: 45px; }
					}

					.off,
					.product-with-5-off {
						@include rfs(10);
						border-radius: 100px;
						color: #fff;
						position: absolute;
						right: 15px;
						top: 15px;
						z-index: 1;

						&:empty { display: none; }
					}

					.product-with-5-off {
						background-color: #0fb6de;
						padding: 6px 14px;
						white-space: nowrap;
					}
				}
			}

			.adicional {
				@include rfs(13);
				color: #736c6b;
				margin: 0;

				.total-parcelado { display: none; }
			}

			.discount-boleto {
				@include rfs(24);
				color: #9aca3c;
				display: block;
				font-weight: bold;
				margin: 0 0 .4em 0;

				span {
					@include rfs(16);
					display: none;
				}
			}

			.indisponivel {
				margin: 0;
				text-align: center;
			}
		}
	}

	.btn-comparar {
		display: none;
		position: relative;
		visibility: hidden;

		fieldset {
			border: 0;
			margin: 0;
			padding: 0;

			input { position: absolute; }

			label { margin-top: 15px; }
		}

		// Exibir opção de comparar somente em páginas de categoria
		.listagem.categoria & {
			display: block;
			visibility: visible;
		}
	}


	.department-nav { display: none; }

	.image {
		display: block;
		line-height: 0;
		position: relative;
		text-align: center;

		// Revisar - Não sei se essa é a melhor opção
		// 2h05 AM
		&:before {
			@include singleTransition(150);
			background: transparent url('/arquivos/selo-badge-consul.png') left bottom no-repeat;
			background-size: contain;
			bottom: 0;
			content: ' ';
			display: block;
			height: 30%;
			opacity: 0;
			position: absolute;
			right: 0;
			width: 30%;
			z-index: 3;

			@include breakpoint(small, 'max') {
				display: none;
			}
		}

		&:hover {
			&:before { opacity: 1; }
			.flag { opacity: 0; }
		}

		span {
			display: block;
			min-height: auto;
			position: absolute;

			@include breakpoint(large, 'max')       { min-height: 220px; }
			@include breakpoint(small, 'max')       { min-height: 284px; }
			@include breakpoint(extra-small, 'max') { min-height: 235px; }

			&.main {
				width: 100%;
				z-index: 1;
			}

			&.backup {
				position: relative;
				z-index: 0;
			}
		}

		img {
			height: auto;
			max-height: 210px;
			max-width: 100%;
			width: auto;
		}

		.product-field {
			bottom: 0;
			font-size: 0;
			position: absolute;
			right: 0;
			text-indent: -9999999cm;
			width: 30%;
			z-index: 3;

			li {
				background-color: transparent;
				background-position: left bottom;
				background-repeat: no-repeat;
				background-size: contain;
				clear: both;
				display: block;
				height: 103px;
				width: 100%;

				&:first-child { display: block; }
			}
		}
	}
}
