@charset 'UTF-8';

.portal-notify-me-ref {
	.notifyme-title {
		@include rfs(18px);
		color: #5B5B5B;
		font-weight: bold;
		line-height: 24px;
		margin-bottom: 0;
		position: relative;
	}

	fieldset {
		border: none;
		margin: 0;
		padding: 0;

		&.success,
		&.error {
			@include rfs(14px);
			display: block;
			margin: 10px 0;
			padding: 10px;

			em { font-style: normal; }
		}

		&.success { color: $txt-gray; }
		&.error { color: $orange; }
	}

	form p {
		@include rfs(14px);
		line-height: 20px;
		margin: 0;
		padding: 1em 0 1.5em 0;

		a {
			color: #8437A8;
			font-weight: 500;
		}
	}

	.notifyme-client-name,
	.notifyme-client-email,
	.notifyme-client-phone {
		@include singleTransition();
		@include rfs(14px);
		background-color: #fff;
		border: 1px solid #E3E1E1;
		border-radius: 4px;
		color: $txt-gray;
		font-weight: 200;
		height: 45px;

		&:focus {
			background-color: #fff;
			border-color: $gray-d;
			outline: none;
		}
	}

	.notifyme-loading-message {
		@include rfs(14px);
		margin: 0;
	}

	.notifyme-button-ok {
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;

		&:before {
			content: ' ';
			display: block;
		}

		&:focus { outline: none;}
	}

	// Placeholder color
	@include inputPlaceholderColor( $txt-gray );

	// Esconder na barra de detalhes do produto
	.prod-details-nav & { @include hide-conditional(); }
}

.content_botoes_televendas {
	.portal-notify-me-ref { display: none; }
}
