$grey: #616161;
$green: #9aca3c;
$green-dark: #609220;
$pink: #ec008e;
$azul: #0fb6de;
$roxo: #712f8f;

.caracteristicas-lp--pricing {
	@include breakpoint('small', 'max') {
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12),
		0 3px 5px -1px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		display: block;
		height: auto;
		margin: 20px auto;
		padding: 14px 16px;
		width: calc(100% - 16px);
	}
	width: 60%;

	.product-info-bar {
		display: block !important;
		margin: 0 auto 0 280px;
		max-width: 100%;
		width: 440px;
		&__container {
			width: 100%;
		}
		&__title {
			@include breakpoint('small', 'max') {
				display: none;
			}
			@include rfs(24);
			color: $grey;
			font-weight: 500;
			line-height: 30px;
			margin: 0 auto 10px;
			& small {
				display: inline-block;
				font-weight: 400;
				position: relative;
				top: -4px;
			}
		}
		&__price {
			font-style: normal;
			text-align: left;
			& .descricao-preco {
				@media (max-width: 370px) {
					height: 130px;
				}
				margin-bottom: 0;
			}
			& .valor-de {
				color: $grey;
				font-style: normal;
				font-weight: 500;
				text-align: left;
				strong {
					text-decoration: line-through;
				}
			}
			& .valor-por {
				@include rfs(32);
				color: $green;
				font-style: normal;
				font-weight: 700;
				margin-bottom: 6px;
				text-align: left;
				&::after {
					@include rfs(16);
					color: $grey;
					content: 'à vista';
					display: inline-block;
					font-weight: 400;
					margin-left: 10px;
				}
			}
			.preco-a-vista {
				display: none !important;
				visibility: hidden;
			}
			& .valor-dividido {
				@include breakpoint('small', 'max') {
					left: 95px;
					bottom: 25px;
					width: calc(100% - 95px);
					right: 0;
				}

				@media (max-width: 370px) {
					left: 85px;
    				width: calc(100% - 80px);
				}

				@include rfs(15);
				bottom: 28px;
				color: $grey;
				display: inline-block;
				font-style: normal;
				font-weight: 400;
				left: 100px;
				margin: 5px 0;
				position: relative;
				right: 100%;
				text-align: left;
				width: calc(100% - 110px);
				strong {
					font-weight: 500;
				}
				span,
				label {
					display: inline-block;
					width: auto;
				}
				span {
					color: #fff;
					visibility: hidden;
				}
				.skuBestInstallmentValue {
					@include rfs(15);
					color: $grey;
					margin-left: -15px;
					visibility: visible;
					&::after {
						color: $grey;
						content: ' sem juros ';
						font-weight: 400;
					}
				}
				.skuBestInstallmentNumber {
					@include rfs(15);
					color: $grey;
					visibility: visible;
					span {
						color: $grey;
						visibility: visible;
					}
					&::before {
						color: $grey;
						content: ' em até ';
						font-weight: 400;
					}
					&::after {
						color: $grey;
						content: ' de ';
						font-weight: 400;
					}
				}
			}

			//desconto do boleto
			& .on-discount {
				@include rfs(16);
				color: $green-dark;
				font-style: normal;
				font-weight: 500;
				left: 0;
				margin: 0 0 2px 0;
				span {
					color: $grey;
					font-weight: 300;
				}
				strong {
					display: none;
				}
			}
			& .valor-discount {
				display: flex;
				flex-flow: column-reverse;
				strong {
					@include rfs(15);
					color: $grey;
					display: inline-block;
					font-style: normal;
					&::before {
						@include rfs(15);
						color: $grey;
						content: 'Ou ';
						font-weight: 400;
					}
				}
			}
		}

		@include breakpoint('small', 'max') {
			margin: 0 auto;
		}
	}
	#BuyButton .buy-button,
	.product-info-bar__buy .buy-button {
		@include breakpoint('small', 'max') {
			margin-top: 10px;
			width: 100% !important;
		}
		@include rfs(16);
		background-color: $green;
		border-radius: 50px;
		color: #fff;
		font-weight: 500;
		height: 48px;
		line-height: normal;
		margin: 20px 0 0;
		max-width: 100%;
		padding: 12px 0;
		width: 200px !important;
		&:hover {
			background-color: $green-dark;
			height: 48px;
			width: 200px;
		}
	}

	//selo desconto
	.economia-de {
		color: #fff;
		display: inline-block;
		height: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		.economia {
			@include rfs(12);
			background-color: $pink;
			border-radius: 4px;
			color: #fff;
			display: inline-block;
			font-style: normal;
			font-weight: 700;
			height: 24px;
			line-height: 27px;
			position: relative;
			text-align: center;
			top: 20px;
			visibility: visible;
			width: 80px;
			&::before {
				color: #fff;
				content: '- ';
				display: inline-block;
				margin-right: 1px;
			}
		}
	}
	.formas-pagamento-container {
		display: block;
		margin-bottom: 44px;
		margin-top: -55px;
		position: relative;
		width: 100%;
		.valores-parcelas {
			.titulo-parcelamento {
				@include rfs(14);
				border: none;
				font-weight: 400;
				padding: 10px 0 10px 20px;
			}
			.other-payment-method-content {
				padding-right: 16px;
			}
			.other-payment-method-ul {
				margin: 10px 8px;
				max-width: 100%;
				padding: 10px 20px;
				transition: none;
				width: 100%;

				@include breakpoint('small', 'max') {
					padding: 0;

					li {
						span, strong {
							width: auto;
						}
					}
				}
			}
		}
	}
	//voltagem
	.prod-sku-selector {
		display: block;
		margin: 12px 0 10px;
		padding: 0;
		width: 152px;
		.sku-title-label {
			@include rfs(15);
			font-weight: 500;
			padding-bottom: 0;
		}
		.specification {
			display: none;
		}
		.group_0 {
			display: flex;
			label {
				margin-left: 6px;
				margin-right: 12px;
			}
		}
	}
	.prod-sku-options {
		margin-top: 0;
		width: 152px;
		@include breakpoint('small', 'max') {
			width: 134px;
		}
	}
	//seletor de cor
	.seletores {
		display: flex;
		max-width: 100%;
		width: 320px;
		.seletor {
			display: flex;
			flex-wrap: wrap;
			width: 108px;
			p {
				@include rfs(14);
				display: block;
				font-weight: 500;
				margin-bottom: 0;
				margin-top: 13px;
				width: 100%;
			}
			.botao-seletor {
				border: 1px solid #616161;
				border-radius: 30px;
				display: inline-block;
				height: 35px;
				margin: 0 10px 0 0;
				padding: 4px;
				position: relative;
				&:hover {
					border: 1px solid $roxo;
				}
				span {
					border-radius: 30px;
					display: block;
					height: 24px;
					width: 24px;
					&.cinza {
						background: linear-gradient(
							180deg,
							#5e6162 0%,
							#acabac 100%
						);
					}
					&.branco {
						background: #fff;
						border: 1px solid #e0e0e0;
					}
				}
				&.white {
					&.is-active {
						border-color: $roxo;
						&:after {
							content: 'Branco';
							display: inline-block;
							font-size: 12px;
							font-weight: 500;
							left: 0;
							margin-top: 8px;
							position: absolute;
						}
					}
					&:hover {
						&:after {
							content: 'Branco';
							display: inline-block;
							font-size: 12px;
							font-weight: 500;
							left: 0;
							margin-top: 8px;
							position: absolute;
						}
					}
				}
				&.evox {
					&.is-active {
						border-color: $roxo;
						&:after {
							content: 'Cinza';
							display: inline-block;
							font-size: 12px;
							font-weight: 500;
							left: 0;
							margin-top: 8px;
							position: absolute;
						}
					}
					&:hover {
						&:after {
							content: 'Cinza';
							display: inline-block;
							font-size: 12px;
							font-weight: 500;
							left: 0;
							margin-top: 8px;
							position: absolute;
						}
					}
				}
			}
		}
	}
	.linha {
		background-color: #eeeeee;
		display: block;
		height: 80px;
		margin: auto;
		width: 1px;
	}
	//trustvox-raiting
	.trustvox-rating {
		display: inline-block;
		margin: 4px 18px 0;
	}
	//frete
	.calc-frete {
		border-top: 1px solid #eee;
		margin-top: 26px;
		padding-top: 20px;
		#popupCalculoFreteWrapper {
			display: block;
		}
		.content {
			@include breakpoint('small', 'max') {
				left: 0;
				top: 0;
				width: 100%;
				fieldset,
				label,
				input#txtCep {
					width: 100% !important;
				}
				fieldset {
					margin-top: 10px;
				}
			}
			left: 16px;
			position: relative;
			top: -20px;
			fieldset {
				margin-top: 22px;
				overflow: inherit;
				position: relative;
				width: 100px;
				input#txtCep {
					@include rfs(14);
					font-weight: 400;
					height: 48px;
					line-height: normal;
					padding: 0 15px !important;
					width: 220px;
				}
			}
			.frete-calcular {
				right: 2px;
				top: 2px;

				#btnFreteSimulacao {
					@include rfs(14);
					color: $roxo;
					padding: 14px 15px;
					text-transform: none;
					background: #ffffff;
					border-radius: 0;
				}
			}
			.cep-busca {
				color: $azul;
				font-size: 12px;
				font-weight: 400;
				left: -180px;
				position: relative;
				top: -8px;

				@include breakpoint('small', 'max') {
					width: 100%;
					left: 0;
					display: flex;
					justify-content: flex-end;
					top: -77px;
					z-index: 2;
				}
			}
		}
		p {
			font-size: 12px;
			font-weight: 400;
			line-height: 19px;
			margin: 0;
		}
		.title-frete {
			@include breakpoint('small', 'max') {
				max-width: 320px;
			}
			max-width: 220px;
		}
	}
	.shipping-value {
		display: none;
	}
}
.voltageModalWindow #modal-sku {
	.title-check-voltage {
		margin-bottom: 12px;
		p {
			display: inline-block !important;
			margin-bottom: 0;
			margin-left: 10px;
		}
	}
	.double-check {
		font-size: 16px;
	}
	.buy-button {
		@include rfs(16);
		background-color: $green;
		border-radius: 50px;
		color: #fff;
		font-weight: 500;
		height: 48px;
		margin: 0 auto;
		max-width: 100%;
		padding: 12px 0;
		text-align: center;
		width: 200px !important;
		&:hover {
			background-color: $green-dark;
			height: 48px;
			line-height: 34px;
			padding: 7px 0;
			width: 200px;
		}
	}
}
