$grey: #616161;
$green: #9ACA3C;
$green-dark: #609220;
$pink: #EC008E;

.caracteristicas-lp--pricing {
	background: #fff;
	display: inline-block;
	height: auto;
	margin: 20px auto;
	padding: 30px 0;
	width: 100%;

	.product-info-bar {
		display: block;
		margin: 0 auto;
		width: 440px;
		&__container {
			width: 100%;
		}
		&__title {
			@include rfs(24);
			color: $grey;
			font-weight: 500;
			line-height: 30px;
			margin: 0 auto 10px;
			& small {
				display: inline-block;
				font-weight: 400;
				position: relative;
				top: -4px;
			}
		}
		&__price {
			font-style: normal;
			text-align: left;
			& .descricao-preco {
				margin-bottom: 0;
			}
			& .valor-de {
				color: $grey;
				font-style: normal;
				font-weight: 500;
				text-align: left;
				strong {
					text-decoration: line-through;
				}
			}
			& .valor-por {
				@include rfs(32);
				color: $green;
				font-style: normal;
				font-weight: 700;
				margin-bottom: 6px;
				text-align: left;
				&::after {
					@include rfs(16);
					color: $grey;
					content: 'à vista';
					display: inline-block;
					font-weight: 400;
					margin-left: 10px;
				}
			}
			.preco-a-vista {
				display: none !important;
				visibility: hidden;
			}
			& .valor-dividido {
				@include rfs(15);
				bottom: 28px;
				color: $grey;
				display: flex;
				font-style: normal;
				font-weight: 400;
				left: 22%;
				margin: 5px 0;
				position: relative;
				text-align: left;
				strong {
					font-weight: 500;
				}
				span,
				label {
					display: inline-block;
					width: auto;
				}
				span {
					color: #fff;
					visibility: hidden;
				}
				.skuBestInstallmentValue {
					@include rfs(15);
					color: $grey;
					margin-left: -15px;
					visibility: visible;
					&::after {
						color: $grey;
						content: ' sem juros ';
						font-weight: 400;
					}
				}
				.skuBestInstallmentNumber {
					@include rfs(15);
					color: $grey;
					visibility: visible;
					span {
						color: $grey;
						visibility: visible;
					}
					&::before {
						color: $grey;
						content: ' em até ';
						font-weight: 400;
					}
					&::after {
						color: $grey;
						content: ' de ';
						font-weight: 400;
					}
				}
			}

			//desconto do boleto
			& .on-discount {
				@include rfs(16);
				color: $green-dark;
				font-style: normal;
				font-weight: 500;
				left: 0;
				margin: 0 0 2px 0;
				span {
					color: $grey;
					font-weight: 300;
				}
				strong {
					display: none;
				}
			}
			& .valor-discount {
				display: flex;
				flex-flow: column-reverse;
				 strong {
					 @include rfs(15);
					 color: $grey;
					 display: inline-block;
					 font-style: normal;
					 &::before {
					 	@include rfs(15);
						 color: $grey;
						 content: 'Ou ';
						 font-weight: 400;
					 }
				}
			}
		}
	}
	#BuyButton .buy-button,
	.product-info-bar__buy .buy-button {
		@include rfs(16);
		background-color: $green;
		border-radius: 50px;
		color: #fff;
		font-weight: 500;
		height: 48px;
		margin: 20px 0 0;
		max-width: 100%;
		padding: 12px 0;
		width: 200px !important;
		&:hover {
			background-color: $green-dark;
			height: 48px;
			line-height: 34px;
			padding: 7px 0;
			width: 200px;
		}
	}
	.valores-parcelas {
		.titulo-parcelamento {
			@include rfs(14);
			border: none;
			font-weight: 400;
		}
	}
	//selo desconto
	.economia-de {
		color: #fff;
		display: inline-block;
		height: 0;
		line-height: 0;
		visibility: hidden;
		width: 0;
		.economia {
			@include rfs (12);
			background-color: $pink;
			border-radius: 4px;
			color: #fff;
			display: inline-block;
			font-style: normal;
			font-weight: 700;
			height: 24px;
			line-height: 27px;
			position: relative;
			text-align: center;
			top: 20px;
			visibility: visible;
			width: 80px;
		}
	}
	.formas-pagamento-container {
		margin-bottom: 44px;
		margin-top: -55px;
		position: relative;
		width: 100%;
	}
	//voltagem
	.prod-sku-selector {
		display: inline-block;
		margin: 12px 0 10px;
		padding: 0;
		.sku-title-label {
			@include rfs(15);
			font-weight: 500;
			padding-bottom: 0;
		}
		.specification {
			display: none;
		}
		.group_0 {
			display: flex;
			label {
				margin-left: 6px;
				margin-right: 12px;
			}
		}
	}
	//trustvox-raiting
	.trustvox-rating {
		display: inline-block;
		margin: 4px 18px 0;
	}
	//frete
	.calc-frete {
		#popupCalculoFreteWrapper {
			display: block;
		}
	}
	.shipping-value {
		display: none;
	}
	#modal-sku {
		h1 {
			p {
				display: inline-block !important;
				margin-left: 10px;
			}
		}
		.buy-button {
			@include rfs(16);
			background-color: $green;
			border-radius: 50px;
			color: #fff;
			font-weight: 500;
			height: 48px;
			margin: 20px 0 0;
			max-width: 100%;
			padding: 12px 0;
			width: 200px !important;
			&:hover {
				background-color: $green-dark;
				height: 48px;
				line-height: 34px;
				padding: 7px 0;
				width: 200px;
			}
		}
	}
}
