@charset "UTF-8";

@if $use-com-scroll == true {

	// ===============================================================
	/* SCROLL */
	// ===============================================================

	@media (min-width: 768px) {
		.scroll {
			&, .viewport, .track { position: relative; }

			.overview, .scrollbar, .thumb { position: absolute; }

			.viewport { overflow: hidden; }

			.overview {
				left: 0;
				top: 0;
			}

			.scrollbar {
				right: -12px;
				top: 0;
				width: 6px;
			}

			.track {
				background-color: $sony-gray-l;
				height: 100%;
				padding: 0 1px;
				width: 6px;
			}

			.thumb {
				background-color: $sony-black-l;
				cursor: pointer;
				height: 20px;
				left: 0;
				overflow: hidden;
				top: 0;
				width: 6px;

				.end {
					display: none;
					overflow: hidden;
					height: 15px;
					width: 6px;
				}
			}

			.disable { display:none; }
		}

		.noSelect {
		-webkit-user-select:none;
		   -moz-user-select:none;
		 -khtml-user-select:none;
			 -o-user-select:none;
				user-select:none;
		}
	}
}