.flag.todos { display: none!important; }

.flag {
	font-size: 0;
	margin: 0;
	position: absolute;
}

.produto {
	// .FlagsHightLight,
	.prod-selos {
		.flag {
			margin-right: 60px;
			top: 0;

			@include breakpoint(extra-small, 'max') { margin-right: 0; }
		}
	}
}

$qtdColecaoSelos: 20;

body {
	.FlagsHightLight,
	.prod-selos,
	.flag {
		background-size: contain !important;
		bottom: 0;
		height: 30%;
		right: 0;
		transition: opacity .3s ease;
		width: 30%;
		z-index: 3;

		@include breakpoint(extra-small, 'max') {
			bottom: 80px;
			display: inline;
			height: 52px;
			right: 0;
			width: 52px;
		}

		@for $i from 1 through $qtdColecaoSelos {
			&[class*='cns-colecao-#{$i}'] {
				@include replaceText('#{$img-path}cns-selo-#{$i}.png', 0, 0);
			}
		}

		&.cns-black-friday-2016 {
			@include replaceText('#{$img-path}cns-selo-blackfriday-2016.png', 0, 100%);
		}
		&.-consul--cyber-monday-2016 {
			@include replaceText('#{$img-path}cns-selo-cybermonday-2016.png', 0, 100%);
		}
	}

}
