.flag.todos { display: none!important; }

.flag {
	font-size: 0;
	margin: 0;
	position: absolute;
}

body {

	.FlagsHightLight {
		bottom: 0;
		height: 30%;
		position: absolute;
		right: 0;
		width: 30%;
		z-index: 3;
	}
	.flag {
		background-size: contain !important;
		height: 100%;
		left: 0;
		width: 100%;
		&[class*='cns-colecao-1'] {
			@include replaceText('#{$img-path}cns-selo-1.png', left, bottom);
		}

		&[class*='cns-colecao-2'] {
			@include replaceText('#{$img-path}cns-selo-2.png', left, bottom);
		}

		&[class*='cns-colecao-3'] {
			@include replaceText('#{$img-path}cns-selo-3.png', left, bottom);
		}

		&[class*='cns-colecao-4'] {
			@include replaceText('#{$img-path}cns-selo-4.png', left, bottom);
		}

		&[class*='cns-colecao-5'] {
			@include replaceText('#{$img-path}cns-selo-5.png', left, bottom);
		}
	}

}
