.flag.todos { display: none!important; }

.flag {
	font-size: 0;
	margin: 0;
	position: absolute;
}

$qtdColecaoSelos: 10;

body {

	.FlagsHightLight {
		bottom: 0;
		height: 30%;
		position: absolute;
		right: 0;
		width: 30%;
		z-index: 3;
	}
	.flag {
		background-size: contain !important;
		height: 100%;
		left: 0;
		width: 100%;

		@for $i from 1 through $qtdColecaoSelos {
			&[class*='cns-colecao-#{$i}'] {
				@include replaceText('#{$img-path}cns-selo-#{$i}.png', 0, 0);
			}
		}

		&.cns-black-friday-2016 {
			@include replaceText('#{$img-path}cns-selo-blackfriday-2016.png', 0, 100%);
		}
		&.-consull--cyber-monday-2016 {
			@include replaceText('#{$img-path}cns-selo-cybermonday-2016.png', 0, 100%);
		}
	}

}
