@charset 'UTF-8';

.newsletter {
	display: none;

	@include breakpoint(extra-small, 'max') {
		display: inline-block;
		margin-bottom: 0;
		padding: 20px 0;

		.container {
			border: none !important;
			margin: 0 !important;
			padding: 0 !important;
			width: 100%;
		}
	}
}

.servicos {
	background: $gray-l;
	margin: 0;
	padding: 40px 0 70px 0;
	text-align: center;

	@include breakpoint(extra-small, 'max') {
		padding: 30px 0;

		.container {
			padding: 0 10px !important;
			width: 100%;
		}
	}

	.box {
		&>a:first-child {
			color: $txt-gray;
			text-decoration: none;
		}

		&:last-child {
			margin-right: 0;
		}

		@include breakpoint(small, 'max') {
			a.primary-button {
				@include responsiveFont(14, 16, true);
				padding: 10px 20px;
				width: 100%;
			}
		}

		@include breakpoint(extra-small, 'max') {
			border: 1px solid #747474;
			display: inline-block;
			margin: 10px 0;
			padding: 10px;
			padding-left: 60px;
			position: relative;
			text-align: left;
			width: 100%;

			&:before {
				@include contentBefore();
				@include icon-get('arrow-right');
				@include responsiveFont(12, 16, true);
				color: $orange;
				display: block;
				font-weight: bold !important;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
			}

			.icon {
				@include responsiveFont(24, 16, true);
				background-size: contain;
				height: 30px;
				left: 10px;
				margin-top: 0;
				position: absolute;
				text-align: center;
				top: 50%;
				transform: translateY(-50%);
				width: 30px;
			}

			a.primary-button { display: none; }
		}
	}

	.title {
		@include responsiveFont(38);
		font-weight: 400;
		line-height: 1.14;
		margin: 15px 0 35px;

		@include breakpoint(extra-small, 'max') {
			@include responsiveFont(16, 16, true);
			margin-bottom: 20px;
			padding: 0 10px;
			text-align: left;

			span { color: $green; }
		}

		span {
			display: inline-block;
			font-weight: 300;
		}
	}

	.icon {
		color: #fdb912;
		display: inline-block;
		height: 60px;
		margin-top: 40px;
	}

	.icon-consul-chat      { @include responsiveFont(46, 16, true); }
	.icon-consul-clipboard { @include responsiveFont(52, 16, true); }
	.icon-consul-boxes     { @include responsiveFont(42, 16, true); }

	.box-title {
		@include responsiveFont(18, 16, true);
		font-weight: normal;
		margin: 15px 0;
		padding: 0;

		@include breakpoint(extra-small, 'max') {
			@include responsiveFont(14, 16, true);
			margin: 0;
			margin-bottom: 5px;
		}
	}

	.box-text {
		@include responsiveFont(18);
		color: $txt-gray-l;
		padding: 0 20px;

		@include breakpoint(small, 'min') { min-height: 110px; }

		@include breakpoint(extra-large, 'min') { min-height: 80px; }

		@include breakpoint(extra-small, 'max') {
			@include responsiveFont(12, 16, true);
			padding: 0;
		}
	}

	.primary-button {
		font-weight: 400;
		margin-top: 5px;
		text-transform: uppercase;
		width: 100%;

		@include breakpoint(small, 'min') {
			width: 85%;
		}
	}
}