@charset 'UTF-8';

.shelf-category-home {
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	padding: 2em 0;

	a,
	span { display: block; }

	&-card {
		border: 1px solid #f1f0f0;
		border-radius: 4px;
		display: block;
		line-height: normal;
		margin: 7px;
		position: relative;
		transition: border-color .3s ease;
		width: 175px;

		// Coifa
		&.shelf-coifa { overflow: hidden; }

		&__image-container {
			bottom: 44px;
			height: 120px;
			overflow: hidden;
			padding: 5px 15px;
			position: absolute;
			width: 100%;
		}

		&__image {
			background-color: #fff;
			border-radius: 4px 4px 0 0;
			height: 85px;
			transition: background-color .3s ease;

			img {
				display: block;
				transition: transform .4s ease;
			}

			img[alt='Cervejeiras'] { transform: translateY(28px); }
			img[alt='Geladeiras'] { transform: translateY(52px); }
			img[alt='Cooktops'] { transform: translate(-90px, 20px); }
			img[alt='Coifas'] { transform: translate(-45px, -18px); }
			img[alt='Fornos'] { transform: translate(0, 38px); }
			img[alt='Lavadoras'] { transform: translate(0, 55px); }
		}

		&__text {
			background-color: #fff;
			border-radius: 0 0 4px 4px;
			border-top: 1px solid #f1f0f0;
			color: #736c6b;
			font-size: 14px;
			font-weight: bold;
			padding: 5px 15px;
			position: relative;
			z-index: 2;
		}

		&__title {
			color: #9aca3c;
			font-size: 14px;
			margin: 0;
		}

		// Hover
		&:hover {
			border-color: #9aca3c;
			box-shadow: 0 2px 7px rgba(0, 0, 0, .226);
			overflow: inherit;

			.shelf-category-home-card__image {
				background-color: #9aca3c;

				img[alt='Cervejeiras'] { transform: translateY(-30px); }
				img[alt='Geladeiras'] { transform: translateY(-5px); }
				img[alt='Cooktops'] { transform: translate(-60px, -28px); }
				img[alt='Coifas'] { transform: translate(-20px, -30px); }
				img[alt='Fornos'] { transform: translate(0, -18px); }
				img[alt='Lavadoras'] { transform: translate(0, 0); }
			}
		}
	}
}
