@charset 'UTF-8';
$bg-shelf-image: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTcyLjM5MyA4Ni4xODEiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiNmZmY7c3Ryb2tlOiNlM2UxZTE7fS5ie2NsaXAtcGF0aDp1cmwoI2EpO30uY3tmaWxsOm5vbmU7fS5kLC5le3N0cm9rZTpub25lO30uZXtmaWxsOiM5YWNhM2M7fTwvc3R5bGU+PGNsaXBQYXRoIGlkPSJhIj48cmVjdCBjbGFzcz0iYSIgd2lkdGg9IjE3Mi4zOTMiIGhlaWdodD0iODYuMTgxIiByeD0iNCIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMzAuNDMyIC0xNTkxLjMzMykiPjxnIGNsYXNzPSJiIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAuNDMyIDE1OTEuMzMzKSI+PGcgY2xhc3M9ImMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExMC43MjIgLTUuMTgyKSByb3RhdGUoNDUpIj48cGF0aCBjbGFzcz0iZCIgZD0iTTk5LjQ2NS4wMTdjNTEuNTE4LS45NzgsOTIuNDg5LDM5Ljk5Myw5MS41MTEsOTEuNTExbC00LjQsMjMxLjU5NWMtLjk3OCw1MS41MTgtNDMuNTM0LDk0LjA3NC05NS4wNTIsOTUuMDUyUy0uOTYxLDM3OC4xODEuMDE3LDMyNi42NjRsNC40LTIzMS41OTVDNS4zOTEsNDMuNTUxLDQ3Ljk0Ny45OTUsOTkuNDY1LjAxN1oiLz48cGF0aCBjbGFzcz0iZSIgZD0iTSAxMDEuMjY5NDg1NDczNjMyOCAyIEMgMTAwLjY4MzE3NDEzMzMwMDggMiAxMDAuMDg4Njk5MzQwODIwMyAyLjAwNTY0NTc1MTk1MzEyNSA5OS41MDI1NDA1ODgzNzg5MSAyLjAxNjgxNTE4NTU0Njg3NSBDIDkzLjMwNjgwMDg0MjI4NTE2IDIuMTM0MzY4ODk2NDg0Mzc1IDg3LjEwMzE3MjMwMjI0NjA5IDIuODc2MTI5MTUwMzkwNjI1IDgxLjA2NDAxMDYyMDExNzE5IDQuMjIxMjgyOTU4OTg0Mzc1IEMgNzUuMTc3NjQyODIyMjY1NjMgNS41MzI0NDAxODU1NDY4NzUgNjkuMzc1NjQwODY5MTQwNjMgNy40MzI0MzQwODIwMzEyNSA2My44MTkyMjE0OTY1ODIwMyA5Ljg2ODQ5OTc1NTg1OTM3NSBDIDU4LjM2MjEyMTU4MjAzMTI1IDEyLjI2MTA3Nzg4MDg1OTM4IDUzLjA4NjQ4NjgxNjQwNjI1IDE1LjE5NDQ4ODUyNTM5MDYzIDQ4LjEzODkwMDc1NjgzNTk0IDE4LjU4NzQzMjg2MTMyODEzIEMgNDMuMjM3Mjc0MTY5OTIxODggMjEuOTQ4NzkxNTAzOTA2MjUgMzguNjE1MDA1NDkzMTY0MDYgMjUuNzkwMTYxMTMyODEyNSAzNC40MDA0MzY0MDEzNjcxOSAzMC4wMDQ3NjA3NDIxODc1IEMgMzAuMTg1ODUyMDUwNzgxMjUgMzQuMjE5MjY4Nzk4ODI4MTMgMjYuMzQ0NTQzNDU3MDMxMjUgMzguODQxNTgzMjUxOTUzMTMgMjIuOTgzMTIzNzc5Mjk2ODggNDMuNzQzMTY0MDYyNSBDIDE5LjU5MDIyNTIxOTcyNjU2IDQ4LjY5MDczNDg2MzI4MTI1IDE2LjY1Njc1MzU0MDAzOTA2IDUzLjk2NjM2OTYyODkwNjI1IDE0LjI2NDIyMTE5MTQwNjI1IDU5LjQyMzU1MzQ2Njc5Njg4IEMgMTEuODI4MTcwNzc2MzY3MTkgNjQuOTc5OTE5NDMzNTkzNzUgOS45MjgxMTU4NDQ3MjY1NjMgNzAuNzgxOTIxMzg2NzE4NzUgOC42MTY5NTg2MTgxNjQwNjMgNzYuNjY4MjczOTI1NzgxMjUgQyA3LjI3MTgwNDgwOTU3MDMxMyA4Mi43MDc0Mjc5Nzg1MTU2MyA2LjUzMDEyMDg0OTYwOTM3NSA4OC45MTEwNzE3NzczNDM3NSA2LjQxMjQ5MDg0NDcyNjU2MyA5NS4xMDY4MTE1MjM0Mzc1IEwgMi4wMTY3OTk5MjY3NTc4MTMgMzI2LjcwMTUzODA4NTkzNzUgQyAxLjkwMDY1MDAyNDQxNDA2MyAzMzIuODIyMTc0MDcyMjY1NiAyLjM5MzY0NjI0MDIzNDM3NSAzMzguOTI3Nzk1NDEwMTU2MyAzLjQ4MjE3NzczNDM3NSAzNDQuODQ4ODQ2NDM1NTQ2OSBDIDQuNTQyNjk0MDkxNzk2ODc1IDM1MC42MTc5MTk5MjE4NzUgNi4xODE0ODgwMzcxMDkzNzUgMzU2LjI4NDYwNjkzMzU5MzggOC4zNTI5NjYzMDg1OTM3NSAzNjEuNjkxNDM2NzY3NTc4MSBDIDEwLjQ4NDY5NTQzNDU3MDMxIDM2Ni45OTk0MjAxNjYwMTU2IDEzLjE1MjIyMTY3OTY4NzUgMzcyLjExMzY0NzQ2MDkzNzUgMTYuMjgxMjgwNTE3NTc4MTMgMzc2Ljg5MjA1OTMyNjE3MTkgQyAxOS4zNzk5NTkxMDY0NDUzMSAzODEuNjIzOTYyNDAyMzQzOCAyMi45NTk3MDE1MzgwODU5NCAzODYuMDcwMzEyNSAyNi45MjExNzMwOTU3MDMxMyAzOTAuMTA3NjM1NDk4MDQ2OSBDIDMwLjg4MjkwNDA1MjczNDM4IDM5NC4xNDUyNjM2NzE4NzUgMzUuMjYwODQ4OTk5MDIzNDQgMzk3LjgwOTAyMDk5NjA5MzggMzkuOTMzMzgwMTI2OTUzMTMgNDAwLjk5NzAwOTI3NzM0MzggQyA0NC42NDc3NTA4NTQ0OTIxOSA0MDQuMjEzNTkyNTI5Mjk2OSA0OS43MDU1MzU4ODg2NzE4OCA0MDYuOTc1MjgwNzYxNzE4OCA1NC45NjYxNzEyNjQ2NDg0NCA0MDkuMjA1NDc0ODUzNTE1NiBDIDYwLjMyMDY5Mzk2OTcyNjU2IDQxMS40NzU0MzMzNDk2MDk0IDY1Ljk0MjQ4OTYyNDAyMzQ0IDQxMy4yMTg1MzYzNzY5NTMxIDcxLjY3NTQ4MzcwMzYxMzI4IDQxNC4zODYzMjIwMjE0ODQ0IEMgNzcuNTU1NzQ3OTg1ODM5ODQgNDE1LjU4NDE2NzQ4MDQ2ODggODMuNjI3Nzk5OTg3NzkyOTcgNDE2LjE5MTQ5NzgwMjczNDQgODkuNzIzMDE0ODMxNTQyOTcgNDE2LjE5MTQ5NzgwMjczNDQgQyA5MC4zMDkzMjYxNzE4NzUgNDE2LjE5MTQ5NzgwMjczNDQgOTAuOTAzODAwOTY0MzU1NDcgNDE2LjE4NTg1MjA1MDc4MTMgOTEuNDg5OTU5NzE2Nzk2ODggNDE2LjE3NDY4MjYxNzE4NzUgQyA5Ny42ODU2OTk0NjI4OTA2MyA0MTYuMDU3MDY3ODcxMDkzOCAxMDMuODg5MzI4MDAyOTI5NyA0MTUuMzE1MzY4NjUyMzQzOCAxMDkuOTI4NDM2Mjc5Mjk2OSA0MTMuOTcwMjE0ODQzNzUgQyAxMTUuODE0ODU3NDgyOTEwMiA0MTIuNjU5MDU3NjE3MTg3NSAxMjEuNjE2ODUxODA2NjQwNiA0MTAuNzU5MDAyNjg1NTQ2OSAxMjcuMTczMjE3NzczNDM3NSA0MDguMzIyOTY3NTI5Mjk2OSBDIDEzMi42MzAzMjUzMTczODI4IDQwNS45MzA0MTk5MjE4NzUgMTM3LjkwNTk2MDA4MzAwNzggNDAyLjk5Njk0ODI0MjE4NzUgMTQyLjg1MzU0NjE0MjU3ODEgMzk5LjYwNDA2NDk0MTQwNjMgQyAxNDcuNzU1MTcyNzI5NDkyMiAzOTYuMjQyNjQ1MjYzNjcxOSAxNTIuMzc3NDQxNDA2MjUgMzkyLjQwMTMzNjY2OTkyMTkgMTU2LjU5MjAxMDQ5ODA0NjkgMzg4LjE4NjczNzA2MDU0NjkgQyAxNjAuODA2NTk0ODQ4NjMyOCAzODMuOTcyMTY3OTY4NzUgMTY0LjY0NzkwMzQ0MjM4MjggMzc5LjM0OTkxNDU1MDc4MTMgMTY4LjAwOTMyMzEyMDExNzIgMzc0LjQ0ODI3MjcwNTA3ODEgQyAxNzEuNDAyMjIxNjc5Njg3NSAzNjkuNTAwNzAxOTA0Mjk2OSAxNzQuMzM1NjkzMzU5Mzc1IDM2NC4yMjUwNjcxMzg2NzE5IDE3Ni43MjgyMjU3MDgwMDc4IDM1OC43Njc5NDQzMzU5Mzc1IEMgMTc5LjE2NDI3NjEyMzA0NjkgMzUzLjIxMTU0Nzg1MTU2MjUgMTgxLjA2NDMzMTA1NDY4NzUgMzQ3LjQwOTU0NTg5ODQzNzUgMTgyLjM3NTQ4ODI4MTI1IDM0MS41MjMxNjI4NDE3OTY5IEMgMTgzLjcyMDY0MjA4OTg0MzggMzM1LjQ4NDAwODc4OTA2MjUgMTg0LjQ2MjMyNjA0OTgwNDcgMzI5LjI4MDM5NTUwNzgxMjUgMTg0LjU3OTk1NjA1NDY4NzUgMzIzLjA4NDY1NTc2MTcxODggTCAxODguOTc1NjQ2OTcyNjU2MyA5MS40ODk4OTg2ODE2NDA2MyBDIDE4OS4wOTE3OTY4NzUgODUuMzY5MjYyNjk1MzEyNSAxODguNTk4ODAwNjU5MTc5NyA3OS4yNjM2NDEzNTc0MjE4OCAxODcuNTEwMjY5MTY1MDM5MSA3My4zNDI1MjkyOTY4NzUgQyAxODYuNDQ5NjkxNzcyNDYwOSA2Ny41NzM1NDczNjMyODEyNSAxODQuODEwOTU4ODYyMzA0NyA2MS45MDY4NjAzNTE1NjI1IDE4Mi42Mzk0MzQ4MTQ0NTMxIDU2LjQ5OTk2OTQ4MjQyMTg4IEMgMTgwLjUwNzY5MDQyOTY4NzUgNTEuMTkyMDE2NjAxNTYyNSAxNzcuODQwMjI1MjE5NzI2NiA0Ni4wNzc3NTg3ODkwNjI1IDE3NC43MTExMjA2MDU0Njg4IDQxLjI5OTM3NzQ0MTQwNjI1IEMgMTcxLjYxMjQyNjc1NzgxMjUgMzYuNTY3NDc0MzY1MjM0MzggMTY4LjAzMjY5OTU4NDk2MDkgMzIuMTIxMTI0MjY3NTc4MTMgMTY0LjA3MTI3MzgwMzcxMDkgMjguMDgzODAxMjY5NTMxMjUgQyAxNjAuMTA5NTQyODQ2Njc5NyAyNC4wNDYxNzMwOTU3MDMxMyAxNTUuNzMxNTk3OTAwMzkwNiAyMC4zODI0NDYyODkwNjI1IDE1MS4wNTkwMjA5OTYwOTM4IDE3LjE5NDQyNzQ5MDIzNDM4IEMgMTQ2LjM0NDYzNTAwOTc2NTYgMTMuOTc3OTA1MjczNDM3NSAxNDEuMjg2OTExMDEwNzQyMiAxMS4yMTYxNTYwMDU4NTkzOCAxMzYuMDI2Mjc1NjM0NzY1NiA4Ljk4NjAyMjk0OTIxODc1IEMgMTMwLjY3MTc1MjkyOTY4NzUgNi43MTYwNjQ0NTMxMjUgMTI1LjA0OTk1NzI3NTM5MDYgNC45NzI5NjE0MjU3ODEyNSAxMTkuMzE2OTYzMTk1ODAwOCAzLjgwNTE3NTc4MTI1IEMgMTEzLjQzNjc1MjMxOTMzNTkgMi42MDczMzAzMjIyNjU2MjUgMTA3LjM2NDcwMDMxNzM4MjggMiAxMDEuMjY5NDg1NDczNjMyOCAyIE0gMTAxLjI2OTQ4NTQ3MzYzMjggMy4wNTE3NTc4MTI1ZS0wNSBDIDE1MS45MzkzOTIwODk4NDM4IDMuMDUxNzU3ODEyNWUtMDUgMTkxLjk0MTY2NTY0OTQxNDEgNDAuNjEwNjU2NzM4MjgxMjUgMTkwLjk3NTI4MDc2MTcxODggOTEuNTI3ODYyNTQ4ODI4MTMgTCAxODYuNTc5NTg5ODQzNzUgMzIzLjEyMjU4OTExMTMyODEgQyAxODUuNjAxNzQ1NjA1NDY4OCAzNzQuNjQwNDQxODk0NTMxMyAxNDMuMDQ1NzAwMDczMjQyMiA0MTcuMTk2NDcyMTY3OTY4OCA5MS41Mjc5MDgzMjUxOTUzMSA0MTguMTc0MzE2NDA2MjUgQyA5MC45MjczMzAwMTcwODk4NCA0MTguMTg1NzI5OTgwNDY4OCA5MC4zMjA2NzEwODE1NDI5NyA0MTguMTkxNDY3Mjg1MTU2MyA4OS43MjMwMTQ4MzE1NDI5NyA0MTguMTkxNDY3Mjg1MTU2MyBDIDM5LjA1MzA1NDgwOTU3MDMxIDQxOC4xOTE0NjcyODUxNTYzIC0wLjk0OTI2NDUyNjM2NzE4NzUgMzc3LjU4MDgxMDU0Njg3NSAwLjAxNzE2NjEzNzY5NTMxMjUgMzI2LjY2MzU3NDIxODc1IEwgNC40MTI4NTcwNTU2NjQwNjMgOTUuMDY4ODQ3NjU2MjUgQyA1LjM5MDcwMTI5Mzk0NTMxMyA0My41NTEwNTU5MDgyMDMxMyA0Ny45NDY3NDY4MjYxNzE4OCAwLjk5NDk2NDU5OTYwOTM3NSA5OS40NjQ1OTE5Nzk5ODA0NyAwLjAxNzE4MTM5NjQ4NDM3NSBDIDEwMC4wNjUxNzAyODgwODU5IDAuMDA1NzY3ODIyMjY1NjI1IDEwMC42NzE4MjkyMjM2MzI4IDMuMDUxNzU3ODEyNWUtMDUgMTAxLjI2OTQ4NTQ3MzYzMjggMy4wNTE3NTc4MTI1ZS0wNSBaIi8+PC9nPjwvZz48L2c+PC9zdmc+';
$bg-shelf-image-white: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTcyLjM5MyA4Ni4xODEiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOiNmZmY7c3Ryb2tlOiNlM2UxZTE7fS5ie2NsaXAtcGF0aDp1cmwoI2EpO30uY3tmaWxsOm5vbmU7fS5kLC5le3N0cm9rZTpub25lO30uZXtmaWxsOiNmZmY7fTwvc3R5bGU+PGNsaXBQYXRoIGlkPSJhIj48cmVjdCBjbGFzcz0iYSIgd2lkdGg9IjE3Mi4zOTMiIGhlaWdodD0iODYuMTgxIiByeD0iNCIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMzAuNDMyIC0xNTkxLjMzMykiPjxnIGNsYXNzPSJiIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMzAuNDMyIDE1OTEuMzMzKSI+PGcgY2xhc3M9ImMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExMC43MjIgLTUuMTgyKSByb3RhdGUoNDUpIj48cGF0aCBjbGFzcz0iZCIgZD0iTTk5LjQ2NS4wMTdjNTEuNTE4LS45NzgsOTIuNDg5LDM5Ljk5Myw5MS41MTEsOTEuNTExbC00LjQsMjMxLjU5NWMtLjk3OCw1MS41MTgtNDMuNTM0LDk0LjA3NC05NS4wNTIsOTUuMDUyUy0uOTYxLDM3OC4xODEuMDE3LDMyNi42NjRsNC40LTIzMS41OTVDNS4zOTEsNDMuNTUxLDQ3Ljk0Ny45OTUsOTkuNDY1LjAxN1oiLz48cGF0aCBjbGFzcz0iZSIgZD0iTSAxMDEuMjY5NDg1NDczNjMyOCAyIEMgMTAwLjY4MzE3NDEzMzMwMDggMiAxMDAuMDg4Njk5MzQwODIwMyAyLjAwNTY0NTc1MTk1MzEyNSA5OS41MDI1NDA1ODgzNzg5MSAyLjAxNjgxNTE4NTU0Njg3NSBDIDkzLjMwNjgwMDg0MjI4NTE2IDIuMTM0MzY4ODk2NDg0Mzc1IDg3LjEwMzE3MjMwMjI0NjA5IDIuODc2MTI5MTUwMzkwNjI1IDgxLjA2NDAxMDYyMDExNzE5IDQuMjIxMjgyOTU4OTg0Mzc1IEMgNzUuMTc3NjQyODIyMjY1NjMgNS41MzI0NDAxODU1NDY4NzUgNjkuMzc1NjQwODY5MTQwNjMgNy40MzI0MzQwODIwMzEyNSA2My44MTkyMjE0OTY1ODIwMyA5Ljg2ODQ5OTc1NTg1OTM3NSBDIDU4LjM2MjEyMTU4MjAzMTI1IDEyLjI2MTA3Nzg4MDg1OTM4IDUzLjA4NjQ4NjgxNjQwNjI1IDE1LjE5NDQ4ODUyNTM5MDYzIDQ4LjEzODkwMDc1NjgzNTk0IDE4LjU4NzQzMjg2MTMyODEzIEMgNDMuMjM3Mjc0MTY5OTIxODggMjEuOTQ4NzkxNTAzOTA2MjUgMzguNjE1MDA1NDkzMTY0MDYgMjUuNzkwMTYxMTMyODEyNSAzNC40MDA0MzY0MDEzNjcxOSAzMC4wMDQ3NjA3NDIxODc1IEMgMzAuMTg1ODUyMDUwNzgxMjUgMzQuMjE5MjY4Nzk4ODI4MTMgMjYuMzQ0NTQzNDU3MDMxMjUgMzguODQxNTgzMjUxOTUzMTMgMjIuOTgzMTIzNzc5Mjk2ODggNDMuNzQzMTY0MDYyNSBDIDE5LjU5MDIyNTIxOTcyNjU2IDQ4LjY5MDczNDg2MzI4MTI1IDE2LjY1Njc1MzU0MDAzOTA2IDUzLjk2NjM2OTYyODkwNjI1IDE0LjI2NDIyMTE5MTQwNjI1IDU5LjQyMzU1MzQ2Njc5Njg4IEMgMTEuODI4MTcwNzc2MzY3MTkgNjQuOTc5OTE5NDMzNTkzNzUgOS45MjgxMTU4NDQ3MjY1NjMgNzAuNzgxOTIxMzg2NzE4NzUgOC42MTY5NTg2MTgxNjQwNjMgNzYuNjY4MjczOTI1NzgxMjUgQyA3LjI3MTgwNDgwOTU3MDMxMyA4Mi43MDc0Mjc5Nzg1MTU2MyA2LjUzMDEyMDg0OTYwOTM3NSA4OC45MTEwNzE3NzczNDM3NSA2LjQxMjQ5MDg0NDcyNjU2MyA5NS4xMDY4MTE1MjM0Mzc1IEwgMi4wMTY3OTk5MjY3NTc4MTMgMzI2LjcwMTUzODA4NTkzNzUgQyAxLjkwMDY1MDAyNDQxNDA2MyAzMzIuODIyMTc0MDcyMjY1NiAyLjM5MzY0NjI0MDIzNDM3NSAzMzguOTI3Nzk1NDEwMTU2MyAzLjQ4MjE3NzczNDM3NSAzNDQuODQ4ODQ2NDM1NTQ2OSBDIDQuNTQyNjk0MDkxNzk2ODc1IDM1MC42MTc5MTk5MjE4NzUgNi4xODE0ODgwMzcxMDkzNzUgMzU2LjI4NDYwNjkzMzU5MzggOC4zNTI5NjYzMDg1OTM3NSAzNjEuNjkxNDM2NzY3NTc4MSBDIDEwLjQ4NDY5NTQzNDU3MDMxIDM2Ni45OTk0MjAxNjYwMTU2IDEzLjE1MjIyMTY3OTY4NzUgMzcyLjExMzY0NzQ2MDkzNzUgMTYuMjgxMjgwNTE3NTc4MTMgMzc2Ljg5MjA1OTMyNjE3MTkgQyAxOS4zNzk5NTkxMDY0NDUzMSAzODEuNjIzOTYyNDAyMzQzOCAyMi45NTk3MDE1MzgwODU5NCAzODYuMDcwMzEyNSAyNi45MjExNzMwOTU3MDMxMyAzOTAuMTA3NjM1NDk4MDQ2OSBDIDMwLjg4MjkwNDA1MjczNDM4IDM5NC4xNDUyNjM2NzE4NzUgMzUuMjYwODQ4OTk5MDIzNDQgMzk3LjgwOTAyMDk5NjA5MzggMzkuOTMzMzgwMTI2OTUzMTMgNDAwLjk5NzAwOTI3NzM0MzggQyA0NC42NDc3NTA4NTQ0OTIxOSA0MDQuMjEzNTkyNTI5Mjk2OSA0OS43MDU1MzU4ODg2NzE4OCA0MDYuOTc1MjgwNzYxNzE4OCA1NC45NjYxNzEyNjQ2NDg0NCA0MDkuMjA1NDc0ODUzNTE1NiBDIDYwLjMyMDY5Mzk2OTcyNjU2IDQxMS40NzU0MzMzNDk2MDk0IDY1Ljk0MjQ4OTYyNDAyMzQ0IDQxMy4yMTg1MzYzNzY5NTMxIDcxLjY3NTQ4MzcwMzYxMzI4IDQxNC4zODYzMjIwMjE0ODQ0IEMgNzcuNTU1NzQ3OTg1ODM5ODQgNDE1LjU4NDE2NzQ4MDQ2ODggODMuNjI3Nzk5OTg3NzkyOTcgNDE2LjE5MTQ5NzgwMjczNDQgODkuNzIzMDE0ODMxNTQyOTcgNDE2LjE5MTQ5NzgwMjczNDQgQyA5MC4zMDkzMjYxNzE4NzUgNDE2LjE5MTQ5NzgwMjczNDQgOTAuOTAzODAwOTY0MzU1NDcgNDE2LjE4NTg1MjA1MDc4MTMgOTEuNDg5OTU5NzE2Nzk2ODggNDE2LjE3NDY4MjYxNzE4NzUgQyA5Ny42ODU2OTk0NjI4OTA2MyA0MTYuMDU3MDY3ODcxMDkzOCAxMDMuODg5MzI4MDAyOTI5NyA0MTUuMzE1MzY4NjUyMzQzOCAxMDkuOTI4NDM2Mjc5Mjk2OSA0MTMuOTcwMjE0ODQzNzUgQyAxMTUuODE0ODU3NDgyOTEwMiA0MTIuNjU5MDU3NjE3MTg3NSAxMjEuNjE2ODUxODA2NjQwNiA0MTAuNzU5MDAyNjg1NTQ2OSAxMjcuMTczMjE3NzczNDM3NSA0MDguMzIyOTY3NTI5Mjk2OSBDIDEzMi42MzAzMjUzMTczODI4IDQwNS45MzA0MTk5MjE4NzUgMTM3LjkwNTk2MDA4MzAwNzggNDAyLjk5Njk0ODI0MjE4NzUgMTQyLjg1MzU0NjE0MjU3ODEgMzk5LjYwNDA2NDk0MTQwNjMgQyAxNDcuNzU1MTcyNzI5NDkyMiAzOTYuMjQyNjQ1MjYzNjcxOSAxNTIuMzc3NDQxNDA2MjUgMzkyLjQwMTMzNjY2OTkyMTkgMTU2LjU5MjAxMDQ5ODA0NjkgMzg4LjE4NjczNzA2MDU0NjkgQyAxNjAuODA2NTk0ODQ4NjMyOCAzODMuOTcyMTY3OTY4NzUgMTY0LjY0NzkwMzQ0MjM4MjggMzc5LjM0OTkxNDU1MDc4MTMgMTY4LjAwOTMyMzEyMDExNzIgMzc0LjQ0ODI3MjcwNTA3ODEgQyAxNzEuNDAyMjIxNjc5Njg3NSAzNjkuNTAwNzAxOTA0Mjk2OSAxNzQuMzM1NjkzMzU5Mzc1IDM2NC4yMjUwNjcxMzg2NzE5IDE3Ni43MjgyMjU3MDgwMDc4IDM1OC43Njc5NDQzMzU5Mzc1IEMgMTc5LjE2NDI3NjEyMzA0NjkgMzUzLjIxMTU0Nzg1MTU2MjUgMTgxLjA2NDMzMTA1NDY4NzUgMzQ3LjQwOTU0NTg5ODQzNzUgMTgyLjM3NTQ4ODI4MTI1IDM0MS41MjMxNjI4NDE3OTY5IEMgMTgzLjcyMDY0MjA4OTg0MzggMzM1LjQ4NDAwODc4OTA2MjUgMTg0LjQ2MjMyNjA0OTgwNDcgMzI5LjI4MDM5NTUwNzgxMjUgMTg0LjU3OTk1NjA1NDY4NzUgMzIzLjA4NDY1NTc2MTcxODggTCAxODguOTc1NjQ2OTcyNjU2MyA5MS40ODk4OTg2ODE2NDA2MyBDIDE4OS4wOTE3OTY4NzUgODUuMzY5MjYyNjk1MzEyNSAxODguNTk4ODAwNjU5MTc5NyA3OS4yNjM2NDEzNTc0MjE4OCAxODcuNTEwMjY5MTY1MDM5MSA3My4zNDI1MjkyOTY4NzUgQyAxODYuNDQ5NjkxNzcyNDYwOSA2Ny41NzM1NDczNjMyODEyNSAxODQuODEwOTU4ODYyMzA0NyA2MS45MDY4NjAzNTE1NjI1IDE4Mi42Mzk0MzQ4MTQ0NTMxIDU2LjQ5OTk2OTQ4MjQyMTg4IEMgMTgwLjUwNzY5MDQyOTY4NzUgNTEuMTkyMDE2NjAxNTYyNSAxNzcuODQwMjI1MjE5NzI2NiA0Ni4wNzc3NTg3ODkwNjI1IDE3NC43MTExMjA2MDU0Njg4IDQxLjI5OTM3NzQ0MTQwNjI1IEMgMTcxLjYxMjQyNjc1NzgxMjUgMzYuNTY3NDc0MzY1MjM0MzggMTY4LjAzMjY5OTU4NDk2MDkgMzIuMTIxMTI0MjY3NTc4MTMgMTY0LjA3MTI3MzgwMzcxMDkgMjguMDgzODAxMjY5NTMxMjUgQyAxNjAuMTA5NTQyODQ2Njc5NyAyNC4wNDYxNzMwOTU3MDMxMyAxNTUuNzMxNTk3OTAwMzkwNiAyMC4zODI0NDYyODkwNjI1IDE1MS4wNTkwMjA5OTYwOTM4IDE3LjE5NDQyNzQ5MDIzNDM4IEMgMTQ2LjM0NDYzNTAwOTc2NTYgMTMuOTc3OTA1MjczNDM3NSAxNDEuMjg2OTExMDEwNzQyMiAxMS4yMTYxNTYwMDU4NTkzOCAxMzYuMDI2Mjc1NjM0NzY1NiA4Ljk4NjAyMjk0OTIxODc1IEMgMTMwLjY3MTc1MjkyOTY4NzUgNi43MTYwNjQ0NTMxMjUgMTI1LjA0OTk1NzI3NTM5MDYgNC45NzI5NjE0MjU3ODEyNSAxMTkuMzE2OTYzMTk1ODAwOCAzLjgwNTE3NTc4MTI1IEMgMTEzLjQzNjc1MjMxOTMzNTkgMi42MDczMzAzMjIyNjU2MjUgMTA3LjM2NDcwMDMxNzM4MjggMiAxMDEuMjY5NDg1NDczNjMyOCAyIE0gMTAxLjI2OTQ4NTQ3MzYzMjggMy4wNTE3NTc4MTI1ZS0wNSBDIDE1MS45MzkzOTIwODk4NDM4IDMuMDUxNzU3ODEyNWUtMDUgMTkxLjk0MTY2NTY0OTQxNDEgNDAuNjEwNjU2NzM4MjgxMjUgMTkwLjk3NTI4MDc2MTcxODggOTEuNTI3ODYyNTQ4ODI4MTMgTCAxODYuNTc5NTg5ODQzNzUgMzIzLjEyMjU4OTExMTMyODEgQyAxODUuNjAxNzQ1NjA1NDY4OCAzNzQuNjQwNDQxODk0NTMxMyAxNDMuMDQ1NzAwMDczMjQyMiA0MTcuMTk2NDcyMTY3OTY4OCA5MS41Mjc5MDgzMjUxOTUzMSA0MTguMTc0MzE2NDA2MjUgQyA5MC45MjczMzAwMTcwODk4NCA0MTguMTg1NzI5OTgwNDY4OCA5MC4zMjA2NzEwODE1NDI5NyA0MTguMTkxNDY3Mjg1MTU2MyA4OS43MjMwMTQ4MzE1NDI5NyA0MTguMTkxNDY3Mjg1MTU2MyBDIDM5LjA1MzA1NDgwOTU3MDMxIDQxOC4xOTE0NjcyODUxNTYzIC0wLjk0OTI2NDUyNjM2NzE4NzUgMzc3LjU4MDgxMDU0Njg3NSAwLjAxNzE2NjEzNzY5NTMxMjUgMzI2LjY2MzU3NDIxODc1IEwgNC40MTI4NTcwNTU2NjQwNjMgOTUuMDY4ODQ3NjU2MjUgQyA1LjM5MDcwMTI5Mzk0NTMxMyA0My41NTEwNTU5MDgyMDMxMyA0Ny45NDY3NDY4MjYxNzE4OCAwLjk5NDk2NDU5OTYwOTM3NSA5OS40NjQ1OTE5Nzk5ODA0NyAwLjAxNzE4MTM5NjQ4NDM3NSBDIDEwMC4wNjUxNzAyODgwODU5IDAuMDA1NzY3ODIyMjY1NjI1IDEwMC42NzE4MjkyMjM2MzI4IDMuMDUxNzU3ODEyNWUtMDUgMTAxLjI2OTQ4NTQ3MzYzMjggMy4wNTE3NTc4MTI1ZS0wNSBaIi8+PC9nPjwvZz48L2c+PC9zdmc+';

.shelf-category-home-container {
	background-color: #f4f4f4;
	overflow: hidden;
	padding: 2em 0;
}

.shelf-category-home {
	@include breakpoint('small', 'max') {
		margin-bottom: 1em;
		margin-left: -5px;
		padding: 0;
		width: 42%;
	}

	// Ajustes no slick que quebra a layout
	&,
	.slick-track {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.slick-list.draggable {
		@include breakpoint('small', 'max') {
			overflow: inherit;

			&:before {
				background-color: #f4f4f4;
				content: '';
				display: block;
				height: 105%;
				position: absolute;
				right: 102%;
				top: 0;
				width: 100%;
				z-index: 2;
			}
		}
	}

	.slick-track { padding: 1.5em 0; }
	.slick-list { width: 100%; }
	.slick-prev { left: -2%; }
	.slick-next { right: -2%; }

	.slick-disabled {
		cursor: inherit;
		filter: grayscale(30);
		opacity: .7;
	}

	.slick-dots {
		@include breakpoint('small', 'max') {
			bottom: 0;
			left: 2px;
			text-align: left;
			width: 150px;
		}

		li {
			margin: 0;

			button {
				height: 8px;
				width: 8px;

				&:after { display: none!important; }
			}

			&.slick-active {
				button { background-color: #9aca3c; }
			}
		}
	}

	a,
	span { display: block; }

	// Cards
	&-card {
		border: 1px solid #f1f0f0;
		border-radius: 4px;
		display: block;
		line-height: normal;
		margin: 7px;
		position: relative;
		transition: border-color .3s ease;
		width: 175px;

		// Coifa
		&.shelf-coifa { overflow: hidden; }

		&__image-container {
			bottom: 44px;
			height: 120px;
			overflow: hidden;
			padding: 5px 15px;
			position: absolute;
			width: 100%;
		}

		&__image {
			background-color: #fff;
			background-image: url($bg-shelf-image);
			background-position: bottom right;
			background-size: cover;
			border-radius: 4px 4px 0 0;
			height: 85px;
			transition: background-color .3s ease;

			img {
				display: block;
				margin: 0;
				transition: transform .4s ease;
			}

			img[alt='Geladeiras'] {
				@include breakpoint('small', 'max') { max-width: 70px; }
				transform: translate(0, 52px);
			}

			img[alt='Fogões'] {
				@include breakpoint('small', 'max') { max-width: 155px; }
				transform: translate(-42px, 45px);
			}

			img[alt='Lavadoras'] {
				@include breakpoint('small', 'max') { max-width: 70px; }
				transform: translate(0, 55px);
			}

			img[alt='Fornos'] {
				@include breakpoint('small', 'max') { max-width: 100px; }
				transform: translate(0, 38px);
			}

			img[alt='Cervejeiras'] {
				@include breakpoint('small', 'max') { max-width: 75px; }
				transform: translate(0, 28px);
			}

			img[alt='Coifas'] {
				@include breakpoint('small', 'max') { max-width: 150px; }
				transform: translate(-45px, -15px);
			}

			img[alt='Cooktops'] {
				@include breakpoint('small', 'max') { max-width: 195px; }
				transform: translate(-90px, 20px);
			}

			img[alt='Purificadores'] {
				@include breakpoint('small', 'max') {
					max-width: 110px;
					transform: translate(-20px, 38px);
				}
				transform: translate(-35px, 38px);
			}
		}

		&__text {
			background-color: #fff;
			border-radius: 0 0 4px 4px;
			border-top: 1px solid #f1f0f0;
			color: #736c6b;
			font-size: 14px;
			font-weight: bold;
			padding: 5px 15px;
			position: relative;
			z-index: 2;
		}

		&__title {
			color: #9aca3c;
			font-size: 14px;
			margin: 0;
		}

		// Hover and Active state
		// - Usando o mixin pra ter um único lugar para alterar, porque o comportamento
		// - é diferente no desktop e no mobile)
		@mixin activeState {
			border-color: #9aca3c;
			box-shadow: 0 2px 7px rgba(0, 0, 0, .226);
			overflow: inherit;

			.shelf-category-home-card__image {
				background-color: #9aca3c;
				background-image: url($bg-shelf-image-white);

				img[alt='Geladeiras'] { transform: translate(20px, 5px); }
				img[alt='Fogões'] { transform: translate(-20px, 0); }
				img[alt='Lavadoras'] { transform: translate(20px, 7px); }
				img[alt='Cervejeiras'] { transform: translate(15px, -20px); }
				img[alt='Cooktops'] { transform: translate(-60px, -25px); }
				img[alt='Coifas'] { transform: translate(-20px, -21px); }
				img[alt='Fornos'] {
					@include breakpoint('small', 'max') { transform: translate(3px, -9px); }
					transform: translate(10px, -9px);
				}
				img[alt='Purificadores'] {
					@include breakpoint('small', 'max') { max-width: 100px; }
					transform: translate(-5px, 5px);
				}
			}
		}

		&:hover {
			@include breakpoint('medium', 'min') { @include activeState; }
		}
		&.slick-current {
			@include breakpoint('medium', 'max') { @include activeState; }
		}
	}
}
