
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {

	-moz-box-sizing: border-box;
	-moz-user-select: none;

	-ms-touch-action: none;
	-ms-user-select: none;

	// -webkit-touch-callout: none;
	-webkit-user-select: none;

	box-sizing: border-box;
}
.noUi-target {
	border-radius: 10px;
	direction: ltr;
	position: relative;
}
.noUi-base {
	-webkit-transform: translate3d(0, 0, 0);

	height: 100%;
	position: relative;
	transform: translate3d(0, 0, 0);
	width: 100%;
}
.noUi-origin {
	border: 1px solid darken($sony-blue, 10%);
	border-radius: 10px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	/*box-shadow: inset 0 0 1px #FFF,
	inset 0 1px 7px #EBEBEB,
	0 3px 6px -3px #BBB;*/
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
	z-index: -1;
}
.noUi-state-tap .noUi-origin {
	-webkit-transition: left .3s, top .3s;
			transition: left .3s, top .3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 5px;
}
.noUi-horizontal .noUi-handle {
	background-color: $sony-blue;
	border-radius: 50%;
	height: 15px;
	left: -8px;
	top: -5px;
	width: 15px;
}

/* Styling;
 */
.noUi-background {
	background-color: $sony-gray;
	/*box-shadow: inset 0 1px 1px #f0f0f0;*/
}
.noUi-connect {
	/*box-shadow: inset 0 0 3px rgba(51,51,51,0.45);*/
	-webkit-transition: background 450ms;
	background-color: $sony-blue;
	transition: background 450ms;
}

.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51, 51, 51, .45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
	cursor: w-resize;
}

.noUi-active {
	background: darken($sony-blue, 20%);
	border: 1px solid darken($sony-blue, 30%);
	
	/*box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #DDD,
				0 3px 6px -3px #BBB;*/
}

/* Handle stripes;
 */
/*.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 * /
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled] .noUi-handle {
	cursor: not-allowed;
}
*/
