$background : #272727;

body {
	.banners {
		display: none !important;
	}
.banners-mobile {
	@include breakpoint('small', 'min') { display: none; }
}

	.banners-static {
		@include breakpoint('small', 'max') { display: none; }
		background-color: $background;
		height: 500px;
		line-height: 0;
		overflow: hidden;

		.slider-banner {
			display: inline-block;
			height: 500px;
			overflow: hidden;
			width: 66.5%;
		}

		.lateral-banners {
			display: inline-block;
			height: 500px;
			overflow: hidden;
			width: 33.5%;
			.box-banner {
				height: 240px;
				width: 100%;
			}
		}

		.box-banner {
			line-height: 0;
			margin-bottom: 0;

			img {
				height: auto;
    			width: 100%;
			}
		}
	}
}
