$background : #272727;

body {

	&.home-bf-2019 {
		.banners {
			display: none!important;
		}
	}

	.banners-static {
		@include breakpoint('small', 'max') { display: none; }
		background-color: $background;
		line-height: 0;

		.slider-banner {
			display: inline-block;
			height: 100%;
			width: 66.5%;
		}

		.lateral-banners {
			display: inline-block;
			height: auto;
			width: 33.5%;
		}

		.box-banner {
			line-height: 0;
			margin-bottom: 0;

			img {
				height: auto;
    			width: 100%;
			}
		}
	}
}