// @import '../../../node_modules/bootstrap/scss/grid';
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "src/Styles/helpers/rfs";
//HELPERS
@import "src/Styles/helpers/variables";
@import "src/Styles/helpers/mixins";
@import "src/Styles/helpers/functions";

$grey: #736c6b;
$green: #9bca3d;
$grey-claro: #e5e5e5;

#close {
	background-color: #fff;
	background-image: url('data:image/svg+xml,%3Csvg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.1152 15.4029C13.6464 15.9342 14.5078 15.9342 15.0391 15.4029C15.57 14.872 15.5704 14.0115 15.0401 13.48L9.75408 8.18244L15.0401 2.88484C15.5704 2.3534 15.57 1.49284 15.0391 0.961976C14.5078 0.430701 13.6464 0.430701 13.1152 0.961976L5.89471 8.18244L13.1152 15.4029Z" fill="%23736C6B"/%3E%3Cpath d="M2.88471 0.96196C2.35343 0.430685 1.49206 0.430684 0.960788 0.961959C0.429923 1.49282 0.429453 2.35338 0.959739 2.88483L6.24579 8.18243L0.959737 13.48C0.429451 14.0115 0.42992 14.872 0.960786 15.4029C1.49206 15.9342 2.35343 15.9342 2.8847 15.4029L10.1052 8.18243L2.88471 0.96196Z" fill="%23736C6B"/%3E%3C/svg%3E');
	background-position: 96% 13px;
	background-repeat: no-repeat;
	background-size: 20px;
	cursor: pointer;
	height: 48px;
	position: absolute;
	right: 0;
	top: 0;
	width: 458px;
	z-index: 99;
	@include breakpoint("small", "max") {
		background-position: top center;
		height: 20px;
		position: absolute;
		right: 16px;
		top: 42px;
		width: 18px;
	}
}
.modal-tira-duvidas {
	align-items: center;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	.central-atendimento {
		bottom: 0;
		color: #acacac;
		line-height: 24px;
		padding: 10px 30px 0;
		position: absolute;
		z-index: -1;
		h5,
		strong,
		p {
			font-size: 14px;
		}
		h5 {
			margin: 10px 0 10px;
		}
		p {
			line-height: 18px;
			margin-bottom: 16px;
			margin-top: 0;
		}
		@include breakpoint("small", "max") {
			padding: 10px 20px;
			position: relative;
			text-align: center;
			top: 40px;
			width: 100%;
		}
	}
	.row {
		margin: 0;
	}
}
#cover {
	background: rgba(0, 0, 0, 0.65);
	display: none;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 99;
}
#modal {
	background: #ffffff;
	display: none;
	height: 600px;
	margin: 0 auto;
	max-width: 100%;
	position: absolute;
	width: 768px;
	z-index: 99;
}
@include breakpoint("small", "min") {
	.btn-voltar {
		display: none !important;
	}
}
.btn-voltar {
	display: block !important;
	font-size: 16px;
	font-weight: 500;
	height: 30px;
	margin-bottom: 17px;
	position: relative;
	width: 100%;
	z-index: 99;
	&:before {
		background-image: url('data:image/svg+xml,%3Csvg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.29465 11.2946C5.68422 11.6842 6.31585 11.6842 6.70542 11.2946C7.09469 10.9053 7.09504 10.2743 6.70619 9.88462L2.83003 6L6.70619 2.11538C7.09504 1.72569 7.09469 1.09466 6.70542 0.705384C6.31585 0.315811 5.68422 0.315811 5.29465 0.705384L3.48568e-05 6L5.29465 11.2946Z" fill="%23736C6B"/%3E%3C/svg%3E%0A');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 14px;
		margin-right: 10px;
		position: relative;
		top: 1px;
		width: 16px;
	}
}
.menu-questions {
	display: flex;
	flex-direction: column;
	height: 490px;
	justify-content: start;
	padding-top: 12px;
	position: relative;
	width: 100%;
	@include breakpoint("small", "max") {
		height: 526px;
	}
	.title-question {
		@include rfs(28);
		color: $green;
		margin: 10px auto 37px;
		@include breakpoint("small", "min") {
			& > .icon-toggle {
				display: none !important;
			}
		}
		@include breakpoint("small", "max") {
			@include rfs(16);
			align-items: center;
			background-color: $green;
			color: #fff;
			display: flex;
			font-weight: 600;
			height: 48px;
			margin-bottom: 20px;
			margin-top: 10px;
			padding: 0 12px;
			position: relative;
			& .icon-toggle {
				&.forma-pgmto {
					background-image: url('data:image/svg+xml,%3Csvg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.287 4.48936C24.3006 4.49044 24.3144 4.49147 24.3284 4.49147C24.3522 4.49128 24.3758 4.48946 24.3993 4.48602C24.6987 4.49219 24.9838 4.61534 25.1935 4.82911C25.4032 5.04288 25.5209 5.33027 25.5213 5.62973C25.5213 5.76565 25.5753 5.896 25.6714 5.9921C25.7675 6.08821 25.8979 6.1422 26.0338 6.1422C26.1697 6.1422 26.3001 6.08821 26.3962 5.9921C26.4923 5.896 26.5463 5.76565 26.5463 5.62973C26.5456 5.13515 26.3762 4.65561 26.0661 4.27029C25.7561 3.88498 25.3239 3.61695 24.8409 3.51047V3.01812C24.8409 2.8822 24.7869 2.75185 24.6908 2.65575C24.5947 2.55964 24.4643 2.50565 24.3284 2.50565C24.1925 2.50565 24.0622 2.55964 23.9661 2.65575C23.8699 2.75185 23.816 2.8822 23.816 3.01812V3.53373C23.3073 3.66975 22.8656 3.98606 22.5729 4.4237C22.2802 4.86135 22.1567 5.39047 22.2253 5.91246C22.2939 6.43445 22.5499 6.9137 22.9457 7.26089C23.3415 7.60807 23.85 7.79952 24.3765 7.79953C24.6029 7.79953 24.8242 7.86668 25.0125 7.99247C25.2008 8.11827 25.3475 8.29708 25.4342 8.50627C25.5208 8.71547 25.5435 8.94566 25.4993 9.16774C25.4552 9.38982 25.3461 9.59382 25.186 9.75393C25.0259 9.91404 24.8219 10.0231 24.5998 10.0673C24.3777 10.1114 24.1475 10.0888 23.9383 10.0021C23.7292 9.91545 23.5503 9.76871 23.4246 9.58044C23.2988 9.39217 23.2316 9.17082 23.2316 8.94439C23.2316 8.80848 23.1776 8.67813 23.0815 8.58202C22.9854 8.48591 22.8551 8.43192 22.7191 8.43192C22.5832 8.43192 22.4529 8.48591 22.3568 8.58202C22.2607 8.67813 22.2067 8.80848 22.2067 8.94439C22.2073 9.42204 22.3653 9.88618 22.6562 10.265C22.9471 10.6439 23.3547 10.9164 23.816 11.0404V11.602C23.816 11.7379 23.8699 11.8683 23.9661 11.9644C24.0622 12.0605 24.1925 12.1145 24.3284 12.1145C24.4643 12.1145 24.5947 12.0605 24.6908 11.9644C24.7869 11.8683 24.8409 11.7379 24.8409 11.602V11.0639C25.3635 10.9495 25.8255 10.6459 26.1379 10.2116C26.4504 9.77732 26.5914 9.24287 26.5338 8.71095C26.4762 8.17903 26.2241 7.68715 25.8259 7.3298C25.4277 6.97245 24.9115 6.77483 24.3765 6.77491C24.0806 6.77511 23.7962 6.66071 23.5828 6.45572C23.3695 6.25073 23.2438 5.97107 23.2322 5.67544C23.2206 5.3798 23.324 5.09116 23.5206 4.87008C23.7172 4.649 23.9918 4.51266 24.2868 4.48968L24.287 4.48936Z" fill="white"/%3E%3Cpath d="M24.4057 0C21.253 0 18.5625 2.05725 17.5546 4.81178H4.83524C4.55338 4.81178 4.32469 5.06558 4.32277 5.34725L4.20164 23.3248H0.575972C0.29296 23.3248 0.0500488 23.5298 0.0500488 23.813V26.0945C0.0531415 27.1285 0.45404 28.1217 1.16963 28.8681C1.88522 29.6145 2.86061 30.0569 3.89358 30.1036V30.115H19.7161V30.1C19.8442 30.1047 19.8971 30.115 19.978 30.115H19.9892C21.0556 30.1133 22.0778 29.6884 22.8313 28.9338C23.5848 28.1791 24.008 27.1562 24.008 26.0898V14.5551C24.1362 14.5622 24.2718 14.566 24.4043 14.566C28.4163 14.566 31.681 11.2948 31.681 7.28285C31.681 3.27091 28.4177 0 24.4057 0ZM4.08851 29.0901H4.08531C3.2889 29.089 2.52529 28.7728 1.96125 28.2106C1.39721 27.6483 1.07859 26.8857 1.07499 26.0893V24.3497H15.9366V26.082C15.937 26.6116 16.042 27.1358 16.2457 27.6247C16.4493 28.1135 16.7475 28.5573 17.1232 28.9306C17.177 28.9844 17.2439 29.026 17.3001 29.0901H4.08851ZM22.9831 26.0893C22.9832 26.8841 22.6679 27.6464 22.1065 28.209C21.5451 28.7716 20.7834 29.0885 19.9886 29.0901H19.9788C19.1807 29.0886 18.4155 28.7716 17.8503 28.2081C17.2851 27.6447 16.9656 26.8806 16.9616 26.0825V23.813C16.9637 23.7483 16.9525 23.6837 16.9287 23.6234C16.9048 23.5632 16.8688 23.5084 16.823 23.4627C16.7771 23.4169 16.7223 23.381 16.662 23.3573C16.6016 23.3336 16.5371 23.3225 16.4723 23.3248H5.22658L5.34425 5.83672H17.2702C17.1793 6.30576 17.1322 6.78227 17.1298 7.26004C17.1287 8.2701 17.3394 9.26918 17.7484 10.1927H12.9077C12.7718 10.1927 12.6415 10.2467 12.5454 10.3428C12.4493 10.4389 12.3953 10.5693 12.3953 10.7052C12.3953 10.8411 12.4493 10.9715 12.5454 11.0676C12.6415 11.1637 12.7718 11.2177 12.9077 11.2177H18.3043C18.8275 12.0404 19.5118 12.7488 20.3158 13.3003C21.1199 13.8518 22.0272 14.2351 22.9831 14.427V26.0893ZM24.4057 13.5413C23.1694 13.5413 21.9608 13.1746 20.9329 12.4878C19.9049 11.8009 19.1037 10.8246 18.6306 9.68238C18.1575 8.54016 18.0337 7.2833 18.2749 6.07073C18.5161 4.85816 19.1115 3.74435 19.9857 2.87014C20.8599 1.99593 21.9737 1.40059 23.1863 1.1594C24.3989 0.918206 25.6557 1.042 26.798 1.51512C27.9402 1.98825 28.9164 2.78945 29.6033 3.81742C30.2902 4.84539 30.6568 6.05395 30.6568 7.29028C30.6549 8.94758 29.9957 10.5365 28.8238 11.7084C27.6519 12.8802 26.063 13.5394 24.4057 13.5413Z" fill="white"/%3E%3Cpath d="M9.61838 13.6032C8.71387 13.6032 7.97803 14.3156 7.97803 15.1914C7.97803 16.0671 8.71387 16.7797 9.61838 16.7797C10.5229 16.7797 11.2588 16.0672 11.2588 15.1914C11.2588 14.3156 10.5229 13.6032 9.61838 13.6032ZM9.61838 15.7547C9.27887 15.7547 9.00297 15.502 9.00297 15.1914C9.00297 14.8808 9.279 14.6281 9.61838 14.6281C9.95777 14.6281 10.2339 14.8808 10.2339 15.1914C10.2339 15.5019 9.95777 15.7547 9.61838 15.7547Z" fill="white"/%3E%3Cpath d="M12.3954 15.1893C12.3954 15.3252 12.4494 15.4556 12.5455 15.5517C12.6416 15.6478 12.7719 15.7018 12.9079 15.7018H19.7402C19.8762 15.7018 20.0065 15.6478 20.1026 15.5517C20.1987 15.4556 20.2527 15.3252 20.2527 15.1893C20.2527 15.0534 20.1987 14.923 20.1026 14.8269C20.0065 14.7308 19.8762 14.6768 19.7402 14.6768H12.9079C12.7719 14.6768 12.6416 14.7308 12.5455 14.8269C12.4494 14.923 12.3954 15.0534 12.3954 15.1893Z" fill="white"/%3E%3Cpath d="M9.61838 9.14853C8.71387 9.14853 7.97803 9.86099 7.97803 10.7368C7.97803 11.6126 8.71387 12.325 9.61838 12.325C10.5229 12.325 11.2588 11.6126 11.2588 10.7368C11.2588 9.86106 10.5229 9.14853 9.61838 9.14853ZM9.61838 11.3001C9.27887 11.3001 9.00297 11.0474 9.00297 10.7368C9.00297 10.4262 9.279 10.1735 9.61838 10.1735C9.95777 10.1735 10.2339 10.4262 10.2339 10.7368C10.2339 11.0474 9.95777 11.3003 9.61838 11.3003V11.3001Z" fill="white"/%3E%3Cpath d="M9.61838 18.0576C8.71387 18.0576 7.97803 18.7701 7.97803 19.6459C7.97803 20.5216 8.71387 21.2341 9.61838 21.2341C10.5229 21.2341 11.2588 20.5217 11.2588 19.6459C11.2588 18.77 10.5229 18.0576 9.61838 18.0576ZM9.61838 20.2092C9.27887 20.2092 9.00297 19.9565 9.00297 19.6459C9.00297 19.3352 9.279 19.0826 9.61838 19.0826C9.95777 19.0826 10.2339 19.3353 10.2339 19.6459C10.2339 19.9564 9.95777 20.2092 9.61838 20.2092Z" fill="white"/%3E%3Cpath d="M19.7402 19.1609H12.9079C12.7719 19.1609 12.6416 19.2149 12.5455 19.311C12.4494 19.4072 12.3954 19.5375 12.3954 19.6734C12.3954 19.8093 12.4494 19.9397 12.5455 20.0358C12.6416 20.1319 12.7719 20.1859 12.9079 20.1859H19.7402C19.8762 20.1859 20.0065 20.1319 20.1026 20.0358C20.1987 19.9397 20.2527 19.8093 20.2527 19.6734C20.2527 19.5375 20.1987 19.4072 20.1026 19.311C20.0065 19.2149 19.8762 19.1609 19.7402 19.1609Z" fill="white"/%3E%3C/svg%3E');
				}
				&.frete {
					background-image: url('data:image/svg+xml,%3Csvg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.3134 5.60228H24.3201L12.5604 0.0464614C12.4922 0.0158371 12.4182 0 12.3433 0C12.2685 0 12.1945 0.0158371 12.1263 0.0464614L0.584781 5.52351C0.493615 5.55211 0.409304 5.59901 0.337052 5.6613C0.2648 5.7236 0.206138 5.79996 0.164687 5.8857L0.0552259 6.19268C0.0195032 6.31746 0.000845091 6.44647 -0.000244141 6.57622V21.4636C0.000620991 21.6589 0.0565297 21.8501 0.161126 22.0154C0.265722 22.1807 0.41481 22.3134 0.591437 22.3985L11.485 27.6187L11.698 27.721L11.9199 27.8233C12.1078 27.9153 12.2157 27.9845 12.5005 28C12.7912 27.9838 12.8836 27.9617 13.0922 27.8344L13.2985 27.7217L13.5145 27.6187L24.4081 22.3993C24.5848 22.3142 24.7339 22.1815 24.8385 22.0162C24.9431 21.8509 24.999 21.6597 24.9998 21.4644V6.57327C24.9988 6.36098 24.9325 6.15408 24.8098 5.98046C24.6871 5.80684 24.5138 5.67484 24.3134 5.60228ZM12.3385 1.06973L22.599 6.06679L18.4033 8.07799L8.36243 3.01319L12.3385 1.06973ZM11.9414 26.683C11.9414 26.684 11.9412 26.6849 11.9408 26.6858C11.9404 26.6867 11.9399 26.6875 11.9392 26.6882C11.9385 26.6889 11.9377 26.6894 11.9368 26.6898C11.9359 26.6902 11.9349 26.6904 11.934 26.6904L1.04038 21.471C1.03908 21.4704 1.03796 21.4695 1.03718 21.4683C1.03639 21.4671 1.03596 21.4658 1.03594 21.4644V6.80516L11.9443 11.9333L11.9414 26.683ZM12.4931 10.9174C12.4588 10.8954 12.4233 10.8755 12.3866 10.8577L2.2474 5.99907L7.19608 3.58151L17.2258 8.64041L12.5996 10.857C12.5639 10.8751 12.5294 10.8952 12.4961 10.9174H12.4931ZM23.9569 21.4629C23.9569 21.4643 23.9565 21.4657 23.9557 21.4668C23.9549 21.468 23.9538 21.4689 23.9525 21.4695L13.0589 26.6889C13.0579 26.6889 13.057 26.6887 13.0561 26.6883C13.0552 26.688 13.0544 26.6874 13.0537 26.6867C13.053 26.6861 13.0524 26.6852 13.0521 26.6844C13.0517 26.6835 13.0515 26.6825 13.0515 26.6815V11.8979L18.3086 9.3751V14.2721C18.3086 14.4087 18.3631 14.5398 18.4602 14.6364C18.5573 14.7331 18.689 14.7874 18.8263 14.7874C18.9636 14.7874 19.0953 14.7331 19.1924 14.6364C19.2895 14.5398 19.344 14.4087 19.344 14.2721V9.0453C19.3439 8.99259 19.3357 8.9402 19.3196 8.88997L23.9591 6.66308L23.9569 21.4629Z" fill="white"/%3E%3C/svg%3E%0A');
				}
				&.garantia {
					background-image: url('data:image/svg+xml,%3Csvg width="25" height="30" viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.651 4.19584L12.6719 0.0291766C12.5606 -0.00972553 12.4394 -0.00972553 12.3281 0.0291766L0.348958 4.19584C0.247323 4.23137 0.159196 4.29753 0.0967051 4.3852C0.0342136 4.47287 0.00042891 4.57776 0 4.68543V14.5813C0 24.7323 12.2031 29.0917 12.3281 29.1333C12.4394 29.1722 12.5606 29.1722 12.6719 29.1333C12.7969 29.0917 25 24.7323 25 14.5813V4.68543C24.9996 4.57776 24.9658 4.47287 24.9033 4.3852C24.8408 4.29753 24.7527 4.23137 24.651 4.19584ZM23.9583 14.5813C23.9583 23.3521 13.9427 27.5344 12.5 28.0865C11.0573 27.5344 1.04167 23.3521 1.04167 14.5813V5.05522L12.5 1.07084L23.9583 5.05522V14.5813Z" fill="white"/%3E%3Cpath d="M12.3437 2.60211L2.44789 5.72711C2.33815 5.7615 2.24287 5.83123 2.17691 5.92545C2.11096 6.01967 2.07805 6.13306 2.08331 6.24795V14.5813C2.08331 22.6646 11.901 26.3729 12.3177 26.5292C12.4337 26.5718 12.5611 26.5718 12.6771 26.5292C13.0989 26.3729 22.9166 22.6646 22.9166 14.5813V6.24795C22.9219 6.13306 22.889 6.01967 22.823 5.92545C22.7571 5.83123 22.6618 5.7615 22.5521 5.72711L12.6562 2.60211C12.5545 2.57013 12.4454 2.57013 12.3437 2.60211ZM21.875 6.62816V14.5813C21.875 21.3521 13.8177 24.9407 12.5 25.4771C11.1823 24.9407 3.12498 21.3521 3.12498 14.5813V6.62816L12.5 3.64378L21.875 6.62816Z" fill="white"/%3E%3Cpath d="M15.788 17.448C15.7 17.512 15.576 17.588 15.416 17.676C15.264 17.764 15.068 17.848 14.828 17.928C14.596 18.008 14.32 18.076 14 18.132C13.68 18.188 13.316 18.216 12.908 18.216C12.316 18.216 11.756 18.124 11.228 17.94C10.7 17.748 10.232 17.472 9.824 17.112C9.424 16.752 9.104 16.304 8.864 15.768C8.632 15.232 8.516 14.616 8.516 13.92C8.516 13.232 8.628 12.616 8.852 12.072C9.084 11.528 9.396 11.072 9.788 10.704C10.188 10.328 10.652 10.044 11.18 9.852C11.708 9.652 12.272 9.552 12.872 9.552C13.448 9.552 13.92 9.6 14.288 9.696C14.656 9.792 14.944 9.912 15.152 10.056C15.368 10.192 15.516 10.336 15.596 10.488C15.684 10.632 15.728 10.752 15.728 10.848C15.728 10.952 15.704 11.052 15.656 11.148C15.616 11.244 15.564 11.332 15.5 11.412C15.444 11.484 15.384 11.548 15.32 11.604C15.256 11.66 15.2 11.7 15.152 11.724C15.072 11.636 14.96 11.54 14.816 11.436C14.68 11.332 14.516 11.236 14.324 11.148C14.132 11.06 13.916 10.988 13.676 10.932C13.436 10.868 13.176 10.836 12.896 10.836C12.488 10.836 12.108 10.908 11.756 11.052C11.404 11.188 11.1 11.392 10.844 11.664C10.588 11.928 10.384 12.252 10.232 12.636C10.088 13.012 10.016 13.44 10.016 13.92C10.016 14.408 10.092 14.84 10.244 15.216C10.404 15.584 10.62 15.896 10.892 16.152C11.164 16.4 11.484 16.588 11.852 16.716C12.22 16.844 12.616 16.908 13.04 16.908C13.544 16.908 13.976 16.844 14.336 16.716C14.704 16.588 14.972 16.468 15.14 16.356L15.776 17.448H15.788Z" fill="white"/%3E%3C/svg%3E%0A');
				}
			}
			& .icone-seta {
				background-image: url('data:image/svg+xml,%3Csvg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.29465 11.2946C5.68422 11.6842 6.31585 11.6842 6.70542 11.2946C7.09469 10.9053 7.09504 10.2743 6.70619 9.8846L2.83003 5.99998L6.70619 2.11537C7.09504 1.72567 7.09469 1.09464 6.70542 0.705369C6.31585 0.315796 5.68422 0.315796 5.29465 0.705369L3.48568e-05 5.99998L5.29465 11.2946Z" fill="white"/%3E%3C/svg%3E%0A');
				background-position: top center;
				background-repeat: no-repeat;
				background-size: contain;
				height: 15px;
				position: absolute;
				right: 18px;
				width: 15px;
			}
		}
	}
	.content {
		background-color: #fff;
		border-left: 1px solid #ccc;
		display: none;
		height: 600px !important;
		left: 308px;
		max-width: 100%;
		margin: 0;
		overflow-y: scroll !important;
		padding: 32px 24px 0 !important;
		position: absolute;
		top: -96px;
		width: 460px !important;
		z-index: 9;
		&::-webkit-scrollbar-track {
			background-color: #f1f0f0;
		}

		&::-webkit-scrollbar {
			background-color: #f5f5f5;
			width: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #d8d8d8;
		}
		@include breakpoint("small", "max") {
			height: 526px !important;
			left: 0;
			padding: 10px 16px 30px !important;
			top: 0;
			width: 100% !important;
		}
		.pergunta {
			list-style: none;
			h2 {
				color: $grey;
				font-size: 15px;
				font-weight: 600;
				line-height: 22px;
				margin: 0 auto 20px;
				padding-right: 20px;
				position: relative;

				&.is--active {
					.icone-seta {
						transform: rotate(180deg);
						transition: 0.3s ease-in-out;
						background-image: url('data:image/svg+xml,%3Csvg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.0497 2.801C15.5729 2.28319 15.5729 1.4379 15.0497 0.920093C14.5345 0.410238 13.705 0.409786 13.1893 0.919078L8 6.04349L2.81071 0.919078C2.29497 0.409785 1.46547 0.410238 0.950288 0.920092C0.427064 1.4379 0.427064 2.28319 0.950288 2.801L8 9.77778L15.0497 2.801Z" fill="%239ACA3C"/%3E%3C/svg%3E%0A');
					}
				}
				@include breakpoint("small", "max") {
					border-bottom: 0.5px solid #dadada;
					font-weight: 600;
					margin: 0 auto 10px;
					padding: 10px 20px 20px 0;

					.icone-seta {
						top: 50%;
					}
				}
				.icone-seta {
					background-image: url('data:image/svg+xml,%3Csvg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.0497 2.801C15.5729 2.28319 15.5729 1.4379 15.0497 0.920093C14.5345 0.410238 13.705 0.409786 13.1893 0.919078L8 6.04349L2.81071 0.919078C2.29497 0.409785 1.46547 0.410238 0.950288 0.920092C0.427064 1.4379 0.427064 2.28319 0.950288 2.801L8 9.77778L15.0497 2.801Z" fill="%23736C6B"/%3E%3C/svg%3E%0A');
					background-position: top center;
					background-repeat: no-repeat;
					background-size: contain;
					color: $grey;
					display: inline-block;
					height: 16px;
					position: absolute;
					right: 0;
					top: 8px;
					width: 16px;
					transition: 0.3s ease-in-out;
				}
				&.active {
					color: $grey;
					.icone-seta {
						background-image: url('data:image/svg+xml,%3Csvg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.0497 2.801C15.5729 2.28319 15.5729 1.4379 15.0497 0.920093C14.5345 0.410238 13.705 0.409786 13.1893 0.919078L8 6.04349L2.81071 0.919078C2.29497 0.409785 1.46547 0.410238 0.950288 0.920092C0.427064 1.4379 0.427064 2.28319 0.950288 2.801L8 9.77778L15.0497 2.801Z" fill="%239ACA3C"/%3E%3C/svg%3E%0A');
						background-position: top center;
						background-repeat: no-repeat;
						background-size: contain;
						color: $green;
						display: inline-block;
						height: 16px;
						margin-top: 8px;
						position: absolute;
						right: 30px;
						width: 16px;
					}
				}
			}
		}
		.resposta {
			display: none;
			p {
				font-size: 15px;
				margin: 0 auto 20px;
			}
		}
	}
	.menu-main {
		max-width: 308px;
		margin: 0;
		@include breakpoint("small", "max") {
			max-width: 100%;
		}
		&:first-child.content {
			@include breakpoint("small", "min") {
				display: block;
			}
		}
		li {
			&.toggle {
				@include rfs(18);
				align-items: center;
				border-bottom: 1px solid $grey-claro;
				color: $grey;
				cursor: pointer;
				display: flex;
				font-weight: 400;
				height: 50px;
				padding: 10px 10px;
				@include breakpoint("small", "min") {
					&.active {
						background-color: $green;
						color: #fff;
						font-weight: 600;
					}
				}
				@include breakpoint("small", "max") {
					border-left: 1px solid $grey-claro;
					border-right: 1px solid $grey-claro;
					display: flex;
					justify-content: start;
					margin: 0 auto;
					width: calc(100% - 30px);
				}
				&:first-of-type {
					border-top: 1px solid $grey-claro;
				}
			}
		}
		& .icon-toggle {
			background-position: top center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			height: 28px;
			margin-right: 10px;
			@include breakpoint("small", "min") {
				margin-right: 18px;
			}
			position: relative;
			width: 30px;
		}
		& li.toggle {
			position: relative;
			@include breakpoint("small", "min") {
				padding: 10px 25px;
			}
			& .icon-toggle {
				&.forma-pgmto {
					background-image: url('data:image/svg+xml,%3Csvg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.287 4.48936C24.3006 4.49044 24.3144 4.49147 24.3284 4.49147C24.3522 4.49128 24.3758 4.48946 24.3993 4.48602C24.6987 4.49219 24.9838 4.61534 25.1935 4.82911C25.4032 5.04288 25.5209 5.33027 25.5213 5.62973C25.5213 5.76565 25.5753 5.896 25.6714 5.9921C25.7675 6.08821 25.8979 6.1422 26.0338 6.1422C26.1697 6.1422 26.3001 6.08821 26.3962 5.9921C26.4923 5.896 26.5463 5.76565 26.5463 5.62973C26.5456 5.13515 26.3762 4.65561 26.0661 4.27029C25.7561 3.88498 25.3239 3.61695 24.8409 3.51047V3.01812C24.8409 2.8822 24.7869 2.75185 24.6908 2.65575C24.5947 2.55964 24.4643 2.50565 24.3284 2.50565C24.1925 2.50565 24.0622 2.55964 23.9661 2.65575C23.8699 2.75185 23.816 2.8822 23.816 3.01812V3.53373C23.3073 3.66975 22.8656 3.98606 22.5729 4.4237C22.2802 4.86135 22.1567 5.39047 22.2253 5.91246C22.2939 6.43445 22.5499 6.9137 22.9457 7.26089C23.3415 7.60807 23.85 7.79952 24.3765 7.79953C24.6029 7.79953 24.8242 7.86668 25.0125 7.99247C25.2008 8.11827 25.3475 8.29708 25.4342 8.50627C25.5208 8.71547 25.5435 8.94566 25.4993 9.16774C25.4552 9.38982 25.3461 9.59382 25.186 9.75393C25.0259 9.91404 24.8219 10.0231 24.5998 10.0673C24.3777 10.1114 24.1475 10.0888 23.9383 10.0021C23.7292 9.91545 23.5503 9.76871 23.4246 9.58044C23.2988 9.39217 23.2316 9.17082 23.2316 8.94439C23.2316 8.80848 23.1776 8.67813 23.0815 8.58202C22.9854 8.48591 22.8551 8.43192 22.7191 8.43192C22.5832 8.43192 22.4529 8.48591 22.3568 8.58202C22.2607 8.67813 22.2067 8.80848 22.2067 8.94439C22.2073 9.42204 22.3653 9.88618 22.6562 10.265C22.9471 10.6439 23.3547 10.9164 23.816 11.0404V11.602C23.816 11.7379 23.8699 11.8683 23.9661 11.9644C24.0622 12.0605 24.1925 12.1145 24.3284 12.1145C24.4643 12.1145 24.5947 12.0605 24.6908 11.9644C24.7869 11.8683 24.8409 11.7379 24.8409 11.602V11.0639C25.3635 10.9495 25.8255 10.6459 26.1379 10.2116C26.4504 9.77732 26.5914 9.24287 26.5338 8.71095C26.4762 8.17903 26.2241 7.68715 25.8259 7.3298C25.4277 6.97245 24.9115 6.77483 24.3765 6.77491C24.0806 6.77511 23.7962 6.66071 23.5828 6.45572C23.3695 6.25073 23.2438 5.97107 23.2322 5.67544C23.2206 5.3798 23.324 5.09116 23.5206 4.87008C23.7172 4.649 23.9918 4.51266 24.2868 4.48968L24.287 4.48936Z" fill="%23736C6B"/%3E%3Cpath d="M24.4057 0C21.253 0 18.5625 2.05725 17.5546 4.81178H4.83524C4.55338 4.81178 4.32469 5.06558 4.32277 5.34725L4.20164 23.3248H0.575972C0.29296 23.3248 0.0500488 23.5298 0.0500488 23.813V26.0945C0.0531415 27.1285 0.45404 28.1217 1.16963 28.8681C1.88522 29.6145 2.86061 30.0569 3.89358 30.1036V30.115H19.7161V30.1C19.8442 30.1047 19.8971 30.115 19.978 30.115H19.9892C21.0556 30.1133 22.0778 29.6884 22.8313 28.9338C23.5848 28.1791 24.008 27.1562 24.008 26.0898V14.5551C24.1362 14.5622 24.2718 14.566 24.4043 14.566C28.4163 14.566 31.681 11.2948 31.681 7.28285C31.681 3.27091 28.4177 0 24.4057 0ZM4.08851 29.0901H4.08531C3.2889 29.089 2.52529 28.7728 1.96125 28.2106C1.39721 27.6483 1.07859 26.8857 1.07499 26.0893V24.3497H15.9366V26.082C15.937 26.6116 16.042 27.1358 16.2457 27.6247C16.4493 28.1135 16.7475 28.5573 17.1232 28.9306C17.177 28.9844 17.2439 29.026 17.3001 29.0901H4.08851ZM22.9831 26.0893C22.9832 26.8841 22.6679 27.6464 22.1065 28.209C21.5451 28.7716 20.7834 29.0885 19.9886 29.0901H19.9788C19.1807 29.0886 18.4155 28.7716 17.8503 28.2081C17.2851 27.6447 16.9656 26.8806 16.9616 26.0825V23.813C16.9637 23.7483 16.9525 23.6837 16.9287 23.6234C16.9048 23.5632 16.8688 23.5084 16.823 23.4627C16.7771 23.4169 16.7223 23.381 16.662 23.3573C16.6016 23.3336 16.5371 23.3225 16.4723 23.3248H5.22658L5.34425 5.83672H17.2702C17.1793 6.30576 17.1322 6.78227 17.1298 7.26004C17.1287 8.2701 17.3394 9.26918 17.7484 10.1927H12.9077C12.7718 10.1927 12.6415 10.2467 12.5454 10.3428C12.4493 10.4389 12.3953 10.5693 12.3953 10.7052C12.3953 10.8411 12.4493 10.9715 12.5454 11.0676C12.6415 11.1637 12.7718 11.2177 12.9077 11.2177H18.3043C18.8275 12.0404 19.5118 12.7488 20.3158 13.3003C21.1199 13.8518 22.0272 14.2351 22.9831 14.427V26.0893ZM24.4057 13.5413C23.1694 13.5413 21.9608 13.1746 20.9329 12.4878C19.9049 11.8009 19.1037 10.8246 18.6306 9.68238C18.1575 8.54016 18.0337 7.2833 18.2749 6.07073C18.5161 4.85816 19.1115 3.74435 19.9857 2.87014C20.8599 1.99593 21.9737 1.40059 23.1863 1.1594C24.3989 0.918206 25.6557 1.042 26.798 1.51512C27.9402 1.98825 28.9164 2.78945 29.6033 3.81742C30.2902 4.84539 30.6568 6.05395 30.6568 7.29028C30.6549 8.94758 29.9957 10.5365 28.8238 11.7084C27.6519 12.8802 26.063 13.5394 24.4057 13.5413Z" fill="%23736C6B"/%3E%3Cpath d="M9.61838 13.6032C8.71387 13.6032 7.97803 14.3156 7.97803 15.1914C7.97803 16.0671 8.71387 16.7797 9.61838 16.7797C10.5229 16.7797 11.2588 16.0672 11.2588 15.1914C11.2588 14.3156 10.5229 13.6032 9.61838 13.6032ZM9.61838 15.7547C9.27887 15.7547 9.00297 15.502 9.00297 15.1914C9.00297 14.8808 9.279 14.6281 9.61838 14.6281C9.95777 14.6281 10.2339 14.8808 10.2339 15.1914C10.2339 15.5019 9.95777 15.7547 9.61838 15.7547Z" fill="%23736C6B"/%3E%3Cpath d="M12.3954 15.1893C12.3954 15.3252 12.4494 15.4556 12.5455 15.5517C12.6416 15.6478 12.7719 15.7018 12.9079 15.7018H19.7402C19.8762 15.7018 20.0065 15.6478 20.1026 15.5517C20.1987 15.4556 20.2527 15.3252 20.2527 15.1893C20.2527 15.0534 20.1987 14.923 20.1026 14.8269C20.0065 14.7308 19.8762 14.6768 19.7402 14.6768H12.9079C12.7719 14.6768 12.6416 14.7308 12.5455 14.8269C12.4494 14.923 12.3954 15.0534 12.3954 15.1893Z" fill="%23736C6B"/%3E%3Cpath d="M9.61838 9.14853C8.71387 9.14853 7.97803 9.86099 7.97803 10.7368C7.97803 11.6126 8.71387 12.325 9.61838 12.325C10.5229 12.325 11.2588 11.6126 11.2588 10.7368C11.2588 9.86106 10.5229 9.14853 9.61838 9.14853ZM9.61838 11.3001C9.27887 11.3001 9.00297 11.0474 9.00297 10.7368C9.00297 10.4262 9.279 10.1735 9.61838 10.1735C9.95777 10.1735 10.2339 10.4262 10.2339 10.7368C10.2339 11.0474 9.95777 11.3003 9.61838 11.3003V11.3001Z" fill="%23736C6B"/%3E%3Cpath d="M9.61838 18.0576C8.71387 18.0576 7.97803 18.7701 7.97803 19.6459C7.97803 20.5216 8.71387 21.2341 9.61838 21.2341C10.5229 21.2341 11.2588 20.5217 11.2588 19.6459C11.2588 18.77 10.5229 18.0576 9.61838 18.0576ZM9.61838 20.2092C9.27887 20.2092 9.00297 19.9565 9.00297 19.6459C9.00297 19.3352 9.279 19.0826 9.61838 19.0826C9.95777 19.0826 10.2339 19.3353 10.2339 19.6459C10.2339 19.9564 9.95777 20.2092 9.61838 20.2092Z" fill="%23736C6B"/%3E%3Cpath d="M19.7402 19.1609H12.9079C12.7719 19.1609 12.6416 19.2149 12.5455 19.311C12.4494 19.4072 12.3954 19.5375 12.3954 19.6734C12.3954 19.8093 12.4494 19.9397 12.5455 20.0358C12.6416 20.1319 12.7719 20.1859 12.9079 20.1859H19.7402C19.8762 20.1859 20.0065 20.1319 20.1026 20.0358C20.1987 19.9397 20.2527 19.8093 20.2527 19.6734C20.2527 19.5375 20.1987 19.4072 20.1026 19.311C20.0065 19.2149 19.8762 19.1609 19.7402 19.1609Z" fill="%23736C6B"/%3E%3C/svg%3E%0A');
				}
				&.frete {
					background-image: url('data:image/svg+xml,%3Csvg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.3134 5.60228H24.3201L12.5604 0.0464614C12.4922 0.0158371 12.4182 0 12.3433 0C12.2685 0 12.1945 0.0158371 12.1263 0.0464614L0.584781 5.52351C0.493615 5.55211 0.409304 5.59901 0.337052 5.6613C0.2648 5.7236 0.206138 5.79996 0.164687 5.8857L0.0552259 6.19268C0.0195032 6.31746 0.000845091 6.44647 -0.000244141 6.57622V21.4636C0.000620991 21.6589 0.0565297 21.8501 0.161126 22.0154C0.265722 22.1807 0.41481 22.3134 0.591437 22.3985L11.485 27.6187L11.698 27.721L11.9199 27.8233C12.1078 27.9153 12.2157 27.9845 12.5005 28C12.7912 27.9838 12.8836 27.9617 13.0922 27.8344L13.2985 27.7217L13.5145 27.6187L24.4081 22.3993C24.5848 22.3142 24.7339 22.1815 24.8385 22.0162C24.9431 21.8509 24.999 21.6597 24.9998 21.4644V6.57327C24.9988 6.36098 24.9325 6.15408 24.8098 5.98046C24.6871 5.80684 24.5138 5.67484 24.3134 5.60228ZM12.3385 1.06973L22.599 6.06679L18.4033 8.07799L8.36243 3.01319L12.3385 1.06973ZM11.9414 26.683C11.9414 26.684 11.9412 26.6849 11.9408 26.6858C11.9404 26.6867 11.9399 26.6875 11.9392 26.6882C11.9385 26.6889 11.9377 26.6894 11.9368 26.6898C11.9359 26.6902 11.9349 26.6904 11.934 26.6904L1.04038 21.471C1.03908 21.4704 1.03796 21.4695 1.03718 21.4683C1.03639 21.4671 1.03596 21.4658 1.03594 21.4644V6.80516L11.9443 11.9333L11.9414 26.683ZM12.4931 10.9174C12.4588 10.8954 12.4233 10.8755 12.3866 10.8577L2.2474 5.99907L7.19608 3.58151L17.2258 8.64041L12.5996 10.857C12.5639 10.8751 12.5294 10.8952 12.4961 10.9174H12.4931ZM23.9569 21.4629C23.9569 21.4643 23.9565 21.4657 23.9557 21.4668C23.9549 21.468 23.9538 21.4689 23.9525 21.4695L13.0589 26.6889C13.0579 26.6889 13.057 26.6887 13.0561 26.6883C13.0552 26.688 13.0544 26.6874 13.0537 26.6867C13.053 26.6861 13.0524 26.6852 13.0521 26.6844C13.0517 26.6835 13.0515 26.6825 13.0515 26.6815V11.8979L18.3086 9.3751V14.2721C18.3086 14.4087 18.3631 14.5398 18.4602 14.6364C18.5573 14.7331 18.689 14.7874 18.8263 14.7874C18.9636 14.7874 19.0953 14.7331 19.1924 14.6364C19.2895 14.5398 19.344 14.4087 19.344 14.2721V9.0453C19.3439 8.99259 19.3357 8.9402 19.3196 8.88997L23.9591 6.66308L23.9569 21.4629Z" fill="%23736C6B"/%3E%3C/svg%3E%0A');
				}
				&.garantia {
					background-image: url('data:image/svg+xml,%3Csvg width="25" height="30" viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.651 4.19584L12.6719 0.0291766C12.5606 -0.00972553 12.4394 -0.00972553 12.3281 0.0291766L0.348958 4.19584C0.247323 4.23137 0.159196 4.29753 0.0967051 4.3852C0.0342136 4.47287 0.00042891 4.57776 0 4.68543V14.5813C0 24.7323 12.2031 29.0917 12.3281 29.1333C12.4394 29.1722 12.5606 29.1722 12.6719 29.1333C12.7969 29.0917 25 24.7323 25 14.5813V4.68543C24.9996 4.57776 24.9658 4.47287 24.9033 4.3852C24.8408 4.29753 24.7527 4.23137 24.651 4.19584ZM23.9583 14.5813C23.9583 23.3521 13.9427 27.5344 12.5 28.0865C11.0573 27.5344 1.04167 23.3521 1.04167 14.5813V5.05522L12.5 1.07084L23.9583 5.05522V14.5813Z" fill="%23736C6B"/%3E%3Cpath d="M12.3437 2.60209L2.44789 5.72709C2.33815 5.76147 2.24287 5.83121 2.17691 5.92543C2.11096 6.01964 2.07805 6.13304 2.08331 6.24793V14.5813C2.08331 22.6646 11.901 26.3729 12.3177 26.5292C12.4337 26.5718 12.5611 26.5718 12.6771 26.5292C13.0989 26.3729 22.9166 22.6646 22.9166 14.5813V6.24793C22.9219 6.13304 22.889 6.01964 22.823 5.92543C22.7571 5.83121 22.6618 5.76147 22.5521 5.72709L12.6562 2.60209C12.5545 2.57011 12.4454 2.57011 12.3437 2.60209ZM21.875 6.62813V14.5813C21.875 21.3521 13.8177 24.9406 12.5 25.4771C11.1823 24.9406 3.12498 21.3521 3.12498 14.5813V6.62813L12.5 3.64376L21.875 6.62813Z" fill="%23736C6B"/%3E%3Cpath d="M15.788 17.448C15.7 17.512 15.576 17.588 15.416 17.676C15.264 17.764 15.068 17.848 14.828 17.928C14.596 18.008 14.32 18.076 14 18.132C13.68 18.188 13.316 18.216 12.908 18.216C12.316 18.216 11.756 18.124 11.228 17.94C10.7 17.748 10.232 17.472 9.824 17.112C9.424 16.752 9.104 16.304 8.864 15.768C8.632 15.232 8.516 14.616 8.516 13.92C8.516 13.232 8.628 12.616 8.852 12.072C9.084 11.528 9.396 11.072 9.788 10.704C10.188 10.328 10.652 10.044 11.18 9.852C11.708 9.652 12.272 9.552 12.872 9.552C13.448 9.552 13.92 9.6 14.288 9.696C14.656 9.792 14.944 9.912 15.152 10.056C15.368 10.192 15.516 10.336 15.596 10.488C15.684 10.632 15.728 10.752 15.728 10.848C15.728 10.952 15.704 11.052 15.656 11.148C15.616 11.244 15.564 11.332 15.5 11.412C15.444 11.484 15.384 11.548 15.32 11.604C15.256 11.66 15.2 11.7 15.152 11.724C15.072 11.636 14.96 11.54 14.816 11.436C14.68 11.332 14.516 11.236 14.324 11.148C14.132 11.06 13.916 10.988 13.676 10.932C13.436 10.868 13.176 10.836 12.896 10.836C12.488 10.836 12.108 10.908 11.756 11.052C11.404 11.188 11.1 11.392 10.844 11.664C10.588 11.928 10.384 12.252 10.232 12.636C10.088 13.012 10.016 13.44 10.016 13.92C10.016 14.408 10.092 14.84 10.244 15.216C10.404 15.584 10.62 15.896 10.892 16.152C11.164 16.4 11.484 16.588 11.852 16.716C12.22 16.844 12.616 16.908 13.04 16.908C13.544 16.908 13.976 16.844 14.336 16.716C14.704 16.588 14.972 16.468 15.14 16.356L15.776 17.448H15.788Z" fill="%23736C6B"/%3E%3C/svg%3E%0A');
				}
			}
			&.active {
				@include breakpoint("small", "min") {
					& .icon-toggle {
						&.forma-pgmto {
							background-image: url('data:image/svg+xml,%3Csvg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.287 4.48936C24.3006 4.49044 24.3144 4.49147 24.3284 4.49147C24.3522 4.49128 24.3758 4.48946 24.3993 4.48602C24.6987 4.49219 24.9838 4.61534 25.1935 4.82911C25.4032 5.04288 25.5209 5.33027 25.5213 5.62973C25.5213 5.76565 25.5753 5.896 25.6714 5.9921C25.7675 6.08821 25.8979 6.1422 26.0338 6.1422C26.1697 6.1422 26.3001 6.08821 26.3962 5.9921C26.4923 5.896 26.5463 5.76565 26.5463 5.62973C26.5456 5.13515 26.3762 4.65561 26.0661 4.27029C25.7561 3.88498 25.3239 3.61695 24.8409 3.51047V3.01812C24.8409 2.8822 24.7869 2.75185 24.6908 2.65575C24.5947 2.55964 24.4643 2.50565 24.3284 2.50565C24.1925 2.50565 24.0622 2.55964 23.9661 2.65575C23.8699 2.75185 23.816 2.8822 23.816 3.01812V3.53373C23.3073 3.66975 22.8656 3.98606 22.5729 4.4237C22.2802 4.86135 22.1567 5.39047 22.2253 5.91246C22.2939 6.43445 22.5499 6.9137 22.9457 7.26089C23.3415 7.60807 23.85 7.79952 24.3765 7.79953C24.6029 7.79953 24.8242 7.86668 25.0125 7.99247C25.2008 8.11827 25.3475 8.29708 25.4342 8.50627C25.5208 8.71547 25.5435 8.94566 25.4993 9.16774C25.4552 9.38982 25.3461 9.59382 25.186 9.75393C25.0259 9.91404 24.8219 10.0231 24.5998 10.0673C24.3777 10.1114 24.1475 10.0888 23.9383 10.0021C23.7292 9.91545 23.5503 9.76871 23.4246 9.58044C23.2988 9.39217 23.2316 9.17082 23.2316 8.94439C23.2316 8.80848 23.1776 8.67813 23.0815 8.58202C22.9854 8.48591 22.8551 8.43192 22.7191 8.43192C22.5832 8.43192 22.4529 8.48591 22.3568 8.58202C22.2607 8.67813 22.2067 8.80848 22.2067 8.94439C22.2073 9.42204 22.3653 9.88618 22.6562 10.265C22.9471 10.6439 23.3547 10.9164 23.816 11.0404V11.602C23.816 11.7379 23.8699 11.8683 23.9661 11.9644C24.0622 12.0605 24.1925 12.1145 24.3284 12.1145C24.4643 12.1145 24.5947 12.0605 24.6908 11.9644C24.7869 11.8683 24.8409 11.7379 24.8409 11.602V11.0639C25.3635 10.9495 25.8255 10.6459 26.1379 10.2116C26.4504 9.77732 26.5914 9.24287 26.5338 8.71095C26.4762 8.17903 26.2241 7.68715 25.8259 7.3298C25.4277 6.97245 24.9115 6.77483 24.3765 6.77491C24.0806 6.77511 23.7962 6.66071 23.5828 6.45572C23.3695 6.25073 23.2438 5.97107 23.2322 5.67544C23.2206 5.3798 23.324 5.09116 23.5206 4.87008C23.7172 4.649 23.9918 4.51266 24.2868 4.48968L24.287 4.48936Z" fill="white"/%3E%3Cpath d="M24.4057 0C21.253 0 18.5625 2.05725 17.5546 4.81178H4.83524C4.55338 4.81178 4.32469 5.06558 4.32277 5.34725L4.20164 23.3248H0.575972C0.29296 23.3248 0.0500488 23.5298 0.0500488 23.813V26.0945C0.0531415 27.1285 0.45404 28.1217 1.16963 28.8681C1.88522 29.6145 2.86061 30.0569 3.89358 30.1036V30.115H19.7161V30.1C19.8442 30.1047 19.8971 30.115 19.978 30.115H19.9892C21.0556 30.1133 22.0778 29.6884 22.8313 28.9338C23.5848 28.1791 24.008 27.1562 24.008 26.0898V14.5551C24.1362 14.5622 24.2718 14.566 24.4043 14.566C28.4163 14.566 31.681 11.2948 31.681 7.28285C31.681 3.27091 28.4177 0 24.4057 0ZM4.08851 29.0901H4.08531C3.2889 29.089 2.52529 28.7728 1.96125 28.2106C1.39721 27.6483 1.07859 26.8857 1.07499 26.0893V24.3497H15.9366V26.082C15.937 26.6116 16.042 27.1358 16.2457 27.6247C16.4493 28.1135 16.7475 28.5573 17.1232 28.9306C17.177 28.9844 17.2439 29.026 17.3001 29.0901H4.08851ZM22.9831 26.0893C22.9832 26.8841 22.6679 27.6464 22.1065 28.209C21.5451 28.7716 20.7834 29.0885 19.9886 29.0901H19.9788C19.1807 29.0886 18.4155 28.7716 17.8503 28.2081C17.2851 27.6447 16.9656 26.8806 16.9616 26.0825V23.813C16.9637 23.7483 16.9525 23.6837 16.9287 23.6234C16.9048 23.5632 16.8688 23.5084 16.823 23.4627C16.7771 23.4169 16.7223 23.381 16.662 23.3573C16.6016 23.3336 16.5371 23.3225 16.4723 23.3248H5.22658L5.34425 5.83672H17.2702C17.1793 6.30576 17.1322 6.78227 17.1298 7.26004C17.1287 8.2701 17.3394 9.26918 17.7484 10.1927H12.9077C12.7718 10.1927 12.6415 10.2467 12.5454 10.3428C12.4493 10.4389 12.3953 10.5693 12.3953 10.7052C12.3953 10.8411 12.4493 10.9715 12.5454 11.0676C12.6415 11.1637 12.7718 11.2177 12.9077 11.2177H18.3043C18.8275 12.0404 19.5118 12.7488 20.3158 13.3003C21.1199 13.8518 22.0272 14.2351 22.9831 14.427V26.0893ZM24.4057 13.5413C23.1694 13.5413 21.9608 13.1746 20.9329 12.4878C19.9049 11.8009 19.1037 10.8246 18.6306 9.68238C18.1575 8.54016 18.0337 7.2833 18.2749 6.07073C18.5161 4.85816 19.1115 3.74435 19.9857 2.87014C20.8599 1.99593 21.9737 1.40059 23.1863 1.1594C24.3989 0.918206 25.6557 1.042 26.798 1.51512C27.9402 1.98825 28.9164 2.78945 29.6033 3.81742C30.2902 4.84539 30.6568 6.05395 30.6568 7.29028C30.6549 8.94758 29.9957 10.5365 28.8238 11.7084C27.6519 12.8802 26.063 13.5394 24.4057 13.5413Z" fill="white"/%3E%3Cpath d="M9.61838 13.6032C8.71387 13.6032 7.97803 14.3156 7.97803 15.1914C7.97803 16.0671 8.71387 16.7797 9.61838 16.7797C10.5229 16.7797 11.2588 16.0672 11.2588 15.1914C11.2588 14.3156 10.5229 13.6032 9.61838 13.6032ZM9.61838 15.7547C9.27887 15.7547 9.00297 15.502 9.00297 15.1914C9.00297 14.8808 9.279 14.6281 9.61838 14.6281C9.95777 14.6281 10.2339 14.8808 10.2339 15.1914C10.2339 15.5019 9.95777 15.7547 9.61838 15.7547Z" fill="white"/%3E%3Cpath d="M12.3954 15.1893C12.3954 15.3252 12.4494 15.4556 12.5455 15.5517C12.6416 15.6478 12.7719 15.7018 12.9079 15.7018H19.7402C19.8762 15.7018 20.0065 15.6478 20.1026 15.5517C20.1987 15.4556 20.2527 15.3252 20.2527 15.1893C20.2527 15.0534 20.1987 14.923 20.1026 14.8269C20.0065 14.7308 19.8762 14.6768 19.7402 14.6768H12.9079C12.7719 14.6768 12.6416 14.7308 12.5455 14.8269C12.4494 14.923 12.3954 15.0534 12.3954 15.1893Z" fill="white"/%3E%3Cpath d="M9.61838 9.14853C8.71387 9.14853 7.97803 9.86099 7.97803 10.7368C7.97803 11.6126 8.71387 12.325 9.61838 12.325C10.5229 12.325 11.2588 11.6126 11.2588 10.7368C11.2588 9.86106 10.5229 9.14853 9.61838 9.14853ZM9.61838 11.3001C9.27887 11.3001 9.00297 11.0474 9.00297 10.7368C9.00297 10.4262 9.279 10.1735 9.61838 10.1735C9.95777 10.1735 10.2339 10.4262 10.2339 10.7368C10.2339 11.0474 9.95777 11.3003 9.61838 11.3003V11.3001Z" fill="white"/%3E%3Cpath d="M9.61838 18.0576C8.71387 18.0576 7.97803 18.7701 7.97803 19.6459C7.97803 20.5216 8.71387 21.2341 9.61838 21.2341C10.5229 21.2341 11.2588 20.5217 11.2588 19.6459C11.2588 18.77 10.5229 18.0576 9.61838 18.0576ZM9.61838 20.2092C9.27887 20.2092 9.00297 19.9565 9.00297 19.6459C9.00297 19.3352 9.279 19.0826 9.61838 19.0826C9.95777 19.0826 10.2339 19.3353 10.2339 19.6459C10.2339 19.9564 9.95777 20.2092 9.61838 20.2092Z" fill="white"/%3E%3Cpath d="M19.7402 19.1609H12.9079C12.7719 19.1609 12.6416 19.2149 12.5455 19.311C12.4494 19.4072 12.3954 19.5375 12.3954 19.6734C12.3954 19.8093 12.4494 19.9397 12.5455 20.0358C12.6416 20.1319 12.7719 20.1859 12.9079 20.1859H19.7402C19.8762 20.1859 20.0065 20.1319 20.1026 20.0358C20.1987 19.9397 20.2527 19.8093 20.2527 19.6734C20.2527 19.5375 20.1987 19.4072 20.1026 19.311C20.0065 19.2149 19.8762 19.1609 19.7402 19.1609Z" fill="white"/%3E%3C/svg%3E');
						}
						&.frete {
							background-image: url('data:image/svg+xml,%3Csvg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.3134 5.60228H24.3201L12.5604 0.0464614C12.4922 0.0158371 12.4182 0 12.3433 0C12.2685 0 12.1945 0.0158371 12.1263 0.0464614L0.584781 5.52351C0.493615 5.55211 0.409304 5.59901 0.337052 5.6613C0.2648 5.7236 0.206138 5.79996 0.164687 5.8857L0.0552259 6.19268C0.0195032 6.31746 0.000845091 6.44647 -0.000244141 6.57622V21.4636C0.000620991 21.6589 0.0565297 21.8501 0.161126 22.0154C0.265722 22.1807 0.41481 22.3134 0.591437 22.3985L11.485 27.6187L11.698 27.721L11.9199 27.8233C12.1078 27.9153 12.2157 27.9845 12.5005 28C12.7912 27.9838 12.8836 27.9617 13.0922 27.8344L13.2985 27.7217L13.5145 27.6187L24.4081 22.3993C24.5848 22.3142 24.7339 22.1815 24.8385 22.0162C24.9431 21.8509 24.999 21.6597 24.9998 21.4644V6.57327C24.9988 6.36098 24.9325 6.15408 24.8098 5.98046C24.6871 5.80684 24.5138 5.67484 24.3134 5.60228ZM12.3385 1.06973L22.599 6.06679L18.4033 8.07799L8.36243 3.01319L12.3385 1.06973ZM11.9414 26.683C11.9414 26.684 11.9412 26.6849 11.9408 26.6858C11.9404 26.6867 11.9399 26.6875 11.9392 26.6882C11.9385 26.6889 11.9377 26.6894 11.9368 26.6898C11.9359 26.6902 11.9349 26.6904 11.934 26.6904L1.04038 21.471C1.03908 21.4704 1.03796 21.4695 1.03718 21.4683C1.03639 21.4671 1.03596 21.4658 1.03594 21.4644V6.80516L11.9443 11.9333L11.9414 26.683ZM12.4931 10.9174C12.4588 10.8954 12.4233 10.8755 12.3866 10.8577L2.2474 5.99907L7.19608 3.58151L17.2258 8.64041L12.5996 10.857C12.5639 10.8751 12.5294 10.8952 12.4961 10.9174H12.4931ZM23.9569 21.4629C23.9569 21.4643 23.9565 21.4657 23.9557 21.4668C23.9549 21.468 23.9538 21.4689 23.9525 21.4695L13.0589 26.6889C13.0579 26.6889 13.057 26.6887 13.0561 26.6883C13.0552 26.688 13.0544 26.6874 13.0537 26.6867C13.053 26.6861 13.0524 26.6852 13.0521 26.6844C13.0517 26.6835 13.0515 26.6825 13.0515 26.6815V11.8979L18.3086 9.3751V14.2721C18.3086 14.4087 18.3631 14.5398 18.4602 14.6364C18.5573 14.7331 18.689 14.7874 18.8263 14.7874C18.9636 14.7874 19.0953 14.7331 19.1924 14.6364C19.2895 14.5398 19.344 14.4087 19.344 14.2721V9.0453C19.3439 8.99259 19.3357 8.9402 19.3196 8.88997L23.9591 6.66308L23.9569 21.4629Z" fill="white"/%3E%3C/svg%3E%0A');
						}
						&.garantia {
							background-image: url('data:image/svg+xml,%3Csvg width="25" height="30" viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M24.651 4.19584L12.6719 0.0291766C12.5606 -0.00972553 12.4394 -0.00972553 12.3281 0.0291766L0.348958 4.19584C0.247323 4.23137 0.159196 4.29753 0.0967051 4.3852C0.0342136 4.47287 0.00042891 4.57776 0 4.68543V14.5813C0 24.7323 12.2031 29.0917 12.3281 29.1333C12.4394 29.1722 12.5606 29.1722 12.6719 29.1333C12.7969 29.0917 25 24.7323 25 14.5813V4.68543C24.9996 4.57776 24.9658 4.47287 24.9033 4.3852C24.8408 4.29753 24.7527 4.23137 24.651 4.19584ZM23.9583 14.5813C23.9583 23.3521 13.9427 27.5344 12.5 28.0865C11.0573 27.5344 1.04167 23.3521 1.04167 14.5813V5.05522L12.5 1.07084L23.9583 5.05522V14.5813Z" fill="white"/%3E%3Cpath d="M12.3437 2.60211L2.44789 5.72711C2.33815 5.7615 2.24287 5.83123 2.17691 5.92545C2.11096 6.01967 2.07805 6.13306 2.08331 6.24795V14.5813C2.08331 22.6646 11.901 26.3729 12.3177 26.5292C12.4337 26.5718 12.5611 26.5718 12.6771 26.5292C13.0989 26.3729 22.9166 22.6646 22.9166 14.5813V6.24795C22.9219 6.13306 22.889 6.01967 22.823 5.92545C22.7571 5.83123 22.6618 5.7615 22.5521 5.72711L12.6562 2.60211C12.5545 2.57013 12.4454 2.57013 12.3437 2.60211ZM21.875 6.62816V14.5813C21.875 21.3521 13.8177 24.9407 12.5 25.4771C11.1823 24.9407 3.12498 21.3521 3.12498 14.5813V6.62816L12.5 3.64378L21.875 6.62816Z" fill="white"/%3E%3Cpath d="M15.788 17.448C15.7 17.512 15.576 17.588 15.416 17.676C15.264 17.764 15.068 17.848 14.828 17.928C14.596 18.008 14.32 18.076 14 18.132C13.68 18.188 13.316 18.216 12.908 18.216C12.316 18.216 11.756 18.124 11.228 17.94C10.7 17.748 10.232 17.472 9.824 17.112C9.424 16.752 9.104 16.304 8.864 15.768C8.632 15.232 8.516 14.616 8.516 13.92C8.516 13.232 8.628 12.616 8.852 12.072C9.084 11.528 9.396 11.072 9.788 10.704C10.188 10.328 10.652 10.044 11.18 9.852C11.708 9.652 12.272 9.552 12.872 9.552C13.448 9.552 13.92 9.6 14.288 9.696C14.656 9.792 14.944 9.912 15.152 10.056C15.368 10.192 15.516 10.336 15.596 10.488C15.684 10.632 15.728 10.752 15.728 10.848C15.728 10.952 15.704 11.052 15.656 11.148C15.616 11.244 15.564 11.332 15.5 11.412C15.444 11.484 15.384 11.548 15.32 11.604C15.256 11.66 15.2 11.7 15.152 11.724C15.072 11.636 14.96 11.54 14.816 11.436C14.68 11.332 14.516 11.236 14.324 11.148C14.132 11.06 13.916 10.988 13.676 10.932C13.436 10.868 13.176 10.836 12.896 10.836C12.488 10.836 12.108 10.908 11.756 11.052C11.404 11.188 11.1 11.392 10.844 11.664C10.588 11.928 10.384 12.252 10.232 12.636C10.088 13.012 10.016 13.44 10.016 13.92C10.016 14.408 10.092 14.84 10.244 15.216C10.404 15.584 10.62 15.896 10.892 16.152C11.164 16.4 11.484 16.588 11.852 16.716C12.22 16.844 12.616 16.908 13.04 16.908C13.544 16.908 13.976 16.844 14.336 16.716C14.704 16.588 14.972 16.468 15.14 16.356L15.776 17.448H15.788Z" fill="white"/%3E%3C/svg%3E%0A');
						}
					}
				}
			}
			@include breakpoint("small", "max") {
				& .icone-seta {
					background-image: url('data:image/svg+xml,%3Csvg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M5.29465 11.2946C5.68422 11.6842 6.31585 11.6842 6.70542 11.2946C7.09469 10.9053 7.09504 10.2743 6.70619 9.88462L2.83003 6L6.70619 2.11538C7.09504 1.72569 7.09469 1.09466 6.70542 0.705384C6.31585 0.315811 5.68422 0.315811 5.29465 0.705384L3.48568e-05 6L5.29465 11.2946Z" fill="%23736C6B"/%3E%3C/svg%3E%0A');
					background-position: top center;
					background-repeat: no-repeat;
					background-size: contain;
					content: "";
					display: inline-block;
					height: 14px;
					margin-right: 10px;
					margin-top: 17px;
					position: absolute;
					right: 0;
					top: 1px;
					transform: rotate(180deg);
					width: 16px;
				}
			}
		}
	}
}
.title-tira-duvidas {
	align-items: center;
	display: flex;
	font-size: 19px;
	font-weight: 500;
	height: 96px;
	padding: 16px 20px 10px;
	width: 308px;
	.icone-questions {
		display: inline-block;
		height: auto;
		margin-right: 15px;
		width: 70px;
		@include breakpoint("small", "max") {
			width: 48px;
		}
		img {
			display: block;
			width: 100%;
		}
	}
}
.icone-questions {
	margin-right: 20px;
	width: 84px;
	@include breakpoint("small", "max") {
		width: auto;
		img {
			display: block;
			width: 64px;
		}
	}
	img {
		display: block;
		width: 100%;
	}
}
#btn-modal {
	align-items: center;
	background-color: inherit;
	border: none;
	border-top: 1px solid #f3f0ef;
	display: none;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	padding: 0 12px 10px;
	padding-bottom: 22px;
	padding-top: 16px;
	text-align: left;
}
.ativa-tira-duvidas {
	#btn-modal {
		display: flex;
	}
}
