@import '../../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import 'helpers/rfs';

$grey: #736C6B;
$green: #9BCA3D;

#close {
	cursor: pointer;
    font-size: 26px;
	height: 30px;
	position: absolute;
    right: 0;
    width: 30px;
    z-index: 9;

}
.modal-tira-duvidas {
	align-items: center;
  	display: flex;
	justify-content: center;
  	left: 0;
	position: fixed;
  	top: 0;
  	width: 100%;
	  z-index: 99;
	  .central-atendimento {
		@include rfs(18);
		color: #ACACAC;
		line-height: 24px;
		padding: 10px 20px;
	  }
}
#cover {
    background: rgba(0, 0, 0, 0.65);
    display: none;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99;
  }

  #modal {
	background: #ffffff;
    display: none;
    height: 600px;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    width: 768px;
    z-index: 99;
  }
.menu-questions {
    display: flex;
    flex-direction: column;
	height: 600px;
    justify-content: space-between;
	padding-top: 12px;
    position: relative;
	.title-question {
		color: $green;
		font-size: 28px;
		margin: 0 auto 30px;
	}
	.content {
		background-color: #fff;
		border-left: 1px solid #ccc;
		display: none;
		height: 600px !important;
		left: 308px;
		max-width: 100%;
		overflow: hidden;
		padding: 32px 24px 0 !important;
		position: absolute;
		top: 0;
		width: 460px !important;

		.pergunta {
			h2 {
				color: $grey;
				font-size: 16px;
				font-weight: 600;
				margin: 0 auto 10px;
				.icone-seta {
					background-image: url('data:image/svg+xml,%3Csvg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.0497 2.801C15.5729 2.28319 15.5729 1.4379 15.0497 0.920093C14.5345 0.410238 13.705 0.409786 13.1893 0.919078L8 6.04349L2.81071 0.919078C2.29497 0.409785 1.46547 0.410238 0.950288 0.920092C0.427064 1.4379 0.427064 2.28319 0.950288 2.801L8 9.77778L15.0497 2.801Z" fill="%23736C6B"/%3E%3C/svg%3E%0A');
					background-position: top center;
					background-repeat: no-repeat;
					background-size: contain;
					color: $grey;
					display: inline-block;
					height: 16px;
					margin-top: 8px;
					position: absolute;
					right: 30px;
					width: 16px;
				}
				&.active {
					color: $grey;
					.icone-seta {
						background-image: url('data:image/svg+xml,%3Csvg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M15.0497 2.801C15.5729 2.28319 15.5729 1.4379 15.0497 0.920093C14.5345 0.410238 13.705 0.409786 13.1893 0.919078L8 6.04349L2.81071 0.919078C2.29497 0.409785 1.46547 0.410238 0.950288 0.920092C0.427064 1.4379 0.427064 2.28319 0.950288 2.801L8 9.77778L15.0497 2.801Z" fill="%239ACA3C"/%3E%3C/svg%3E%0A');
						background-position: top center;
						background-repeat: no-repeat;
						background-size: contain;
						color: $green;
						display: inline-block;
						height: 16px;
						margin-top: 8px;
						position: absolute;
						right: 30px;
						width: 16px;
					}
				}
			}
		}

		.resposta {
			display: none;
			p {
				font-size: 16px;
				margin: 0 auto 20px;
			}
		}
  }
  .menu-main {
	  max-width: 308px;
    li {
		&.toggle {
			@include rfs(18);
			border-bottom: 1px solid #ccc;
			color: $grey;
			cursor: pointer;
			font-weight: 400;
			height: 48px;
			padding: 10px 10px;
			width: 100%;
			&.active {
				background-color: $green;
				color: #fff;
				font-weight: 600;
			}
		}
	}
}

}
.title-tira-duvidas {
	align-items: center;
    display: flex;
    font-size: 18px;
	font-weight: 500;
	padding: 0 12px 10px;
}
#btn-modal {
	align-items: center;
	background-color: inherit;
	border: none;
    display: flex;
    font-size: 18px;
	font-weight: 500;
	line-height: normal;
	padding: 0 12px 10px;
    text-align: left;
}
.title-tira-duvidas,
  #btn-modal {
	.icone-questions {
		display: inline-block;
		height: auto;
		margin-right: 15px;
		width: 80px;
	}
  }
