<div id="modal-warranty" role="dialog" class="modal fade garantia-modal in" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" data-dismiss="modal" aria-label="Close" class="close i-close">
				<i class="icon icon-remove item-remove-ico"></i>
			</button>

			<div class="modal-body">
				<div class="container">
					<h2 class="gae-title">Contrate o seguro garantia estendida original AIG e fique tranquilo</h2>
				</div>

				<div class="container box-garantia">
					<ul class="list-garantia">
						<li class="gae-product-title">
							<div class="garantia-box-produto">
								<img src="{product.image}" alt="{product.name}" title="{product.name}">
								<div class="garantia-box-produto-info">
									<p>{product.name}</p>
								</div>
							</div>
						</li>

						<li class="list-title">
							<label for="warranty1" class="box-opcao-garantia anchor-gae first-box-garantia active">
								<div class="box-input">
									<input type="radio" name="warranty-value" id="warranty1" value="" checked="checked">
								</div>
								<div class="footer-box-opcao-garantia sem-garantia">
									<label for="warranty1">Sem seguro garantia estendida original</label>
									<p>somente a garantia <br>do fabricante.</p>
								</div>
							</label>
						</li>

						<li class="list-title">
							<span>Recomendado</span>
							<label for="warranty2" class="box-opcao-garantia box-garantia-primaria anchor-gae">
								<div class="box-input">
									<input type="radio" name="warranty-value" id="warranty2" value="{warranty.oneYear.id}">
								</div>
								<div class="footer-box-opcao-garantia">
									<label for="warranty2">+ 1 Ano</label>
									<p>após o término da <br> garantia do fabricante.</p>
								</div>

							</label>
						</li>

						<li class="list-title">
							<label for="warranty3" class="box-opcao-garantia box-garantia-secundaria anchor-gae">
								<div class="box-input">
									<input type="radio" name="warranty-value" id="warranty3" value="{warranty.twoYear.id}">
								</div>
								<div class="footer-box-opcao-garantia">
									<label for="warranty3">+ 2 Anos</label>
								<p>após o término da <br> garantia do fabricante.</p>
								</div>
							</label>
						</li>
					</ul>

					<ul class="list-garantia">
						<li>Consertos com peças originais</li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
					</ul>

					<ul class="list-garantia">
						<li>Assistência técnica após o término<br> da garantia do fabricante</li>
						<li><i class="icon icon-remove item-remove-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
					</ul>

					<ul class="list-garantia">
						<li>Equipe especializada em todo o<br> Brasil por muito mais tempo</li>
						<li><i class="icon icon-remove item-remove-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
					</ul>

					<ul class="list-garantia">
						<li>Economia. O custo do seguro, muitas<br> vezes, é menor do que um reparo</li>
						<li><i class="icon icon-remove item-remove-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
						<li><i class="icon icon-ok item-ok-ico"></i></li>
					</ul>

					<ul class="list-garantia">
						<li>Valor</li>
						<li><label class="gae-price" for="warranty1"><i class="icon icon-minus item-minus-ico"></i></label></li>
						<li><label class="gae-price" for="warranty2">por apenas <strong>{warranty.oneYear.fullPrice|intAsCurrency}</strong>, parcele<br>a garantia junto com o seu produto.</label></li>
						<li><label class="gae-price" for="warranty3">por apenas <strong>{warranty.twoYear.fullPrice|intAsCurrency}</strong>, parcele<br>a garantia junto com o seu produto.</label></li>
					</ul>
				</div>

				<div class="container box-button">
					<div class="garantia-box-proceed">
						<div class="garantia-box-text">
							<p>A contratação desse seguro é opcional.</p>
							<a href="https://compracerta.zendesk.com/hc/pt-br/articles/202358975-Seguro-de-Garantia-Estendida-Original?tipo=1" target="_blank">Saiba como funciona</a>
						</div>
						<span class="btn-continue btn-success" data-index="{productIndex}">Continuar <span>›</span></span>
					</div>
				</div>

				<div class="garantia-disclaimer">
					<p>
						ATENÇÃO! Você autoriza que o pagamento do prêmio de seguro seja realizado em conjunto com o pagamento do(s) produto(s)/serviço(s)
						ora adquirido(s)? Informações gerais:
						<br/> 1- O segurado poderá desistir do seguro contratado no prazo de 7 (sete) dias corridos a contar da assinatura da proposta,
						no caso de contratação por apólice individual, ou da emissão do bilhete, no caso de contratação por bilhete, ou do
						efetivo pagamento do prêmio, o que ocorrer por último. No caso de pagamento de prêmio fracionado, considera-se o pagamento
						da primeira parcela como o efetivo pagamento.
						<br/> 2- A comercialização de seguro é opcional e fiscalizada pela SUSEP. O registro deste plano na SUSEP não implica, por
						parte da Autarquia, incentivo ou recomendação a sua comercialização”. Acesse www.susep.gov.br ou ligue para 0800 021
						8484.
						<br/> 3- A BUD COMERCIO DE ELETRODOMESTICOS LTDA é um Representante de seguros da AIG Seguros Brasil S.A. e está autorizada a comercializar o Seguro de Garantia Estendida
					</p>
				</div>
			</div>
		</div>
	</div>
</div>