<div id="modal-warranty" role="dialog" class="modal fade garantia-modal garantia-modal-brastemp in modal-warranty--is-teste-ab-18" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<button type="button" data-dismiss="modal" aria-label="Close" class="close i-close">
				<i class="icon icon-remove item-remove-ico"></i>
			</button>

			<div class="modal-body">
				<div class="modal__head">
					<h4>Proteja seu investimento</h4>
					<p class="submain-title">Conte com o Seguro Garantia Estendida Original</p>
				</div>

				<div class="modal__table">
					<!-- Sem garantia -->
					<div class="modal__cell">
						<label for="warranty1" class="box-opcao-garantia box-garantia-secundaria anchor-gae first-box-garantia active">
							<input type="radio" name="warranty-value" id="warranty1" value="" checked="checked" class="fakeInput">
							<label class="fake-radio-button" for="warranty1"></label>

							<p class="title-garantia">Somente <span>garantia do fabricante</span></p>
							<p class="desc-garantia-sem-custo">
								<strong>
									Protege o tempo <br />
									estipulado pelo fabricante, <br />
									com conserto de peças originais.
								</strong>
							</p>

							<div class="footer-box-opcao-garantia">
								<label for="warranty1">Sem custo</label>
							</div>
						</label>
					</div>
					<!-- /Sem garantia -->

					{#warranty}
						<div class="modal__cell">
							<label for="warranty{id}" class="box-opcao-garantia anchor-gae {?isPrimary} box-garantia-primaria{/isPrimary}">
								<input type="radio" name="warranty-value" id="warranty{id}" value="{id}" class="fakeInput">
								<label class="fake-radio-button" for="warranty{id}"></label>

								{?isPrimary}
									<p class="garantia-recommended">Recomendado</p>
								{/isPrimary}

								<p class="title-garantia">
									<span>Garantia do fabricante</span>
									<span class="garantia-plusicon">+ </span>{months} meses
									<span>de Garantia Estendida</span>
								</p>

								<p class="desc-sobre-garantia">Após o término da garantia do fabricante, continua protegendo por mais {months} meses, com:  </p>

								<ul class="direitos-garantia">
									<li>Peças originais</li>
									<li>Pessoal especializado</li>
									<li>Assistência técnica em todo o Brasil</li>
								</ul>

								<p class="bonus-garantia">Mais um ano de tranquilidade por menos de {priceDay|intAsCurrency}/dia. </p>

								<div class="footer-box-opcao-garantia">
									<label for="warranty{id}">por apenas <strong>{fullPrice|intAsCurrency}</strong></label>
									<p>Parcele a garantia junto com o seu produto</p>
								</div>
							</label>
						</div>
					{/warranty}


				</div>

				<!-- Detalhes do produto -->
				<div class="row-product-and-action">
					<div class="garantia-box-produto">
						<img src="{product.image}" alt="{product.name}" title="{product.name}">

						<div class="garantia-box-produto-info">
							<p>{product.name}</p>
						</div>
					</div>
					<div class="garantia-box-proceed">
						<div class="garantia-box-text">
							<p>A contratação desse serviço é opcional.</p>
							<a href="http://loja.consul.com.br/landing/garantia-estendida" target="_blank">Saiba como funciona</a>
						</div>
						<span class="btn-continue btn-success" data-index="{productIndex}">Continuar <span>›</span></span>
					</div>
				</div>

				<div class="garantia-disclaimer">
					<p>ATENÇÃO! Você autoriza que o pagamento do prêmio de seguro seja realizado em conjunto com o pagamento do(s) produto(s)/serviço(s) ora adquirido(s)? Informações gerais:<br/>
					1- O segurado poderá desistir do seguro contratado no prazo de 7 (sete) dias corridos a contar da assinatura da proposta, no caso de contratação por apólice individual, ou da emissão do bilhete, no caso de contratação por bilhete, ou do efetivo pagamento do prêmio, o que ocorrer por último. No caso de pagamento de prêmio fracionado, considera-se o pagamento da primeira parcela como o efetivo pagamento.<br/>
					2- A comercialização de seguro é opcional e fiscalizada pela SUSEP. O registro deste plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação a sua comercialização”. Acesse www.susep.gov.br ou ligue para 0800 021 8484.<br/>
					3- A BUD COMERCIO DE ELETRODOMESTICOS LTDA é um Representante de seguros da AIG Seguros Brasil S.A. e está autorizada a comercializar o Seguro de Garantia Estendida</p>
				</div>
			</div>
		</div>
	</div>
</div>