{! Each orders template !}
{#.}
	{?isCompleted}
	<div class="myorders__order clearfix js-single-order order__status-{finalStatus.group}"
	data-order-id="{orderId}"
	data-order-group="{orderGroup}"
	data-order-status="{finalStatus.orderLabel}"
	data-order-date="{creationDate|formatDatetimeBRL}"
	data-order-name="{shippingData.address.receiverName}"
	data-order-street="{shippingData.address.street}"
	data-order-city="{shippingData.address.city}"
	data-order-zipcode="{shippingData.address.postalCode}"
	data-order-neighborhood="{shippingData.address.neighborhood}"
	data-order-state="{shippingData.address.state}"
	data-order-complement="{shippingData.address.complement}"
	data-order-addresstype="{shippingData.address.addressType}"
	data-order-number="{shippingData.address.number}"
	data-order-reference="{shippingData.address.reference}">
		<div class="order__header js-toggle-orders order__header--closed">
			<ul class="order__header-list">
				<li class="order__header-item"><strong><span class="hide-extra-small">PEDIDO</span> #{orderId|orderNumber}</strong></li>
				<li class="order__header-item order__header-item-dtCompra hide-small hide-extra-small">Data da compra: <strong class="order-header__date">{creationDate|formatDatetimeBRL}</strong></li>
				<li class="order__header-item hide-small hide-extra-small">Total: <strong class="order-header__total">{value|intAsCurrency}</strong></li>
				<li class="order__header-item">
						{! <div class="order__bar order__bar--tiny">
						{>"orderStates"/}
					</div> !}
					<span class="hide-extra-small">Status:</span> <strong class="order-header__status">{finalStatus.orderLabel}</strong>
				</li>
			</ul>
			<i class="icon order__header-stateIcon hide-small hide-extra-small"></i>
			<i class="icon icon-arrow-up"></i>
		</div>

		<div class="order__wrapper js-toggle-container">
			<div class="order__body clearfix">

				<div class="order__header-infoMobile">
					<span>Data: <strong class="order-header__date">{creationDate|formatDatetimeBRL}</strong></span>
					<span>Total: <strong class="order-header__total">{value|intAsCurrency}</strong></span>
				</div>

				<div class="order__bar">
					{>"orderPedidoStates"/}
					{?trackingData}
						<p class="order__tracking-item text-center">{trackingData.lastChange}: {trackingData.description}</p>
					{/trackingData}
				</div>

				<div class="order__stateInfo-mobile">
					<p class="order__stateInfo-mobile-title">{finalStatus.orderLabel}</p>
				</div>

				{?hasPackages}
					<div class="order__stateInfo-mobile-alert">
						Seu pedido foi separado em {packages.length} entrega{@gt key=packages.length value=1}s{/gt}. Acompanhe o andamento de cada um.
					</div>
				{/hasPackages}

				<div class="custom-accordion-mp-wrapper">
					<div class="custom-accordion-mp-header">
						Resumo do pedido <i class="icon icon-arrow-up"></i>
					</div>

					<div class="order__infos-box custom-accordion-mp-content">
						<div class="order__infos">
							{^giftRegistryData}
							<div class="order__info order__info--shipping-data">
								<p class="order__info-title">Endereço de entrega</p>
									<div class="order__info-content">
									<p>{shippingData.address.receiverName}</p>
									<p>
										<span>{shippingData.address.street}, </span>
										<span>{shippingData.address.number}</span>
										{?shippingData.address.complement}<span> - {shippingData.address.complement}</span>{/shippingData.address.complement}
									</p>
									<p>{shippingData.address.city} - {shippingData.address.state}</p>
								</div>
							</div>
							{/giftRegistryData}

							<div class="order__info order__info--pay-ship">
								{^giftRegistryData}
								<div class="order__info--shipping">
									<p class="order__info-title">Forma de Entrega</p>
										<div class="order__info-content">
										<p>{shippingData.logisticsInfo[0].selectedSla.name}</p>
										<p>{shippingData.logisticsInfo[0].selectedSla.price|intAsCurrency}</p>
									</div>
								</div>
									{/giftRegistryData}
									<div class="order__info--payment">
										<p class="order__info-title">Forma de Pagamento</p>

										<div class="order__info-content">
										{?isBoleto}
											<p>Boleto Bancário</p>
											{@neq key=finalStatus.orderLabel value="Cancelado"}
												<p>
													<a href="{paymentData.payments[0].url}" target="_blank">
														<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve">
															<path d="M19,9h-4V3H9v6H5l7,7L19,9z M5,18v2h14v-2H5z"/>
														</svg>
														<span>Visualizar Boleto</span>
													</a>
												</p>
											{/neq}
										{:else}
											<p>{paymentData.payments[0].paymentSystemName}</p>
											<div class="order__info-card">
												<i class="order__card-icon order__card--{paymentData.transactions[0].payments[0].paymentSystemName|sanitize}"></i>
												<span>xxxx xxxx xxxx {paymentData.transactions[0].payments[0].lastDigits}</span>
											</div>
										{/isBoleto}
									</div>
								</div>
							</div>

							<div class="order__info order__info--totals">
								<div class="order__info-content">
									<table>
										<tbody>
											<tr>
												<td>Subtotal</td>
												<td>{totals[0].value|intAsCurrency}</td>
											</tr>
											<tr>
												<td>Descontos</td>
												<td>{totals[1].value|intAsCurrency}</td>
											</tr>
											<tr>
												<td>Frete</td>
												<td>{totals[2].value|intAsCurrency}</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<td>Total</td>
												<td>{value|intAsCurrency}</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
						<div class="order__helpers text-right">
							{?invoiceData}
								{>"modalInvoice"/}
							{/invoiceData}
							<a href="https://consul.custhelp.com/app/atendimento?pedido={orderId}" target="_blank">
								<i class="order__icon order__icon--doubt"></i>
								<span>Ajuda?</span>
							</a>
						</div>
					</div>
				</div>

					{>"orderPackageItems"/}

				</div>
			</div>
		</div>
	{/isCompleted}
{:else}
	<h2 class="text-center">Você ainda não possui pedidos!</h2>
{/.}