<div class="video-placeholder">
	{?iframe}
		<iframe src="//www.youtube-nocookie.com/embed/{id}?rel=0&wmode=transparent&controls=1&showinfo=0&autoplay=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen />
	{:else}
		<a class="block" href="#" data-video-id="{id}" style="background-image: url('{?thumb}{thumb}{:else}https://i.ytimg.com/vi/{id}/hqdefault.jpg{/thumb}');">
			{?thumb}
				<img class="image full-width" src="{thumb}" alt="" />
			{/thumb}
		</a>
	{/iframe}
</div>