<div class="">
	<!-- Chaordic -->
	<div data-chaordic="bottom"></div>
	<!-- Chaordic -->
</div>
<!--
<ul class="selos">
	<li class="digicert">
		<div id="DigiCertClickID_Wwu5j9uv" data-language="en_US"></div>
	</li>
	<li class="ebit">
		<a href="http://www.ebit.com.br/#consul" target="_blank" id="seloEbit"></a>
	</li>
</ul> -->


<!-- Footer 2019 -->
<footer class="footer-2019 footer-2019--checkout" data-module="footer-2019">
	<!-- Bottom footer -->
	<div class="footer-bottom">
		<div class="container">
			<div class="footer-bottom__item">
				<strong class="footer-bottom__title">
					Formas<br />
					de Pagamento
				</strong>
				<img src="//consul.vteximg.com.br/arquivos/formas-de-pagamento-consul-01-2019.png" alt="Formas de pagemento Consul" />
				<img src="//consul.vteximg.com.br/arquivos/formas-de-pagamento-consul-02-2019.png" alt="Formas de pagemento Consul" />
			</div>

			<div class="footer-bottom__item">
				<strong class="footer-bottom__title">
					Compra<br />
					Segura
				</strong>
				<a href="//www.ebit.com.br/#consul" target="_blank" id="seloEbit"></a>
			</div>
		</div>

		<div class="container">
			<div class="footer-bottom__text">
				Os valores "A partir de" dos produtos são referentes ao seu preço no boleto bancário. Todos os preços e condições comerciais estão sujeitos a alteração sem aviso prévio. O preço válido será garantido após a finalização da compra. A simples inclusão de produtos no "carrinho de compras" não implica em sua reserva pelo consumidor. Copyright BUD Comércio de Eletrodomésticos Ltda. ® 2014 – Todos os Direitos Reservados. CNPJ 62.058.318/0007-76. Endereço Sede : Rua Olympia Semeraro, 675, Jardim Santa Emília, São Paulo/ SP, CEP 04183-090 | Inscrição Municipal/Estadual 148.044.198.118 | <a href="mailto:contato@consul.zendesk.com" title="contato@consul.zendesk.com">contato@consul.zendesk.com</a>.

				<img src="//consul.vteximg.com.br/arquivos/logo-vtex-consul.png" alt="" class="vtex-logo-footer" />
			</div>
		</div>
	</div>
	<!-- /Bottom footer -->
</footer>
<!-- /Footer 2019 -->


{% include 'checkout-modal-services' %}
{% include 'checkout-new-modal-login' %}
<div class="js-default-message hide" style="display: none">
	{% include '0-checkout-mensagem' %}
</div>
<div class="js-default-message--mobile hide" style="display: none">
	{% include '0-checkout-mensagem-mobile' %}
</div>
{% include 'checkout-modal-info-pj' %}
{% include 'checkout-modal-smartbeer' %}