<div class="container">
  <div class="row">
    <a href="/" class="back" title="Voltar para a loja">Voltar para loja</a>

    <div class="message">
      <p class="title">Pedido Confirmado</p>

      <span>Obrigado por contratar nossos serviços. Para consultar suas garantias contratadas acesse o menu <a href="/minhaconta/pedidos" title="Meus Pedidos">Meus Pedidos</a>.</span>
    </div>

    <div class="info">
        <div class="product-info">
          {> productInfo /}
        </div>

        <div class="price-info">
          {> priceInfo /}
        </div>
      </div>
  </div>
</div>