{?hasPackages}
    {#packages productInfos=items}
        <div class="order__package">
            <div class="custom-accordion-mp-header">
                Entrega {$idx|humanizeIndex} - {items.length} Produto{@gt key=items.length value=1}s{/gt}
                <i class="icon icon-arrow-up"></i>
            </div>
            <div class="order__items custom-accordion-mp-content">
                {! {>"orderPedidoStates" finalStatus=productInfos[items[0].itemIndex].finalStatus /} !}

                <table class="order__table text-center">
                    <thead class="text-uppercase">
                        <tr>
                            <th class="text-left" colspan="2">Produtos</th>
                            <th class="order__hide--mobile">Quant.</th>
                            <th class="order__hide--mobile">Valor</th>
                            <th class="order__hide--mobile">{?giftRegistryData}Referente{/giftRegistryData}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#items}
                            {#productInfos[itemIndex]}
                                {>"orderProductInfos"/}
                            {/productInfos[itemIndex]}
                        {/items}
                    </tbody>
                </table>
                <div class="clearfix order__invoice-container">
                    {?hasInvoiceData}
                        {>"modalInvoice" invoice=invoiceKey /}
                    {/hasInvoiceData}

                    {?hasTrackingInfo}
                        {>"modalHistorico" trackingInfo=courierStatus /}
                    {/hasTrackingInfo}
                </div>
            </div>

            {?partialInvoice}
                <div class="order__package" style="margin-top: 20px">
                        <div class="custom-accordion-mp-header">
                                Aguardando faturamento
                                <i class="icon icon-arrow-up"></i>
                            </div>
                    <div class="order__items custom-accordion-mp-content">
                        <table class="order__table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th class="text-left" colspan="2">Produtos</th>
                                    <th class="order__hide--mobile">Quant.</th>
                                    <th class="order__hide--mobile">Valor</th>
                                    <th class="order__hide--mobile">{?giftRegistryData}Referente{/giftRegistryData}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {#productInfos}
                                    {^hidden}
                                        {>"orderProductInfos"/}
                                    {/hidden}
                                {/productInfos}
                            </tbody>
                        </table>
                    </div>
                </div>
            {/partialInvoice}
        </div>
    {/packages}
{:else}
    <div class="order__package">
        <div class="order__items">
            <table class="order__table text-center">
                <thead class="text-uppercase">
                    <tr>
                        <th class="text-left" colspan="2">Produtos</th>
                        <th class="order__hide--mobile">Quant.</th>
                        <th class="order__hide--mobile">Valor</th>
                        <th class="order__hide--mobile">{?giftRegistryData}Referente{/giftRegistryData}</th>
                    </tr>
                </thead>
                <tbody>
                    {#items}
                        {>"orderProductInfos"/}
                    {/items}
                </tbody>
            </table>
            <div class="clearfix order__invoice-container">
                {?hasInvoiceData}
                    {>"modalInvoice" invoice=packages[0].invoiceKey /}
                {/hasInvoiceData}

                {?hasTrackingInfo}
                    {>"modalHistorico" trackingInfo=packages[0].courierStatus /}
                {/hasTrackingInfo}
            </div>
        </div>
    </div>
{/hasPackages}