<div class="row order-product-warranty">
	<div class="col-md-2">
		&nbsp;
	</div>
	<div class="col-md-3 type">
		<span>Seguro Garantia Estendida - {period} meses</span>
	</div>
	<div class="col-md-3 ctas">
			<a class="download-warranty" href="" data-id="{idWarranty}">Download</a>
		{?btnCancel}
			<button class="cancel-warranty" href="javascript:void(0)" data-id="{idWarranty}">Cancelar</button>
		{/btnCancel}
	</div>
	<div class="col-md-2 value">
		<span>{price}</span>
	</div>
</div>