<div class="ctas">
		<button class="download-warranty secondary-button{?isVtex} vtex{/isVtex}" href="javascript:void(0)" data-id="{idWarranty}" data-period="{period}" data-refid="{refid}" data-product-index="{productIndex}">{?isVtex}Solicitar termos{:else}Baixar termos{/isVtex}</button>
	{?btnCancel}
		<button class="cancel-warranty secondary-button{?isVtex} vtex{/isVtex}" href="javascript:void(0)" data-id="{idWarranty}" data-period="{period}" data-refid="{refid}" data-product-index="{productIndex}">Cancelar seguro</button>
	{/btnCancel}
</div>