<div>
	<p>Confirme seus dados cadastrais!</p><br/>

	<div class="group">
		<label>Nome:</label>
		<input type="text" disabled value="{firstName}" />
	</div>
	<div class="group">
		<label>CPF:</label>
		<input type="text" disabled value="{document}" />
	</div>
	<div class="group">
		<label>Telefone:</label>
		<input type="text" disabled value="{phone}" />
	</div>
	<div class="group">
		<label>Endereço:</label>
		<input type="text" disabled value="{street}, {number} - {city}/{state}" />
	</div>
	<div class="group">
		<label>Sku do Produto:</label>
		<input type="text" disabled value="{sku}" />
	</div>
	<div class="group">
		<label>Nome do Produto:</label>
		<input type="text" disabled value="{skuName}" />
	</div>

	<div class="botao">
		<button class="secondary-button back"><span>Voltar</span></button>
		<button class="primary-button confirm"><span>Confirmar</span></button>
	</div>
</div>