<tr class="item-service">
	<td class="bundle-item-image"></td>
	<td class="bundle-item-name"><span>Garantia Estendida</span></td>
	<td></td>
	<td class="product-price"></td>
	<td class="quantity hidden-phone hidden-tablet"></td>
	<td class="quantity-price bundle-quantity-price hidden-phone hidden-tablet"></td>
	<td class="action-buttons">
		<div class="ctas">
			<button class="download-warranty" href="javascript:void(0)" data-id="{idWarranty}">Baixar termos</button>
			{?btnCancel}
				<button class="cancel-warranty" href="javascript:void(0)" data-id="{idWarranty}" data-period="{period}" data-refid="{refid}" data-product-index="{productIndex}">Cancelar</button>
			{/btnCancel}
		</div>
	</td>
</tr>