<div>
	<h2>Proteja seu Investimento</h2>
	<h3>Conte com o Seguro Garantia Estendida Original</h3>
	<p>Selecione a Garantia Estendida!</p><br/>
	<select id="coverages">
		 {#coverages}
		 	<option value="{id}">{name} - {period} meses - R$ {price}</option>
		 {/coverages}
	</select>
	<div class="botao"><a class="mais" href="http://loja.consul.com.br/landing/garantia-estendida" target="_blank">saiba mais como funciona</a>
	<button class="primary-button add"><span>adicionar</span></button></div>
	<div>
		<p>
			Informações Gerais:<br/>
			1- o segurado poderá desistir do seguro contratado no prazo de 7 (sete) dias corridos a contar da assinatura da proposta,no caso de contratação por apólice individual, ou da emissão do bilhete, no caso de contratação por bilhete, ou do efetivo pagamento do prêmio, o que ocorrer por último. no caso de pagamento de prêmio fracionado, considera-se o pagamento toda primeira parcela como o efetivo pagamento.<br/>
			2- a comercialização de seguro é <b>opcional</b> e fiscalizada pela susep. o registro deste plano na susep não implica, por parte da autarquia, incentivo ou recomendação a sua comercialização”. acesse <a href="www.susep.gov.br" target="_blank">www.susep.gov.br</a> ou ligue para 0800 0218484.<br/>
			3- a bud comercio de eletrodomesticos ltda é um representante de seguros da aig seguros brasil s.a. e está autorizada a comercializar o seguro de garantia estendida.
		</p>
	</div>
</div>