<div>
	<h2>Proteja seu Investimento</h2>
	<h3>Conte com o Seguro Garantia Estendida Original</h3>
	<p>Selecione a Garantia Estendida!</p><br/>
	<select id="coverages">
		 {#coverages}
		 	<option value="{id}">{name} - {period} meses - R$ {price}</option>
		 {/coverages}
	</select>
	<div>
		<p>
			<strong>Atenção</strong> <br />
			Você autoriza que o pagamento do prêmio de seguro seja realizado em conjunto com o pagamento do(s) produto(s)/serviço(s) ora adquirido(s)? <br /> <br />
			<strong>Informações gerais</strong> <br />
			O segurado poderá desistir do seguro contratado no prazo de 7 (sete) dias corridos a contar da assinatura da proposta, no caso de contratação por apólice individual, ou da emissão do bilhete, no caso de contratação por bilhete, ou do efetivo pagamento do prêmio, o que ocorrer por último. <br />
			No caso de pagamento de prêmio fracionado, considera-se o pagamento da primeira parcela como o efetivo pagamento. <br />
			A comercialização de seguro é opcional e fiscalizada pela SUSEP. O registro deste plano na SUSEP não implica, por parte da Autarquia, incentivo ou recomendação a sua comercialização”. Acesse www.susep.gov.brou ligue para 0800 021 8484
			A BUD COMERCIO DE ELETRODOMESTICOS LTDA é um Representante de seguros da Assurant e está autorizada a comercializar o Seguro de Garantia Estendida Original.
		</p>
	</div>
	<div class="botao"><a class="mais" href="http://loja.consul.com.br/garantiaestendida" target="_blank">saiba mais como funciona</a>
		<button class="primary-button concordo add"><span>Li e concordo</span></button>
		<button class="primary-button nao-concordo"><span>Li e não concordo</span></button>
	</div>
</div>