%flex-center {
	align-items: center;
	display: flex;
}

%icon-settings {
	font-weight: bold;
	left: 0;
	position: absolute;
	top: 0;
}

body .product-assist-block .second-block>a, body .product-assist-block>a {
	margin: 0;
}

// modal relacionados
#modal-tipo-entrega {
	position: fixed;
    left: -100%;
    top: 50%;
    z-index: 99999999;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 40px 20px 20px;
	opacity: 0;
	visibility: hidden;
	transition: .2s ease-in-out;

	@media (max-width: 768px) {
		width: 90%;
		overflow-y: scroll;
		height: 90%;
	}

	&.is--modal-active {
		left: 50%;
		opacity: 1;
		visibility: visible;
		transition: .2s ease-in-out;
	}

	.close-modal {
		position: absolute;
		right: 12px;
		top: 5px;
		cursor: pointer;
	}
}

#modal-tipo-entrega__overlay {
	position: fixed;
    z-index: 99999;
    background: #0000007a;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	display: none;
	transition: .4s ease-in-out;

	&.is--modal-active {
		display: block;
		transition: .4s ease-in-out;
	}
}

.product {
	&-assist {
		@extend %flex-center;
		@include breakpoint(small, 'max') { padding: 20px 0; }
		flex-wrap: wrap;
		margin: 0 auto;
		padding: 45px 0;

		.text-center {
			text-align: center;
			display: block;
			width: 100%;

			&:nth-child(1) {
				font-family: "consul", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 24px;
				color: #515151;
				font-weight: 500;
				margin: 0 0 11px;

				@include breakpoint(small, 'max') {
					font-size: 18px;
					margin: 0 0 7px;
				}
			}

			&:nth-child(2) {
				font-family: "consul", "Helvetica Neue", Helvetica, Arial, sans-serif;
				color: #736C6B;
				font-size: 16px;
				font-weight: 500;
				margin: 0;
				margin-bottom: 20px;
				@include breakpoint(small, 'max') {
					font-size: 12px;
					margin-bottom: 0;
				}
			}
		}

		.container {
			> h2 {
				@include breakpoint(small, 'max') {
					text-align: left;
				}
				@include rfs(28);
				color: #5B5B5B;
				font-weight: bold !important;
				line-height: 1.1;
				margin: 8px 0;
				width: 100%;
			}
			> p {
				@include breakpoint(small, 'max') {
					text-align: left;
				}
				@include rfs(14);
				font-weight: 500;
				margin: 0 auto;
				width: 100%;
			}
		}
        &-row {
            @extend %flex-center;
            @include breakpoint(small, 'max') {
                flex-wrap: wrap;
                margin-top: 25px;
            }
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-top: 40px;
            width: 100%;
        }
        &-block {
            @extend %flex-center;
            @include breakpoint(small, 'max') {
                padding: 15px 0;
				width: 100%;
				margin: 0;
            }
            flex-wrap: wrap;
			padding: 0 5px;
			display: flex;
			flex-direction: column;

			&.installation {
				.first-block {
					.icon-corp {
						&:before {
							font-family: unset;
							font-style: inherit;
							font-variant: unset;
							font-weight: unset;
							line-height: unset;
							speak: unset;
							text-transform: unset;
							content: "";
							font-size: unset;
							background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyNiAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTIuNiIgY3k9IjEyLjYiIHI9IjEyLjEiIHN0cm9rZT0iIzczNkM2QiIvPgo8cGF0aCBkPSJNMTYuMDUxMiAxMS44Nzk1QzE2LjQ2IDEyLjI3MjkgMTYuNDYgMTIuOTI3MyAxNi4wNTEyIDEzLjMyMDdMMTIuMTkzNCAxNy4wMzI4QzExLjU1ODEgMTcuNjQ0MSAxMC41IDE3LjE5MzkgMTAuNSAxNi4zMTIyTDEwLjUgOC44ODc5NUMxMC41IDguMDA2MjkgMTEuNTU4MSA3LjU1NjA1IDEyLjE5MzQgOC4xNjczN0wxNi4wNTEyIDExLjg3OTVaIiBmaWxsPSIjNzM2QzZCIi8+Cjwvc3ZnPgo=);
							width: 24px;
							height: 24px;
							display: block;
							background-size: 100%;
						}
					}
				}
			}

			&.parts {
				cursor: not-allowed;
				display: flex;
				opacity: 0.5;

				.btn-pecas-produto {
					display: block;
					font-weight: 400;
					margin: 0;
					pointer-events: none;
					width: 100%;
					text-align: center;
				}

				&.has--parts {
					cursor: unset;
					opacity: 1;
					.btn-pecas-produto {
						font-weight: 500;
						pointer-events: all;
					}
				}
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			.first-block {
				@extend %flex-center;
				width: 10%;
				text-align: center;
				justify-content: center;

				.icon-parts {
					height: 33px;
					position: relative;
					width: 33px;
					&:before {
						@extend %icon-settings;
						@include icon-get('icon-engrenagem');
						@include breakpoint(small, 'max') {
							font-size: 26px;
						}
						@include breakpoint(medium, 'max') {
							font-size: 15px;
						}
						font-size: 26px;
					}
				}
				.icon-infos {
					height: 28px;
					position: relative;
					width: 28px;
					&:before {
						@extend %icon-settings;
						@include icon-get('informacoes');
						@include breakpoint(small, 'max') {
							font-size: 26px;
						}
						@include breakpoint(medium, 'max') {
							font-size: 15px;
						}
						font-size: 26px;
					}
				}
				.icon-delivery {
					height: 27px;
					position: relative;
					width: 28px;
					&:before {
						@extend %icon-settings;
						@include icon-get('entregas');
						@include breakpoint(small, 'max') {
							font-size: 26px;
						}
						@include breakpoint(medium, 'max') {
							font-size: 15px;
						}
						font-size: 26px;
					}
				}
				.icon-corp {
					height: 31px;
					position: relative;
					width: 44px;
					&:before {
						@extend %icon-settings;
						@include icon-get('vendas-corporativas');
						@include breakpoint(small, 'max') {
							font-size: 18px;
						}
						@include breakpoint(medium, 'max') {
							font-size: 15px;
						}
						font-size: 18px;
					}
				}
			}

			.second-block {
				flex-wrap: wrap;
				width: 85%;
				text-align: center;
				padding: 0;
				justify-content: center;

				@include breakpoint(small, 'max') {
					width: 100%;
				}

				> h3 {
					@include breakpoint(small, 'max') {
						@include rfs(14);
						width: 100%;
						margin: 4px 0 6px;
					}
					@include breakpoint(medium, 'max') {
						@include rfs(10);
						width: 100%;
					}
					font-size: 13px;
					display: block;
					color: #736C6B;
					margin: 16px 0 6px;
				}
				> p {
					@include breakpoint(small, 'max') {
						@include rfs(12);
						text-align: center;
						width: 63%;
						margin: 0 auto 10px;
					}
					@include breakpoint(medium, 'max') {
						@include rfs(9);
						width: 100%;
					}
					font-size: 11px;
					min-height: 36px;
					color: #736C6B;
					margin: 0;
					font-weight: 100;
					font-family: "consul", "Helvetica Neue", Helvetica, Arial, sans-serif;
				}

				> a {
					@include rfs(12);
					color: #9aca3c;
					font-weight: 500;

					@include breakpoint(small, 'max') {
						@include rfs(12);
						width: 100%;
						text-align: center;
						margin: 0;
					}
					@include breakpoint(medium, 'max') {
						@include rfs(9);
					}
					> b {
						margin-left: 10px;
					}
				}
			}

			> a {
				@include rfs(12);
				color: #9aca3c;
				font-weight: 500;

				@include breakpoint(small, 'max') {
					@include rfs(12);
					width: 100%;
					text-align: center;
				}
				@include breakpoint(medium, 'max') {
					@include rfs(9);
				}
				> b {
					margin-left: 10px;
				}
			}
		}
	}
}
