#compre-junto {
	display: block;
	margin: 90px auto;
	max-width: 1280px;
	padding: 0 90px;

	@include breakpoint(medium, 'max') {
		padding: 0 20px;
		width: 95%;
	}

	h4 {
		@include responsiveFont(30, 16, true);
		color: $green;
		font-weight: 300;
		text-transform: uppercase;

		@include breakpoint(medium, 'max') {
			@include responsiveFont(28, 16, true);
		}
	}

	.buy-together-content {
		table {
			min-height: 250px;
			padding: 40px;
			width: 100%;
		}

		tr {
			margin: 20px 0;
			padding: 40px 20px;
			width: 100%;

			@include breakpoint(medium, 'max') {
				border-bottom: 1px solid $green;
				display: block;
				margin: 20px auto;
				padding: 40px 20px;
				text-align: center;
				width: 90%;
			}

			&:last-child {
				border-bottom: none;
			}
		}

		.itemA,
		.itemB {
			max-width: 360px;
			padding: 0 30px;
			text-align: center;

			@include breakpoint(medium, 'max') {
				display: block;
				max-width: 100%;
				width: 100%;
			}

			h3 {
				@include responsiveFont(16, 16, true);
				color: $base-font-color;
				text-align: left;

				@include breakpoint(medium, 'max') {
					text-align: center;
				}

				a {
					color: $base-font-color;
				}
			}
		}

		.plus,
		.equal {
			@include responsiveFont(50, 16, true);
			color: $green;
			text-align: center;

			@include breakpoint(medium, 'max') {
				display: block;
				max-width: 100%;
				width: 100%;
			}
		}

		.buy {
			line-height: 15px;
			padding-left: 40px;
			padding-top: 20px;

			@include breakpoint(medium, 'max') {
				display: block;
				padding-left: 0;
				text-align: center;
				width: 100%;
			}

			@include breakpoint(small, 'max') {
				text-align: left;
			}

			>strong {
				@include responsiveFont(16, 16, true);
			}

			br + strong {
				display: block;
			}
		}

		p.comprar-junto {
			width: 205px;

			@include breakpoint(medium, 'max') {
				width: 100%;
			}

			a {
				@extend %primary-button;
				@include responsiveFont(15, 16, true);
				display: block;
				margin: 0 auto;
				margin-top: 25px;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				width: 205px;
			}
		}

		p.more {
			display: none;
		}

		.buy-together {
			display: none;
		}
	}
}