.prod-details-nav {
	background-color: $green;
	min-height: 62px;
	position: relative;
	text-align: center;
	top: 0 !important;
	width: 100%;
	z-index: 20;

	@include breakpoint(small, 'max') { display: none; }

	@include breakpoint(extra-large, 'max') {
		@include opacity(0);
	}

	@include breakpoint(medium, 'min') {
		top: -60px;
	}

	&.pinned {
		@include breakpoint(extra-large, 'max') {
			@include opacity(1);
		}

		ul {
			display: none;
			left: -10px;
			min-width: 700px;
			transform: translateX(0);

			@include breakpoint(extra-large, 'min') {
				display: block!important;
				min-width: inherit;
				text-align: left;
			}
		}
		
		.nav-price {
			display: block;
			opacity: 1;
		}

		.skuBestInstallmentValue {
			& + span {display: none;}
		}
	}

	.row {
		margin-bottom: 0;
		position: relative;
	}

	ul {
		left: 50%;
		min-width: 900px;
		padding: 26px 0;
		position: absolute;
		transform: translateX(-50%);
		transition: .4s ease;

		@include breakpoint(extra-large, 'min') {
			min-width: inherit;
		}
	}

	li {
		@include font-size(18px, true, false);
		display: inline-block;
		margin-right: 6px;
		vertical-align: middle;

		a {
			border-radius: 22px;
			color: #ffffff;
			display: inline-block;
			padding: 8px 10px;
			position: relative;
			transition: color .4s ease, background .4s ease;

			&:hover,
			&.active-nav {
				background: #ffffff;
				color: $green;
			}
		}

		&.hide { display: none; }
	}

	.nav-price {
		@extend %single-transition;
		display: none;
		opacity: 0;
		padding: 20px 0;
		@include breakpoint(small, 'max') {
			padding: 10px 0;
		}
	}

	.details-preco {
		color: #ffffff;
		float: right;
		text-align: right;

		.descricao-preco {
			margin: 0;

			em { font-style: normal; }

			strong { font-weight: 400; }
		}

		.valor-de,
		.preco-a-vista,
		.economia-de { display: none!important; }

		.valor-por {
			font-size: 0;

			strong {
				@include responsiveFont(18, 16, true);

				@include breakpoint(small, 'max') { @include responsiveFont(12, 16, true); }
			}
		}

		.valor-dividido {
			@include responsiveFont(18, 16, true);
			display: block!important;
			@include breakpoint(small, 'max') {
				@include responsiveFont(12, 16, true);
			}

			label {
				display: inline-block;
				font-weight: 700;
			}
		}
	}

	#BuyButtonDetails {
		@extend #BuyButton;
		float: right;

		.buy-button {
			margin-left: 20px;

			@include breakpoint(small, 'max') {
			@include responsiveFont(12, 16, true);
				margin-left: 10px;
				padding: 10px 18px;
				&:before {
					@include responsiveFont(14, 16, true);
				}
			}

			&:hover {
				background-color: #fff;
				border-color: $orange;
			}
		}
	}
}
