#especificacoes {
	@include breakpoint(small, 'max') {
		margin: 0;
		padding: 10px 0;
	}
	background: #e9e9e9;
	overflow: hidden;
	padding: 80px 0;
	text-align: center;

	.slide-none {
		@include breakpoint('small', 'max') { display: none; }
	}

	div[class^='col-'] {
		padding-left: 10px;
		padding-right: 10px;
	}

	h2 {
		@include breakpoint(small, 'max') {
			@include font-size(23px);
			display: inline-block;
			margin: 0 0 10px;
			padding: 0 40px 0 0;
		}
		margin: 0 0 85px;
		position: relative;

		&:after,
		&:before {
			@include breakpoint(large, 'max') { display: none!important; }
			@include contentBefore();
			border-image: url('/arquivos/border-dots-d.png') 70 78 82 72 fill repeat;
			position: absolute;
		}

		&:before {
			border-width: 70px 0 0 72px;
			height: 100px;
			left: -290px;
			top: 20px;
			width: 270px;
		}

		&:after {
			border-width: 70px 0 0 0;
			right: -1382px;
			top: 20px;
			width: 1270px;
		}

		span {
			display: inline-block;
			line-height: .8;
		}

		i {
			@include breakpoint(small, 'max') {
				@include font-size(26px);
				text-align: center;
			}
			@include responsiveFont(60, 16, true);
			color: $green;
			height: 66px;
			position: absolute;
			right: -101px;
			top: 7px;
			transform: rotateZ(-15deg);
			width: 56px;
		}
	}

	.title {
		i {
			@include breakpoint(small, 'max') {
				display: block;
				height: 26px;
				position: absolute;
				right: 0;
				top: 5px;
				transform: rotate(-90deg);
				width: 26px;
			}
			@include vendor(transform, rotate(-90deg));
			@include vendor(transition, all 300ms ease-in-out);
			display: none;
		}

		.icon-consul-clipboard {
			@include breakpoint(small, 'max') { display: none; }
		}
	}

	&.open {
		.title i { @include vendor(transform, rotate(-270deg)); }
	}

	h3,
	h4 {
		@include font-size(14px);
		text-align: left;
	}

	h3 {
		font-weight: 700;
		margin: 0;
		padding-right: 15px;
		text-transform: uppercase;
	}

	p {
		font-weight: 200;
		margin: 0;
	}

	.topic {
		&.sparse { margin-top: 40px; }

		.row {
			@include breakpoint(small, 'max') {
				border-bottom: 1px solid #ffffff;
				height: 11px;
			}
		}

		li {
			clear: both;
			margin-bottom: 12px;

			&:first-child {
				border-bottom: 1px solid #ffffff;
				height: 11px;
				margin-bottom: 22px;

				p {
					background: #e9e9e9;
					float: right;
					padding-left: 15px;
				}
			}

			&.change {
				p {
					display: block;
					width: 100%;
				}
			}
		}
	}

	// Dimensions
	.dimensions {
		text-align: left;

		div[class^='col-'] {
			@include breakpoint(small, 'max') {
				margin-bottom: 1em;
				margin-left: 0;
				width: 50%;
			}
			display: inline-block;
			vertical-align: middle;
		}

		h3 {
			@include breakpoint(small, 'max') { @include font-size(10px); }
		}

		p {
			@include breakpoint(medium, 'max') { @include responsiveFont(50, 16, true); }
			@include breakpoint(small, 'max') { @include responsiveFont(30, 16, true); }
			@include responsiveFont(60, 16, true);
			font-weight: 400;

			span {
				@include breakpoint(small, 'max') { @include responsiveFont(30, 16, true); }
				@include font-size(38px);
			}
		}
	}

	// Specs
	.specs {
		.col-4:last-child ul {
			position: relative;

			&:after {
				@include breakpoint(large, 'max') { display: none!important; }
				@include contentBefore();
				border-image: url('/arquivos/border-dots-d.png') 70 78 82 72 fill repeat;
				border-width: 0 0 82px 72px;
				bottom: -150px;
				height: 113px;
				left: 160px;
				position: absolute;
				width: 1100px;
			}
		}

		h3,
		h4 {
			@include font-size(16px);
			background: #e9e9e9;
			color: $txt-gray;
			float: left;
		}

		h4 {
			@include breakpoint(small, 'max') { padding-right: 15px; }
			font-weight: 200;
			margin: 0;
			max-width: 290px;
		}

		p {
			@include breakpoint(small, 'max') {
				background: #e9e9e9;
				float: right;
				padding-left: 15px;
				text-align: right;
			}
			text-align: left;
		}
	}
}

// Mobile
body.produto #especificacoes {
	@include breakpoint('small', 'max') {
		.container {
			margin-top: 15px;
			max-height: 375px;
			overflow: hidden;
			padding: 0 0 80px 0;
			position: relative;
			transition: max-height 1.2s ease;

			&:before {
				background-color: #e9e9e9;
				bottom: 0;
				content: '';
				display: block;
				height: 90px;
				position: absolute;
				right: 0;
				width: 100%;
				z-index: 1;
			}

			// Active state
			&.open--full { max-height: 1600px; }
		}

		h2.title {
			display: block;
			margin: 5px 0;
			padding: 0 20px;
			text-align: left;
			width: 95%;
		}

		.dimensions,
		.specs {
			div[class*='col-'] { width: 100%; }

			h3,
			h4,
			p,
			span { font-size: 16px; }

			h3,
			h4 {
				float: none;
				font-weight: bold;
			}

			h3,
			h4,
			p {
				display: inline-block;
			}

			p { text-align: right; }

			span { color: #736c6b; }
		}


		.dimensions {
			margin-bottom: 0;

			div[class*='col-']:nth-child(odd) { background-color: #fff; }

			h3,
			h4,
			p {
				width: 50%;
			}

			h3,
			h4 {
				font-weight: normal;
				text-transform: none;
			}

			p {
				font-weight: bold;
				text-align: right;
			}
		}

		.specs {
			padding-top: 5px;
			text-align: left;

			p {
				font-size: 12px;
			}

			div[class*='col-4']:last-child {
				padding-bottom: 15px;

				li { border: 0; }
			}

			.info {
				p {
					display: block;
					padding: 5px 0 10px 0;
					text-align: left;
				}
			}
		}

		.topic {
			h4 { font-weight: normal; }
		}

		// BTN Mais especs
		#mais-especs {
			bottom: 20px;
			font-size: 14px;
			left: 20px;
			padding: .7em .5em;
			position: absolute;
			width: calc(100% - 40px);
			z-index: 2;

			&:focus { outline: none; }
		}
	}
}