#especificacoes {
	@include breakpoint(small, 'max') {
		margin: 0;
		padding: 10px 0;
	}
	background: #fff;
	overflow: hidden;
	padding: 80px 0;
	text-align: center;

	.slide-none {
		@include breakpoint('small', 'max') { display: none; }
	}

	// .container {
	// 	max-width: 80%;
	// }

	.measure {
		&-name {
			font-size: 1rem;
			text-align: center;
		}

		&-line {
			border-top: 2px solid #ddd;
			display: block;
			margin: 10px auto 5px;
			width: 15%;
		}

		@include breakpoint(medium, 'max') { @include responsiveFont(50, 16, true); }
		@include breakpoint(small, 'max') { @include responsiveFont(30, 16, true); }
		@include responsiveFont(50, 16, true);
		color: $green;
		font-weight: 700;
		text-align: center;

		span {
			@include breakpoint(small, 'max') { @include responsiveFont(30, 16, true); }
			@include font-size(30px);
			color: #736c6b;
			font-weight: 300;
			margin-left: 5px;
		}
	}

	div[class^='col-'] {
		padding-left: 10px;
		padding-right: 10px;
	}

	h2 {
		@include breakpoint(small, 'max') {
			@include font-size(23px);
			display: inline-block;
			margin: 0 0 10px;
			padding: 0 40px 0 0;
		}
		margin: 0 0 85px;
		position: relative;

		&:after,
		&:before {
			@include breakpoint(large, 'max') { display: none!important; }
			@include contentBefore();
			border-image: url('/arquivos/border-dots-d.png') 70 78 82 72 fill repeat;
			position: absolute;
		}

		&:before {
			border-width: 70px 0 0 72px;
			height: 100px;
			left: -290px;
			top: 20px;
			width: 270px;
		}

		&:after {
			border-width: 70px 0 0 0;
			right: -1382px;
			top: 20px;
			width: 1270px;
		}

		span {
			display: inline-block;
			line-height: .8;
		}

		i {
			@include breakpoint(small, 'max') {
				@include font-size(26px);
				text-align: center;
			}
			@include responsiveFont(60, 16, true);
			color: $green;
			height: 66px;
			position: absolute;
			right: -101px;
			top: 7px;
			transform: rotateZ(-15deg);
			width: 56px;
		}
	}

	.title {
		background-color: #f1f0f0;
		display: none;
		font-size: 1rem;
		height: 10%;
		padding: 20px 0 20px 15px;
		text-align: left;
		width: 100%;


		@include breakpoint (small, 'max') {
			display: block;
		}

		i {
			@include breakpoint(small, 'max') {
				display: block;
				font-size: 1rem;
				height: 26px;
				position: absolute;
				right: 30px;
				top: 20px;
				transform: translate(10px) rotate(-90deg);
				width: 26px;
			}
			@include vendor(transform, rotate(-90deg));
			@include vendor(transition, all 300ms ease-in-out);
			color: #736c6b;
		}

		.icon-consul-clipboard {
			@include breakpoint(small, 'max') { display: none; }
		}
	}

	&.open {
		.title i { @include vendor(transform, rotate(-270deg)); }
	}

	.topic {
		&.sparse { margin-top: 40px; }

		.row {
			display: flex;
			margin: 0;

			@include breakpoint(small, 'max') {
				border-bottom: 1px solid #ffffff;
			}

			&.info {
				display: block;

				.specs {
					&-title {
						border-bottom: 2px solid #9aca3c;
						display: block;
						font-size: 1rem;
						font-weight: 700;
						margin: 40px 0 15px;
						padding-bottom: 5px;
						text-align: left;
					}

					&-value {
						font-size: .875rem;
						font-weight: 100;
    					padding-right: 20px;
						text-align: left;

						@include breakpoint(small, 'max') {
							font-size: .75rem;
						}
					}
				}
			}
		}

		li {
			clear: both;
			margin-bottom: 5px;



			h3 {
				font-size: 1rem;
				text-align: left;
			}
		}
	}

	// Dimensions
	.dimensions {
		text-align: left;

		div[class^='col-'] {
			@include breakpoint(small, 'max') {
				margin-bottom: 1em;
				margin-left: 0;
				width: 50%;
			}
			display: inline-block;
			vertical-align: middle;
		}

	}

	// Specs
	.specs {
		&-line {
			border-radius: 2px;
			border-top: 2px solid $green;
			display: block;
			margin-bottom: 15px;
			width: 100%;
		}

		&-name {
			font-size: 1rem;
			margin-bottom: 5px;
			text-align: left;
		}

		&-title {
			display: inline-block;
			font-size: .875rem;
			margin: 0;
			min-width: 170px;
			text-align: left;
			text-transform: capitalize;

			@include breakpoint(small, 'max') {
				font-size: .75rem;
			}
		}

		&-value {
			display: inline-block;
			font-size: .875rem;
			margin: 0;
			text-align: right;
			width: 100%;

			@include breakpoint(small, 'max') {
				font-size: .75rem;
			}
		}

		.col-4:last-child ul {
			position: relative;

			&:after {
				@include breakpoint(large, 'max') { display: none!important; }
				@include contentBefore();
				border-image: url('/arquivos/border-dots-d.png') 70 78 82 72 fill repeat;
				border-width: 0 0 82px 72px;
				bottom: -150px;
				height: 113px;
				left: 160px;
				position: absolute;
				width: 1100px;
			}
		}
	}

	.download {
		background: #fff;
		border: 1px solid #702f8f;
		color: #702f8f;
		font-size: .75rem;

		&:hover {
			background: #702f8f;
			color: #fff;
		}
	}
}

#mais-especs {
	display: none;
}