.prod-galeria {
	position: relative;
	margin-top: 28px;

	#show, .gallery.slick-slider {
		position: relative;

		@include breakpoint(medium, "min") {
			min-height: 410px;
			max-width: 80%;
		}

	}

	ul.thumbs{display: none}

	li:focus { outline: none; }

	.thumbs/*, .slick-dots*/ {
		padding: 5px;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		width: auto;

		@include breakpoint(small, "max") {
			bottom: -5px;
		}

		button{
			&:before{color: $gray-d!important}
			&:after{display: none}
		}

	}

	.slick-dots{
		bottom: 25px;
		li {
			button{
				background: $gray;
			}

			&.slick-active button{
				background: $gray-l;
				&:after{
					border-color:$gray;
				}
			}
		}
	}

	.gallery{
		@include breakpoint(medium, "min") { float:right; }
		.slick-prev, .slick-next{
			top: 35%;
			transform: translateY(-35%);
		}
		.slick-slide{
			cursor: pointer;
			position: relative;

			a{
				display: inline-block;
				width: 100%;

				img{width: 100%; height: auto;}

				&.anchor{
					width:auto;
				}

				&:before, &:after{
					opacity: 0;
					transition: opacity 0.3s ease-in;
				}

				&:before{
					@include contentBefore();
					background:transparent url('/arquivos/bg-loupe-zoom.png') left top no-repeat;
					width: 58px;
					height: 67px;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
				}

				&:after{
					@include contentBefore();
					@include icon-get('consul-loupe');
					@include responsiveFont(27, 16, true);
					color: $green;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
				}

				&.mfp-iframe{
					&:before {
						display: none;
					}

					&:after{
						@include contentBefore();
						background:transparent url('/arquivos/thumb-play.png') left top no-repeat;
						width: 65px;
						height: 65px;
						@include responsiveFont(20, 16, true);
					}
				}

				@include breakpoint(large, "min") {
					&:hover{
						&:before, &:after{
							opacity: 1;
						}
					}
				}
			}

			&.anchor{
				min-height: 346px;
				a{
					width: auto;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					&:hover{
						&:before, &:after{
							opacity: 0;
						}
					}
				}
			}
		}
	}
	.galleryThumbs{

		max-height:353px;

		@include breakpoint(medium, "min") {
			float:left;
			max-width:20%;
			width: 80px;
		}
		img{
			border:2px solid $gray;
			margin: 10px;
		}
		.slick-slide{
			max-height:80px;
			a{
				display: inline-block;
			}
			&.slick-current{
				img{border-color:$green;}
			}
		}
	}
}
.mfp-iframe-holder{
	.mfp-content{
		width:80%;

		@include breakpoint(extra-small, "min") {
			height:80%;
		}

	}
}
