@charset 'UTF-8';

// Kit Instalação
.kit-instalacao {
	border-bottom: 1px solid #e3e1e1;
	margin: 1em 0;

	.skuList { margin-bottom: 10px; }

	&__content { display: none; }

	&__title.specification {
		text-transform: none;

		&::before { display: none; }
	}

	&__description {
		@include rfs(13);
		margin: 0;
	}

	.kit-instalacao-container {
		display: none;
		padding: 10px;
	}

	// Erro
	&__error {
		border: 1px solid #f1f0f0;
		border-radius: 4px;
		box-shadow: 0 5px 10px rgba(218, 218, 218, .7);
		margin: 0 10px 20px 10px;
		padding: 1em 2.5em;
		text-align: center;

		p {
			color: #702F8F;
			font-weight: bold;
			margin: 0;
		}

		button {
			@include rfs(14);
			margin-top: 1em;
		}
	}

	// Loading
	&.kit-is-loading .loading-container { display: block; }

	.loading-container {
		display: none;
		text-align: center;

		.icon-spinner {
			display: block;
			height: 75px;

			&:before {
				@include spinner($green, 45px);
				content: '';
			}
		}
	}

	// Exibir informações somente depois do loading dos produtos
	&.kit-loaded {
		.kit-instalacao-container { display: block; }
	}

	// Controle de exibição dos Kits com base na seleção do tipo de gás
	// &[data-kittype='gas-natural'] {
	// 	.kit-instalacao__content[data-kittype='gas-natural'] { display: block; }
	// }

	// &[data-kittype='botijao'] {
	// 	.kit-instalacao__content[data-kittype='botijao'] { display: block; }
	// }
}

.kit-product {
	align-items: center;
	border: 1px solid #e3e1e1;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	margin: 10px;
	overflow: hidden;
	padding: 5px;
	position: relative;

	// [Gás natural]
	&.product-2003553,
	&.product-2002761 {
		padding-bottom: 24px;
	}

	&__item {
		padding: 5px;

		// Image
		&-image {
			height: 60px;
			overflow: hidden;
			width: 60px;

			img {
				display: block;
				max-width: 100%;
			}
		}

		// Title
		&-title {
			color: #736C6B;
			width: 155px;

			h2 {
				@include rfs(13);
				line-height: 125%;
				margin: 0;
				padding: 0;
			}

			span { @include rfs(10); }
		}

		// Price
		&-price {
			text-align: right;

			.de {
				@include rfs(12);
				color: #702F8F;
			}

			.por {
				@include rfs(16);
				color: #9ACA3C;
				font-weight: bold;
			}
		}

		// Select
		&-select {
			margin-right: 5px;
			overflow: hidden;
			position: relative;
			text-align: right;

			input {
				left: -30px;
				opacity: 0;
				position: absolute;

				&:checked + label {
					border: 2px solid #702F8F;
					border-radius: 2px;

					&:before { opacity: 1; }
				}
			}

			label {
				@include square(20px);
				border: 1px solid #bbb;
				border-radius: 2px;
				display: block;
				position: relative;
				transition: border .1s ease;

				&:before {
					@include square(8px);
					background-color: #702F8F;
					content: '';
					left: 50%;
					opacity: 0;
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: opacity .1s ease;
				}
			}
		}
	}

	// Informação
	&__info {
		@include rfs(11);
		background-color: #0fb6de;
		bottom: 0;
		color: #fff;
		display: none;
		left: 0;
		padding: 3px 20px;
		position: absolute;
		width: 100%;

		.icon {
			@include rfs(16);
			position: absolute;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);
		}

		// Exibir somente para gás natural
		.product-2003553 &,
		.product-2002761 & { display: block; }
	}
}


