#modal-sku {
	.options {
		margin: 1em 0;

		.specification { display: none; }
	}

	.button { margin: 0; }

	.buy-button { @extend .primary-button; }

	// .portal-notify-me-ref { display: none; }
}

#vtex-modal-sku {
	.modal-header { text-align: center; }

	.sku-indisponivel {
		.btn-avise {
			@include responsiveFont(16, 16, true);
			background-color: #fff;
			border: 1px solid $orange;
			border-radius: 50px;
			color: $orange;
			display: block;
			margin: 16px 0 0 0;
			padding: 15px 18px;
			position: relative;
			text-align: center;
			text-decoration: none;
		}

		.buy-button {
			@include breakpoint('medium', 'max') {
				margin: 0 auto 12px auto;
				max-width: 258px;
				padding: 15px 18px;
			}
			position: relative;
		}
	}

	.modal-avise {
		background-color: #fff;
		border-radius: 6px;
		display: inline-block;
		margin: 0 auto;
		max-width: 400px;
		padding: 16px;
		text-align: left;
		vertical-align: middle;
		width: 90%;

		.notifyme-title { display: none; }

		form,
		.notifyme-title-div,
		.sku-notifyme,
		.notifyme-client-name,
		.notifyme-client-email,
		input {
			display: block!important;
		}

		@include breakpoint(extra-small, 'max') {
			&[href*='#relacionados'] { display: none!important; }
		}
	}

	.back-window {
		@include responsiveFont(20, 16, true);
		display: block;
		height: 25px;
		width: 25px;

		&:before {
			@include icon-get('arrow-left');
			display: block;
			margin-bottom: 20px;
		}
	}
}