#modal-sku {
	.options {
		background: #eee;
		margin: 0 -1em 20px;
		padding: 21px 0;

		.specification { display: none; }
	}

	.buy-button {
		@extend .primary-button;
		font-size: 1em;
		margin: 0 auto;
		max-width: 160px;
		width: auto;
	}

	.portal-notify-me-ref { display: none; }
}