body {
	.prod-wishlist_compare {
		display: flex;
		flex: 1;
		justify-content: start;
		align-items: center;

		width: 100%;
		height: auto;

		align-items: center;

		margin-bottom: 25px;

		.product-compare {
			display: none;
		}

		.wishlist__container {
			display: none;
		} //test ab desactive change block to active
	}

	&.testeAB-compare {

		.prod-wishlist_compare {
			.product-compare {
				display: flex;
				margin-left: 15px;
				@media screen and (max-width:768px) {
					margin-left: 0;
				}
				label {
					padding: 5px 0 5px 20px;

					&:before {
						font-size: 9px;
						left: 2.5px;
						top: 12px;
						@media screen and (max-width:700px) {
							top: 10px;
						}
					}

					&:after {
						width: 15px;
						height: 15px;
					}
				}
			}

		}

	}

	&.testeAB-favourite {
		.prod-wishlist_compare {
			.wishlist__container {
				display: flex;
				max-width: 100px;

				.wishlist__button-pdp{
					span {
						font-size: 1rem;

						@media screen and (max-width:768px) {
							font-size: .75rem;
						}
					}
				}

				&.wished {
					max-width: 125px;
					.wishlist__button-pdp{
						span {
							font-size: 0;
							&:before {
								font-size: 1rem;
								@media screen and (max-width:768px) {
									font-size: .75rem;
								}
							}
						}
					}
				}
			}
		}
	}
}