@charset 'UTF-8';

$icon-preco-a-vista : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAhCAMAAAAS9VDrAAAAPFBMVEUAAABAPDpAPDpAOzpAMDBAOzpAOzpAOjpAPDhAOzpAODhAOztAOjpAOjpAOztAOTlAOzpBPTlAPDlAPDtn8C58AAAAE3RSTlMAwIDwEOCgX0CwIHAwkNBQzz9vwfUj9QAAAV9JREFUKM91k9muBCEIRAXEte1l6v//9Towiz3JrSdMRVIeMKyKeZBiiipv4a6tAkr8VKJZ5tXM0N6+x6OC4rerpBhuKuhLXcKPTvqUHec9SEz4ugwF5fa2riHY9ZsCMe8ATpoSQFKrtLgzQys8ppk4b/O+rp1/YmXFubi9SeXrenK5HklBRMuLttB3vKWphMXNSIazFD5KsRJvt2UjG2+osDt/AmBdz8QmgsTuL+LXrcYClxCXF8mE8aFHyHeSB9hSiWEmaQ5nCHSSfBGp6D5IXUlmNDfhdsZOxL04yWqx27RqtcvvmZdzklR297MZe7L1U+i8CHNDAtSnT0DvkHQEInMtJEt1VzmGaLA4UPLFaWHAKh3OL2GPYYgd5HxIdfaceZBAOD5P3RoLdn+akxxHMFWnwyi+QPm+mXI+7dYtibVftYlkryIvv2OZjI7HxUl8Wr8q0wB2buEfGYBf/QGrfhEE6ynUEwAAAABJRU5ErkJggg==';
$icon-preco-parcelado : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAaCAMAAAAHbGVJAAAANlBMVEUAAABAPDpAPDpAPDhAOzpAOztAMDBAOzpAOjpAOjpAOTlAODhAOzpAOjpAOztAOzpAPDlAPDu+7ph4AAAAEXRSTlMAwH9A8NAQ4DBfUCCfkHCwb3iku5gAAACSSURBVCjPzc85FoMwDEVRWYNHIPz9bzYibn0sytxGzSv0KZ+KvcJEJyztFVykRoGsiZAokrwqHCleveCVScRe/+VVFjeeO9VlleCUyIBJVpWw68+drryoFv65qtzuewQV46dvqwGTq3Ut20rA5D7YVlmtH9zU9n81hdMabBxSq+S5UY0iJdGBg/cSmPIHkZPe+QKB1w1XN3SUEQAAAABJRU5ErkJggg==';

body.produto {
	.tag {
		@include breakpoint('medium', 'max') { transform: translate(15px, 0) }
		@include rfs(11);
		background-color: $purple;
		border-radius: 25px;
		color: #fff;
		display: inline-block;
		font-weight: 500;
		line-height: normal;
		padding: 8px 18px;
		position: absolute;
		right: 25px;
		top: 15px;
		transition: opacity .3s ease;
	}

	.prod-galeria:hover {
		& + .tag { opacity: 0; }
	}
}

.prod-info {
	padding: 0;

	.prod-selos {
		display: none!important;
		margin: 20px auto;
		text-align: center;

		p {
			display: none;
			float: left;
			margin-right: 20px;

			&:last-child {
				@include breakpoint(small, 'max') { display: none; }
				display: block;
			}
		}

		@include breakpoint(small, 'max') {
			position: inherit;
			right: inherit;
			top: inherit;
			width: 100%;

			.flag { position: static; }
		}
	}
}

.prod-more-info {
	border-bottom: 1px solid #f4f2f1;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;

	@include breakpoint('medium', 'max') {
		border: none;
		flex-direction: column;
	}
	@include breakpoint(small, 'max') { margin: 20px 0; }

	a {
		@include font-size(13px);
		color: #736C6B;
		margin: 6px 0;

		&:last-child {
			border-bottom: none;
		}

		@include breakpoint('medium', 'max') {
			border-bottom: 1px solid #f4f2f1;
		}

		@include breakpoint(small, 'max') {
			@include responsiveFont(14, 16, true);
			margin-top: 5px;
		}
	}
}

// =====================================
// TOOLS
// ===================================
.social {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	width: 50%;

	@include breakpoint(medium, 'max') {
		display: flex;
		justify-content: space-between;
		margin: 20px auto;
		width: 120px;
	}

	p {
		@include breakpoint(extra-small, 'max') {
			font-size: 18px!important;
			margin-bottom: 20px!important;
			width: 210px;
		}
	}
}

.at-share-btn { background-color: #9aca3c!important; }

.at-style-responsive .at-share-btn {
	margin-left: 30px!important;

	&:first-child { margin-left: 0!important; }
}

body.consulempresa {
	.valor-por {
		@include responsiveFont(28, 16, true);
		color: $green;
		font-weight: 700;

		&:after {
			@include responsiveFont(16, 16, true);
			color: $txt-gray;
			content: 'à vista no boleto';
			display: block;
			font-weight: normal;
		}
	}
}

.cta-containers {
	display: flex;

	@include breakpoint ('medium', 'max') {
		flex-direction: column;
	}
}