@charset 'UTF-8';

#BuyButton,
.product-info-bar__buy {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1em;

	@include breakpoint('small', 'max') {
		margin-bottom: 40px;
	}

	.form-container {
		@include breakpoint('small', 'max') {
			width: 100%;
		}
	}

	.buy-button {
		@include rfs(12px);
		background-color: $green;
		border-radius: 50px;
		color: #fff;
		padding: 7px 15px;
		text-align: center;
		width: 50%;

		@include breakpoint('small', 'max') {
			background-color: #9aca3c;
			border: 1px solid #9aca3c;
			border-radius: 40px;
			color: #fff;
			display: block;
			font-size: 15px;
			font-weight: 700;
			margin: 0;
			padding: 12px 20px;
			text-align: center;
			z-index: 9999;
			line-height: 16px;
			height: 44px;
			width: 100%;
		}

		&:hover {
			background-color: darken($green, 10%);
			color: #fff;
		}
	}

	.buy-button,
	.secure {
		@include breakpoint('extra-small', 'max') { flex: 1 0 100%; }
		flex: 1 1 50%;
		text-align: center;
	}
}

.product-info-bar {
	display: none;
}


#BuyButton {
	@include breakpoint('medium', 'max') {
		position: absolute;
		right: 2px;
		top: 15px;
		width: 50%;
	}

	@include breakpoint('small', 'max') {
		width: 100%;
		position: relative;
	}

	.secure {
		@include breakpoint('medium', 'max') { @include superHide(); }
		@include rfs(12px);
		color: #E3E1E1;
		font-weight: bold;
		padding: 7px;
		text-transform: uppercase;

		.icon-cadeado { margin-right: 8px; }
	}
}
