.prod-title {
	float: right !important;

	.lead {
		@include font-size(36px);
		color: #736C6B;
		font-weight: bold;
		line-height: 1;
		margin: 0 0 10px;

		.productName {
			@include rfs(25);
			display: inline;

			@include breakpoint(small, 'max') {
				@include responsiveFont(18, 16, true);
				color: $txt-gray;
				line-height: 20px;
			}
		}

		.reference,
		.productSku {
			@include rfs(14);
			color: #0FB6DE;
			display: block;
			font-weight: bold;
			margin-top: 10px;

			@include breakpoint(small, 'max') { font-size: 16px; }

			div { display: inline; }

			&.hide { display: none!important; }
		}
	}
}
