.prod-title {
	float: right !important;
	z-index: 99;
	position: relative;

	.produto-v2 & { float: none !important; }

	.lead {
		color: #5B5B5B;
		display: block;
		font-weight: bold;
		line-height: 24px;
		margin: 0 0 10px;

		.productName {
			@include rfs(20px);
			display: block;
			max-width: 455px;
		}

		.reference,
		.productSku {
			@include rfs(12px);
			color: #0FB6DE;
			font-weight: 500;

			div { display: inline; }

			&.hide { display: none!important; }
		}
		.reference {
			display: inline-block;
			vertical-align: middle;
		}
		.productSku {
			display: block;
		}

		.product-compare {
			display: flex;
			box-sizing: border-box;
			align-items: center;
			justify-content: start;

			label {
				font-size: .8rem;
				font-weight: 300;
				display: inline-block;
			}
		}
	}
}
