@charset 'UTF-8';

$icon-preco-a-vista : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAhCAMAAAAS9VDrAAAAPFBMVEUAAABAPDpAPDpAOzpAMDBAOzpAOzpAOjpAPDhAOzpAODhAOztAOjpAOjpAOztAOTlAOzpBPTlAPDlAPDtn8C58AAAAE3RSTlMAwIDwEOCgX0CwIHAwkNBQzz9vwfUj9QAAAV9JREFUKM91k9muBCEIRAXEte1l6v//9Towiz3JrSdMRVIeMKyKeZBiiipv4a6tAkr8VKJZ5tXM0N6+x6OC4rerpBhuKuhLXcKPTvqUHec9SEz4ugwF5fa2riHY9ZsCMe8ATpoSQFKrtLgzQys8ppk4b/O+rp1/YmXFubi9SeXrenK5HklBRMuLttB3vKWphMXNSIazFD5KsRJvt2UjG2+osDt/AmBdz8QmgsTuL+LXrcYClxCXF8mE8aFHyHeSB9hSiWEmaQ5nCHSSfBGp6D5IXUlmNDfhdsZOxL04yWqx27RqtcvvmZdzklR297MZe7L1U+i8CHNDAtSnT0DvkHQEInMtJEt1VzmGaLA4UPLFaWHAKh3OL2GPYYgd5HxIdfaceZBAOD5P3RoLdn+akxxHMFWnwyi+QPm+mXI+7dYtibVftYlkryIvv2OZjI7HxUl8Wr8q0wB2buEfGYBf/QGrfhEE6ynUEwAAAABJRU5ErkJggg==';
$icon-preco-parcelado : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAaCAMAAAAHbGVJAAAANlBMVEUAAABAPDpAPDpAPDhAOzpAOztAMDBAOzpAOjpAOjpAOTlAODhAOzpAOjpAOztAOzpAPDlAPDu+7ph4AAAAEXRSTlMAwH9A8NAQ4DBfUCCfkHCwb3iku5gAAACSSURBVCjPzc85FoMwDEVRWYNHIPz9bzYibn0sytxGzSv0KZ+KvcJEJyztFVykRoGsiZAokrwqHCleveCVScRe/+VVFjeeO9VlleCUyIBJVpWw68+drryoFv65qtzuewQV46dvqwGTq3Ut20rA5D7YVlmtH9zU9n81hdMabBxSq+S5UY0iJdGBg/cSmPIHkZPe+QKB1w1XN3SUEQAAAABJRU5ErkJggg==';

.prod-preco {
	p { margin: 0; }

	&.product-has-discount {
		em.valor-por { display: inline-block!important; }

		.discount-boleto span { display: inline-block!important; }
	}

	em {
		font-style: normal;

		&.valor-de,
		&.valor-por {
			font-weight: 500;

			strong { font-weight: 500; }
		}

		&.valor-de {
			@include breakpoint('small', 'min') { margin-top: 10px; }
			display: block;
			font-size: 0;
			line-height: 100%;

			strong {
				@include rfs(20px);
				font-weight: 400;
				text-decoration: line-through;
			}
		}

		&.valor-por {
			font-size: 0;
			margin-bottom: 5px;
			white-space: nowrap;

			.skuBestPrice {
				@include rfs(35px);
				color: $green;
				display: inline-block;
				font-weight: bold;
			}
		}

		&.valor-dividido {
			@include rfs(13);
			display: block!important;
			padding-left: 25px;
			position: relative;

			// Icone pagamento
			&:before {
				@include square(15px);
				background: url($icon-preco-parcelado) no-repeat center center;
				background-size: contain;
				content: '';
				left: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			& > span {
				span {
					font-size: 0;

					.skuBestInstallmentNumber {
						&,
						span { @include rfs(13); }

						&:before { content: 'Em até '; }
						&:after { content: ' '; }
					}
				}

				&:after { content: ' sem juros'; }
			}

			strong {
				display: inline-block;
				position: relative;
			}

			label { display: inline; }
		}

		.preco-a-vista {
			@include rfs(18);
			color: $txt-gray-l;
			display: block!important;

			span { color: $base-font-color; }
		}
	}

	.product-with-discount {
		@include rfs(11);
		background-color: #0fb6de;
		border-radius: 100px;
		color: #fff;
		display: inline-block;
		font-weight: 500;
		line-height: normal;
		margin-left: 15px;
		margin-right: 30px;
		padding: 8px 16px;
		transform: translateY(-5px);
		vertical-align: middle;
		white-space: nowrap;
	}


	.preco-a-vista {
		@include breakpoint('small', 'max') { display: none !important; }
		color: $txt-gray-l;
		display: block!important;
		font-size: 0;

		&:before { @include font-size(18px, true, false); }

		strong { @include font-size(18px, true, false); }

		span {
			@include font-size(18px, true, false);
			color: $base-font-color;
			display: inline;
			font-weight: 700;
		}
	}

	.discount-boleto {
		@include rfs(13);
		color: #736C6B;
		display: block;
		padding-left: 25px;
		position: relative;

		// Icone pagamento
		&:before {
			@include square(15px);
			background: url($icon-preco-a-vista) no-repeat center center;
			background-size: contain;
			content: '';
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		span {
			@include rfs(13);
			color: #EC008C;
			display: none;
		}
	}

	.economia-de { display: none; }

	@include breakpoint(small, 'max') { padding-top: 20px; }
}

