@charset 'UTF-8';

.prod-info {
	.secure {
		@include font-size(12px, true, false);
		display: none;
		text-transform: uppercase;

		@include breakpoint(medium, 'min') {
			margin-top: -15px;
			padding-left: 5px;

			i {
				@include font-size(20px);
				left: -25px;
				position: relative;
				top: 30px;
			}
		}

		@include breakpoint(medium, 'max') {
			margin: 0;
			margin-top: 20px;
			width: 100%;
		}
	}

	.prod-selos {
		display: none!important;
		margin: 20px auto;
		text-align: center;

		p {
			//display: inline-block;
			display: none;
			float: left;
			margin-right: 20px;
			&:last-child {
				display: block;
				@include breakpoint(small, 'max') {
					display: none;
				}
			}
		}

		@include breakpoint(small, 'max') {
			// display: block!important;
			position: inherit;
			right: inherit;
			top: inherit;
			// visibility: visible!important;
			width: 100%;
			.flag {
				position: static;
			}
		}
	}
}

.prod-preco {
	p { margin: 0; }

	em {
		font-style: normal;

		&.valor-de,
		&.valor-por,
		&.valor-dividido {
			strong { font-weight: normal; }
		}

		&.valor-de {
			@include breakpoint(small, 'max') {
				@include responsiveFont(14, 16, true);
				display: inline-block !important;
			}

			strong { text-decoration: line-through; }
		}

		&.valor-por {
			font-weight: 700;

			.skuBestPrice {
				font-weight: 700;
			}

			@include breakpoint(small, 'max') {
				@include responsiveFont(14, 16, true);
				color: $orange;
				display: inline-block !important;
				margin-left: 5px;
				position: relative;

				&:after {
					@include responsiveFont(14, 16, true);
					color: $orange;
					content: ' ou';
					display: inline-block;
					position: absolute;
					right: -20px;
					top: 0;
				}
			}
		}

		&.valor-dividido {
			@include font-size(12px, true, false);
			display: block!important;
			position: relative;

			@include breakpoint(small, 'max') {
				padding-left: 50px;
				position: relative;

				&:after {
					@include responsiveFont(14, 16, true);
					color: $orange;
					content: 'em at\00e9';
					display: inline-block;
					left: 0;
					position: absolute;
					top: 0;
				}
			}

			label { display: inline; }

			.skuBestInstallmentValue {
				@include font-size(28px, true, false);
				color: $green;
				font-weight: 700;

				@include breakpoint(small, 'max') {
					@include responsiveFont(14, 16, true);
					color: $orange;
					font-weight: normal;
				}

				&:before { content: 'de '; }

				& + span {
					@include font-size(28px, true, false);
					display: inline-block;
					font-weight: 700;
					padding-left: 18px;

					@include breakpoint (small, 'max') {
						@include responsiveFont(12, 16, true);
						padding-left: 5px;
					}
				}
			}

			& > span {
				& > span {
					display: inline-block;
					font-size: 0;
					height: 30px;
					line-height: inherit;
					margin-right: 10px;
					text-align: center;
					vertical-align: top;

					@include breakpoint(small, 'max') {
						height: auto;
						margin-right: 5px;
					}
				}
			}

			.skuBestInstallmentNumber {
				@include font-size(20px, true, false);
				color: $orange;
				font-weight: 700;
				text-align: center;

				&::after {
					@include font-size(10px, true, false);
					content: 's/ juros';
					display: block;
					line-height: 10px;
					margin-top: -5px;
				}

				@include breakpoint(small, 'max') {
					@include responsiveFont(14, 16, true);
					font-weight: normal;

					&:after {
						@include responsiveFont(14, 16, true);
						display: inline-block;
						margin-left: 5px;
					}
				}
			}
		}

		.preco-a-vista {
			@include font-size(18px, true, false);
			color: $txt-gray-l;
			display: block!important;

			span { color: $base-font-color; }
		}
	}

	.preco-a-vista {
		color: $txt-gray-l;
		display: block!important;
		font-size: 0;

		@include breakpoint(small, 'max') { display: none !important; }

		&:before { @include font-size(18px, true, false); }

		strong { @include font-size(18px, true, false); }

		span {
			@include font-size(18px, true, false);
			color: $base-font-color;
			display: inline;
			font-weight: 700;
		}
	}

	.discount-boleto {
		@include font-size(17px, true, false);
		color: $txt-gray-l;

		@include breakpoint(small, 'max') {
			@include responsiveFont(14, 16, true);
			color: $orange;
			font-weight: normal;
		}

		>span {
			color: $base-font-color;

			@include breakpoint(small, 'max') {
				@include responsiveFont(14, 16, true);
				color: $orange;
				font-weight: normal;
			}
		}
	}

	.economia-de { display: none; }
}

.prod-sku-selector {
	margin-top: 15px;

	@include breakpoint(small, 'max') {
		margin-bottom: 0;
		margin-top: 0;

		.select-voltage { display: none; }
	}
}

.prod-sku-selector,
#modal-sku {

	@include breakpoint(small, 'min') {
		color: $txt-gray-l;
	}

	.specification {
		font-size: 0;
		margin-bottom: -3px;
		min-height: 30px;

		&:before {
			@include responsiveFont(18, 16, true);
			content: 'Selecione a voltagem';
			display: block;
			position: absolute;
		}
	}

	.skuList,
	.options {
		display: inline-block;
		position: relative;

		span { position: relative; }

		input[type='radio'] {
			position: absolute;
			visibility: hidden;

			&:hover + label,
			&:checked + label {
				color: $button-bg-color;

				&:before { border: 4px solid $button-bg-color; }
			}
		}

		label {
			@include responsiveFont(18, 16, true);
			cursor: pointer;
			display: inline;
			font-weight: 700;
			margin-right: 25px;
			padding-left: 21px;
			position: relative;
			transition: .4s ease;
			vertical-align: middle;

			&:before {
				background-color: #fff;
				border: 2px solid $txt-gray;
				border-radius: 50%;
				bottom: 4px;
				content: '';
				height: 14px;
				left: 0;
				position: absolute;
				width: 14px;

				@include breakpoint(small, 'min') {
					border-color: $txt-gray-l;
				}
			}
		}
	}

	.nomeSku,
	.preco,
	.buy-button,
	.seller-data { display: none; }
}

.select-voltage,
.select-color {
	@include breakpoint(large, 'max')  { width: 100%!important; }
	@include breakpoint(medium, 'max') { width: 50%!important;  }
	@include breakpoint(small, 'max')  { width: 100%!important; }
}

.select-color {
	p {
		position: relative;
		z-index: 1;
	}

}

.select-voltage {
	@include breakpoint(large, 'max') { margin-bottom: 10px; }
	@include breakpoint(small, 'max') { margin-bottom: 30px; }
}

#BuyButton {
	@include font-size(18px, true, false);

	.buy-button-amount { display: none!important; }

	.buy-button {
		@extend .primary-button;
		float: left;
		font-size: 1em;
		padding: 13px 28px;

		&:before {
			@include icon-get('consul-cart');
			@include responsiveFont(22, 16, true);
			float: left;
			margin-right: 10px;
		}

		@include breakpoint(small, 'max') {
	    border-radius: 0;
	    bottom: 0;
	    display: inline-block;
	    font-size: 0;
	    height: 54px;
	    left: 0;
	    margin: 0;
	    position: fixed;
	    text-transform: uppercase;
	    width: 100%;
	    z-index: 9999;

	      	&:before {
	        @include responsiveFont(16, 16, true);
	        content: 'Adicionar ao carrinho';
	        display: inline-block;
	        font-family: $base-font-family !important;
	        font-weight: bold !important;
	        left: 50%;
	        position: absolute;
	        text-transform: uppercase !important;
	        top: 50%;
	        transform: translate(-50%, -50%);
	        width: 100%;
	      	}
    	}
	}
}

.valores-parcelas {
	margin-top: 25px;

	@include breakpoint(small, 'max') { margin: 20px 0; }

	&>p {
		@include responsiveFont(14, 16, true);
		display: none;
		margin-top: 10px;
	}

	.titulo-parcelamento {
		@include responsiveFont(11, 16, true);
		border-bottom: 1px solid $gray;
		cursor: pointer;
		display: block;
		margin: 10px 0;
		padding-bottom: 10px;
		position: relative;
		text-transform: uppercase;

		&:before {
			@include contentBefore();
			@include icon-get('arrow-down');
			@include responsiveFont(8, 16, true);
			left: 85px;
			top: 4px;
			transform: rotate(0deg);
			transition: transform .2s ease-in;
		}

		&.active {
			&:before { transform: rotate(180deg); }
		}
	}

	ul.other-payment-method-ul {
		display: none;

		li {
			@include responsiveFont(14, 16, true);
			color: #000;
			margin: 5px 0;

			@include breakpoint(extra-small, 'max') { margin: 10px 0; }

			&:first-child { display: none; }

			span {
				&:first-child {
					display: inline-block;
					text-transform: lowercase;
					width: 25px;

					@include breakpoint(extra-small, 'max') { width: 20px; }
				}

				&.other-payment-method-intereset-yes {
					font-weight: bold;
				}

				&.valor-total {
					margin-left: 20px;

					@include breakpoint(extra-small, 'max') {
						display: block;
						margin-left: 0;
					}
				}
			}

			strong {
				display: inline-block;
				font-weight: normal;
				margin-left: 10px;
				margin-right: 10px;
				width: 100px;

				@include breakpoint(extra-small, 'max') { margin: 0; }
			}
		}
	}

	.see-other-payment-method-link {
		display: none;
	}
}

.prod-more-info {
	margin-top: 15px;

	@include breakpoint(small, 'max') { margin: 20px 0; }

	a {
		@include font-size(12px);
		color: $txt-gray-l;
		text-transform: uppercase;

		@include breakpoint(small, 'max') {
			@include responsiveFont(14, 16, true);
			margin-top: 5px;
		}
	}
}

// =====================================
// TOOLS
// ===================================
.social {
	height: 100px;
	margin-top: 20px;
	width: 100%;

	@include breakpoint(extra-small, 'max') {
		height: auto;
		margin: 20px 0;
	}

	p {
		@include breakpoint(extra-small, 'max') {
			font-size: 18px!important;
			margin-bottom: 20px!important;
			width: 210px;
		}
	}
}

.at-share-btn {
	background-color: #9aca3c!important;
}

.at-style-responsive .at-share-btn {
	margin-left: 30px!important;
	&:first-child {
		margin-left: 0!important;
	}
}