@charset 'UTF-8';

$primary-color: $green !default;

#relacionados-top {
	display: block;
	position: relative;
	width: 100%;
	.container {
		padding: 0;
		width: 100%;
	}
	.prateleira-slider {
		width: 460px;
		h2 {
			display: none;
		}
	}
}
