@charset 'UTF-8';

$green: #9aca3c;
$gray-dark: #5B5B5B;
$purple: #8437A8;
$font-family: normal normal 1em/1.5 'consul', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.portal-notify-me-ref {
	.notifyme-title {
		@include rfs(23);
		color: $green;
	}
	.notifyme-button-ok {
		@include rfs(15);
		height: 35px;
		margin-top: 4px;
		width: 200px;
	}
	form {
		input[type='text'],
		input[type='email'],
		input[type='password'],
		input[type='tel'] {
			margin-bottom: 10px;
		}
		p {
			color: $gray-dark;
			padding: 5px 0 30px;
		}
	}
}
#relacionados-top {
		.relacionados-title {
			display: none;
		}
		h2 {
			@include rfs(18);
			color: $gray-dark;
			margin-bottom: 0;
			margin-top: 20px;
		}
		.pre-title-relacionados {
			@include rfs(14);
			margin: 0;
		}
		.wishlist__container {
			display: none;
		}
		.container {
			padding: 0;
			width: 100%;
		}
		.prateleira-slider {
			margin-top: -12px;
			h2 {
				display: none;
			}
			.slick-track .slick-slide {
				margin: 0 6px 0 0;
		}

		.box-produto {
			height: 280px;
			margin: 0 auto;
			width: 180px;
			.image {
				margin: 0 auto;
				max-width: 100%;
				width: 90px;
				&:hover:before {
					display: none;
				}
				@include breakpoint('medium', 'max') {
					span {
						min-height: 100px;
					}
				}
			}
			.flag,
			.ts-shelf-container {
				display: none;
			}
			.detalhes .prod-info {
				border: none;
				.adicional:before {
					display: none;
				}
				.features {
					display: none;
				}
				.nome {
					color: $gray-dark;
					font: $font-family ;
					font-size: 13px;
					font-weight: bold;
    				line-height: 16px;
				}
				.de {
					.val {
						color: $purple;
						display: block;
						font-size: 14px;
						margin-bottom: 10px;
					}
				}
				.por {
					.val {
						@include rfs(18);
						line-height: 10px;
						margin: 12px 0;
					}
				}
			}
		}
	}
}
#BuyButton,
.prod-details-nav #BuyButtonDetails {
	@include breakpoint('medium', 'max') {
	background: #fff;
    position: relative;
    right: 2px;
    top: 15px;
    width: 100%;
    z-index: 99;
	}
}
