.voltageModalWindow{
    display: none;
}
.voltageSelectorIsOpen {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    #modal-sku {
        position: absolute;
        width: 45.5rem;
        height: 18rem;
        max-width: 750px;
        background: #FFFFFF;
        box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        .closeModal {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px 18px;
            svg {
                cursor: pointer;
            }
        }
        .title-check-voltage, .showVoltage{
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 135.18%;
            text-align: center;
            color: #736C6B;
            padding-top: 20px;
        }
        .double-check{
            text-align: center;
        }
        .options {
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;

            .sku-selector-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &:after{
                    content: '';
                    position: relative;
                    width: 30rem;
                    height: 1px;
                    background-color: #E5E5E5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 1rem;
                }
            }
        }
    }
}