@charset 'UTF-8';

// ===============================================================
/* Compare */
// ===============================================================

body.product-comparison {

	tr[class*='atributos Módulo'] {
		display: none !important;
		visibility: hidden;
	}

	.produto {
		.prateleira {
			li {
				width: 100%;
				.compare, 
				.department-nav {
					display: none !important;
				}
				.box-produto {
					img {
						margin-top: 15%;
					}
				}
				.image {
					span {
						min-height: 250px;

						@include breakpoint(small, 'max') {
							min-height: auto;
						}
					}
				}

				.detalhes {
					.por, 
					.de {
						span {
							display: block;
						}
					}
				}
			}

		}
	}

	.comparar-outros {
		float: right;

		@include breakpoint(small, 'max') {
			display: inline-block;
			text-align: center;
			width: 100%;
		}

		a {
			@extend .primary-button;
			@include responsiveFont(14, 16, true);
			margin: 20px 0;
		}
	}

	.content-compare {
		.topWrapper .info { display: none; }

		h2 {
			@include responsiveFont(22, 16, true);
			float: left;

			@include breakpoint(small, 'max') {
				@include responsiveFont(20, 16, true);
				margin: 0;
				margin-top: 20px;
			}
		}

		.corpo-comparacao {
			border-top: 3px solid #9aca3c;
			clear: both;

			li { text-align: left; }

			table {
				margin: 0;
				padding: 0;
				position: relative;
				table-layout: fixed;
				width: 100%;

				table { display: none; }

				@include breakpoint(small, 'max') {
					thead {
						&>th {
							display: block;
							width: 100%;
						}
					}
				}

				tr {
					& > * {
						border: 1px solid #fff;
						padding: 2em;
						vertical-align: top;
					}

					td {
						@include responsiveFont(14, 16, true);
						color: $gray-d;
					}

					&.remover {
						&:last-child { display: none; }

						td {
							border: 0;
							height: 0;
							margin: 0;
							padding: 0;
							position: relative;

							.remover-produto {
								background-color: transparent;
								border: none;
								color: $gray-d;
								font-size: 0;
								left: 42px;
								outline: none;
								position: absolute;
								top: 55px;
								z-index: 2;

								&:after {
									@include responsiveFont(12, 16, true);
									content: 'Excluir';
								}
							}
						}
					}
				}

				tbody {
					tr:first-child {
						display: none;
					}
				}
			}

			@include breakpoint(small, 'max') {
				border-top: none;

				table {
					display: inline-block;

					thead {
						display: inline-block;

						&>th {
							border-bottom: 1px solid $gray;
							padding: 10px 0;
							text-align: left;
						}

						tr {
							&.remover {
								display: none;

								&+ tr {
									width: 100%;

									th {
										@include responsiveFont(13, 16, true);
										display: table-cell;
										padding: 1em 0;
										width: 49%;

										&:first-child {
											padding-left: 0;
										}

										&:last-child {
											padding-right: 0;
										}

										.prateleira {
											&>ul>li {
												padding: 0 10px;

												article {
													padding: 0;

													.detalhes {
														img {
															min-height: auto;
														}

														.FlagsHightLight, 
														.off {
															display: none !important;
														}

														h3 {
															@include responsiveFont(14, 16, true);
															min-height: 130px;

															li {
																@include responsiveFont(14, 16, true);
																display: block;
															}
														}

														.price {
															margin: 10px 0;

															.de {
																@include responsiveFont(13, 16, true);
															}

															.por {
																@include responsiveFont(15, 16, true);
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}

					tbody {
						tr {
							display: block;
							margin: 25px 0;
							position: relative;
							width: 100%;

							th, 
							td {
								@include responsiveFont(13, 16, true);
								border: none !important;
								padding: 0;
								text-align: left;
							}

							th {
								border-bottom: 1px solid $gray !important;
								display: block;
								padding-bottom: 10px;
								position: absolute;
								width: 100%;
							}

							td {
								display: inline-block;
								padding-top: 40px;
								width: 49%;
							}
						}
					}
				}
			}
		}

		.atributos {
				background-color: #fff;

			.box {
				.title {
					@include responsiveFont(12, 16, true);
					color: #000000;
					font-weight: bold;
				}

				.description {
					@include responsiveFont(12, 16, true);
					color: $gray-d;
				}
			}

			& > * { border: 1px solid #e8edf3!important; }
		}
	}
}