@charset 'UTF-8';

body.home {
	section.destaque {
		@include breakpoint(small, 'max') { display: none; }
	}

	.btn-comparar {
		display: none;
	}
}

body > .destaque {
	padding: 0 20px;

	.container {
		padding-bottom: 35px;
		padding-top: 35px;

		&:empty { @include hide-conditional(); }
	}
}

section.slider {
	.pre-title {
		span { color: $txt-gray !important; }
	}
}

.pre-title { position: relative; }

.home-prateleira-01 .prateleira.default > h2 {margin-top: 20px;}

.home-prateleira-02 .pre-title:before {
	border-width: 70px 0 0 72px;
	height: 1235px;
	left: -20px;
	top: 20px;
	width: 502px;
}

.home-prateleira-03 .pre-title {
	&:before {
		border-width: 0 0 70px 72px;
		left: -20px;
		top: -47px;
		width: 450px;
	}
}

.home-prateleira-04 .pre-title:before {
	border-width: 0 78px 77px 0;
	right: -45px;
	top: -47px;
	width: 470px;
}

@include breakpoint(small, 'max') {
	.prateleira.default {
		.slick-dots {
			bottom: 5px;
		}
	}
}
