@charset 'UTF-8';

body.home {
	section.slider {
		.pre-title {
			span {
				color: $txt-gray;
				display: block;
			}
		}

		@include breakpoint(small, 'max') {
			border-top: none;
			padding: 0 !important;

			&:first-of-type { border-top: 1px solid $gray; }

			.prateleira { margin-top: 0; }

			.container {
				padding: 0;
				width: 100%;
			}
		}
	}

	section.destaque {
		@include breakpoint(small, 'max') { display: none; }
	}
}

body > .destaque {
	padding: 0 20px;

	.container {
		padding-bottom: 35px;
		padding-top: 35px;

		&:empty { @include hide-conditional(); }
	}
}

.pre-title { position: relative; }

.home-prateleira-01 .prateleira.default > h2 {margin-top: 20px;}

.home-prateleira-02 .pre-title:before {
	border-width: 70px 0 0 72px;
	height: 1235px;
	left: -20px;
	top: 20px;
	width: 502px;
}

.home-prateleira-03 .pre-title {
	&:before {
		border-width: 0 0 70px 72px;
		left: -20px;
		top: -47px;
		width: 450px;
	}

	&:after {
		border-width: 70px 78px 0 0;
		height: 1230px;
		right: -45px;
		top: 63px;
		width: 360px;
	}
}

.home-prateleira-04 .pre-title:before {
	border-width: 0 78px 77px 0;
	right: -45px;
	top: -47px;
	width: 470px;
}

@include breakpoint(small, 'max') {
	.prateleira.default {
		.slick-dots {
			bottom: 5px;
		}
	}
}