@charset 'UTF-8';

@include breakpoint('small', 'max') {
	body.listagem {

		&.busca .result-filter {
			max-width: 97%;
			padding: 0;
			width: 97%;
		}

		// breadcrumb
		.breadcrumb {
			padding: 1em 0;

			.bread-crumb { margin: 0; }
		}

		// // Resultados filtro
		.sidebar-filter-submenu {
			border: none;
			display: block;
			padding: 10px 0 0 0;
			ul { margin: 0 0 20px 0; }
			li:not(.erase-filter) { background-color: #e6e6e6; }
			li {
				@include responsiveFont(12, 16, true);
				border: none;
				padding: 7px 5px 7px 5px;
				text-transform: uppercase;
			}
		}

		.top-wrapper { margin-top: 15px; }

		.container.list-container.clearfix {
			margin: 0 auto;
			padding: 0!important;
		}
	}
}
