@charset 'UTF-8';

/* vtex hide */
.searchResultsTime,
.filterBy,
.menu-navegue,
.pager,
#prateleira .sub,
.orderBy label,
.productClusterSearchableIds,
.Marca,
.HideMarca { display: none!important; }

body.listagem {
	&.categoria {
		.prateleira.default {
			ul:not(.slick-slider) {
				.department-nav { display: none; }
			}
		}

		section.slider {
			@include breakpoint(small, 'max') {
				.slick-dots { bottom: 5px !important; }
			}
		}
	}
}


body.busca {
	.btn-comparar {
		display: none;
	}
}

.listagem {
	.banner-principal { min-height: auto; }

	.container > .clearfix {
		position: relative;

		@include breakpoint(small, 'max') { margin: 0 -15px; }
	}

	#relacionados { border-top: 1px solid $gray; }

	.list-content h2 { display: none; }

	&.departamento,
	&.busca {
		.title-filter {
			&:before { content: 'Filtrar por categoria'; }
		}

		.order-wrapper {
			float: right;
			margin: 15px 0;
		}
	}

	&.busca {
		.banner-principal
		.box-banner {display: none;}
	}
}

.list-container {
	@include breakpoint(small, 'max') { padding: 30px 10px !important; }

	.list-content { margin-left: 0 !important; }


	.see-more {
		border-top: 1px solid #e3e1e1;
		display: inline-block;
		width: calc(100% - 20px);
	}
}


// Filtros
.resultado-busca-filtro {
	@include row;
	position: absolute;
	top: 0;

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	select {
		@include column(4);
		border: 1px solid $gray;
		color: $txt-gray-l;
		float: right!important;
		padding: 15px;

		&:hover,
		&:focus { outline: none; }
	}
}

/*==========  CATEGORIA  ==========*/

.clear-filter {
	@include responsiveFont(12, 16, true);
	color: $orange;
	display: block;
	margin-top: 26px;
	right: 0;
	text-transform: uppercase;
	top: 7px;

	@include breakpoint(small, 'max') {
		float: none;
		text-align: center;
	}

	&:after {
		@include icon-get('close-icon');
		@include responsiveFont(8, 16, true);
		margin-left: .5em;
	}

	.more-cat + & { right: 180px; }
}

.order-wrapper {
	float: left;
	padding-right: 1em;
	position: relative;

	.order-title-chaordic,
	.order-title {
		color: $orange;
		cursor: pointer;
		display: inline;
		font-size: 0;
		font-weight: bold;
		margin: 0;
		text-align: right;
		text-transform: lowercase;

		&:first-letter { text-transform: uppercase; }

		span.show-desktop {
			@include responsiveFont(13, 16, true);
			color: $txt-gray;
			text-transform: none;
			@include breakpoint('medium', 'max') { display: none; }
		}

		em.show-desktop {
			@include responsiveFont(13, 16, true);
			color: #702F8F;
			font-style: normal;
			@include breakpoint('medium', 'max') { display: none; }
		}

		span.order-show-mobile {
			@include responsiveFont(13, 16, true);
			color: #736C6B;
			display: none;
			font-size: 12px;
			text-align: center;
			text-transform: capitalize;
			width: 85%;

			@include breakpoint('medium', 'max') { display: inline-block; }
		}

		&:after {
			@include icon-get('arrow-down');
			@include transition(transform, 200);
			@include responsiveFont(8, 16, true);
			color: #702F8F;
			display: inline-block;
			margin-left: 10px;
			vertical-align: middle;

			@include breakpoint('medium', 'max') {
				@include responsiveFont(5, 16, true);
				margin-bottom: 5px;
				margin-left: 6px;
				width: 5%;
			}
		}

		&.active {
			&:after { transform: rotate(180deg); }
		}

		@include breakpoint ('medium', 'max') {
			border: 1px solid #E3E1E1;
			border-radius: 20px;
			display: inline-block;
			padding: 10px 15px;
			width: 100%;

		}
	}

	.order-title {
		@include breakpoint ('medium', 'max') {
			font-size: 0;
		}
	}

	.order-by-chaordic,
	.order-by {
		background-color: #ffffff;
		border-radius: 10px;
		box-shadow: 0 0 10px $gray;
		display: none;
		min-width: 200px;
		opacity: 0;
		padding: 1em;
		position: absolute;
		right: 0;
		top: 35px;
		// visibility: hidden;
		z-index: 10;

		&.active {
			display: flex;
			flex-direction: column;
			opacity: 1;
			visibility: visible;
		}

		li {
			text-align: right;
			text-transform: lowercase;

			@include breakpoint(small, 'max') { margin: 10px 0; }

			a {
				@include responsiveFont(14, 16, true);
				@include transition(color, 300);
				text-decoration: none;

				&:hover { color: $orange; }
			}

			@include after-first(5) { display: none; }

			&:nth-child(1) { order: 2; }
			&:nth-child(2) { order: 3; }
			&:nth-child(3) { order: 4; }
			&:nth-child(4) { order: 5; }
			&:nth-child(5) { order: 1; }
		}
	}

	@include breakpoint ('medium', 'max') {
		width: 50%;
	}
}

// Content
.list-content {
	float: right;
	position: relative;

	.titulo-sessao {
		@include responsiveFont(30);
		color: $txt-gray;
		// display: inline-block;
		float: left;
		font-weight: 300;
		margin: 0;
		padding: 0;

		strong { padding-left: 10px; }
	}
}

#list-more {
	@include responsiveFont(14, 16,  true);
	//FIX TABLET
	@media screen and(min-width: 768px) {
		@media screen and(max-width: 768px) {
			float: none;
			left: 0;
			margin: 0;
		}
	}
	@include breakpoint(small, 'max') {
		min-height: 35px;
		padding: 0;
		width: 100%;
	}
	background-color: #fff;
    border: none;
    border-radius: initial;
    color: $purple;
	min-height: 50px;
	outline: none;

	&.loading {
		font-size: 0;

		i {display: none;}
	}

	i {
		@include font-size(8px);
		margin-left: 10px;
		position: absolute;
		top: 24px;
	}

	&.hidden { display: none !important; }
}

.listagem.busca {
	.navigation {

		ul { display: inline-block; }
		ul + h3 + ul { display: none; }

		li {
			display: none!important;
			font-size: 15px;
			margin: 0 1.5em 0 0;

			a { color: $orange; }

		}

		li:first-child { display: inline-block!important; }
		li:first-child + li { display: inline-block!important; }
		li:first-child + li +li { display: inline-block!important; }
	}

	.resultado-busca {
		background-color: $green;
		color: #ffffff;
		font-weight: 200;

		.busca-termos {
			margin: 28px 0 18px;

			strong {
				@include responsiveFont(40);
				display: block;
				font-weight: 400;
			}
		}

		.resultado-wrapper {
			display: table;
			width: 100%;

			div {
				display: table-cell;
				text-align: left;
				vertical-align: middle;

				& + div {
					text-align: right;
					vertical-align: bottom;
				}
			}
		}
	}

	.busca-resultados {
		margin-bottom: 28px;

		strong { font-weight: 400; }
	}

	.busca-vazio {
		margin-top: 65px;

		p {
			color: $txt-gray-l;
			margin: 0 0 1em;
			text-align: center;

			&:empty { display: none; }

			&.tit-busca-vazia {
				@include responsiveFont(42);
				color: $txt-gray;
			}

			&.hl-busca-vazia {
				@include responsiveFont(20);
				color: $orange;
			}
		}
	}

	&.busca-vazia {
		.filter-wrapper,
		.top-wrapper,
		#list-more { @include hide-conditional(); }
	}
	.prateleira {
		&.default {
			ul {
				li {
					a {
						&.image {
							&:before {
								@include singleTransition(150);
								background: transparent url('/arquivos/selo-badge-consul.png') left bottom no-repeat;
								background-size: contain;
								bottom: 0;
								content: ' ';
								display: block;
								height: 103px;
								opacity: 0;
								position: absolute;
								right: 0;
								width: 30%;
								z-index: 3;

								@include breakpoint(small, 'max') { display: none; }
							}

							&:hover {
								&:before { opacity: 1; }
							}
						}
					}
				}
			}
		}
	}
	.FlagsHightLight,
	.prod-selos,
	.flag {
		height: 30%;
		width: 30%;
	}
}

.listagem,
.listagem-categoria-filtros {
	.prateleira-slider {
		ul li { margin: 0 !important; }
	}
}

.banners-secundarios-mosaico {
	@include breakpoint(small, 'max') {
		display: none!important;
	}
}

// TesteAB vitrine chaordic
.vitrineTesteB { display: none; }
body.test__vitrine--show-b {
	.mosaico-secundarios-left,
	.mosaico-secundarios-right { display: none; }
	.vitrineTesteB {
		display: inline-block;
    	margin-right: 10px;
		width: 100%;
	}
	.banner-principal { display: none!important; }
	.banners-mobile { display: none; }
	.vitrineTesteA { display: none; }
	.banners-secundarios-mosaico {
		@include breakpoint(small, 'max') {
			display: block!important;
		}
	}
}

body.busca-chaordic {
	.col-xs-12 {
		width: 100%;
	}
	.filter-container .container {
		background-color: #fff;
	}
	.list-container.loading .list-content:before ,
	.list-container.loading .list-content:before {
		left: 50% !important;
		margin-left: -50px;
		position: absolute !important;
	}
	.nm-not-found-tips-container {
		margin-bottom: 40px;
		text-align: center;
	}
	.clear-filter:after {
		display: none;
	}
	.noresult {
		display: block;
		font-size: 2.5em;
		font-weight: 400;
	}
	.busca-chaordic {

		&.resultado-busca {
			background: $green;
			border-bottom: 1px solid $gray;
			color: #FFF;
			margin-bottom: 25px;

			.container {
				// background: transparent url('#{$cdn-path}images/bg_busca_hexagons.svg') right -95px no-repeat;
				padding: 2em 90px;
			}

			.busca-resultados {
				@include responsiveFont(20, 16, true);
				margin: 0;
				text-transform: uppercase;
			}

			i {
				@include responsiveFont(30, 16, true);
				color: #FFF;
				margin-right: .5em;
			}

			.busca-termos {
				margin: 0;
				strong {
					@include responsiveFont(40, 16, true);
					font-weight: 300;

					@include breakpoint(small, 'max') { @include responsiveFont(32, 16, true); }
				}
			}
			.col-md-12 {
				display: flex;
				flex-direction: column;
			}
			.col-md-12 p.busca-resultados {
				order: 3;
			}
			.col-md-12 p.busca-termos {
				order: 2;
			}
		}
	}
	.busca-vtex	{

		.busca-termos {
			margin: 0;
			strong {
				@include responsiveFont(40, 16, true);
				font-weight: 300;

				@include breakpoint(small, 'max') { @include responsiveFont(32, 16, true); }
				padding-bottom: 15px;
			}
		}
		#prateleira .busca-vazio {
			margin-top: 25px;
		}
	}
	&.busca-vazio {
		.result-filter.container h2,
		.tit-busca-vazia {
			@include responsiveFont(18, 14, true);
			font-size: 2em;
			font-weight: 100;
			margin: .25em 0;
			padding: 40px 0 20px;
			text-align: center;
			text-transform: none;
			strong {
				color: #736c6b;
				font-size: 1.2em;
				font-weight: 700;
			}
		}
		.nm-not-found-tip-title,
		.hl-busca-vazia {
			color: #f47921;
			font-size: 1.25em;
			font-weight: 200;
		}
		.nm-not-found-tip {
			color: #b4afad;
		}
		.txt-busca-vazia {
			color: #b4afad;
			margin: 0 0 4px;
		}
	}
	.order-wrapper {
		// margin-top: 0!important;
		text-align: right;
		strong {
			&.active {
				&::after {
					top: 22px;
					transform: rotate(180deg);
				}
			}
		}
		ul.order-by {
			opacity: 0;
			position: absolute;
			right: 0;
			top: 40px;
			visibility: inherit;
			width: 177px;
			z-index: 10;
			&.active {
				opacity: 1;
			}
			li {
				a {
					padding: .5em .5em;
				}
			}
		}
	}
	.suggestions-container {
		margin-bottom: 20px;
		h4 {
			color: $orange;
			display: inline-block;
			font-weight: bold;
			margin: 10px;
			padding: 0 15px;
		}
		ul.suggestions {
			display: inline-block;
			padding: 0 15px 20px;
			li {
				color: #747474;
				display: inline-block;
				font-size: 16px;
				font-weight: 700;
				margin: 0 7px;
				width: auto !important;
				&:last-child {
					&.separator {
						display: none;
					}
				}
			}
			a {
				border-bottom: 1px #555 dotted;
				color: #555;
				display: block;
				font-size: 14px;
				padding: 15px 2px 0;
				text-decoration: none;
				&:hover {
					border-bottom-color: $orange;
					color: $orange;
					opacity: .6;
				}
			}
		}
		ul.quickFilters {
			display: block;
			padding: 0 15px 20px;
			li {
				float: left;
				min-width: 230px;
				width: 25%;
			}
			a {
				border: 1px solid #FFF;
				display: block;

				img {
					display: table;
					margin: 0 auto;
					width: 80%;
				}

				.quickImage {
					min-height: 250px;
				}

				.quickName {
					display: block;
					font-weight: 600;
					padding: 10px;
					text-align: center;
				}

				&:hover {
					border: 1px solid $green;
					.quickName {
						background: $green;
						color: #FFF;
					}
				}
			}
		}
	}

	//result-filter
	.result-filter {
		.filter-container {
			display: block;
			float: left;
			margin-top: 0;
			min-height: 1px;
			min-width: 100px;
			.filter-container .container {
				background: #fff;
			}
			.clear-filter {
				display: block;
			}
			.list-values {
				margin-bottom: 15px;
			}
			.departament-nav .menu-departamento .search-multiple-navigator {
				fieldset {
					label {
						display: block;
						margin-left: 20px;
						padding: 0 0 0 25px;
						span {
							color: #b1b1b1;
							font-size: 10px;
							margin-left: 5px;
						}
						&.active::after {
							left: 0;
							top: 12px;
						}
					}
					&.preco,
					&.largura,
					&.altura,
					&.profundidade,
					&.desconto,
					&[class*=refino-capacidade],
					&.indique-o-modelo-do-produto {
						display: none;
					}
				}
			}
		}
	}

	.prateleira.default ul li .detalhes .prod-info .nome {
		height: 145px;
		overflow: hidden;
	}

	#list-more-products {
		margin-top: 20px;
		padding: 20px 10px;
		width: 100%;
	}

}

.show-mobile {
	display: none;

	@include breakpoint ('small', 'max') {
		display: block;
		margin: 0 auto;
		max-width: 360px;

		img {
			height: auto;
			max-width: 100%;
		}
	}
}

body.neemu {
	p.tit-busca-vazia {
		font-size: 2em;
		strong {
			font-size: 1.2em;
		}
	}

	p.hl-busca-vazia {
		font-size: 1.25em;
	}
}