@charset "UTF-8";

// ===============================================================
/* Product */
// ===============================================================

/*==========  Produto  ==========*/
body.produto {
	// border: 10px solid #000;
	.main {
		h1.lead,
		h2.title,
		.item h3 { @include font-size(30px); }

		//h2 { color: $button-bg-color; }

		h2.title, .item h3 { font-weight: 300; }

		h2.title {
			display: inline-block;
			//width: 100%;
			@include font-size(38px);
			font-weight: 400;

			span {
				//@include font-size(78px, true, false);
				//color: $button-bg-color;
				display: block;
				font-weight: 200;
				//line-height: 0.8;
			}
		}
	}

	.preco-a-vista {
		.skuPrice, span {
			display: none !important;
		}
	}

	#relacionados { padding: 40px 0; }

	&.google-pla {
		.prod-preco {
			.descricao-preco {
				color: $txt-gray-l;
			}

			em.valor-dividido {
				position: relative;
				margin-bottom: 10px;
				color: $txt-gray-l !important;
				@include font-size(21px);
				font-weight: bold;

				.skuBestInstallmentNumber, .skuBestInstallmentValue {
					color: $txt-gray-l !important;
					@include font-size(21px);
				}

				.skuBestInstallmentValue + span {
					color: $txt-gray-l !important;
					@include font-size(21px);
				}
			}

			.discount-boleto {
				color: $green !important;
				@include font-size(28px);

				.bloco {
					display: block;
					color: $green !important;

					.gray {
						color: $txt-gray;
					}
				}
			}
		}
	}
}


/*==========  Produto indisponível  ==========*/
body.produto-indisponivel {
	.cont-prod-details-nav,
	.pinned {

		ul { display: block; }

		@include breakpoint(small, "max") {
			@include hide-conditional();
		}
	}
}


.pinned {
	margin: 0;
	position: fixed!important;
	text-align: left;
	top: 0!important;
	width: 100%;
	z-index: 4;
}


// #Douglas - Todas as classes tem o prefixo PROD - Retirei do "boby.produto".
.prod-image { position: relative; }

#trustvox-rating {
	max-width: 1100px;
	margin: 0 auto;
}

.cont-prod-details-nav {
	background-color: $green;
	height: 95px;
	overflow: hidden;
	position: relative;
	width: 100%;

	// @include breakpoint(small, "max") {
	// 	background-color: #ccc;
	// 	height: 0;
	// }
}

#depoimentos {
	border-bottom: 1px solid #e5e5e5;
	display: none;
}



@import "components/produto/gallery";
@import "components/produto/prod-info";
@import "components/produto/selos";
@import "components/produto/details-nav";
@import "components/produto/compre-junto";
@import "components/produto/video";
@import "components/produto/detalhes";
@import "components/produto/especificacoes";
@import "components/produto/modal.sku";
@import "components/produto/modal.entrega";
@import "components/produto/special-content";