@charset 'UTF-8';

@media (max-width: 60em) {
	.produto-indisponivel .portal-notify-me-ref .notifyme-button-ok {
		width: 100%!important;
	}

	body #detalhes .item .image {
		background-size: 100%;
		background-position: 100%;
		min-height: 300px;
	}

	body #detalhes .item.item-single .image {
		width: 75% !important;
		margin: auto;
	}

	body #detalhes .item.item-right .image {
		float: none;
		margin: auto;
		width: 87%;
	}

	body #detalhes .item.item-full .image {
		min-height: 222px;
		position: relative;
		top: 34px;
	}
}

html body.produto {
	.content_botoes_televendas-whats {
		text-align: center;
		margin-top: 24px;

		span {
			font-size: 16px;
			font-weight: 500;
		}

		p {
			font-size: 12px!important;
			width: 70%;
			margin: 6px auto 12px!important;
		}

		a {
			font-size: 14px;
			line-height: 15px;
			text-align: center;
			width: 100%;
			border-radius: 50px;
			background: #702F8F;
			height: 44px;
			justify-content: center;
			align-self: center;
			color: #FFFFFF;
			font-weight: 500;
			align-items: center;
			display: flex;

			svg {
				height: 24px;
				width: 24px;
				display: block;
				position: relative;
				left: -12px;
			}
		}
	}

	#BuyButton {
		.form-container {
			width: 49%;

			.buy-button {
				display: block;
				width: 100%;
			}
		}
	}
}

body.produto {
	overflow: initial!important;

	.main {
		@include breakpoint(small, 'max') {
			.container { padding: 0 10px; }

			&.row { margin-bottom: 0; }
		}

		section.slider {
			@include breakpoint(small, 'max') {
				.container { padding: 0; }
				.slick-dots { bottom: 65px !important; }
			}
		}

		h1.lead,
		h2.title,
		.item h3 { @include font-size(30px); }

		h1.lead {
			@include breakpoint('small', 'max') { margin-bottom: 10px; }
			display: inline-block;
			margin-bottom: 0;
		}

		h2.title,
		.item h3 { font-weight: 300; }

		h2.title {
			@include font-size(38px);
			display: inline-block;
			font-weight: 400;
			@include breakpoint(small, 'max') {
				@include font-size(24px);
			}

			span {
				display: block;
				font-weight: 200;
			}
		}
	}

	.preco-a-vista {
		.skuPrice,
		span {
			display: none !important;
		}
	}

	&.google-pla {
		.prod-preco {
			.descricao-preco { color: $txt-gray-l; }

			em.valor-dividido {
				@include font-size(21px);
				color: $txt-gray-l !important;
				font-weight: bold;
				margin-bottom: 10px;
				position: relative;

				.skuBestInstallmentNumber,
				.skuBestInstallmentValue {
					@include font-size(21px);
					color: $txt-gray-l !important;
				}

				.skuBestInstallmentValue + span {
					@include font-size(21px);
					color: $txt-gray-l !important;
				}
			}

			.discount-boleto {
				@include font-size(28px);
				color: $green !important;

				.bloco {
					color: $green !important;
					display: block;

					.gray { color: $txt-gray; }
				}
			}
		}
	}

	.container-whats {
		display: none;
		@media (min-width: 768px) {
			display: block;
		}

		span {
			font-size: 16px;
			font-weight: 500;
		}

		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&-text {
				font-size: 16px;
				line-height: 20px;
				align-items: center;
				color: #736C6B;
				font-weight: 500;
				width: 45%;

				p {
					font-weight: 300;
					font-size: 12px;
					line-height: 17px;
				}
			}

			&-link {
				font-size: 12px;
				line-height: 15px;
				text-align: center;
				color: #FFFFFF;
				width: 47%;
				border-radius: 50px;
				display: block;
				background: #702F8F;
				height: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				align-self: center;
				font-weight: 500;
				cursor: pointer;

				svg {
					height: 15px;
					width: 15px;
					display: block;
					position: relative;
					left: -6px;
				}
			}
		}
	}

	.content_botoes_televendas {
		display: none;

		@media (max-width: 768px) {
			display: block;
		}

		p {
				color: #736c6b !important;
				display: block;
				font-size: 14px !important;
				margin: 20px 0 10px 0 !important;
				text-align: center !important;
		}

		.buy-button {
			background-color: #9aca3c;
			border: 1px solid #9aca3c;
			border-radius: 40px;
			color: #fff;
			display: block;
			font-size: 15px;
			font-weight: normal;
			margin: 0;
			padding: 12px 20px;
			text-align: center;
			z-index: 9999;

			@include breakpoint('small', 'max') {
				background-color: #9aca3c;
				border: 1px solid #9aca3c;
				border-radius: 40px;
				color: #fff;
				display: block;
				font-size: 15px;
				font-weight: 700;
				margin: 0;
				padding: 12px 20px;
				text-align: center;
				z-index: 9999;
				line-height: 16px;
				height: 44px;
				margin-top: 15px;
			}
		}

		.btn_click_call {
			background-color: #fff;
			border: 1px solid #E3E1E1;
			border-radius: 40px;
			color: #736C6B;
			display: block;
			font-size: 12px;
			font-weight: bold;
			margin: 0;
			padding: 12px 20px;
			text-align: center;
		}
	}
}

/*==========Produto indisponível==========*/
body.produto-indisponivel {
	.cont-prod-details-nav,
	.pinned {

		ul { display: block; }

		@include breakpoint(small, 'max') {
			@include hide-conditional();
		}
	}

	.sku-notifyme { display: block !important; }

	#BuyButton .buy-button {
		display: none;
	}
}

#BuyButton .buy-button.buy-button-ref {
	@include breakpoint ('small', 'max') {
		display: none!important;
	}
}

.social {
	a {
		display: inline-block;
		height: 30px;
		margin: 0 15px;
		width: 30px;

		@include breakpoint('large', 'min') {
			margin: 0;
			margin-left: 15px;
		}
	}

	#shareBtn {
		background: url('//consul.vteximg.com.br/arquivos/facebook-consul-footer-2019.png') center center no-repeat;
		background-size: contain;
	}

	#compartilharTw {
		background: url('//consul.vteximg.com.br/arquivos/twitter-consul-footer-2019.png') center center no-repeat;
		background-size: contain;
	}

	#compartilharEmail {
		background: url('/arquivos/email-consul-compartilha.jpg') center center #9aca3c;
		display: none;
	}
}

.social:after {
	clear: both;
	contain: '';
	display: block;
}

div#modal-custom-share {
	textarea {
		border: 1px solid #92b845;
		height: 100px;
		resize: none;
		width: 93%;
	}

	input {
		border: 1px solid #92b845;
		width: 93%;
	}

	label {
		display: block;
		padding-left: 15px;
		text-align: left;
	}

	.btn {
		background: #9aca3c;
		border: none;
		color: #fff;
		font-weight: bold;
		margin-bottom: 10px;
		padding: 8px;
		width: 93%;
	}

	#formshare.sucesso {
		.enviadocomsucesso { display: block; }
	}

	.enviadocomsucesso {
		color: #9aca3c;
		display: none;
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 10px;
	}
}


.pinned {
	margin: 0;
	position: fixed!important;
	text-align: left;
	top: 0!important;
	width: 100%;
	z-index: 4;
}



.prod-image {
	@include breakpoint('medium', 'min') {
		position: sticky;
		top: 15px;
		z-index: 15;
	}
	padding-left: 0!important;
	position: relative;

	@include breakpoint(small, 'max') { margin-top: 20px; }
}

.cont-prod-details-nav {
	&.fixed-bar {
		display: block;
	}
	@include breakpoint(small, 'max') { display: none; }
	display: none;
}

.btn-pecas-produto {
	display: none;
	margin-top: 15px;
	width: 50%;

	@include breakpoint(medium, 'max') {
		margin: 20px 0;
		width: 100%;
	}

	a {
		@include rfs(12);
		background-color: #fff;
		border: 1px solid #702F8F;
		border-radius: 40px;
		color: #702F8F;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		padding: 12px 20px 12px 20px;
		text-align: center;
		transition: all .25s ease;
		width: 100%;

		&:hover,
		&focus {
			background: #702F8F;
			color: #fff;
			text-decoration: none;
		}

		i { display: none; }
	}
}

.overflow-hidden { overflow: hidden; }

.cep-invalido {
	.valor {
		strong { display: none; }

		&:after {
			@include rfs(12);
			color: $red-error;
			content: 'Não temos entrega disponível para este produto no CEP informado.';
			display: block;
			font-weight: 500;
			width: 70%;
		}
	}
}
