@charset 'UTF-8';

body.produto {
	.main {
		@include breakpoint(small, 'max') {
			.container { padding: 0 10px; }

			&.row { margin-bottom: 0; }
		}

		section.slider {
			@include breakpoint(small, 'max') {
				.container { padding: 0; }
				.slick-dots { bottom: 65px !important; }
			}
		}

		h1.lead,
		h2.title,
		.item h3 { @include font-size(30px); }

		h2.title,
		.item h3 { font-weight: 300; }

		h2.title {
			@include font-size(38px);
			display: inline-block;
			font-weight: 400;
			@include breakpoint(small, 'max') {
				@include font-size(24px);
			}

			span {
				display: block;
				font-weight: 200;
			}
		}
	}

	.preco-a-vista {
		.skuPrice,
		span {
			display: none !important;
		}
	}

	&.google-pla {
		.prod-preco {
			.descricao-preco {
				color: $txt-gray-l;
			}

			em.valor-dividido {
				@include font-size(21px);
				color: $txt-gray-l !important;
				font-weight: bold;
				margin-bottom: 10px;
				position: relative;

				.skuBestInstallmentNumber,
				.skuBestInstallmentValue {
					@include font-size(21px);
					color: $txt-gray-l !important;
				}

				.skuBestInstallmentValue + span {
					@include font-size(21px);
					color: $txt-gray-l !important;
				}
			}

			.discount-boleto {
				@include font-size(28px);
				color: $green !important;

				.bloco {
					color: $green !important;
					display: block;

					.gray {
						color: $txt-gray;
					}
				}
			}
		}
	}

	.content_botoes_televendas {

		p {
				color: #736c6b !important;
				display: block;
				font-size: 14px !important;
				margin: 20px 0 10px 0 !important;
				text-align: center !important;
		}

		.buy-button {
			background-color: #97c73d;
			border: 2px solid #97c73d;
			color: #fff;
			display: block;
			font-size: 16px;
			font-weight: 700;
			height: 54px;
			line-height: 30px;
			margin: 0;
			padding: .7em 2.5em;
			text-align: center;
			text-transform: uppercase;
			z-index: 9999;
		}

		.btn_click_call {
			background-color: #fff;
			border: 2px solid #97c73d;
			color: #97c73d;
			display: block;
			font-size: 16px;
			font-weight: 700;
			height: 54px;
			line-height: 30px;
			margin: 0;
			padding: .7em 2.5em;
			text-align: center;
			text-transform: uppercase;
			z-index: 9999;
		}

	}

}


/*==========  Produto indisponível  ==========*/
body.produto-indisponivel {
	.cont-prod-details-nav,
	.pinned {

		ul { display: block; }

		@include breakpoint(small, 'max') {
			@include hide-conditional();
		}
	}
}


.pinned {
	margin: 0;
	position: fixed!important;
	text-align: left;
	top: 0!important;
	width: 100%;
	z-index: 4;
}


.prod-image {
	position: relative;

	@include breakpoint(small, 'max') {
		margin-top: 20px;

		.flag { display: none !important; }
	}
}

#trustvox-rating {
	margin: 0 auto;
	max-width: 1100px;
}

.cont-prod-details-nav {
	background-color: $green;
	height: 95px;
	overflow: hidden;
	position: relative;
	width: 100%;

	@include breakpoint(small, 'max') { display: none; }
}

#depoimentos {
	border-bottom: 1px solid #e5e5e5;
	display: none;
}

@import 'components/produto/gallery';
@import 'components/produto/prod-title';
@import 'components/produto/prod-info';
@import 'components/produto/selos';
@import 'components/produto/details-nav';
@import 'components/produto/compre-junto';
@import 'components/produto/video';
@import 'components/produto/detalhes';
@import 'components/produto/especificacoes';
@import 'components/produto/modal.sku';
@import 'components/produto/modal.entrega';
@import 'components/produto/special-content';