@charset 'UTF-8';

@import 'components/produto/recurrence';

body.produto {
	.main {
		@include breakpoint(small, 'max') {
			.container { padding: 0 10px; }

			&.row { margin-bottom: 0; }
		}

		section.slider {
			@include breakpoint(small, 'max') {
				.container { padding: 0; }
				.slick-dots { bottom: 65px !important; }
			}
		}

		h1.lead,
		h2.title,
		.item h3 { @include font-size(30px); }

		h1.lead {
			@include breakpoint('small', 'max') { margin-bottom: 10px; }
			display: inline-block;
			margin-bottom: 25px;
		}

		h2.title,
		.item h3 { font-weight: 300; }

		h2.title {
			@include font-size(38px);
			display: inline-block;
			font-weight: 400;
			@include breakpoint(small, 'max') {
				@include font-size(24px);
			}

			span {
				display: block;
				font-weight: 200;
			}
		}
	}

	.preco-a-vista {
		.skuPrice,
		span {
			display: none !important;
		}
	}

	&.google-pla {
		.prod-preco {
			.descricao-preco {
				color: $txt-gray-l;
			}

			em.valor-dividido {
				@include font-size(21px);
				color: $txt-gray-l !important;
				font-weight: bold;
				margin-bottom: 10px;
				position: relative;

				.skuBestInstallmentNumber,
				.skuBestInstallmentValue {
					@include font-size(21px);
					color: $txt-gray-l !important;
				}

				.skuBestInstallmentValue + span {
					@include font-size(21px);
					color: $txt-gray-l !important;
				}
			}

			.discount-boleto {
				@include font-size(28px);
				color: $green !important;

				.bloco {
					color: $green !important;
					display: block;

					.gray {
						color: $txt-gray;
					}
				}
			}
		}
	}

	.content_botoes_televendas {
		display: none;

		@media (max-width: 768px) {
			display: block;
		}

		p {
				color: #736c6b !important;
				display: block;
				font-size: 14px !important;
				margin: 20px 0 10px 0 !important;
				text-align: center !important;
		}

		.buy-button {
			background-color: #97c73d;
			border: 1px solid #97c73d;
			border-radius: 40px;
			color: #fff;
			display: block;
			font-size: 15px;
			font-weight: normal;
			margin: 0;
			padding: 12px 20px;
			text-align: center;
			z-index: 9999;
		}

		.btn_click_call {
			background-color: #fff;
			border: 1px solid #E3E1E1;
			border-radius: 40px;
			color: #736C6B;
			display: block;
			font-size: 12px;
			font-weight: bold;
			margin: 0;
			padding: 12px 20px;
			text-align: center;
		}
	}
}

/*==========Produto indisponível==========*/
body.produto-indisponivel {
	.cont-prod-details-nav,
	.pinned {

		ul { display: block; }

		@include breakpoint(small, 'max') {
			@include hide-conditional();
		}
	}

	.sku-notifyme { display: block !important; }

	#BuyButton .buy-button { display: none; }
}


.social {
	a {
		display: inline-block;
		height: 30px;
		margin: 0 15px;
		width: 30px;

		@include breakpoint('large', 'min') {
			margin: 0;
			margin-left: 15px;
		}
	}

	#shareBtn {
		background: url('//consul.vteximg.com.br/arquivos/facebook-consul-footer-2019.png') center center no-repeat;
		background-size: contain;
	}

	#compartilharTw {
		background: url('//consul.vteximg.com.br/arquivos/twitter-consul-footer-2019.png') center center no-repeat;
		background-size: contain;
	}

	#compartilharEmail {
		background: url('/arquivos/email-consul-compartilha.jpg') center center #9aca3c;
		display: none;
	}

}

.social:after {
	clear: both;
	contain: '';
	display: block;
}

div#modal-custom-share {
	textarea {
		border: 1px solid #92b845;
		height: 100px;
		resize: none;
		width: 93%;
	}

	input {
		border: 1px solid #92b845;
		width: 93%;
	}

	label {
		display: block;
		padding-left: 15px;
		text-align: left;
	}

	.btn {
		background: #9aca3c;
		border: none;
		color: #fff;
		font-weight: bold;
		margin-bottom: 10px;
		padding: 8px;
		width: 93%;
	}

	#formshare.sucesso {
		.enviadocomsucesso {
			display: block;
		}
	}

	.enviadocomsucesso {
		color: #9aca3c;
		display: none;
		font-size: 22px;
		font-weight: bold;
		padding-bottom: 10px;
	}

}


.pinned {
	margin: 0;
	position: fixed!important;
	text-align: left;
	top: 0!important;
	width: 100%;
	z-index: 4;
}


.prod-image {
	position: relative;

	@include breakpoint(small, 'max') { margin-top: 20px; }
}

.cont-prod-details-nav {
	background-color: $green;
	height: 95px;
	overflow: hidden;
	position: relative;
	width: 100%;

	@include breakpoint(small, 'max') { display: none; }
}

.btn-pecas-produto {
	display: none;
	margin-top: 15px;
	width: 50%;

	@include breakpoint(medium, 'max') {
		margin: 20px 0;
		width: 100%;
	}

	a {
		@include rfs(12);
		background-color: #fff;
		border: 1px solid #702F8F;
		border-radius: 40px;
		color: #702F8F;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		padding: 12px 20px 12px 20px;
		text-align: center;
		transition: all .25s ease;
		width: 100%;

		&:hover,
		&focus {
			background: #702F8F;
			color: #fff;
			text-decoration: none;
		}

		i {
			display: none;
		}
	}
}

.overflow-hidden {
	overflow: hidden;
}