@charset 'UTF-8';

// Utility helpers
// @import 'helpers/variables';
// @import 'helpers/functions';
// @import 'helpers/mixins';

// // Base styles
// @import 'base/fonts';
// @import 'base/main';

// // Layout styles
// @import 'layout/container';


// ===============================================================
/* ACCOUNT/ORDERS */
// ===============================================================

@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';

// Utility helpers
@import 'helpers/icons';

@import 'helpers/helpers';

// Component styles
@import 'components/buttons';
@import 'components/colors';

@import 'helpers/conditional';


//BOOTSRAP MIXINS
@import 'bootstrap/variables';
@import 'bootstrap/mixins/center-block';
@import 'bootstrap/mixins/hide-text';
@import 'bootstrap/mixins/reset-text';
@import 'bootstrap/mixins/size';
@import 'bootstrap/mixins/responsive-visibility';
@import 'bootstrap/mixins/tab-focus';
@import 'bootstrap/mixins/forms';
@import 'bootstrap/mixins/opacity';

@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/clearfix';
@import 'bootstrap/mixins/grid';
@import 'bootstrap/mixins/grid-framework';
@import 'bootstrap/component-animations';
@import 'bootstrap/modals';
@import 'bootstrap/utilities';

@import 'libs/whp-modal';


body.account-page,
body.orders-page {

	/* bootstrap reset */
	// @import 'base/type';
	// @import 'layout/container';


	a { text-decoration: none!important; }

	.payment-connector {display: none!important}

	.vtex-bootstrap { min-height: 400px; }
}

.section-conta,
.section-orders {
	background-color: #f4f4f4;
	margin-bottom: 30px;
	padding: 30px 0;

	.title {
		@include font-size(22px, true, false);
		margin-bottom: 1em;
		margin-top: 0;
	}
}

body.account-page {
	height: 100%;
	min-height: 100%;

	// ===============================================================
	/* ACCOUNT */
	// ===============================================================

	.main {
		p {
			color: #666666 !important;
		}

		& > .row {
			background-color: #fff;
			border: 1px solid $gray;
			margin-left: 0;

			&>[class*='span'] {
				float: left;
				margin: 40px 0;
				padding: 0 40px;
				width: 50%;

				&:first-child {
					border-right: 1px solid $gray;
				}

				@include breakpoint(small, 'max') {
					margin-bottom: 30px;
					margin-left: 0;
					width: 100%;
				}

				h4 {
					@include font-size(18px, true, false);
					color: $green;
					margin-top: 0;
					text-transform: uppercase;
				}

				h5 {
					@include font-size(16px, true, false);
					font-weight: bold;
					margin: 0;

					&:before {
						content: 'Nome: ';
						font-weight: normal;
					}
				}

				p { margin: 0; }

				.profile-detail-display-email {
					@include font-size(16px, true, false);
					font-weight: bold;
					margin: 0;

					&:before {
						content: 'E-mail: ';
						font-weight: normal;
					}
				}

				.edit-profile-link,
				.new-address-link { display: none; }

				a {
					color: $green;
					font-size: 15px !important;
					text-decoration: underline !important;
				}

				.trigger-modal {
					display: inline-block;
					margin-top: 1em;
				}

				.title {
					@include font-size(16px, true, false);
					color: #666666;
					font-weight: normal;
					text-transform: inherit;
				}

				.data {
					@include font-size(16px, true, false);
					font-weight: bold;
				}
			}
		}

		#profile-submit,
		#form-submit {
			background-color: $green;
			color: #ffffff;
		}

		#address-edit,
		#editar-perfil {
			@include breakpoint(small, 'max') {
				left: 10px;
				margin-left: 0;
				width: 95%;
			}
		}

		.address-form,
		.profile-detail-form-personal-data,
		.profile-detail-form-business-data,
		.form-business-data {
			> div {
				@include breakpoint(small, 'max') {
					display: block;
					width: 100%;
				}
			}

			label {
				cursor: inherit;
				margin-right: 10px;

				@include breakpoint(small, 'max') {
					display: block;
					width: 100%;
				}
			}

			input {
				@include breakpoint(extra-small, 'max') {
					width: 100%;
				}
			}
		}

		.span5 {
			width: 100%;
		}

		.form-business-data-name {
			padding-left: 0 !important;
		}

		.control-group {
			@include breakpoint(small, 'max') {
				display: block;
				margin-left: 0;
				padding-left: 20px;
				width: 100%;
			}

			margin-bottom: 10px !important;

			label {
				cursor: inherit;
				margin-right: 10px;

				@include breakpoint(small, 'max') {
					display: block;
					width: 100%;
				}
			}

			.radio {
				margin-top: 0;
			}

			input[type='radio'] {
				@include breakpoint(extra-small, 'max') {
					display: inline-block;
					left: 0;
					margin-left: -40px;
				}
			}

			&.address-form-state {
				margin-bottom: 20px !important;
			}

			.controls {
				@include breakpoint(small, 'max') {
					display: inline-block;
					margin: 0 10px;
					margin-left: 0;
				}
			}

			#business-toggle {
				margin-left: 0;
			}
		}
	}

	.address-display-block {
		@include font-size(14px, true, false);

		.row {
			margin: 0;

			&>[class*='span'] {
				margin: 0;
				width: 100%;
			}

			.address-display-unit {
				h5,
				.edit-address-link { display: none; }
			}
		}
	}

	.modal {
		background-color: #fff;
		height: 100%;
		left: 50%;
		max-height: 800px;
		max-width: 800px;
		overflow: auto;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;

		&[aria-hidden='false'] { visibility: visible }

		.modal-header {
			background-color: #f4f4f4;
			padding: 15px 40px;
			position: relative;

			h3 {
				@include font-size(22px, true, false);
				margin: 0;
				text-transform: uppercase;
			}

			.close {
				@include font-size(40px, true, false);
				background-color: #fff;
				border: none;
				font-weight: bold;
				height: 100%;
				position: absolute;
				right: 0;
				top: 3px;
				width: 65px;
			}
		}

		.modal-body {
			padding: 40px;
		}

		.row {
			margin: 0;

			.span,
			.span2,
			.span5:not(h5) {
				float: left;
				width: 50%;
			}
		}

		#business-data,
		#accountAjaxBusy { display: none }

		h5 {
			@include font-size(18px, true, false);
			color: $green;
			margin: 0 0 1em;
			text-transform: uppercase;
		}

		.control-label { @include font-size(15px, true, false) }

		.control-group {
			input[type='text'],
			select {
				@include font-size(15px, true, false);
				border: 1px solid #666;
				float: none;
				margin: .5em 0;
				padding: .5em;
				width: 90%;
			}
		}

		#business-toggle {
			@include font-size(14px, true, false);
			color: $green;
			font-weight: bold;
		}

		.modal-footer {
			.btn-primary,
			.btn-link {
				@include font-size(14px, true, false);
				border: 1px solid $green;
				display: inline-block;
				font-weight: bold;
				line-height: 1em;
				padding: .8em 1.2em;
				text-transform: uppercase;
			}

			.btn-link {
				background-color: transparent;
				color: $green;
				margin-left: 25px;
			}
		}

		.address-form {
			&>.control-group {
				float: left;
				width: 50%;
			}

			.row {
				clear: both;

				&>[class*='span'] {
					float: left;
					width: 50%;
				}

				div.span4 {
					width: 85%;

					input { width: 95% }
				}
				div.span1 { width: 10% }

			}

			.control-label { display: block; }
		}
	}
}

@import 'components/orders/myorders';