@charset 'UTF-8';
// Utility helpers
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';

#cookie-banner {
	@include breakpoint('small', 'max');
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fcfcfc;
	width: 80%;
	height: 10%;
	border-bottom: 2px solid #9aca3c;
	margin: 0 10% 10px 10%;
	box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 20px;
	z-index: 10;
}

p {
	color: #702f8f;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	order: 1;
	padding: 10px;
	align-items: center;
	justify-content: center;
}

a {
	color: #702f8f;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	line-height: 17px;
	align-items: center;
	order: 3;
	padding-left: 5px;
}

h1 {
	color: #495453;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	order: 2;
	align-items: center;
	margin-bottom: 8px;
}

#no {
	margin-left: 2%;
	color: #403c3b;
	border: 1px solid #403c3b;
	border-radius: 15px;
	background-color: #fcfcfc;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	margin: 0 auto;
	order: 4;
	align-items: center;
}

#yes {
	color: #fcfcfc;
	border: 1px solid #403c3b;
	border-radius: 15px;
	background-color: #702f8f;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	order: 5;
	margin: 0 auto;
	align-items: center;
}
