@charset 'UTF-8';
// Utility helpers
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';

#cookie-banner {
	align-items: center;
	background-color: #fcfcfc;
	border-bottom: 2px solid #9aca3c;
	box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	left: 50%;
	max-width: 80%;
	margin-bottom: 18px;
	padding: 20px;
	transform: translateX(-50%);
	width: 1242px;
	z-index: 10;

	&-info {
		align-items: center;
		display: flex;
		justify-content: flex-start;
		margin-right: 16px;
		width: 100%;
	}

	&-options {
		align-items: center;
		display: flex;
		justify-content: space-between;

		button {
			height: 35px;
			line-height: 17px;
			width: 139px;
		}
	}

	p {
		align-items: center;
		color: #702f8f;
		font-size: 20px;
		font-weight: bold;
		justify-content: center;
		line-height: 1;
		margin: 0;
		order: 1;
		padding: 0;
	}

	a {
		align-items: center;
		color: #702f8f;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 17px;
		margin-left: 4px;
		order: 3;
	}

	h1 {
		align-items: center;
		color: #495453;
		font-size: 14px;
		font-weight: normal;
		line-height: 17px;
		margin: 0 0 0 23px;
		order: 2;
	}

	#no {
		align-items: center;
		background-color: #fcfcfc;
		border: 1px solid #403c3b;
		border-radius: 15px;
		color: #403c3b;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 30px;
		margin: 0;
		order: 1;
	}

	#yes {
		align-items: center;
		background-color: #702f8f;
		border: 1px solid #403c3b;
		border-radius: 15px;
		color: #fcfcfc;
		font-size: 14px;
		font-style: normal;
		font-weight: normal;
		line-height: 30px;
		margin: 0 0 0 13.5px;
		order: 2;
	}

	@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
		max-width: 98%;
	}

	@media only screen and (max-device-width: 767px) {
		flex-wrap: wrap;
		max-width: 96%;

		&-info {
			margin-bottom: 24px;
			margin-right: 0;
		}

		&-options {
			justify-content: center;
			width: 100%;
		}
	}
}

