@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";

body {

	$black: #000000;
	$light-black: #1a1a1a;

	.form-search {

		input {

			background: $black !important;
			border: 1px solid darken($black,10) !important;

		}

	}

	#login,
	.menu-mobile,
	.search,
	header,
	.top-navigation,
	 .menu,
	.submenu,
	.menu-mobile,
	.header .account,
	.item-department,
	.open-menu-mobile,
	.footer-duvidas,
	.menu-department,
	.submenu:before {
		background: $light-black !important;
	}

	.menu-subcategory .item {
		a {
			&:not(:hover) {
				color: #aaa !important;
		    	border: 1px dotted #aaa !important;
			}
			&:hover {
				color: #fff !important;
			}
		}
	}

	.menu-department {
		.item {
			a:first-child {
				color: #fff !important;
			}
		}
		.topmenu-active {
			a[title*="Depart"] {
				color: #9aca3c !important;
			}
		}
	}


	.icon-logo-consul {
		color: #fff !important;
	}

	div.account #login {
		color: #9aca3c !important;
	}

	.pre-header a.active {
		color: #9aca3c !important;
		border-bottom-color: #9aca3c !important;
	}

	.minicart  {

		.cart-quantity {
			background: #9aca3c !important;
		}

		.link-cart {
			background: none !important;
		}

	}

	.top-navigation{
		border: none;
	}

	.menu-mobile .first-level > .item > a:before {
		color: #736c6b;
	}

	.menu-department  {
		border-top: 1px solid darken($light-black,10) !important;
	}

	.menu-category {
		&:before, &:after {
			border-color: darken($light-black,10) !important;
		}
	}

	.footer-duvidas {
		border-bottom: none !important;
	}

	.footer-notes {
		border-top: none !important;
	}

	.pre-header,
	.footer-top,
	.footer-gray {
		background: $black !important;
	}

	.cart-quantity {
		border: 2px solid $black !important;
	}

	// a[title*="Acess"] {
	// 	display: none !important;
	// }

}