@charset 'UTF-8';

// Utility helpers
// @import 'helpers/variables';
// @import 'helpers/functions';
// @import 'helpers/mixins';

// // Base styles
// @import 'base/fonts';
// @import 'base/main';

// // Layout styles
// @import 'layout/container';


// ===============================================================
/* ACCOUNT/ORDERS */
// ===============================================================

@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';

// Utility helpers
@import 'helpers/helpers';

// Component styles
@import 'components/buttons';
@import 'components/colors';

@import 'helpers/conditional';


//BOOTSRAP MIXINS
@import 'bootstrap/variables';
@import 'bootstrap/mixins/center-block';
@import 'bootstrap/mixins/hide-text';
@import 'bootstrap/mixins/reset-text';
@import 'bootstrap/mixins/size';
@import 'bootstrap/mixins/responsive-visibility';
@import 'bootstrap/mixins/tab-focus';
@import 'bootstrap/mixins/forms';
@import 'bootstrap/mixins/opacity';

@import 'bootstrap/mixins/vendor-prefixes';
@import 'bootstrap/mixins/clearfix';
@import 'bootstrap/mixins/grid';
@import 'bootstrap/mixins/grid-framework';
@import 'bootstrap/component-animations';
@import 'bootstrap/modals';
@import 'bootstrap/utilities';

@import 'libs/whp-modal';


body.orders-page {
	/* bootstrap reset */
	// @import 'base/type';
	// @import 'layout/container';

	a { text-decoration: none!important; }

	.payment-connector { display: none!important; }

	.vtex-bootstrap { min-height: 400px; }
}

.section-conta,
.section-orders {
	background-color: #f4f4f4;
	margin-bottom: 30px;
	padding: 30px 0;

	.title {
		@include font-size(22px, true, false);
		margin-bottom: 1em;
		margin-top: 0;
	}
}

@import 'components/orders/myorders';