@import 'helpers/variables';
@import 'helpers/rfs';

$top-header: #171717;
$middle-header: #333333;
$search: #2A2A2A;
$menu-section: #3B3B3B;
$border-color: #434343;
$border-color-mobile: #393939;

$text-gray-bf2019: #BFBEBE;
$text-gray-d-bf2019: #757575;

body {
	div.pre-header {
		background-color: $top-header;

		section {
			div {
				a {
					color: $text-gray-bf2019 !important;
				}

				&.float-right {
					a {
						color: $text-gray-d-bf2019;
					}
				}
			}
		}
	}

	header {
		div.header {
			background-color: #333333;

			div.account {
				p.welcome {
					color: #fff;

					em {
						a[href='/no-cache/user/logout'] {
							color: #fff;
						}
					}

					#login {
						background-color: transparent;
						color: #fff;
					}
				}

				a.link-meus-pedidos {
					background-color: $middle-header;

					span.account-text {
						color: #fff;

						&:after {
							color: #fff;
						}
					}
				}
			}

			.icon-icon-cart-consul:before {
				color: #fff;
			}

			.menu-mobile {
				background-color: $middle-header;

				.account {
					.ajax-content-loader {
						background-color: $middle-header;
					}
				}

				.open-menu-mobile {
					background-color: $middle-header;

					.icon.icon-hamburger {
						border-color: #fff;

						&:before,
						&:after {
							background-color: #fff;
						}
					}
				}

				&.menu-active {
					.icon.icon-hamburger {
						border-color: transparent;

						&:before {
							background-color: $middle-header;
							color: #fff;
						}
					}

					.open-menu-mobile {
						background-color: $middle-header;
					}
				}

				.menu-department {
					.item {
						background-color: $middle-header;

						a {
							@include rfs(14);
							border-color: $border-color-mobile;
							color: #fff;

							.icon.icon-arrow-down {
								color: #fff;
							}
						}

						&.txt-gray {
							a[href*='tel:551130037872'] {
								color: $green;
							}
						}

						.submenu {
							li {
								a {
									color: #fff;
							   }
							}
						}
					}
				}

			}
		}

		.cont-search {
			input.text-search {
				background-color: $search;
				color: #fff;

				&::placeholder {
					color: #fff;
				}
			}

			.icon-icon-loupe-consul {
				color: #fff !important;
			}
		}
	}

	nav.top-navigation {
		//background: linear-gradient(90deg, $menu-section 50%, $search 50%);
		background-color: $menu-section;
		border-top: 1px solid $border-color;
		bottom: 0;
		box-shadow: none;

		.menu-department {
			//background: linear-gradient(90deg, $menu-section 50%, $search 50%);
			background-color: $menu-section;

			.menu-header-category {
				background-color: $menu-section;

				&#menu-cupons {
					background-color: $search;
					display: none;

					a {
						color: #fff;
						font-weight: 500;
						text-transform: none;
					}
				}

				a {
					@include rfs(14);
					color: #fff;

				}
			}

			.dropdown {
				background-color: $menu-section;
				border-right: 1px solid $border-color;

				&:not(.topmenu-active) {
					a[title='Departamentos'] {
						color: #fff;
					}

					.icon.icon-hamburger {
						border-color: #fff;

						&:before,
						&:after {
							background-color: #fff;
						}
					}
				}
			}
		}
	}

	.logo-desktop-svg,
	.logo-mobile-svg {
		#Caminho_847 {
			fill: #fff;
		}
	}
}