@charset 'UTF-8';

// Utility helpers
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/rfs';
@import 'helpers/family';

// @import 'components/mod-prateleira-v2';

@import 'components/listagem/buy-button';
@import 'components/listagem/comparebar';

@import 'pages/gallery';
// @import 'pages/cervejeiras/cervejeiras-funcionalidades'; // Doug
// @import 'pages/cervejeiras/cervejeiras-smartbeer'; // Gus
@import 'pages/cervejeiras/cervejeiras-vitrine-smartbeer'; // Bru
// @import 'pages/cervejeiras/cervejeiras-vitrine-default'; // Bru

body .category-postheader {
	margin-bottom: 0 !important;
}
.vitrine-smartbeer {
	background: initial;
	margin-bottom: 24px;

	&.Coifa-Cooktop {
		background: url('/arquivos/bg_destaque_cooktop_coifa.jpg') no-repeat
			center;
		background-size: 100% 100%;
	}

	&.Forno {
		background: url('/arquivos/bg_destaque_forno.png') no-repeat center;
		background-size: 100% 100%;

		.product-price-to {
			color: $purple-n;
		}

		.product-buy {
			background-color: $purple-n;
		}
		.slick-prev,
		.slick-next {
			color: $purple-n;
		}
		.slick-current img {
			border-color: $purple-n !important;
		}
	}

	.product-image {
		padding: 0;

		@include breakpoint('small', 'max') {
			padding: 10px 0 50px 0;
		}
	}

	.galleryThumbs {
		padding-top: 80px;
	}

	.slick-vertical .slick-list {
		border: none;
	}

	.slick-slide {
		margin: 0;
	}

	.product-info {
		.product-name {
			@include responsiveFont(36);
			color: #ffffff;
			font-weight: 900;
			max-width: initial !important;
		}

		.product-price-from {
			@include responsiveFont(22);
			color: #ffffff;
		}

		.adicional {
			color: #ffffff;
		}

		.product-skuSelector {
			color: #ffffff;
		}
	}
}

.vitrine-comprejunto {
	.vitrine-header {
		padding: 0 50px;
		transform: scale(0.8);

		@include breakpoint('small', 'max') {
			padding: 0 20px;
		}
		.monte-combo {
			@include responsiveFont(24);
			color: $green;
			font-weight: 900;
			margin-bottom: 0;
		}
		.cozinha-completa {
			@include responsiveFont(66);
			color: $purple-n;
			font-weight: 900;
			margin-bottom: 20px;
			margin-top: 0;
			@include breakpoint('small', 'max') {
				@include responsiveFont(32);
			}
		}
		.text-combo {
			@include responsiveFont(16);
			color: $base-font-color;
			font-weight: 500;
			margin-top: 0;
			max-width: 560px;
		}
	}
	.vitrine {
		h2 {
			display: none;
		}
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: -5%;
			transform: scale(0.8);

			@include breakpoint('small', 'max') {
				display: initial;
				margin-top: 0;
				transform: scale(1);
			}

			li {
				flex: 1;
				padding: 50px;
				position: relative;
				@include breakpoint('small', 'max') {
					padding: 30px;
				}

				article {
					border: 3px solid $green;
					border-radius: 7px;
					min-height: 550px;
					padding: 30px 30px 0 30px;
					@include breakpoint('small', 'max') {
						min-height: initial;
						padding: 10px;
					}

					.add-item,
					.remove-item {
						cursor: pointer;
						display: none;
						&.active {
							display: initial;
						}
					}
					.remove-item {
						&::before {
							content: 'x';
							padding-right: 10px;
						}
					}
					.add-item {
						&::before {
							content: '+';
							padding-right: 10px;
						}
					}
					h3 {
						color: $green;
						min-height: 84px;

						@include breakpoint('small', 'max') {
							min-height: initial;
						}
					}
					&.removido {
						opacity: 0.7;
						.add-item {
							color: $green;
							font-weight: 900;
						}
					}
					a {
						display: block;
						margin-top: 30px;
					}
					img {
						height: auto;
						width: 100%;
					}
					.FlagsHightLight {
						display: none;
					}
				}

				p {
					&.de {
						color: $base-font-color;
						font-size: 1em;
						font-weight: 600;
						text-decoration: line-through;
					}
					&.de-final {
						color: $base-font-color;
						font-size: 1em;
						font-weight: 600;
						text-decoration: line-through;
					}

					&.por,
					&.por-final {
						color: $purple-n;
						font-size: 1.5em;
						font-weight: 600;
					}
					&.de-final,
					&.por-final,
					&.money-final {
						margin: 0;
					}
					&.money-final {
						color: $green;
						font-weight: 600;
					}
				}

				hr {
					border: 2px solid #efefef;
					margin: 0 0 30px 0;
					width: 60%;
				}

				a {
					margin-top: 30px;
				}

				&:nth-child(3) {
					&::after {
						content: '=';
					}
				}

				&:nth-child(4) {
					align-items: center;
					display: flex;
					flex-flow: column;
					justify-content: center;

					img {
						width: 30%;
					}
					&::after {
						content: '';
					}
					a {
						&.disable {
							opacity: 0.7;
							pointer-events: none;
						}
					}
				}

				&::after {
					color: $green;
					content: '+';
					font-size: 3em;
					font-weight: 600;
					position: absolute;
					right: 0;
					top: 50%;

					@include breakpoint('small', 'max') {
						right: 45%;
						top: 93%;
					}
				}
			}
		}
		.btn-primary-button {
			background-color: $green;
			border: 2px solid transparent;
			color: #ffffff;
			font-weight: 600;
			min-height: 40px;
			min-width: 130px;
			padding: 9px 40px;
		}
	}

	&.hide {
		display: none;
	}
}

.relacionado-list {
	.title-relacionado {
		font-weight: 900;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			margin: 15px 16px 10px 0;
			a {
				background-color: $orange;
				border: 2px solid transparent;
				border-radius: 21px;
				color: #ffffff;
				font-weight: 600;
				padding: 9px 40px;
				&:hover {
					background-color: $purple-n;
				}
			}
		}
	}
}
