@charset 'UTF-8';


// ===============================================================
/* @IMPORTS */
// ===============================================================

// Utility helpers
@import 'helpers/variables';
@import 'helpers/mixins';

// ===============================================================
/* ACCOUNT */
// ===============================================================

body.account-page {
	height: 100%;
	min-height: 100%;
}

.section-conta {
	background-color: #f4f4f4;
	padding: 2em 0 1em 0;
}

.main {
	p {
		color: #777;
		margin: 0;
	}

	// Page and Section titile
	.title,
	h4 {
		@include font-size(22px, true, false);
		color: $green;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

	h4 { @include font-size(16px, true, false); }

	.row { margin: 0; }

	// [class*='span'] {
	.profile-detail-display,
	.address-display-block {
		@include breakpoint('medium', 'max') { width: 100%; }
		background-color: #fff;
		border: 1px solid $gray;
		float: right;
		margin-bottom: 2em;
		padding: 2.5em;
		width: 49%;

		&:first-child { float: left; }
	}

	// Meu perfil
	h5,
	.profile-detail-display-email,
	.profile-detail-display-info span {
		@include font-size(16px, true, false);
		color: #777;
		font-weight: normal;
		margin: 0;
	}

	.edit-profile-link,
	.new-address-link { display: none; }

	h5:before,
	.profile-detail-display-email:before,
	.profile-detail-display-info .title {
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
		padding-right: 10px;
		text-transform: uppercase;
	}

	// Nome
	h5:before { content: 'Nome: '; }

	// Email
	.profile-detail-display-email:before { content: 'E-mail: '; }

	// Links de ação
	.trigger-modal {
		color: $green;
		float: right;
		font-size: 12px;
		margin-top: 30px;
		text-transform: uppercase;

		&:hover { text-decoration: underline; }

		&:after {
			content: '\00BB';
			display: inline-block;
			font-size: 18px;
			padding-left: 5px;
		}
	}

	// Endereços
	.address-display-unit {
		border: none;
		padding: 0 0 1.2em 0;
	}

	.address-display-block {
		@include font-size(16px, true, false);

		.row {
			& > [class*='span'] {
				margin: 0;
				width: 100%;
			}
		}

		h5,
		.edit-address-link { display: none; }
	}
}



// Modal
.modal {
	background-color: #fff;
	border: 1px solid $gray;
	height: 85%;
	left: 50%;
	max-height: 85%;
	max-width: 700px;
	// overflow: auto;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 95%;
	z-index: 100;

	&:focus { outline: none; }

	&[aria-hidden='false'] { visibility: visible }

	#editar-perfil-conteudo {
		max-height: 100%;
		overflow: auto;
	}

	.modal-header {
		background-color: #f4f4f4;
		padding: 15px 40px;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;

		h3 {
			@include font-size(22px, true, false);
			margin: 0;
			text-transform: uppercase;
		}

		.close {
			@include font-size(40px, true, false);
			background-color: transparent;
			border: none;
			font-weight: bold;
			height: 100%;
			position: absolute;
			right: 0;
			top: 3px;
			width: 65px;

			&:focus { outline: none; }
		}
	}

	.modal-body {
		margin-top: 63px;
		padding: 2em;
	}

	.row {
		margin: 0;

		.span,
		.span2,
		.span5:not(h5) {
			float: left;
			width: 50%;
		}
	}

	#business-data,
	#accountAjaxBusy { display: none }

	h5 {
		@include font-size(18px, true, false);
		margin: 0 0 1em;
		text-transform: uppercase;
	}

	.control-label {
		@include font-size(15px, true, false);
		padding: 5px 0;
	}

	.control-group {
		input[type='text'],
		select {
			@include font-size(15px, true, false);
			border: 1px solid $gray;
			float: none;
			margin: .5em 0;
			padding: .5em;
			width: 90%;
		}

		&.form-business-data-name { padding: 1.5em 0; }
	}

	#business-toggle {
		@include font-size(14px, true, false);
		color: $green;
		font-weight: bold;
	}

	.modal-footer {
		padding: 0 2em 2em 0;
		text-align: right;

		.btn-primary,
		.btn-link {
			@include font-size(14px, true, false);
			border: 1px solid $green;
			display: inline-block;
			font-weight: bold;
			line-height: 1em;
			max-width: 200px;
			padding: .8em 1.2em;
			text-transform: uppercase;
		}

		.btn-primary {
			float: right;
			margin-left: 20px;
		}

		.btn-link {
			background-color: transparent;
			color: $green;
		}
	}

	.address-form {
		& > .control-group {
			float: left;
			width: 50%;
		}

		.row {
			clear: both;

			& > [class*='span'] {
				float: left;
				width: 50%;
			}

			div.span4 {
				width: 85%;

				input { width: 95% }
			}

			div.span1 { width: 10% }
		}

		.control-label { display: block; }
	}
}

// #profile-submit,
// #form-submit {
// 	background-color: $green;
// 	color: #ffffff;
// }

// #address-edit,
// #editar-perfil {
// 	@include breakpoint(small, 'max') {
// 		left: 10px;
// 		margin-left: 0;
// 		width: 95%;
// 	}
// }

// .address-form,
// .profile-detail-form-personal-data,
// .profile-detail-form-business-data,
// .form-business-data {
// 	> div {
// 		@include breakpoint(small, 'max') {
// 			display: block;
// 			width: 100%;
// 		}
// 	}

// 	label {
// 		cursor: inherit;
// 		margin-right: 10px;

// 		@include breakpoint(small, 'max') {
// 			display: block;
// 			width: 100%;
// 		}
// 	}

// 	input {
// 		@include breakpoint(extra-small, 'max') {
// 			width: 100%;
// 		}
// 	}
// }

// .span5 {
// 	width: 100%;
// }

// .form-business-data-name {
// 	padding-left: 0 !important;
// }

// .control-group {
// 	@include breakpoint(small, 'max') {
// 		display: block;
// 		margin-left: 0;
// 		padding-left: 20px;
// 		width: 100%;
// 	}

// 	margin-bottom: 10px !important;

// 	label {
// 		cursor: inherit;
// 		margin-right: 10px;

// 		@include breakpoint(small, 'max') {
// 			display: block;
// 			width: 100%;
// 		}
// 	}

// 	.radio {
// 		margin-top: 0;
// 	}

// 	input[type='radio'] {
// 		@include breakpoint(extra-small, 'max') {
// 			display: inline-block;
// 			left: 0;
// 			margin-left: -40px;
// 		}
// 	}

// 	&.address-form-state {
// 		margin-bottom: 20px !important;
// 	}

// 	.controls {
// 		@include breakpoint(small, 'max') {
// 			display: inline-block;
// 			margin: 0 10px;
// 			margin-left: 0;
// 		}
// 	}

// 	#business-toggle {
// 		margin-left: 0;
// 	}
// }