@charset 'UTF-8';

&__info {
	background: transparent !important;
	border-top: 1px solid #f4f2f1;
	flex: 1;
	line-height: normal;
	margin: 5px 0 15px;
	position: relative;
	text-align: left;
}

&__name {
	@include rfs(14);
	display: inline-block;
	font-family: 'Open Sans';
	margin-top: 5px;

	&:empty {
		display: block;
		height: 32px;
		width: 100%;
	}
}

&__sku {
	@include rfs(11);
	font-family: 'consul';
	font-weight: bold;

	&:empty {
		display: block;
		height: 16px;
		margin: 0 auto;
		width: 25%;
	}
}
