@charset 'UTF-8';

&__info {
	background: transparent !important;
	border-top: 1px solid #f1f0f0;
	margin: 1em 0 15px 0;
	padding-top: 0.3em;
	text-align: left;
}

&__name {
	@include breakpoint(small, 'max') {
		@include responsiveFont(12, 16, true);
		font-weight: bold;
		line-height: 14px;
	}
	display: inline-block;
	font-family: 'Open Sans';
	font-size: 14px;

	&:empty {
		display: block;
		height: 32px;
		width: 100%;
	}
}

&__sku {
    font-family: 'consul';
    font-size: 12px;
    font-weight: bold;

	&:empty {
		@include breakpoint(small, 'max') {	display: none }
		display: block;
		height: 16px;
		margin: 0 auto;
		width: 25%;
	}
}
