@charset 'UTF-8';

&__price {
	@include breakpoint(small, 'max') {
		line-height: 14px;
		margin-bottom: 0;
	}
	@include responsiveFont(12, 16, true);

	.off {
		@include responsiveFont(17, 16, true);
		background-color: #702F8F;
		border-radius: 100px;
		color: #FFF;
		display: none;
		font-size: 10px;
		padding: 6px 18px;
		position: absolute;
		right: 15px;
		top: 15px;
	}

	&--list {
		@include breakpoint(small, 'max') {
			span:not(.val) { display: none }
		}
		&:empty {
			@include breakpoint(small, 'max') {
				margin: 0;
				width: 50%;
			}
			height: 16px;
			margin: 0 auto;
			width: 30%;
		}

		.val {
			display: inline-block;
			text-decoration: line-through
		}
	}

	&--best {
		&:empty {
			height: 16px;
			margin: .5em auto;
			width: 45%;
		}
	}

	&--installment {
		@include breakpoint(small, 'max') {
			@include responsiveFont(12, 16, true);
			.val { @include responsiveFont(14, 16, true) }
		}
		color: #9ACA3c;
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
		margin: 15px 0 0;

		a { color: $self-primary }

		&:empty {
			@include breakpoint(small, 'max') {
				margin: 0;
				width: 65%;
			}
			height: 16px;
			margin: 0 auto;
			width: 23%;
		}
	}

	&--cash {
		@include breakpoint(small, 'max') {
			@include responsiveFont(12, 16, true);
		}
	}

	.de,
	.por {
		a {
			color: #702F8F;
			font-weight: 500;
		}
	}
}
