@charset 'UTF-8';

$icon-preco-a-vista : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAhCAMAAAAS9VDrAAAAPFBMVEUAAABAPDpAPDpAOzpAMDBAOzpAOzpAOjpAPDhAOzpAODhAOztAOjpAOjpAOztAOTlAOzpBPTlAPDlAPDtn8C58AAAAE3RSTlMAwIDwEOCgX0CwIHAwkNBQzz9vwfUj9QAAAV9JREFUKM91k9muBCEIRAXEte1l6v//9Towiz3JrSdMRVIeMKyKeZBiiipv4a6tAkr8VKJZ5tXM0N6+x6OC4rerpBhuKuhLXcKPTvqUHec9SEz4ugwF5fa2riHY9ZsCMe8ATpoSQFKrtLgzQys8ppk4b/O+rp1/YmXFubi9SeXrenK5HklBRMuLttB3vKWphMXNSIazFD5KsRJvt2UjG2+osDt/AmBdz8QmgsTuL+LXrcYClxCXF8mE8aFHyHeSB9hSiWEmaQ5nCHSSfBGp6D5IXUlmNDfhdsZOxL04yWqx27RqtcvvmZdzklR297MZe7L1U+i8CHNDAtSnT0DvkHQEInMtJEt1VzmGaLA4UPLFaWHAKh3OL2GPYYgd5HxIdfaceZBAOD5P3RoLdn+akxxHMFWnwyi+QPm+mXI+7dYtibVftYlkryIvv2OZjI7HxUl8Wr8q0wB2buEfGYBf/QGrfhEE6ynUEwAAAABJRU5ErkJggg==';
$icon-preco-parcelado : 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAaCAMAAAAHbGVJAAAANlBMVEUAAABAPDpAPDpAPDhAOzpAOztAMDBAOzpAOjpAOjpAOTlAODhAOzpAOjpAOztAOzpAPDlAPDu+7ph4AAAAEXRSTlMAwH9A8NAQ4DBfUCCfkHCwb3iku5gAAACSSURBVCjPzc85FoMwDEVRWYNHIPz9bzYibn0sytxGzSv0KZ+KvcJEJyztFVykRoGsiZAokrwqHCleveCVScRe/+VVFjeeO9VlleCUyIBJVpWw68+drryoFv65qtzuewQV46dvqwGTq3Ut20rA5D7YVlmtH9zU9n81hdMabBxSq+S5UY0iJdGBg/cSmPIHkZPe+QKB1w1XN3SUEQAAAABJRU5ErkJggg==';

&__price {
	@include rfs(12);
	line-height: normal;

	.off {
		background-color: #702F8F;
		display: none;
		padding: 6px 18px;

		&:not(:empty) + .product-with-discount { top: 45px; }
	}

	.off,
	.product-with-discount {
		@include rfs(10);
		border-radius: 100px;
		color: #fff;
		font-weight: 500;
		position: absolute;
		right: 15px;
		top: 15px;
		white-space: nowrap;
		z-index: 1;
	}

	.product-with-discount {
		background-color: #0fb6de;
		display: inline-block!important;
		padding: 6px 14px;
	}

	&--list {
		span:not(.val) { display: none }

		&:empty {
			@include breakpoint(small, 'max') {
				margin: 0;
				width: 50%;
			}
			height: 16px;
			margin: 0 auto;
			width: 30%;
		}

		.val {
			display: inline-block;
			text-decoration: line-through
		}
	}

	&--best {
		&:empty {
			height: 16px;
			margin: .5em auto;
			width: 45%;
		}

		span:not(.off) { display: none; }

		.val {
			@include rfs(24);
			color: #9aca3c;
			display: block!important;
			font-weight: bold;
			margin-bottom: .4em;
		}
	}

	&--cash {
		.discount-boleto {
			color: #736C6B;
			display: block;
			margin-bottom: .4em;

			// Icone pagamento
			&:before { background-image: url($icon-preco-a-vista); }

			span {
				@include rfs(10);
				color: #EC008C;
				display: none;
			}
		}
	}

	&--cash .discount-boleto,
	&--installment {
		padding-left: 20px;
		position: relative;

		// Icone pagamento
		&:before {
			@include square(15px);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&--installment {
		@include rfs(13);
		color: #736c6b;

		// Icone pagamento parcelado
		&:before { background-image: url($icon-preco-parcelado); }

		&.shelf-item--empty {
			&::before { display: none; }
		}

		.product-has-discount & {
			strong {
				// &:first-child { display: block; }

				span {
					&:first-child {
						text-transform: none;

						&:before { display: none; }
					}
				}
			}
		}

		a { color: #736c6b; }

		strong {
			@include rfs(12);
			color: #736C6B;
			display: block;
			font-weight: normal;

			&:first-child { display: none; }

			.val { font-weight: bold; }
		}

		&:empty {
			@include breakpoint(small, 'max') {
				margin: 0;
				width: 65%;
			}
			height: 16px;
			margin: 0 auto;
			width: 23%;
		}
	}


	.de,
	.por {
		a {
			@include rfs(15);
			color: #736c6b;
		}
	}
}