@charset 'UTF-8';

&__price {
	@include rfs(12);
	line-height: normal;

	.off {
		background-color: #702F8F;
		display: none;
		padding: 6px 18px;

		&:not(:empty) + .product-with-5-off { top: 45px; }
	}

	.off,
	.product-with-5-off {
		@include rfs(10);
		border-radius: 100px;
		color: #fff;
		font-weight: 500;
		position: absolute;
		right: 15px;
		top: 15px;
		white-space: nowrap;
		z-index: 1;
	}

	.product-with-5-off {
		background-color: #0fb6de;
		display: inline-block!important;
		padding: 6px 14px;
	}

	.product-has-class-5-off & {
		background-color: #ccc;
	}

	&--list {
		span:not(.val) { display: none }

		&:empty {
			@include breakpoint(small, 'max') {
				margin: 0;
				width: 50%;
			}
			height: 16px;
			margin: 0 auto;
			width: 30%;
		}

		.val {
			display: inline-block;
			text-decoration: line-through
		}
	}

	&--best {
		&:empty {
			height: 16px;
			margin: .5em auto;
			width: 45%;
		}

		span:not(.off) { display: none; }
	}

	&--installment {
		@include rfs(13);
		color: #736c6b;

		.product-has-5-off & {
			strong {
				&:first-child { display: block; }

				span {
					&:first-child {
						text-transform: none;

						&:before { display: none; }
					}
				}
			}
		}

		a { color: #736c6b; }

		strong {
			display: block;
			font-weight: 500;

			&:first-child { display: none; }

			span {
				&:first-child {
					text-transform: lowercase;

					&:before { content: 'ou '; }
				}
			}
		}

		&:empty {
			@include breakpoint(small, 'max') {
				margin: 0;
				width: 65%;
			}
			height: 16px;
			margin: 0 auto;
			width: 23%;
		}
	}

	&--cash {
		.discount-boleto {
			@include rfs(24);
			color: #9aca3c;
			display: block;
			font-weight: bold;
			margin-bottom: .4em;

			span { @include rfs(16); }
		}
	}

	.de,
	.por {
		a {
			@include rfs(15);
			color: #736c6b;
			// font-weight: 500;
		}
	}
}
