// Promo destaque - Prateleiras
.promo-destaque {
	background-color: #fff;
	font-weight: bold;
	height: 40px;
	margin: 10px 0 5px 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;

	.shelf-item__info & { margin-top: 15px; }

	.shelf--history-personalized-ref & {
		.promo-destaque__text { display: none; }
	}

	&__text,
	&__price {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	// Background box
	&__icon,
	&__bg {
		height: 100%;
		position: absolute;
	}

	&__bg {
		@include breakpoint('extra-small', 'max') { transform: translateX(-85px); }
		@include breakpoint('large', 'max') {
			@include breakpoint('extra-small', 'min') { transform: translateX(-80px); }
		}
		border-radius: 4px;
		left: 100%;
		transform: translateX(-100px);
		transition: transform .2s ease;
		width: 100%;
	}

	// Text
	&__text {
		@include breakpoint('medium', 'min') { transform: translate(-8px, -50%); }
		@include breakpoint('small', 'max') { transform: translate(-4px, -50%); }
		@include breakpoint('large', 'max') { padding-left: 28px; }
		@include rfs(10.5px);
		left: 0;
		line-height: 100%;
		padding-left: 40px;
		text-align: left;
		text-indent: 0;
		transition:
			color .2s ease,
			transform .2s ease
		;
		z-index: 1;
	}

	&__icon {
		@include breakpoint('large', 'max') {
			background-size: 20px!important;
			height: 20px;
			left: 4px;
		}
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 24px!important;
		height: 24px;
		left: 8px;
		top: 50%;
		transform: translateY(-50%);
		transition: opacity .2s ease;
		width: 25px;

		// Esconder o secundo ícone
		&:nth-child(2) { opacity: 0; }
	}

	// Price
	&__price {
		@include breakpoint('large', 'max') { @include rfs(10px); }
		@include breakpoint(670px, 'max') { right: 15px; }
		@include rfs(12px);
		color: #fff;
		line-height: 13px;
		right: 14px;
		z-index: 10;
	}

	// Página de produto
	&.promo-produto {
		border-radius: 4px;
		box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
		margin-top: 1em;
		z-index: 0;

		span {
			@include breakpoint(1180px, 'min') { display: inline-block; }
			display: inline-block;
		}

		.promo-destaque__bg {
			border-radius: 0;
			left: inherit;
			right: 0;
			transform: translateX(0);
			width: 130px;
		}

		.promo-destaque__text {
			@include rfs(11px);
			color: #fff;
			left: inherit;
			padding-left: 40px;
			right: 10px;
			transform: translate(0, -50%);
			width: 122px;

			.promo-destaque__icon {
				background-size: 24px!important;
				height: 24px;
				left: 8px;
				width: 25px;
			}
		}

		.promo-destaque__price {
			@include rfs(13px);
			left: 12px;
			right: inherit;
			width: calc(100% - 155px);
		}
	}
}

// Alterações com a interação do usuário
.box-produto:hover {
	.promo-destaque__text {
		@include breakpoint('medium', 'min') { transform: translate(-3px, -50%); }
	}

	// Elementos dentro do BreackPoint apenas para facilitar o nome de cada
	@include breakpoint('small', 'min') {
		.promo-destaque {
			&__bg { transform: translateX(-100%); }

			&__text { color: #fff!important; }

			&__icon {
				&:nth-child(1) { opacity: 0; }
				&:nth-child(2) { opacity: 1; }
			}
		}
	}
}
