
.box-produto {
    .image {
        &:hover {
            &:before {
                display: none;
            }
            .flag {
                &.frete-gratis-somente,
                &.frete-gratis-exceto,
                &.black-friday-coupons,
                &.blackfriday-tag,
                &.frete-gratis{
                    opacity: 1;
                }
            }

        }
        .FlagsHightLight {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column-reverse;
            bottom: 0;
            .flag {
                display: none;
                bottom: 0;
                &.black-friday-coupons {
                    // bottom: 0;
                    width: auto;
                    height: 11%;
                    margin-top: 2px;

                    font-size: 10px;
                    color: #712F8F;
                    font-weight: bold;

                    display: none;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    border: 1px solid #712F8F;
                    border-radius: 4px;
                    background-color: #ffffff;

                    &:before {
                        content: 'Cupom';
                        color: #ffffff;
                        background-color: #712F8F;
                        width: 60%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        right: 0;
                        position: relative;
                        margin-right: 5px;
                        padding: 4px 8px 4px 12px;
                    }

                    &:after {
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8182 3.63636H12.3636V2.18182C12.3636 1.60316 12.1338 1.04821 11.7246 0.63904C11.3154 0.229869 10.7605 0 10.1818 0H2.18182C1.60316 0 1.04821 0.229869 0.63904 0.63904C0.229869 1.04821 0 1.60316 0 2.18182V10.1818C0 10.7605 0.229869 11.3154 0.63904 11.7246C1.04821 12.1338 1.60316 12.3636 2.18182 12.3636H3.63636V13.8182C3.63636 14.3968 3.86623 14.9518 4.2754 15.361C4.68457 15.7701 5.23953 16 5.81818 16H13.8182C14.3968 16 14.9518 15.7701 15.361 15.361C15.7701 14.9518 16 14.3968 16 13.8182V5.81818C16 5.23953 15.7701 4.68457 15.361 4.2754C14.9518 3.86623 14.3968 3.63636 13.8182 3.63636ZM1.45455 10.1818V2.18182C1.45455 1.98893 1.53117 1.80395 1.66756 1.66756C1.80395 1.53117 1.98893 1.45455 2.18182 1.45455H10.1818C10.3747 1.45455 10.5597 1.53117 10.6961 1.66756C10.8325 1.80395 10.9091 1.98893 10.9091 2.18182V3.63636H5.81818C5.23953 3.63636 4.68457 3.86623 4.2754 4.2754C3.86623 4.68457 3.63636 5.23953 3.63636 5.81818V10.9091H2.18182C1.98893 10.9091 1.80395 10.8325 1.66756 10.6961C1.53117 10.5597 1.45455 10.3747 1.45455 10.1818ZM14.5455 13.8182C14.5455 14.0111 14.4688 14.1961 14.3324 14.3324C14.1961 14.4688 14.0111 14.5455 13.8182 14.5455H5.81818C5.6253 14.5455 5.44031 14.4688 5.30392 14.3324C5.16753 14.1961 5.09091 14.0111 5.09091 13.8182V5.81818C5.09091 5.6253 5.16753 5.44031 5.30392 5.30392C5.44031 5.16753 5.6253 5.09091 5.81818 5.09091H13.8182C14.0111 5.09091 14.1961 5.16753 14.3324 5.30392C14.4688 5.44031 14.5455 5.6253 14.5455 5.81818V13.8182Z' fill='%23712F8F'/%3E%3Cpath d='M12.0001 9.091H10.5455V7.63645C10.5455 7.44357 10.4689 7.25858 10.3325 7.12219C10.1961 6.9858 10.0112 6.90918 9.81827 6.90918C9.62539 6.90918 9.4404 6.9858 9.30401 7.12219C9.16762 7.25858 9.091 7.44357 9.091 7.63645V9.091H7.63645C7.44357 9.091 7.25858 9.16762 7.12219 9.30401C6.9858 9.4404 6.90918 9.62539 6.90918 9.81827C6.90918 10.0112 6.9858 10.1961 7.12219 10.3325C7.25858 10.4689 7.44357 10.5455 7.63645 10.5455H9.091V12.0001C9.091 12.193 9.16762 12.378 9.30401 12.5143C9.4404 12.6507 9.62539 12.7274 9.81827 12.7274C10.0112 12.7274 10.1961 12.6507 10.3325 12.5143C10.4689 12.378 10.5455 12.193 10.5455 12.0001V10.5455H12.0001C12.193 10.5455 12.378 10.4689 12.5143 10.3325C12.6507 10.1961 12.7274 10.0112 12.7274 9.81827C12.7274 9.62539 12.6507 9.4404 12.5143 9.30401C12.378 9.16762 12.193 9.091 12.0001 9.091Z' fill='%23712F8F'/%3E%3C/svg%3E%0A");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;

                        width: 12px;
                        height: 12px;

                        margin-left: 5px;
                        margin-right: 5px;
                        padding: 7px 7px;
                    }

                    &:hover {
                        font-size: 0;
                        &:before {
                            content: 'Copiar cupom';
                            width: 100%;
                            font-size: 10px;
                            margin-right: 0;
                        }

                        &:after {
                            position: absolute;

                            width: 0;
                            height: 0;
                            margin: 0;
                            padding: 0;

                            top: 101%;
                            left: 50%;
                            transform: translateX(-50%);

                            border-style: solid;
                            background-image: none;
                            border-width: 6px 6px 0 6px;
                            border-color: #712f8f transparent transparent transparent;
                        }
                    }

                    &.copied {
                        font-size: 0;
                        background-color: #712f8f;
                        &:before {
                            content: 'Código copiado!';
                            width: 100%;
                            font-size: 10px;
                            margin-right: 0;
                        }

                        &:after {
                            content: '';
                            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58174 0 0 3.58174 0 8C0 12.4183 3.58174 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58174 12.4183 0 8 0ZM12.7595 6.14607L7.72085 11.1849C7.54428 11.3615 7.30504 11.4607 7.05525 11.4607C6.80546 11.4607 6.56621 11.3617 6.38965 11.1849L3.24028 8.03576C2.87266 7.66814 2.87266 7.07219 3.24028 6.70475C3.60791 6.33732 4.20367 6.33732 4.57129 6.70475L7.05506 9.18852L11.4287 4.81506C11.796 4.44762 12.3923 4.44762 12.7595 4.81506C13.1272 5.18249 13.1272 5.77845 12.7595 6.14607Z' fill='white'/%3E%3C/svg%3E%0A");
                            margin-left: 0;
                        }

                        &:hover {
                            &:after {
                                content: '';
                                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C3.58174 0 0 3.58174 0 8C0 12.4183 3.58174 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58174 12.4183 0 8 0ZM12.7595 6.14607L7.72085 11.1849C7.54428 11.3615 7.30504 11.4607 7.05525 11.4607C6.80546 11.4607 6.56621 11.3617 6.38965 11.1849L3.24028 8.03576C2.87266 7.66814 2.87266 7.07219 3.24028 6.70475C3.60791 6.33732 4.20367 6.33732 4.57129 6.70475L7.05506 9.18852L11.4287 4.81506C11.796 4.44762 12.3923 4.44762 12.7595 4.81506C13.1272 5.18249 13.1272 5.77845 12.7595 6.14607Z' fill='white'/%3E%3C/svg%3E%0A");
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                width: 12px;
                                height: 12px;
                                margin-left: 0;
                                margin-right: 5px;
                                padding: 7px 7px;
                                top: 0;
                                transform: none;
                                left: 0;
                                position: relative;
                                border: none;
                            }
                        }
                    }
                }

                &.blackfriday-tag {
                    // bottom: 28px;
                    right: 0;
                    position: relative;
                    margin: 2px 0;

                    width: auto;
                    max-width: 150px;
                    height: 11%;

                    font-size: 10px;
                    color: #ffffff;
                    font-weight: bold;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: #424242;
                    border-radius: 4px;
                    padding: 4px 12px;

                }

                &.frete-gratis {
                    // bottom: 85px;
                    right: 0;
                    margin: 2px 0;

                    width: auto;
                    max-width: 100px;
                    height: 11%;
                    min-height: 0;

                    font-size: 10px;
                    color: #ffffff;
                    font-weight: bold;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background-color: #0FB6DE;
                    border-radius: 4px;
                    position: relative;
                    padding: 4px 12px;
                }

                &.frete-gratis-somente,
                &.frete-gratis-exceto {
                    width: auto;
                    height: 11%;
                    max-height: 1.7rem;

                    font-size: 10px;
                    color: #0FB6DE;
                    font-weight: bold;
                    text-indent: 0;

                    display: flex!important;
                    z-index: 4;
                    align-items: center;
                    justify-content: space-between;
                    order: 3;

                    border: 1px solid #0FB6DE;
                    border-radius: 4px;
                    background-color: #ffffff;

                    margin: 2px 0;
                    position: relative;
                    padding-right: 6px;

                    &:before {
                        content: 'Frete Grátis';
                        color: #ffffff;
                        background-color: #0FB6DE;
                        width: auto;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        right: 0;
                        position: relative;
                        margin-right: 5px;
                        padding: 4px 8px 4px 12px;
                    }
                }
            }
            .off {
                // bottom: 55px;
                right: 0;
                bottom: 0;
                margin: 2px 0;

                width: auto;
                max-width: 100px;
                height: 11%;
                min-height: 0;

                font-size: 10px;
                color: #ffffff;
                font-weight: bold;

                order: 2;
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #EC008E;
                border-radius: 4px;
                position: relative;
                padding: 4px 12px;
            }
            .product-with-discount {
                right: 0;
                bottom: 0;
                margin: 2px 0;
                width: auto;
                max-width: 125px;
                height: 11%;
                min-height: 0;
                font-size: 10px;
                color: #ffffff;
                font-weight: bold;
                order: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FCB816;
                border-radius: 4px;
                position: relative;
                padding: 4px 12px;
            }
        }

    }

    .prod-info {
        .price {
            .por {
                .off{
                    display: none!important;
                }
                .product-with-discount {
                    display: none!important;
                }
            }
        }
    }
}

#relacionados-top {
    .box-produto {
        .product-infos-wrap{
            .image {
                .FlagsHightLight {
                    display: none;
                }
            }
        }
    }
}