.prod-info {
    .prod-selos {
        .tag {
            top: 0;
            bottom: 0;
            text-indent: 0;
            display: flex;
            align-items: center;
            order: 0;
            border-radius: 4px;
            font-weight: 600;
            height: auto;
            background-color: #EC008E;
            max-height: 2rem;
            padding: 4px 1rem;
        }
    }
}