// Body
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-900;

// Links
// Style anchor elements.
$link-color: $gray-700;
$link-decoration: none;
$link-hover-color: $gray-900;
$link-hover-decoration: underline;
