@import 'helpers/variables';
@import 'helpers/mixins';

#descontos {
	margin-top: 20px;
	.title {
		font-weight: 100;
		line-height: 16px;
		&::after {
			border-bottom: 3px solid $green;
			content: '';
			display: block;
			margin-top: 10px;
			width: 20%;
		}
	}
	.group {
		@include breakpoint(medium, 'max') {
			/* &:not(.-opened) {
				.list-items:not(.-active) {

				}
			} */
			&.-opened {
				.item-selected {
					border: none;
				}

				@keyframes slideDown {
					from {height: 0;}
					to {height: 230px;}
				}
				@keyframes slideUp {
					from {height: 230px;}
					to {height: 0;}
				}
				.list-items {
					animation: slideDown ease .7s forwards;
				}
			}
			.list-items {
				animation: slideUp ease .7s forwards;
				height: 0;
			}
			button {
				border: none;
			}
			li {
				border-top: 1px solid #E3E1E1;
			}
		}
		background-color: #fff;
		border-radius: 4px;
		position: relative;
		z-index: 102;

		.list-items {
			overflow: hidden;
		}

		.item-selected {
			background-color: transparent;
			border: 1px solid #E3E1E1;
			border-radius: 4px;
			color: #EC008C;
			padding: 10px 15px;
			text-align: left;
			width: 100%;
		}
		li {
			flex-grow: 1;
			margin: 0 9px;
			&:last-child {
				text-align: right;
			}
		}
	}
	.btn-tab {
		background-color: transparent;
		border: 1px solid #E3E1E1;
		border-radius: 4px;
		color: #736C6B;
		padding: 10px 15px;
		text-align: left;
		transition: border .3s ease, background-color .3s ease, color .3s ease;
		width: 100%;
		&:hover {
			background-color: #EC008C;
			color: #fff;
		}
	}
}

@keyframes showOverlay {
	from {
		opacity: 0;
		z-index: 101;
	}
	to {
		height: .7s;
		z-index: 101;
	}
}
@keyframes hideOverlay {
	0% {
		opacity: .6;
		z-index: 101;
	}
	99% {
		z-index: 101;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
}
.overlay {
	animation: showOverlay ease .7s forwards;
	background-color: #000;
	bottom: 0;
	left: 0;
	opacity: .6;
	position: fixed;
	right: 0;
	top: 0;
	visibility: visible;


	&.-hidden {
		animation: hideOverlay ease .7s forwards;

	}
}
