@import 'helpers/variables';
@import 'helpers/mixins';

#seu-jeitinho {
	.tab {
		border: 1px solid #E3E1E1;
		border-radius: 20px;
		margin-bottom: 30px;
		padding: 2px;
		position: relative;
		&::before {
			background: $green;
			border-radius: 20px;
			color: #fff;
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			transition: all .3s ease;
			width: calc(100% / 3);
		}
		&[data-active-item='0']:before {
			left: 0;
			transform: translateX(0);
		}
		&[data-active-item='1']:before {
			left: 50%;
			transform: translateX(-50%);

		}
		&[data-active-item='2']:before {
			left: 100%;
			transform: translateX(-100%);
		}
		li {
			width: calc(100% / 3);
		}
		button {
			@include responsiveFont(12, 16, true);
			background: none;
			border: none;
			padding: 10px 0;
			transition: color .3s ease;
			width: 100%;
			&.-active {
				color: #fff;
				position: relative;
			}

			&:focus {
				outline: none;
			}
		}
	}
	.caption {
		.all-collections {
			display: block;
			margin-top: 50px;
		}
		.info {
			min-height: 235px;
		}
	}

	.shelfs {
		height: 502px;
		overflow: hidden;
		padding: 0 20px;
	}
}
