.info {
	background: transparent linear-gradient(180deg, #9ACA3C 0%, #81AE29 59%, #729D1D 100%) 0% 0% no-repeat padding-box;

	.title {
		margin: 0;
		width: 45%;

		@media (max-width: 920px) {
			margin-bottom: 20px;
			text-align: left;
			width: 100%;
		}

		br {
			@media (max-width: 920px) {
				display: none;
			}
		}
	}

	&__content {
		display: flex;
		padding: 34px 0;

		@media (max-width: 920px) {
			flex-direction: column;
		}
	}

	&__text {
		color: #fff;
		font-size: 1em;
		line-height: 25px;
		margin: 0;
		padding-left: 60px;

		@media (max-width: 920px) {
			padding: 0;
		}
	}
}