@charset 'UTF-8';

// Breadcrumb
.pagina-cervejeiras .category-postheader { margin: 0!important; }

#toast-container {
	> .toast-info {
		background-color: rgba(27, 27, 27, 0.9);
		background-image: none !important;
		border-radius: 4px;
		box-shadow: none;
		margin-top: 2%;
		opacity: 1;
		padding: 12px 25px;
		> .toast-message {
			color: #ffffff;
			font-size: 16px;
			font-weight: bold;
			padding: 3px 0;
		}
		> .toast-close-button {
			font-weight: bold;
			position: relative;
			right: 0;
			top: 0;
		}
	}
}