@charset 'UTF-8';

.vitrine-promocoes {
    background-color: #F2F2F2;
    padding: 30px 0;

    @include breakpoint ('medium', 'max') {
        background-color: #fff;
    }

    h2 {
        @include rfs(28);
        text-align: center;

        .cor {
            color: #9ACA3C;
        }
    }

    .prateleira {
        h2 {
            display: none;
        }
    }

    .btn-comparar {
        display: none;
    }

    .slick-disabled {
        &:before {
            color: #e4e4e4;
        }
    }

    .slick-arrow {
        &:hover {
            color: #9ACA3C;
        }
    }

    .slick-list {
        margin: 0 auto;
    }

    article.box-produto {
        border: 1px solid #F2F2F2;
        min-height: 450px;

        @include breakpoint ('medium', 'max') {
            border: 1px solid #FFF;
        }

        &:hover {
            border: 1px solid #9ACA3C;
        }

        .detalhes {
            a {
                &:before {
                    display: none;
                }
            }

            .image {
                margin: 15px;
                position: relative;

                .img.backup {visibility: hidden}

                &:before {
                    background-color: #d0d;
                    background-size: contain!important;
                    content: '';
                    display: block;
                    height: 100%;
                    opacity: 1;
                    position: absolute;
                    width: 100%;
                    z-index: 10;
                }

                &[href*='amarela']:before { background: url('/arquivos/pagina-cervejeiras__cervejeira-amarela-frente.png') center center no-repeat; }
                &[href*='vermelha']:before { background: url('/arquivos/pagina-cervejeiras__cervejeira-vermelha-frente.png') center center no-repeat; }
                &[href*='titanium']:before { background: url('/arquivos/pagina-cervejeiras__cervejeira-titanium-frente.png') center center no-repeat; }

            }
            .prod-info {
                position: relative;

                .nome {
                    @include rfs(15);
                    color: #736C6B;
                    font-weight: bold;

                    .product-field {
                        display: none;
                    }

                    li {
                        @include rfs(11);
                        display: block;
                        font-weight: 100;
                    }
                }

                .de {
                    @include rfs(12);
                    color: #702F8F;
                    font-weight: 500;
                }

                .discount-boleto {
                    @include rfs(24);
                    color: #9ACA3C;
                }

                .adicional {
                    strong {
                        display: none;

                        span:before {
                            content: none;
                        }
                    }

                    .preco-parcelado {
                        @include rfs(11);
                        margin-bottom: 0;
                        text-transform: initial;
                    }
                }

                .sku_error {
                    position: absolute;
                    width: 100%;

                    &:after {
                        border-width: 20px;
                        bottom: 220px;
                        left: 42%;
                        top: inherit;

                        // @include breakpoint ('large', 'max') {

                        // }
                    }
                }
            }
        }
    }
}