@charset 'UTF-8';

.vitrine-promocoes {
	background-color: #fcfcfc;
	padding: 30px 0;

	@include breakpoint ('medium', 'max') {
		background-color: #fff;
	}

	h2 {
		@include rfs(28);
		text-align: center;

		.cor {
			color: #9ACA3C;

			@include breakpoint ('medium', 'max') {
				display: block;
			}
		}

		@include breakpoint ('medium', 'max') {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}

	.prateleira {
		h2 {
			display: none;
		}
		.btn-comparar {
			display: none;
		}

		.slick-disabled {
			&:before {
				color: #e4e4e4;
			}
		}

		.slick-arrow {
			&:hover {
				color: #9ACA3C;
			}
		}

		.slick-list {
			margin: 0 auto;
		}

		.slick-dots {
			bottom: 15px;

			li {
				button {
					background-color: #CECCCC;
				}

				&.slick-active {
					button {
						background-color: #9ACA3C;

						&:after {
							display: none;
						}
					}
				}
			}
		}

		article.box-produto {
			border: 1px solid #fcfcfc;
			min-height: 450px;

			@include breakpoint ('medium', 'max') {
				border: 1px solid #FFF;
			}

			&:hover {
				border: 1px solid #9ACA3C;
			}

			.detalhes {
				a:before { display: none; }

				.image {
					margin: 15px;
					position: relative;

					.img.backup {visibility: hidden}

					&:before {
						background-color: #d0d;
						background-size: contain!important;
						content: '';
						display: block;
						height: 100%;
						opacity: 1;
						position: absolute;
						width: 100%;
						z-index: 1;
					}

					&[href*='amarela']:before { background: url('/arquivos/pagina-cervejeiras__cervejeira-amarela-frente.png') center center no-repeat; }
					&[href*='vermelha']:before { background: url('/arquivos/pagina-cervejeiras__cervejeira-vermelha-frente.png') center center no-repeat; }
					&[href*='titanium']:before { background: url('/arquivos/pagina-cervejeiras__cervejeira-titanium-frente.png') center center no-repeat; }
				}

				.prod-info {
					border-color: #F1F0F0;

					.nome {
						@include rfs(15);
						color: #736C6B;
						font-weight: bold;

						li {
							@include rfs(11);
							display: block;
							font-weight: 100;
						}
					}

					.preco-parcelado {
						display: none;
						visibility: hidden;
					}

					.sku_error {
						left: 5%;
						position: absolute;
						width: 90%;

						&:before {
							border-width: 20px;
							bottom: 80%;
							left: 42%;
							top: unset;
						}
					}
				}

				.sku_buy { margin: 15px auto 20px; }
			}
		}
	}

	// Remove comparador e selos das páginas de cervejeira
	.off,
	.product-with-discount {
		z-index: 4;
	}

	.btn-comparar {
		display: none!important;
		visibility: hidden!important;
	}
}