<div class="quick-view-table-dimention__item">
	<div class="quick-view-table-dimention__text">{width} cm</div>
	<div class="quick-view-table-dimention__name">Largura</div>
</div>
<div class="quick-view-table-dimention__item">
	<div class="quick-view-table-dimention__text">{height} cm</div>
	<div class="quick-view-table-dimention__name">Altura</div>
</div>
<div class="quick-view-table-dimention__item">
	<div class="quick-view-table-dimention__text">{length} cm</div>
	<div class="quick-view-table-dimention__name">Profundidade</div>
</div>
<div class="quick-view-table-dimention__item">
	<div class="quick-view-table-dimention__text">{weight} kg</div>
	<div class="quick-view-table-dimention__name">Peso</div>
</div>
