@charset 'UTF-8';

$self-pri: $green!default;
$self-sec: $orange!default;
$self-bg: $txt-gray-l!default;

@keyframes rotation {
	to { transform: rotate(360deg); }
}

.section-orders { margin-bottom: 0; }

.myorders {
	&--loading:before {
		@include spinner($green, 100px);
		content: '';
		display: block;
		margin: 0 auto;
		position: relative;
	}

	&__order {
		background-color: #fff;
		border: 1px solid $gray;
		margin: 20px 0;
	}

	svg {
		display: inline-block;
		max-width: 20px;
		vertical-align: bottom;

		path { fill: $gray-d }
	}

	&__page {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&-item {
			display: inline-block;

			&:first-child:after {
				content: '|';
				display: inline-block;
				margin: 0 15px;
			}
		}

		&-link {
			@include font-size(14px, true, false);
			color: $green;
			font-weight: bold;
			text-transform: uppercase;

			&:hover { text-decoration: underline!important; }
		}

		&-title {
			@include font-size(22px, true, false);
			color: $green;
			margin: 0;
			text-transform: uppercase;
		}
	}
}

.order {
	&__hide {
		&--desk {
			@include breakpoint('small', 'min') { display: none }
		}
		&--mobile {
			@include breakpoint('small', 'max') { display: none }
		}
		&--empty:empty { display: none }
	}

	&__wrapper { display: none }

	&__tracking-item {
		margin: 0 0 40px;
		padding: 0 20px;
	}

	@import 'components/orders/single-order/order.icons';

	//Single onrders components
	@import 'components/orders/single-order/order.header';
	@import 'components/orders/single-order/order.items-table';
	@import 'components/orders/single-order/order.summary';
	@import 'components/orders/single-order/order.footer';
	@import 'components/orders/single-order/order.states';

	&__toggle {
		border: 1px solid $gray-l;
		display: inline-block;
		min-width: 65px;
		padding: 4px;
		position: relative;

		a { display: inline-block; }

		&-option {
			@include font-size(10px, true, false);
			color: $gray-l;
			display: inline-block;
			line-height: 1;
			padding: .5em;
			text-align: center;

			&:first-child { margin-right: .8em; }

			&--active { background-color: $green; }

			&--off {
				&.order__toggle-option--active { background-color: $gray; }
			}
		}
	}

	@import 'components/orders/order.recurrence';
}


@import 'components/orders/order.modals';
@import 'components/orders/order.historico';
@import 'components/orders/order.warrantySpare';
@import 'components/orders/order.modal.gae';