@charset 'UTF-8';

$self-pri: $green!default;
$self-sec: $orange!default;
$self-bg: $txt-gray-l!default;
$purple: #7f2893;
$gray-lightest: #f4f4f4;
$gray-ligther: #e5e5e5;
$gray-darkest: #736c6b;
$pending-color: #dbd508;
$canceled-color: #c0392b;

@keyframes rotation {
	to { transform: rotate(360deg); }
}

.section-orders {
	margin-bottom: 0;
	@include breakpoint('extra-small', 'max') {
		background: #fff;
		padding: 20px 0;

		.myorders__page {
			> div:nth-child(2) {
				display: block;
				width: 100%;

				.myorders__page-control {
					text-align: center;
					width: 100%;
				}
			}
		}

		.container {
			margin: 0;
			max-width: 100%;
			padding: 0 10px;
		}
	}
 }

.myorders {
	&--loading:before {
		@include spinner($green, 100px);
		content: '';
		display: block;
		margin: 0 auto;
		position: relative;
	}

	&__order {
		background-color: #fff;
		border: 1px solid $gray;
		margin: 20px 0;

		@include breakpoint('small', 'max') {
			margin: 10px 0;
		}
	}

	svg {
		display: inline-block;
		max-width: 20px;
		vertical-align: bottom;

		path { fill: $gray-d }
	}

	&__page {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&-item {
			display: inline-block;

			&:first-child:after {
				content: '|';
				display: inline-block;
				margin: 0 15px;
			}
		}

		&-link {
			@include font-size(14px, true, false);
			color: $green;
			font-weight: bold;
			text-transform: uppercase;

			&:hover { text-decoration: underline!important; }
		}

		&-title {
			@include font-size(22px, true, false);
			color: $green;
			margin: 0;
			text-transform: uppercase;
		}
	}
}

.order {
	&__hide {
		&--desk {
			@include breakpoint('small', 'min') { display: none }
		}
		&--mobile {
			@include breakpoint('small', 'max') { display: none }
		}
		&--empty:empty { display: none }
	}

	&__wrapper { display: none }

	&__tracking-item {
		margin: 0 0 40px;
		padding: 0 20px;
	}

	&__body {
		padding: 0 40px;

		@include breakpoint('small', 'max') {
			padding: 0 15px;
		}
	}

	@import 'components/orders/single-order/order.icons';

	//Single onrders components
	@import 'components/orders/single-order/order.header';
	@import 'components/orders/single-order/order.states';
	@import 'components/orders/single-order/order.summary';
	@import 'components/orders/single-order/order.helpers';
	@import 'components/orders/single-order/order.packages';

	&__invoicekey { float: right }
	&__invoice-container {
		border-top: solid 1px $gray-lighter;
		padding: 1em 1em 0 0;
	}

	&__toggle {
		border: 1px solid $gray-l;
		display: inline-block;
		min-width: 65px;
		padding: 4px;
		position: relative;

		a { display: inline-block; }

		&-option {
			@include font-size(10px, true, false);
			color: $gray-l;
			display: inline-block;
			line-height: 1;
			padding: .5em;
			text-align: center;

			&:first-child { margin-right: .8em; }

			&--active { background-color: $green; }

			&--off {
				&.order__toggle-option--active { background-color: $gray; }
			}
		}
	}

	@import 'components/orders/order.recurrence';

	&__estimateMobile {
		display: none;
		font-size: 13px;
		font-weight: bold;
		padding-top: 15px;
		text-align: right;

		@include breakpoint('small', 'max') {
			display: block;
		}
	}

	&__stateInfo {
		&-mobile {
			display: none;
			@include breakpoint('small', 'max') {
				display: block;
			}

			&-title {
				color: $self-pri;
				font-size: 15px;
				font-weight: bold;
				margin-bottom: 5px;
				text-align: center;
			}

			&-alert {
				background: $self-pri;
				color: #fff;
				font-size: 12px;
				margin-bottom: 15px;
				padding: 8px 4px;
				text-align: center;
			}
		}
	}

	&__status {
		&-pagamento {
			.order__header-stateIcon {
				background-color: $pending-color;
				&::before {
					content : '\e90f'
				}
			}
			.order__stateInfo-mobile-title {color: $pending-color}
			.order__stateInfo-mobile-alert {background-color: $pending-color}
		}
		&-pedidoRealizado {
			.order__header-stateIcon {
				&::before {
					content : '\e90e'
				}
			}
		}
		&-pagamentoAprovado {
			.order__header-stateIcon {
				&::before {
					content : '\e910'
				}
			}
		}
		&-faturado {
			.order__header-stateIcon {
				&::before {
					content : '\e911'
				}
			}
		}
		&-pedidoEntregue {
			.order__header-stateIcon {
				background-color: $self-bg;
				&::before {
					content : '\e912'
				}
			}

			.order__stateInfo-mobile-title {color: $purple}
			.order__stateInfo-mobile-alert {background-color: $purple}
		}
		&-cancelado {
			.order__header-stateIcon
			{
				background-color: $self-bg;
				&::before {
					content : '\e913'
				}
			}
			.order__stateInfo-mobile-title {color: $canceled-color}
			.order__stateInfo-mobile-alert {background-color: $canceled-color}
		}
	}
}

.custom-accordion-mp-wrapper {
	@include breakpoint('small', 'max') {
		margin-bottom: 20px;
	}
}

.custom-accordion-mp-header {
	background: $gray-darkest;
	cursor: pointer;
	display: none;
	padding: 10px 15px;
	position: relative;

	@include breakpoint('small', 'max') {
	   color: #fff;
	   display: block;
	   font-size: 15px;
	}

	.icon {
		font-size: 7px;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);
		transition: all .4s ease;
	}

	&.active {
		.icon {
			top: calc(50% - 3px);
			transform: rotate(180deg);
		}
	}
}

.custom-accordion-mp-content {
	display: block;

	@include breakpoint('small', 'max') {
		display: none;
	}
}


@import 'components/orders/order.modals';
@import 'components/orders/order.historico';
@import 'components/orders/order.warrantySpare';
@import 'components/orders/order.modal.gae';