@charset 'UTF-8';

@import 'helpers/rfs';
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';

$gray-light: #E3E1E1;
$gray-darkest: #736c6b;
$gray-dark: #5B5B5B;
$gray-very-dark: #403C3B;
$green: #9ACA3C;

.order {
	&__favoritos {
		padding: 10px 0;
		.row {
			border: 1px solid $gray-light;
			border-radius: 6px;
			margin-bottom: 0;
			max-height: 100px;
			padding: 20px 16px;
			position: relative;
			@include breakpoint('small', 'max') {
				max-height: 100%;
			}
		}
		&--thumb {
		    display: inline-flex;
    		float: left;
			height: 65px;
			overflow: hidden;
			position: relative;
			width: 65px;
			img {
				display: block;
				max-height: 100%;
				max-width: 100%;
			}
		}
		&--titulo {
			@include breakpoint('small', 'max') {
				width: 180px;
				h2 {
					padding: 0 10px;
				}
			}
			display: inline-block;
			max-width: 100%;
			width: 390px;
			h2 {
				@include rfs(14);
				color: $gray-darkest;
				font-weight: 500;
				margin: 0 auto;
				padding: 0 20px;
				text-align: left;
			}
		}
		&--preco {
			display: block;
			float: right;
			max-width: 100%;
			padding-right: 10%;
			text-align: right;
			width: 210px;
			@include breakpoint('small', 'max') {
				margin-top: 10px;
				text-align: left;
				width: 100%;
			}
			span {
				@include rfs(14);
				color: $gray-darkest;
				font-weight: 500;
				text-decoration: line-through;
			}
			p {
				@include rfs(18);
				color: $green;
				font-weight: 700;
				margin: 0 auto;

			}
		}
		&--close {
			@include rfs(20);
			cursor: pointer;
			position: absolute;
			right: 4%;
			top: 50%;
			transform: translateY(-50%);

			.wishlist__button {
				height: 35px;
				text-align: center;
				width: 30px;
			}
		}
	}
}

.order__favoritos-share {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-weight: 500;
	margin: 25px 0 5px 0;
	padding-left: 5px;
	i {
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="11.35" height="13.691" viewBox="0 0 11.35 13.691"%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23595453;%7D%3C/style%3E%3C/defs%3E%3Cpath class="a" d="M778.882,893.689H768.468a.468.468,0,0,1-.468-.468v-3.335a4.186,4.186,0,0,1,3-3.667,3.686,3.686,0,1,1,5.353,0,4.186,4.186,0,0,1,3,3.667v3.335A.468.468,0,0,1,778.882,893.689Zm-9.946-.936h9.478v-2.867c0-1.346-1.26-2.562-3.135-3.026a.468.468,0,0,1-.138-.85,2.75,2.75,0,1,0-2.932,0,.468.468,0,0,1-.138.85c-1.875.464-3.135,1.679-3.135,3.026Z" transform="translate(-768 -879.999)"/%3E%3C/svg%3E');
		display: block;
		height: 12px;
		width: 12px;
	}
	p {
		@include rfs(14);
		color: $gray-darkest;
		margin: 0 0 0 8px;
	}
}
