//---------------
// Brastemp
//---------------

@font-face {
    font-family: soleto;
    font-style: normal;
    font-weight: 200;
    src: url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_th-webfont.eot), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_th-webfont.eot#iefix) format("embedded-opentype"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_th-webfont.woff2) format("woff2"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_th-webfont.woff) format("woff"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_th-webfont.ttf) format("truetype"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_th-webfont.png#soletothin) format("svg")
}

@font-face {
    font-family: soleto;
    font-style: normal;
    font-weight: 300;
    src: url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_lt-webfont.eot), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_lt-webfont.eot#iefix) format("embedded-opentype"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_lt-webfont.woff2) format("woff2"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_lt-webfont.woff) format("woff"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_lt-webfont.ttf) format("truetype"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_lt-webfont.png#soletolight) format("svg")
}

@font-face {
    font-family: soleto;
    font-style: normal;
    font-weight: 400;
    src: url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_rg-webfont.eot), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_rg-webfont.eot#iefix) format("embedded-opentype"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_rg-webfont.woff2) format("woff2"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_rg-webfont.woff) format("woff"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_rg-webfont.ttf) format("truetype"), url(http:http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_rg-webfont.png#soletoregular) format("svg")
}

@font-face {
    font-family: soleto;
    font-style: normal;
    font-weight: 700;
    src: url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_bd-webfont.eot), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_bd-webfont.eot#iefix) format("embedded-opentype"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_bd-webfont.woff2) format("woff2"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_bd-webfont.woff) format("woff"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_bd-webfont.ttf) format("truetype"), url(http://d2hzip0rm2jjhg.cloudfront.net/brastemp/fonts/soleto_bd-webfont.png#soletobold) format("svg")
}
