@charset 'UTF-8';

// Vantagens
.gae-vantagens {
	.obs {
		@include breakpoint(small, 'min') {
			float: right;
			width: 48%;
		}
	}
}

.gae-vantagens__box-content {
	&.slick-slider { margin-bottom: 5px; }
}

.gae-vantagens__box {
	@include breakpoint(small, 'max') {
		clear: none;
		min-height: 230px;
	}
	@include breakpoint(small, 'min') {
		@include breakpoint(1126px, 'max') { min-height: 240px; }
		min-height: 195px;
		padding-left: 90px;
		width: 48.5%;
	}
	border: 1px solid #d3d3d3;
	margin-bottom: 3%;
	overflow: hidden;
	padding: 2em;
	position: relative;

	&.slick-slide {
		@include breakpoint(small, 'max') { margin-bottom: 40px; }
	}
}

.gae-vantagens__box-title {
	@include breakpoint(380px, 'max') { @include responsiveFont(15); }
	@include breakpoint(small, 'max') {
		@include responsiveFont(16);
		margin-bottom: 15px;
		margin-left: 10px;
		transform: translateY(-60%);
	}
	@include responsiveFont(17);
	display: inline-block;
}

.gae-vantagens__box-text {
	@include responsiveFont(15);
	margin: 7px 0;
}

.gae-vantagens__box-icon {
	@include breakpoint(small, 'max') { @include responsiveFont(40); }
	@include breakpoint(small, 'min') {
		display: block;
		left: 22px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	@include responsiveFont(50);
}
