@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o6vtku');
  src:  url('fonts/icomoon.eot?o6vtku#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o6vtku') format('truetype'),
    url('fonts/icomoon.woff?o6vtku') format('woff'),
    url('fonts/icomoon.svg?o6vtku#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-engrenagem:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-email:before {
  content: "\e900";
}
.icon-brastemp-chat:before {
  content: "\e61e";
}
.icon-bastemp-boxes:before {
  content: "\e61f";
}
.icon-brastemp-clipboard:before {
  content: "\e620";
}
.icon-brastemp-cart:before {
  content: "\e621";
}
.icon-brastemp-profile:before {
  content: "\e622";
}
.icon-brastemp:before {
  content: "\e623";
}
.icon-brastemp-search:before {
  content: "\e624";
}
.icon-icecream:before {
  content: "\e618";
}
.icon-house:before {
  content: "\e619";
}
.icon-waves:before {
  content: "\e61a";
}
.icon-ice:before {
  content: "\e61b";
}
.icon-blob:before {
  content: "\e61c";
}
.icon-pan:before {
  content: "\e61d";
}
.icon-youtube:before {
  content: "\e600";
}
.icon-arrow-down:before {
  content: "\e601";
}
.icon-arrow-left:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e603";
}
.icon-arrow-top:before {
  content: "\e604";
}
.icon-boxes:before {
  content: "\e605";
}
.icon-button-close:before {
  content: "\e606";
}
.icon-card:before {
  content: "\e607";
}
.icon-cart:before {
  content: "\e608";
}
.icon-cash:before {
  content: "\e609";
}
.icon-chat:before {
  content: "\e60a";
}
.icon-check:before {
  content: "\e60b";
}
.icon-clipboard:before {
  content: "\e60c";
}
.icon-close:before {
  content: "\e60d";
}
.icon-consul:before {
  content: "\e60e";
}
.icon-facebook:before {
  content: "\e60f";
}
.icon-factory:before {
  content: "\e610";
}
.icon-linkedin:before {
  content: "\e611";
}
.icon-profile:before {
  content: "\e612";
}
.icon-search:before {
  content: "\e613";
}
.icon-secure:before {
  content: "\e614";
}
.icon-shield:before {
  content: "\e615";
}
.icon-truck:before {
  content: "\e616";
}
.icon-twitter:before {
  content: "\e617";
}
.icon-icon-gae-truck:before {
  content: "\e901";
}
.icon-icon-gae-solucao-inteligente:before {
  content: "\e902";
}
.icon-icon-gae-seguranca:before {
  content: "\e903";
}
.icon-icon-gae-protecao:before {
  content: "\e904";
}
.icon-icon-gae-phone:before {
  content: "\e905";
}
.icon-icon-gae-cubo:before {
  content: "\e906";
}
.icon-icon-gae-balcao:before {
  content: "\e907";
}
.icon-cadastrar:before {
  content: "\e908";
}
.icon-facebook-messenger:before {
  content: "\e909";
}
.icon-eye:before {
  content: "\e90a";
}
.icon-logo-consul-aniversario:before {
  content: "\e90b";
}
.icon-icon-status-pedidos-confirmado:before {
  content: "\e90e";
}
.icon-icon-status-pedidos-aprovado:before {
  content: "\e90f";
}
.icon-icon-status-pedidos-processado:before {
  content: "\e910";
}
.icon-icon-status-pedidos-faturado:before {
  content: "\e911";
}
.icon-icon-status-pedidos-entregue:before {
  content: "\e912";
}
.icon-icon-status-pedidos-cancelado:before {
  content: "\e913";
}
.icon-icon-download:before {
  content: "\e914";
}
.icon-icon-check-thin:before {
  content: "\e915";
}
.icon-icon-question:before {
  content: "\e916";
}
.icon-icon-truck-consul:before {
  content: "\e917";
  color: #595453;
}
.icon-icon-cart-consul:before {
  content: "\e918";
  color: #595453;
}
.icon-icon-menu-consul:before {
  content: "\e919";
  color: #595453;
}
.icon-icon-profile-consul:before {
  content: "\e91a";
  color: #595453;
}
.icon-icon-loupe-consul:before {
  content: "\e91b";
  color: #595453;
}
