// $font-path : '//d2hzip0rm2jjhg.cloudfront.net/whirlpool/fonts/'; //jussi cdn
$font-path : '//d2hzip0rm2jjhg.cloudfront.net/consul/fonts/'; //jussi cdn
// $font-path : 'arquivos/'; //jussi cdn

/* Font face */
@font-face {
	font-family: 'consul';
	font-style: normal;
	font-weight: 700;
	src: url('#{$font-path}consulcoheadline_std_bd-webfont.eot'),
		 url('#{$font-path}consulcoheadline_std_bd-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}consulcoheadline_std_bd-webfont.svg#consul') format('svg'),
		 url('#{$font-path}consulcoheadline_std_bd-webfont.ttf') format('truetype'),
		 url('#{$font-path}consulcoheadline_std_bd-webfont.woff') format('woff'),
		 url('#{$font-path}consulcoheadline_std_bd-webfont.woff2') format('woff2');
}
@font-face {
	font-family: 'consul';
	src: url('#{$font-path}consulcoheadline_std_lt-webfont.eot'),
		 url('#{$font-path}consulcoheadline_std_lt-webfont.eot?#iefix') format('embedded-opentype'),
		 url('#{$font-path}consulcoheadline_std_lt-webfont.svg#consul') format('svg'),
		 url('#{$font-path}consulcoheadline_std_lt-webfont.ttf') format('truetype'),
		 url('#{$font-path}consulcoheadline_std_lt-webfont.woff') format('woff'),
		 url('#{$font-path}consulcoheadline_std_lt-webfont.woff2') format('woff2');
}

// @font-face {
// 	font-family: 'consul_co_headlineregular';
// 	src: url('../fonts/consulcoheadline_std_rg-webfont.eot');
// 	src: url('../fonts/consulcoheadline_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
// 		 url('../fonts/consulcoheadline_std_rg-webfont.woff') format('woff'),
// 		 url('../fonts/consulcoheadline_std_rg-webfont.ttf') format('truetype'),
// 		 url('../fonts/consulcoheadline_std_rg-webfont.svg#consul_co_headlineregular') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// Vars
$tablet  : 768px;
$desktop : 1025px;
$bold    : 'consul', sans-serif;
$regular : 'consul', sans-serif;
$light   : 'consul', sans-serif;

$blue   : #00b7dd;
$green  : #9aca3c;
$gray   : #f4f2f1;
$purple : #6f2c90;
$white  : #fff;


// Mixins
@mixin fonte($tamanho: 14px, $nome: $regular) {
	font: $tamanho $nome;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	animation: #{$str};
}

@mixin transition($args) {
	transition: $args;
}

@mixin transform($args) {
	transform: $args;
}

@mixin animation-delay($args) {
	animation-delay: $args;
}