// $font-path : '//d2hzip0rm2jjhg.cloudfront.net/whirlpool/fonts/'; //jussi cdn
$font-path : '//d2hzip0rm2jjhg.cloudfront.net/consul/fonts/'; //jussi cdn
// $font-path : 'arquivos/'; //jussi cdn
// @font-face {
// 	font-family: 'consul_co_headlineregular';
// 	src: url('../fonts/consulcoheadline_std_rg-webfont.eot');
// 	src: url('../fonts/consulcoheadline_std_rg-webfont.eot?#iefix') format('embedded-opentype'),
// 		 url('../fonts/consulcoheadline_std_rg-webfont.woff') format('woff'),
// 		 url('../fonts/consulcoheadline_std_rg-webfont.ttf') format('truetype'),
// 		 url('../fonts/consulcoheadline_std_rg-webfont.svg#consul_co_headlineregular') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// Vars
$tablet  : 768px;
$desktop : 1025px;
$bold    : 'consul', sans-serif;
$regular : 'consul', sans-serif;
$light   : 'consul', sans-serif;

$blue   : #00b7dd;
$green  : #9aca3c;
$gray   : #f4f2f1;
$purple : #6f2c90;
$white  : #fff;

// Vars de tempo
$full: 1s;


// Breakpoint
@mixin breakpoint($point, $min-max: 'min') {
	@media (#{$min-max}-width: $point) {
		@content;
	}
}

// Mixins
@mixin fonte($tamanho: 14px, $nome: $regular) {
	font: $tamanho $nome;
}

@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($str) {
	animation: #{$str};
}

@mixin transition($args) {
	transition: $args;
}

@mixin transform($args) {
	transform: $args;
}

@mixin animation-delay($args) {
	animation-delay: $args;
}
