@import '_vars.scss';

html,
body { overflow: hidden; }

body.listagem.btu.page-calculadora-btu {
	.page-calculadora-btu__container {
		@import '_base.scss';
		@import '_animation.scss';

		// Components
		@import 'components/_generics.scss';
		@import 'components/_palco.scss';
		@import 'components/_carousel.scss';
		@import 'components/_resultado.scss';
		@import '_layout.scss';
	}
}

.page-calculadora-btu__container {
	margin: 0 auto;
	max-width: 1400px;
	position: relative;
}