body {
	background-color: #242424!important;

	// margin-top: 50px;
}

h2.title {
	color: #9aca3c;
	font-size: 1.75em;
	margin: 0;
	text-align: center;

	.white { color: #ffffff; }
	.grey { color: #404040; }
}