@charset 'UTF-8';

.lead-newsletter {
	background-color: $default-color-purple;
	padding: .2em 0;

	.container {
		@include breakpoint(1200px, 'min') {
			align-items: center;
			justify-content: space-between;
		}
		@include breakpoint(1200px, 'max') {
			align-items: center;
			flex-direction: column;
		}
		display: flex;
	}

	p:not(.message-success),
	form,
	input {
		@include breakpoint('medium', 'min') { display: inline-block; }
		margin: 0;
	}

	// Title
	&__title {
		@include breakpoint(1200px, 'min') { padding-right: 10px; }
		@include rfs(14);
		color: #fff;
		font-weight: bold;
	}

	form {
		@include breakpoint('small', 'max') { width: 100%; }
		user-select: none;
	}

	fieldset {
		@include breakpoint('small', 'max') { width: 45%; }
		@include breakpoint('extra-small', 'max') { width: 100%; }
		border: none;
		display: inline-block;
		margin: 0;
		padding: 8px 0;
		position: relative;
		vertical-align: middle;

		&.campo-cadastro-telefone { display: none; }

		label {
			@include breakpoint('small', 'min') { width: 150px; }
			@include rfs(10);
			display: inline-block;
			margin: 0 10px;
			padding-left: 25px;
			position: relative;


			&,
			a { color: #fff; }

			a { text-decoration: none; }
			span { text-decoration: underline; }
		}

		label[for='termos'] { line-height: 10px; }
	}

	input {
		@include breakpoint('small', 'max') { width: calc(100% - 21px); }
		@include rfs(12);
		border: 1px solid #fff;
		border-radius: 4px;
		color: $txt-gray;
		margin: 0 10px;
		outline: none;
		padding: 7px;
		width: 150px;

		&[type=checkbox] {
			display: none;
			& + label {
				&:before,
				&:after {
					@include square(15px);
					content: ' ';
					display: inline-block;
					left: 0;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					visibility: visible;
				}

				&:after { background-color: #fff; }
			}

			&.error + label {
				position: relative;

				&,
				a { color: #f49a9a; }

				&::after {
					@include contentBefore();
					border: 3px solid #f49a9a;
					border-radius: 2px;
					left: 0;
					position: absolute;
					// top: 3px;
				}
			}
		}

		&[type=checkbox]:checked + label {
			position: relative;

			&:before {
				background-color: $green;
				z-index: 2;
			}
		}
	}

	@include inputPlaceholderColor($txt-gray);

	input[type='submit'] {
		// @extend .primary-button;
		@include breakpoint('medium', 'min') { margin-left: 20px; }
		@include rfs(14);
		background: #7f2893;
		border: 2px solid #7f2893;
		display: inline-block;
		font-weight: normal;
		margin: 0;
		margin-left: 20px;
		outline: none;
		padding: .5em;
		text-transform: uppercase;

		&:hover { color: #7f2893; }

		@include breakpoint(extra-small, 'max') {
			display: block;
			margin: 0 auto;
			margin-top: 20px;
			max-width: 170px;
		}
	}

	label[for=name],
	label[for=email],
	label[for=telefone] {
		display: none;
	}

	.toggle-newsletter { display: none; }

	p.message-success-fixed { display: none; }

	p.message-success { display: none; }

	&.success {
		p,
		form,
		form#form-newsletter,
		form#form-newsletter-footer { display: none; }

		p.message-success {
			@include rfs(13);
			color: $orange;
			display: block !important;
			font-weight: bold;
			margin: 10px auto;
			padding-left: 30px;
			position: relative;
			text-transform: uppercase;
			width: 280px;

			&:before {
				@include contentBefore();
				@include icon-get('check-mark');
				@include rfs(14);
				color: #9aca3c;
				display: block;
				font-weight: bold !important;
				left: 15px;
				position: absolute;
				top: 0;
				transform: translateX(-50%);
			}
		}

		p.title { display: none; }
	}

	.form-newsletter_error-email {
		background: #FFF;
		border: 1px solid #f49a9a;
		border-radius: 5px;
		bottom: -35px;
		font-size: 14px;
		left: 0;
		padding: 5px;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 5;
		&:after,
		&:before {
			border: solid transparent;
			bottom: 100%;
			content: ' ';
			height: 0;
			left: 50%;
			pointer-events: none;
			position: absolute;
			width: 0;
		}

		&:after {
			// nao colocar em ordem alfabetica, vai remover a seta do tooltip
			border-bottom-color: #FFF;
			border-color: rgba(255, 255, 255, 0);
			border-width: 10px;
			margin-left: -10px;
		}
		&:before {
			// nao colocar em ordem alfabetica, vai remover a seta do tooltip
			border-bottom-color: #f49a9a;
			border-color: rgba(0, 0, 0, 0);
			border-width: 11px;
			margin-left: -11px;
		}
	}
}


