@charset 'UTF-8';

.lead-newsletter {
	@include breakpoint('small', 'max') { display: none; }
	background-color: $default-color-purple;
	min-height: 55px;
	padding: .2em 0;


	// Container
	.container {
		@include breakpoint(1200px, 'min') {
			align-items: center;
			justify-content: space-between;
		}
		@include breakpoint(1200px, 'max') {
			align-items: center;
			flex-direction: column;
		}
		display: flex;
	}

	// Title
	&__title {
		@include breakpoint(1200px, 'min') { padding-right: 10px; }
		@include rfs(14);
		color: #fff;
		font-weight: bold;
		padding: 1em 0;
	}

	// Default elements
	p:not(.message-success),
	input {
		@include breakpoint('medium', 'min') { display: inline-block; }
		margin: 0;
	}

	// Form
	form {
		@include breakpoint('small', 'max') {
			margin-bottom: 1.5em;
			max-width: 350px;
		}
		@include breakpoint('small', 'min') {
			align-items: center;
			display: flex;
		}
		user-select: none;
	}

	label[for=name],
	label[for=email],
	label[for=telefone] { display: none; }

	fieldset {
		@include breakpoint('small', 'max') { width: 100%; }
		border: none;
		display: inline-block;
		margin: 0;
		padding: 8px 0;
		position: relative;
		vertical-align: middle;

		// Remover o campo telefone
		&.campo-cadastro-telefone { display: none; }

		label {
			@include breakpoint('small', 'min') {
				margin: 0 5px;
				width: 150px;
			}
			@include rfs(10);
			display: inline-block;
			padding-left: 25px;
			position: relative;

			&,
			a { color: #fff; }

			a { text-decoration: none; }
			span { text-decoration: underline; }
		}

		label[for='termos'] { line-height: 10px; }
	}

	// Form fields
	input:not([type='submit']) {
		@include breakpoint('small', 'max') {
			margin: 0;
			width: 100%;
		}
		@include rfs(12);
		border: 1px solid #fff;
		border-radius: 4px;
		color: $txt-gray;
		margin: 0 5px;
		outline: none;
		padding: 7px;
		width: 170px;

		&[type=checkbox] {
			display: none;

			& + label {
				&:before {
					@include square(16px);
					background-color: #fff;
					border-radius: 4px;
					content: ' ';
					display: block;
					left: 0;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					visibility: visible;
				}
			}

			&.error + label {
				position: relative;

				&,
				a { color: #f49a9a; }

				&:before { background-color: #f49a9a; }
			}
		}

		&[type=checkbox]:checked + label {
			position: relative;

			&:before {
				background: $default-color-purple url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAQxJREFUOI2d0j1OAlEUxfH/eYAKaKK1y7CYhFhRookVC7Cg1prWxgVY+LEDCxMhsaScKLFwDSbWFGoQDXMsyCCJBGa43cu7v/Nyb54u+7VjWWeSdslZhpOi0IWkSl48SfB5ECtiQFI55H4Ud4E4PRdz8s5OddAcfmxufan0KlTJEeDOdnXQHAzLRVG6TUefjmD8Y3u4FI83ukj19CakOIiDgA8No6x4GiDw2Cq0orgXnDTA31nwzAhaC/j+5qlWb0VxL0FHxnfLMICu+/v+2wOj4KTRiuIewNXzXmUR/hcwG5IURo/LMMz5B4L1ROGBcfkFES3CcwPSkCwYJkv8zNI4t+z3YGivZv1G0OkvgSh5ieLwmzcAAAAASUVORK5CYII=') center center no-repeat;
			}
		}
	}

	@include inputPlaceholderColor($default-color-gray);

	// Submit form
	input[type='submit'] {
		@include breakpoint('small', 'min') { width: 190px; }
		color: $default-color-gray;
		font-weight: bold;
		margin: .5em 0;
	}

	.toggle-newsletter,
	p.message-success-fixed,
	p.message-success { display: none; }

	&.success {
		p,
		form,
		form#form-newsletter,
		form#form-newsletter-footer { display: none; }

		p.message-success {
			@include rfs(13);
			color: $orange;
			display: block !important;
			font-weight: bold;
			margin: 10px auto;
			padding-left: 30px;
			position: relative;
			text-transform: uppercase;
			width: 280px;

			&:before {
				@include contentBefore();
				@include icon-get('check-mark');
				@include rfs(14);
				color: #9aca3c;
				display: block;
				font-weight: bold !important;
				left: 15px;
				position: absolute;
				top: 0;
				transform: translateX(-50%);
			}
		}

		p.title { display: none; }
	}

	.form-newsletter_error-email {
		background: #fff;
		border: 1px solid #f49a9a;
		border-radius: 5px;
		bottom: -35px;
		font-size: 14px;
		left: 0;
		padding: 5px;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 5;

		&:after,
		&:before {
			border: solid transparent;
			bottom: 100%;
			content: ' ';
			height: 0;
			left: 50%;
			pointer-events: none;
			position: absolute;
			width: 0;
		}

		&:after {
			// nao colocar em ordem alfabetica, vai remover a seta do tooltip
			border-bottom-color: #FFF;
			border-color: rgba(255, 255, 255, 0);
			border-width: 10px;
			margin-left: -10px;
		}
		&:before {
			// nao colocar em ordem alfabetica, vai remover a seta do tooltip
			border-bottom-color: #f49a9a;
			border-color: rgba(0, 0, 0, 0);
			border-width: 11px;
			margin-left: -11px;
		}
	}
}


