@charset 'UTF-8';

//------------------------------------
//  Calculadora BTU
//------------------------------------
.page-calculadora-btu__banner {
		@include breakpoint(1280px, 'max') { max-width: 1000px; }
	@include breakpoint(1012px, 'max') { max-width: 600px; }
	@include breakpoint(640px, 'max') { max-height: 270px; }
	margin: 20px auto;
	max-height: 370px;
	max-width: 1100px;
	overflow: hidden;
	position: relative;
	transition:
		max-height .5s ease,
		max-width .5s ease
	;

	#calculadora-btu {
		@include breakpoint(1280px, 'min') { height: 700px !important; }
		@include breakpoint(1280px, 'max') {
			height: 900px;
			max-width: 1000px;
			transform: translate(0, -25%);
			width: 100%;
		}
		@include breakpoint(1012px, 'max') { max-width: 600px; }
		@include breakpoint(480px, 'max') { transform: translate(0, -22%); }
		@include breakpoint(440px, 'max') { transform: translate(0, -19%); }
		@include breakpoint(405px, 'max') { transform: translate(0, -15%); }
		@include breakpoint(320px, 'max') { transform: translate(0, -12%); }
		border: 1px solid #333;
		display: block;
		margin: 30px auto;
		min-height: 700px;
		position: relative;
		transform: translate(-2%, -25%);
		width: 1400px;
	}

	&.is--active {
		max-height: 2000px;
		max-width: 1400px;
		overflow: inherit;

		#calculadora-btu { transform: translate(0, 0); }
	}
}

.page-calculadora-btu__mask {
	background: transparent url('/arquivos/calc-btu-consul-banner-header.jpg?v=2') 0 0 no-repeat;
	background-size: contain;
	cursor: pointer;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;

	&.is--active {
		background: none;
		height: 30px;
		text-align: center;

		&:before {
			background-color: #a7a9ac;
			color: #fff;
			content: 'Fechar';
			display: block;
			font-size: 14px;
			font-weight: bold;
			height: 30px;
			line-height: 30px;
			position: absolute;
			right: 0;
			top: 0;
			width: 80px;
		}
	}
}