@charset 'UTF-8';

//------------------------------------
//  Calculadora BTU
//------------------------------------
.page-calculadora-btu__banner {
	margin: 25px auto;
	max-height: 370px;
	max-width: 1100px;
	overflow: hidden;
	position: relative;
	transition:
		max-height .5s ease,
		max-width .5s ease
	;

	#calculadora-btu {
		// @include breakpoint(medium, 'min') { width: 1400px; }
		@include breakpoint(1280px, 'max') {
			max-width: 1000px;
			width: 100%;
		}
		display: block;
		margin: 25px auto;
		min-height: 800px;
		position: relative;
		transform: translate(-2%, -25%);
		width: 1400px;
	}

	&.is--active {
		max-height: 2000px;
		max-width: 1400px;
		overflow: inherit;

		#calculadora-btu { transform: translate(0, 0); }
	}
}

.page-calculadora-btu__mask {
	background: transparent url('/arquivos/calc-btu-consul-banner-header.jpg?v=2') 0 0 no-repeat;
	background-size: contain;
	cursor: pointer;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 10;

	&.is--active {
		background: none;
		height: 35px;
		text-align: center;

		&:before {
			background-color: #a7a9ac;
			color: #fff;
			content: 'Fechar';
			display: block;
			font-size: 14px;
			font-weight: bold;
			height: 35px;
			line-height: 35px;
			position: absolute;
			right: 0;
			top: 0;
			width: 80px;
		}
	}
}