@charset 'UTF-8';
//------------------------------------
//  Calculadora BTU
//------------------------------------
.page-calculadora-btu__banner {
	margin: 20px auto;
	max-height: 2000px;
	max-width: 1300px;
	overflow: hidden;
	position: relative;
	transition: max-height .5s ease, max-width .5s ease;

	.close {
		background-color: #a7a9ac;
		color: #fff;
		cursor: pointer;
		display: none;
		font-size: 14px;
		font-weight: 700;
		height: 30px;
		line-height: 30px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 80px;
		z-index: 1;
	}

	&.active {
		padding-top: 30px;

		.close { display: block; }
	}

	@include breakpoint(1280px, 'max') { max-width: 1000px; }

	@include breakpoint(1012px, 'max') { max-width: 600px; }

	@include breakpoint(768px, 'max') { margin: 0 auto; }

	#calculadora-btu {
		display: block;
		position: relative;
		width: 1300px;

		&.initiated { max-height: initial; }

		@include breakpoint(1280px, 'max') {
			max-width: 100%;
			width: 100%;
		}

		@include breakpoint(1012px, 'max') { max-width: 600px; }

		@include breakpoint(480px, 'max') { max-height: 250px; }
	}
}

/* Resolve conflito associados a tag header */
@media (max-width: 48em) {
	body:not(.produto) header.resultado__header {
		position: initial;
		top: initial;
		width: initial;
		z-index: initial;
	}
}

/* Resolve erro navegador Safari */
@include breakpoint(480px, 'max') {
	body.listagem.btu.page-calculadora-btu .page-calculadora-btu__container h3 {
		min-width: 189px;
	}
}