body.departamento,
body.categoria {
    .category-list {
        background-color: #fcfcfc;
        padding-left: 25px;

        li {
            margin: 10px 0;
        }

        a {
            font-size: .875rem;
        }

        @include breakpoint ('medium', 'max') {
            padding-left: 45px;
        }
    }
}