@charset 'UTF-8';
@import 'helpers/rfs';

.container-module-top10 {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #212121;
	text-align: center;

	.container-fluid {
		margin-bottom: 60px;
	}

	.prateleira {
		h2 {
			display: none;
		}
	}

	.title-top10 {
		color: #9ACA3C;
		margin-bottom: 12px;
	}

	.msg-top10 {
		@include rfs(16);
		color: #FFFFFF;
	}

	#content-vitrine {
		padding-top: 15px;
	}

	.prateleira-slider .slick-track .slick-slide {
		margin: 0 7px;
		padding: 0 7px;
	}

	.slick-arrow {
		width: 28px;
		height: 28px;
		background: #232323;
		border: 1px solid #E3E1E1;

		&::before {
			@include rfs(18);
			font-weight: 700 !important;
		}
	}

	.slick-prev.slick-arrow.slick-disabled {
		display: none !important;
	}

	.slick-prev {
		left: -5%;
	}

	.slick-next {
		right: -5%;
	}

	.slick-dots {
		margin-bottom: -40px;
	}

	li {
		margin: 0;
		padding: 0;
		width: auto !important;

		article {
			background-color: #FFFFFF;
		}

		article:hover {
			border-radius: 3px;
			-webkit-box-shadow: 0px 0px 4px 3px rgba(154, 202, 60, 0.5);
			-moz-box-shadow: 0px 0px 4px 3px rgba(154, 202, 60, 0.5);
			box-shadow: 0px 0px 4px 3px rgba(154, 202, 60, 0.5);
		}
	}
}
