$upperBar: #FCFCFC;
$upperBarBorder: #E3E1E1;
$selectorColor: #595453;
$arrowDown: #403C3B;
$menuFontColor: #736C6B;


body.listagem.busca:not(.neemu) {
	header,
	.top-navigation {
		background-color: #fff;
		position: relative;
		z-index: 20;
	}

	.pre-header {
		position: relative;
		z-index: 20;
	}


	.title-filter {
		display: none;
	}

	.menu-departamento {
		ul {
			&.eletrodomesticos {
				display: none;
			}
		}
	}

	.filter-wrapper {
		background-color: $upperBar;
		border: 1px solid $upperBarBorder;
		box-sizing: border-box;
		height: 45px;
		padding: 0;
		position: relative;
	}

	.departament-nav {

		.clearfix {
			height: 45px;

			.more-cat {
				float: none;
				height: fit-content;
				margin-right: 0;
				padding: 0;
				position: absolute;
				right: unset;
				top: 50%;
				transform: translateY(-50%);
				width: 165px;;
				z-index: 2;

				&.-active {
					z-index: 12;

					h5 {
						&::after {
							transform: rotate(180deg) translateY(50%);
						}
					}
				}

				h5 {
					@include rfs(12);
					cursor: pointer;
					display: block !important;
					font-weight: 500;
					height: fit-content;
					margin: 0;
					position: relative;
					width: 135px;


					&::after {
						@include icon-get('bottom-arrow');
						@include responsiveFont(8, 16, true);
						@include transition(transform, 200);
						color: $arrowDown;
						display: block;
						margin-left: 1em;
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
					}


					span {
						font-weight: 700;
					}
				}
			}

			.single-filter-wrapper {
				cursor: pointer;
				display: inline-block;
				margin-right: 1em;
			}
		}
	}

	.category-list-content {
		background-color: $upperBar;
		border-bottom: 1px solid $upperBarBorder;
		border-top: 1px solid $upperBarBorder;
		box-sizing: border-box;
		display: block;
		height: 0;
		left: -1px;
		overflow: hidden;
		padding-top: 43px;
		position: absolute;
		top: -2px;
		transition: height .4s ease;
		width: 101%;
		z-index: -1;

		.category-list-search {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			height: 155px;

			li {
				@include rfs(12);
				color: $menuFontColor;
				margin: 12px 0;

				&:nth-child(3n + 1) {
					margin-top: 12px;
				}

				&:nth-child(3n) {
					margin-bottom: 12px;
				}
			}
		}

		&.-active {
			height: 180px;
			z-index: 11;
		}
	}


	.list-container {
		.order-wrapper {
			position: absolute;
			right: 0;
			top: -50px;

			.show-desktop {
				@include rfs(12);
				font-weight: 500;
			}

			.order-title {
				&::after {
					@include icon-get('bottom-arrow');
					color: $arrowDown;
					position: absolute;
					top: 40%;
				}
			}
		}
	}

	#list-more {
		@include rfs(14);
		border: 1px solid $selectorColor;
		color: $selectorColor;
		display: block;
		float: none;
		line-height: 1;
		margin: 0 auto;
		padding: 8px 40px;

		&:hover,
		&:focus {
			background-color: $arrowDown;
			color: #fff;
		}
	}

	.overlay-listagem {
		background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;

		&:not(.showOverlay) {
			display: none;
		}
	}

}