<div class="conteudo">
	<div class="img-topo"><img src="//whirlpool.vteximg.com.br/arquivos/consul-cupom10off.png" /></div>
	<h1>Deu a louca <br/>no gerente<span>!</span></h1>
	<div class="middle">
		<div class="info-cupom">
			<div class="valor">
				<h2>10<small>% off</small></h2>
				<p>em produtos selecionados</p>
			</div>
			<div class="cupom">
				<p>utilize o código: </p>
				<span>DESCONTAO</span>
			</div>
		</div>
	</div>
	<a href="/busca/?fq=H:185" class="primary-button">Ver produtos</a>
</div>