//---------
// Footer
//---------
body.landing-gae {
	.footer {
		background-color: transparent;
		box-shadow: 1px -3px 6px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
	}

	.footer__logo {
		& {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	.footer__group  {
		background-color: $gray;
		text-align: left;
		padding: 20px;

		a {
			color: $white;
			text-decoration: underline;
		}

		&.-light {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			background-color: $gray-light;
			padding: 20px;
			@include desktop {
				padding: 5px 310px;
			}
		}

		&.-dark {
			display: block;
			background-color: $gray-dark;
		}
	}

	.footer__caption {
		margin-bottom: 5px;
		line-height: 1;
		color: white;
	}

	.footer__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include laptop {
			justify-content: left;
		}
	}


	.footer__item {
		line-height: 1;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 2px solid $brand;

		&:last-child {
			padding: 0;
			border: none;
		}

		a {
			color: $gray-dark;
			font-weight: bold;
			text-decoration: none;
		}
	}

	.footer_image {
		max-width: 100px;
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}

	.footer__pagamentos-image {
		max-width: 440px;
		vertical-align: middle;
	}
}