//--------------
// Header
//--------------
body.landing-gae-2019 {
	header .menu-mobile .minicart,
	header .menu-mobile .account
	nav.top-navigation.hide-extra-small,
	nav.top-navigation.hide-extra-small .container,
	nav.top-navigation.hide-extra-small .container .menu.menu-department {
		display: none!important;
		visibility: hidden!important;
	}

	.header {
		@include laptop {
			align-items: center;
			justify-content: space-between;
		}
		display: flex;
		flex-wrap: wrap;
	}

	.wrap.-mobile { padding: 20px 0; }

	.header__link {
		display: block;

		&:hover { text-decoration: none; }
	}

	.header__logo,
	.footer__logo {
		img {
			height: auto;
			max-width: 100px;
			vertical-align: middle;
			width: 100%;
		}

		h1,
		p { margin: 0; }

		p {
			@include laptop {
				border-left: 1px solid $gray;
				border-top: none;
				line-height: 1;
				margin-left: 10px;
				margin-top: 10px;
				padding-left: 10px;
				padding-top: 0;
			}
			border-top: 1px solid $gray;
			color: $gray;
			padding-top: 5px;
			text-transform: uppercase;
		}
	}

	.header__logo {
		& {
			@include laptop {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	.header__button {
		@include button;
		@include laptop {
			display: block;
			height: auto;
			line-height: 45px;
			margin-top: 0;
			order: 0;
			width: 195px;
		}
		display: none;
		height: 60px;
		line-height: 60px;
		margin-top: 20px;
		order: 1;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	.header__user-field {
		align-items: center;
		display: flex;
		flex-flow: nowrap;
	}

	.header__user-field,
	.header__user-sair { text-align: left; }

	.header__user-menu {
		& {
			@include laptop { margin-left: inherit; }
			margin-left: auto;
			width: 110px;
		}

		i {
			// display: inline-block;
			float: left;
			margin-right: 5px;
		}

		img {
			height: auto;
			width: 20px;
		}

		p,
		a { margin: 0; }
	}

	.header__user { color: $brand; }
	.header__cart { font-weight: bold; }
}
