body.landing-gae-2019 {
	.modal-holder {
		border-radius: 0;
		max-width: 900px;
		position: relative;
		width: 90%;

		button.close {
			color: #5e5e5e;
			right: 0;
			top: 0;
		}
	}
}

#modal-warranty {
	color: #222;

	h1 {
		border-bottom: 1px solid #dbd6d2;
		font-size: 1.2em;
		margin: 0;
		padding: 0 1em 1.5em 1em;
	}

	h1,
	h2,
	h3 { color: #222; }

	.corpo-seguro-garantia {
		background: #fff;
		border: 20px solid #fff;
		border-width: 20px 0;
		max-height: 75vh;
		min-height: 100%;
		overflow-y: auto;
		padding: 0 2em;
		text-align: justify;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		h2 {
			font-size: .92em;
			margin: 1.5em 0 .5em 0;
		}

		h3 {
			font-size: .9em;
			margin: 1.5em 0 0 0;
		}

		li,
		p {
			font-size: .85em;
			margin: 0;
			padding: 0 0 .8em 0;
		}

		li li { font-size: 1em; }
	}
}
