
body.teste-ab {
	#modal-warranty {

		input[type=radio], 
		label:not(.box-opcao-garantia):before {
			display: none !important;
		}

		&.modal {
			border-radius: 0;
		}
		.close {
			border-radius: 50%;
			color: $gray;
			&:hover {
				color: #ffffff;
			}
		}

		.modal-body {
			>h4 {
				@include responsiveFont(40, 16, true);
				color: $green;
				text-align: center;
			}
			.submain-title {
				text-align: center;
				@include breakpoint(small, 'max') {
					@include responsiveFont(18, 16, true);
				}
			}
			.box-product {
				display: inline-block;
				height: auto;
				margin-bottom: 1em;
				width: 100%;

				img {
					display: inline-block;
				}

				.box-product-info {
					display: inline-block;
					margin-bottom: 15px;

					p {
						@include responsiveFont(14, 16, true);
						display: inline;
						padding: 1em;
						vertical-align: middle;
						width: 37%;
					}

					span {
						@include responsiveFont(22, 16, true);
						border-left: 2px solid $gray;
						padding: .2em;
						@include breakpoint(small, 'max') {
							@include responsiveFont(14, 16, true);
						}
					}
				}
			}

			.garantia-box-text {
				font-weight: bold;
				p {
					display: inline-block;
					@include breakpoint(small, 'max') {
						line-height: .5em;
					}
				}
				a {
					color: $green;
				}
			}

			.container-warranty {
				margin-bottom: .5em;
				width: 100%;

				@include breakpoint(small, 'max') {
					width: 100%;
				}

				.box-warranty {
					display: inline-block;
					margin: 0 auto;
					padding: .6em;
					vertical-align: top;

					@include breakpoint(small, 'max') {
						display: block;
						padding-bottom: 1em;
					}

					&:first-child {

						article {
							border: 3px solid $txt-gray;
							.show-more {
								.icon-angle-down {
									color: $txt-gray;
								}
							}

							.box-title-warranty {
								line-height: 1.2em;
								padding: 1.7em;
								@include breakpoint(small, 'max') {
									padding: 1em 0 0 0;
								}
							}

							.box-info-warranty {
								@include breakpoint(small, 'max') {
									padding: 1em 0 1em 0;
								}
								p {
									font-weight: normal;
									padding: 2em 0 2.5em 0;
									@include breakpoint(small, 'max') {
										padding: 0;
									}
								}
							}
							.box-button {
								button {
									background: $txt-gray;
									border: 3px solid $txt-gray;
									color: #ffffff;
									&:hover {
										background: #ffffff;
										color: $txt-gray;
									}
								}
							}
						}
					}

					article {
						border: 3px solid $green;
						border-radius: 10px;
						margin: 0 auto;
						min-height: 227px;
						width: 236px;

						@include breakpoint(small, 'max') {
							margin: 0 auto;
							min-height: auto;
							text-align: left;
							width: 100%;
						}

						.show-more {
							display: inline-block;
							position: absolute;
							width: 100%;

							.icon-angle-down {
								@include responsiveFont(50, 16, true);
								bottom: -.89em;
								color: $green;
								left: 79%;
								position: absolute;
								transform: scaleY(1);
								transition: transform .3s ease-in;
								&.active {
									transform: scaleY(-1);
								}
							}
						}

						.box-title-warranty {
							padding-top: .5em;
							@include breakpoint(small, 'max') {
								margin-left: 10%;
								padding-top: 1em;
							}
							p, 
							strong, 
							span {
								@include responsiveFont(14, 16, true);
							}
						}

						.box-info-warranty {
							text-align: center;

							@include breakpoint(small, 'max') {
								margin-left: 10%;
								min-height: inherit;
								padding: .4em 0 .4em 0;
								text-align: left;
							}

							div {
								@include breakpoint(small, 'max') {
									margin: 0;
									padding: 14px 0 14px 0;
								}
							}

							h2 {
								@include responsiveFont(28, 16, true);
								color: $green;
								line-height: 1em;
								margin: 0;
								text-transform: uppercase;
							}

							p {
								@include responsiveFont(14, 16, true);
								font-weight: bold;
								line-height: 1.2em;
								margin: 0;
							}

							span {
								display: inline-block;
								line-height: 1.2em;
								margin: 26px 0 14px 0;
								@include breakpoint(small, 'max') {
									margin: 0;
								}
							}
							strong {
								@include responsiveFont(20, 16, true);
								color: $green;
							}
						}
						.box-button {
							padding-bottom: .7em;
							@include breakpoint(small, 'max') {
								margin: 0 auto;
								padding-bottom: 1em;
								text-align: center;
							}
							button {
								@extend .primary-button;
								@include responsiveFont(15, 16, true);
								background: $green;
								background-image: none;
								border: 3px solid $green;
								cursor: pointer;
								display: inline-block;
								min-height: 48px;
								min-width: 180px;
								text-align: center;
								text-transform: uppercase;
								transition : all .3s ease;
								&:hover {
									color: $green;
								}
								@include breakpoint(small, 'max') {
									width: 90%;
								}
							}
						}
					}
				}

				.box-info {
					margin-left: 2.5em;

					@include breakpoint(small, 'max') {
						margin: 0;
					}

					div {
						&:first-child {
							vertical-align: top;
						}
						display: inline-block;
					}
					p {
						@include responsiveFont(14, 16, true);
						color: $txt-gray;
						padding-right: 2em;
						text-align: left;
					}
				}

				.box-list {
					text-align: left;
					width: 63%;
					@include breakpoint(small, 'max') {
						margin-left: 10%;
						padding: 0 0 1em 0;
						width: 90%;
					}
					p {
						@include responsiveFont(14, 16, true);
						color: $txt-gray;
						display: inline-block;
					}
					strong {
						@include responsiveFont(14, 16, true);
						color: $txt-gray;
						display: inline-block;
						line-height: 1.2em;
						width: 100%;
					}
					ul {
						margin-top: 5px;
						li {
							@include responsiveFont(14, 16, true);
							color: $txt-gray;
						}
					}
				}
			}

		}

	}

}