@charset 'UTF-8';

.lead-newsletter-show {
	display: none;
	@include breakpoint(extra-small, 'max') {
		background-color: #ffffff;
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		.container {
			@include responsiveFont(15, 16, true);
			border-bottom: 1px solid $gray-d;
			border-top: 1px solid $gray-d;
			font-family: 'soleto';
			margin-top: 20px;
			padding-bottom: 17px;
			padding-top: 17px;
			text-align: center;
		}
		p {
			@include breakpoint(extra-small, 'max') {
				display: inline-block;
				font-family: 'consul';
				line-height: 20px;
				margin-top: 0;
				top: 0;
				width: 200px;
			}
		}
		.icon-email {
			display: inline-block;
			height: 40px;
			width: 45px;
			&::before {
				@include contentBefore();
				@include responsiveFont(27, 16, true);
				color: $green;
				content: '\e900';
				font-family: 'whirlpool';
				margin-top: 5px;
			}
		}
	}
}

.lead-newsletter {
	// display: none;
	margin-top: 15px;

	@include breakpoint(extra-small, 'max') {
		display: none;
	}

	.row {
		margin-bottom: 0;

		.container {
			border-bottom: 1px solid $gray-d;
			border-top: 1px solid $gray-d;
			padding: 10px 0;

			@include breakpoint(extra-large, 'min') { width: 1100px; }

			@include breakpoint(medium, 'max') { padding: 20px; }

			@include breakpoint(extra-small, 'max') {
				.btn_close {
					display: block;
					float: right;
					height: 27px;
					text-align: center;
					width: 10px;
					&::before {
						color: $gray-d;
						content: 'x';
						display: block;
						float: right;
						font-size: 20px;
						position: relative;
						right: 0;
						text-align: right;
						top: 0;
						width: 10px;
					}
				}
			}
		}

		p,
		form,
		input {
			display: inline-block;
			width: auto;
		}

		p {
			@include responsiveFont(16, 16, true);
			color: $green;
			font-weight: bold;
			margin: 0;
			margin-right: 18px;
			padding: 0;

			@include breakpoint(large, 'max') {
				margin-bottom: 10px;
				width: 100%;
			}

			@include breakpoint(extra-small, 'max') { text-align: center; }
		}

		form {
			@include breakpoint(extra-small, 'max') {
				margin: 10px auto;
				width: 95%;
			}
		}

		fieldset {
			border: none;
			display: inline-block;
			margin: 0;
			padding: 0;
			vertical-align: middle;

			@include breakpoint(extra-small, 'max') {
				display: block;
				margin: 10px 0;
				width: 100%;
			}

			input { margin: 0 15px; }

			label {
				@include responsiveFont(12, 16, true);
				display: inline-block;
				margin: 0 10px;
				padding-left: 25px;
				position: relative;
				width: 148px;

				&:before {
					border: 1px solid;
					border-radius: 2px;
					content: '';
					display: inline-block;
					height: 15px;
					left: 0;
					margin-right: 5px;
					position: absolute;
					top: 3px;
					width: 15px;
				}

				@include breakpoint(extra-small, 'max') {
					margin: 0;
					width: 100%;
				}

				a {
					text-decoration: none;

					span { text-decoration: underline; }
				}
			}
		}

		input {
			@include responsiveFont(13, 16, true);
			border: 1px solid $gray-d;
			border-radius: 5px;
			color: $txt-gray;
			margin: 0 10px;
			outline: none;
			padding: 8px;
			width: 150px;

			&:first-child { margin-left: 0; }

			@include breakpoint(extra-small, 'max') {
				display: block;
				margin: 20px auto;
				width: 100%;

				&:first-child { margin-left: auto; }

				&:last-child { margin-bottom: 0; }
			}

			&[type='checkbox'] {
				display: none;

				&.error + label {
					a { color: #f49a9a; }

					&:after {
						@include contentBefore();
						border: 3px solid #f49a9a;
						border-radius: 2px;
						height: 15px;
						left: 0;
						top: 3px;
						width: 15px;
					}
				}
			}

			&[type='checkbox']:checked + label {
				a { color: $txt-gray; }

				&:after {
					@include contentBefore();
					border: 3px solid $green;
					border-radius: 2px;
					height: 15px;
					left: 0;
					top: 3px;
					width: 15px;
				}
			}
		}

		@include inputPlaceholderColor($txt-gray);

		input[type='submit'] {
			@extend .primary-button;
			@include responsiveFont(14, 16, true);
			background: #7f2893;
			border: 2px solid #7f2893;
			display: inline-block;
			font-weight: normal;
			margin: 0;
			margin-left: 20px;
			outline: none;
			padding: .5em;
			text-transform: uppercase;

			&:hover { color: #7f2893; }

			@include breakpoint(extra-small, 'max') {
				display: block;
				margin: 0 auto;
				margin-top: 20px;
				max-width: 170px;
			}
		}
	}

	p.message-success { display: none; }

	&.success {
		p,
		form { display: none; }

		p.message-success {
			@include responsiveFont(13, 16, true);
			color: $orange;
			display: block !important;
			font-weight: bold;
			margin: 10px auto;
			padding-left: 30px;
			position: relative;
			text-transform: uppercase;
			width: 280px;

			&:before {
				@include contentBefore();
				@include icon-get('check-mark');
				@include responsiveFont(14, 16, true);
				color: #9aca3c;
				display: block;
				font-weight: bold !important;
				left: 15px;
				position: absolute;
				top: 0;
				transform: translateX(-50%);
			}
		}
	}
}