@charset 'UTF-8';

#vtex-modal-overlay-leads {
	.modal-holder {
		border-radius: 0;
		height: auto;
		margin-top: 112px;
		max-width: 100%;
		width: 525px;

		@include breakpoint(extra-small, 'max') {
			max-width: 280px;
		}

		.modal-header {
			@include responsiveFont(22, 16, true);
			font-weight: bold;
			padding: 1.25em 5em;
			position: relative;
			text-transform: uppercase;

			&:before {
				background: $green url('http://whirlpoolqa.vteximg.com.br/arquivos/cns-bg-modal-overlay-lead.jpg') center center;
				content: '';
				display: block;
				height: 103px;
				left: 0;
				position: absolute;
				top: -103px;
				width: 100%;
			}

			button.close {
				color: $green;
				top: -120px;

				@include breakpoint(extra-small, 'max') {
					height: 30px;
					right: -10px;
					width: 30px;
				}
			}
		}

		.modal-content {
			display: block;
			margin: 0 auto;
			max-width: 300px;
			width: 90%;

			.row {
				&>div {
					@include responsiveFont(13, 16, true);
					text-align: center;
					width: 100%;

					fieldset {
						border: none;
						display: inline-block;
						margin: 0;
						padding: 0;
						vertical-align: middle;
						width: 100%;

						@include breakpoint(extra-small, 'max') {
							display: block;
							margin: 10px 0;
							width: 100%;
						}

						label {
							@include responsiveFont(12, 16, true);
							display: inline-block;
							margin: 10px;
							padding-left: 25px;
							position: relative;

							&:before {
								border: 1px solid;
								border-radius: 2px;
								content: '';
								display: inline-block;
								height: 15px;
								left: 0;
								margin-right: 5px;
								position: absolute;
								top: 0;
								width: 15px;
							}

							@include breakpoint(extra-small, 'max') {
								margin: 0;
								width: 100%;

								&:before {
									top: 0;
								}
							}

							a {
								text-decoration: none;

								span { text-decoration: underline; }
							}
						}

						input {
							border-bottom: 1px solid $gray-d;
							color: $txt-gray;
							outline: none;
							padding: 10px 0;

							&[type='checkbox'] {
								display: none;

								&.error + label {
									a {
										color: #f49a9a;
									}

									&:after {
										@include contentBefore();
										border: 3px solid #f49a9a;
										border-radius: 2px;
										height: 15px;
										left: 0;
										top: 0;
										width: 15px;
									}
								}
							}

							&[type='checkbox']:checked + label {
								a {
									color: $txt-gray;
								}

								&:after {
									@include contentBefore();
									border: 3px solid $green;
									border-radius: 2px;
									height: 15px;
									left: 0;
									top: 0;
									width: 15px;
								}
							}
						}
					}

					input[type='submit'] {
						@extend .primary-button;
						@include responsiveFont(14, 16, true);
						display: inline-block;
						font-weight: normal;
						margin-top: 10px;
						outline: none;
						text-transform: uppercase;
						width: 100%;
					}

					@include inputPlaceholderColor($txt-gray);
				}
			}

			.or_news {
				@include responsiveFont(14, 16, true);
				margin-bottom: 14px;
				overflow: hidden;
				position: relative;

				&:after {
					background-color: #d3d3d3;
					content: '';
					height: 1px;
					position: absolute;
					right: 0;
					top: 10px;
					width: 45%;
				}

				&:before {
					background-color: #d3d3d3;
					content: '';
					height: 1px;
					left: 0;
					position: absolute;
					top: 10px;
					width: 45%;
				}
			}

			.btn_cadastro_news {
				background: #3664a2 url('/arquivos/btn_cadastro_fb.jpg') no-repeat;
				border: none;
				height: 47px;
				width: 100%;
			}

		}

		p.message-success {
			display: none;
		}

		&.success {
			.modal-header {
				padding: 0;
			}

			.modal-content {
				p, 
				form {
					display: none;
				}

				.row {
					margin-bottom: 0;
				}
			}

			p.message-success {
				@include responsiveFont(13, 16, true);
				color: $orange;
				display: block !important;
				font-weight: bold;
				margin: 40px 0;
				position: relative;
				text-transform: uppercase;

				&:before {
					@include contentBefore();
					@include icon-get('check-mark');
					@include responsiveFont(14, 16, true);
					color: #9aca3c;
					display: block;
					font-weight: bold !important;
					left: 15px;
					position: absolute;
					top: 0;
					transform: translateX(-50%);
				}
			}
		}
	}
}