#vtex-modal-overlay-abandono {
	.compare {
		display: none !important;
	}

	.subtitle {
		@include responsiveFont(22, 16, true);
	    color: #736c6b;
	    font-weight: bold;
	    padding-bottom: 2em;
	    padding-left: 1em;
	    text-align: left;
	}

	.modal-content {
		padding-bottom: 2em;
	}

	.modal-holder {
		max-width: 53em;
	}

	.modal-header {
		@include responsiveFont(36, 16, true);
		background: #ffffff;
		color: $green;
		font-weight: bold;
		padding-bottom: 0;
		text-align: left;
		text-transform: uppercase;
		button {
			color: $green;
		}
	}

	.prateleira.default  {
		h2, 
		.parcelado, 
		.total-parcelado {display: none;}
			ul li {
			text-align: left;
			width: 100%;
			.box-produto {
				margin: 0;
				padding: 0;
			}

			.detalhes {
				.image {
					float: left;
					width: 40%;
				}
				.prod-info {
					float: right;
					padding-left: 10%;
					padding-right: 5%;
					width: 60%;
					.nome {
						@include responsiveFont(36, 16, true);
						color: $txt-gray;
						font-weight: 700;
    					line-height: 1;
    					padding-bottom: 20px;
					}

					.price { 
						margin: 0;
						padding: 10px 0 35px 0;
						.de {
							@include responsiveFont(16, 16, true);
						}
						.por {
							@include responsiveFont(36, 16, true);
							color: $green;
							.txtPor,
							.val {
								font-weight: bold;
							}
							.off {
								display: none;
							}
						}
					}

					.adicional {
						display: none;
					}

					.discount-boleto {
						@include responsiveFont(16, 16, true);
						color: #000000;
						font-weight: bold;
						text-transform: uppercase;
					}

					.btn-eu-quero {
						@extend .primary-button;
						text-align: center;
						text-transform: uppercase;
						width: 250px;
					}
				}
			}

			.compare {
				display: none;
			}
		}
	}	
}