#vtex-modal-napoleao, 
#vtex-napoleao {

	[class*='col-'] {
		float: none;
	}

	.modal-header {
		display: none;
	}

	.modal-holder {
		background: $green;
		border-radius: 50%;
	    height: 400px;
		position: relative;
	    width: 100%;

	    @include breakpoint(small, 'max') {
	    	border-radius: 10px;
	    	height: auto;
	    	width: 90%;

	    }

	    .napoleao-close {
	    	left: 44%;
	    	position: absolute;
	    	top: 4%;
		    button {
		    	@include responsiveFont(18);
		    	background: $green;
		    	border: none;
		    	border-radius: 50%;
		    	color: #ffffff;
		    	font-weight: bold;
				height: auto;
				width: 32px;
		    }
	    }

		.napoleao-img {
			margin: 0 auto;
			padding: 0;

			@include breakpoint(small, 'max') {
				padding-top: 10px;
			}

			img {
				margin: 0 auto;
				text-align: center;
			}
		}

		.napoleao-title {
			margin: 0 auto;
			padding: 0;

			h2 {
				@include responsiveFont(27);
				color: #702c8f;
				margin: 0 auto;

				@include breakpoint(small, 'max') {
					@include responsiveFont(22);
				}
			}
		}

		.napoleao-text {
			margin: 0 auto;
			padding: 5px 0 5px 0;
			p {
				@include responsiveFont(18);
				color: #ffffff;
				font-weight: 400;
				margin: 0 auto;

				@include breakpoint(small, 'max') {
					@include responsiveFont(15);
				}

			}
		}

		.napoleao-button {
			margin: 0 auto;
			padding: 0;

			@include breakpoint(small, 'max') {
				padding-bottom: 15px;
			}

			button {
				@include responsiveFont(12);
				background: #702c8f;
				border: 2px solid #702c8f;
				margin: 0 auto;

				@include breakpoint(small, 'max') {
					@include responsiveFont(10);
				}

				&:hover {
					background: #ffffff;
					color: #702c8f;
				}
			}
		}

	}

}