@charset 'UTF-8';

// Slick
body.home .prateleira-tabs div.prateleira-slider div.prateleira ul.slick-slider button.slick-arrow {
	@include breakpoint('small', 'max') {
		display: inline-block!important;
	}
}


.prateleira-tabs {
	overflow: hidden;
	position: relative;

	@include breakpoint('medium', 'min') {
		padding: 2em;
	}

	// container
	.container {
		position: relative;

		@include breakpoint('small', 'max') {
			max-width: 100%;
			padding: 0;
		}
	}

	// Container das tabs
	&__tabs {
		border: 1px solid transparent;

		@include breakpoint('small', 'min') {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		@include breakpoint('small', 'max') {
			display: none;
			visibility: hidden;
		}

		// @include breakpoint('small', 'max') {
		// 	background-color: #f6f6f6;
		// 	border-color: #f6f6f6;
		// 	border-radius: 20px;
		// 	margin: 1.2em;
		// 	max-height: 40px;
		// 	overflow: hidden;
		// 	padding-top: 40px;
		// 	position: relative;
		// 	transition: max-height .3s ease;
		// }

		// Mobile Arrow
		// &:before,
		// &:after {
		// 	@include breakpoint('small', 'max') {
		// 		display: block;
		// 		position: absolute;
		// 		right: 0;
		// 		z-index: 2;
		// 	}
		// }

		// &:before {
		// 	@include breakpoint('small', 'max') {
		// 		background-color: #9aca3c;
		// 		border-radius: 0 20px 20px 0;
		// 		content: '';
		// 		height: 40px;
		// 		top: 0;
		// 		width: 70px;
		// 	}
		// }

		// &:after {
		// 	@include breakpoint('small', 'max') {
		// 		-moz-osx-font-smoothing: grayscale;
		// 		-webkit-font-smoothing: antialiased;
		// 		color: #fff;
		// 		content: '\e601';
		// 		font: normal bold normal 9px 'whirlpool';
		// 		line-height: 1;
		// 		text-transform: none;
		// 		top: 0;
		// 		transform: translate(-25px, 16px);
		// 	}
		// }

		// Mobile active
		&.is-mobile--active {
			max-height: 800px;
		}
	}

	// TAB
	&__tab {
		font-size: 16px;
		font-weight: 400;
		position: relative;
		transition:
			background-color .1s ease,
			color .2s ease,
			text-indent .3s ease;

		@include breakpoint('small', 'min') {
			border: 1px solid #9aca3c;
			border-radius: 30px;
			color: #9aca3c;
			margin: .8em .5em;
			padding: .4em 2.2em;
		}

		// @include breakpoint('small', 'max') {
		// 	padding: .5em 1em;
		// }

		// Arrow
		&:before {
			@include breakpoint('small', 'min') {
				border: 11px solid #9aca3c;
				border-color: #9aca3c transparent transparent transparent;
				bottom: 0;
				content: '';
				height: 0;
				opacity: 0;
				position: absolute;
				right: 50%;
				transform: translate(50%, 12px);
				transition:
					opacity .2s ease,
					transform .3s ease;
				width: 0;
				z-index: -1;
			}
		}

		// Hover and active state
		&:hover,
		&.is--active {
			color: #0e0e0e;
			cursor: pointer;

			@include breakpoint('small', 'min') {
				background-color: #9aca3c;
				z-index: 1;
			}
		}

		// &:hover {
		// 	@include breakpoint('small', 'max') {
		// 		background-color: #fff;
		// 		text-indent: 10px;
		// 	}
		// }

		&.is--active {
			@include breakpoint('small', 'min') {
				&:before {
					opacity: 1;
					transform: translate(50%, 21px);
				}
			}

			// @include breakpoint('small', 'max') {
			// 	border-radius: 20px;
			// 	left: 0;
			// 	position: absolute;
			// 	top: 0;
			// 	width: 100%;
			// }
		}
	}

	// Content tabs
	.prateleira {
		background-color: #fff;
		max-width: 1098px;
		width: 100%;

		@include breakpoint('small', 'min') {
			bottom: 0;
			left: 0;
			opacity: 0;
			position: absolute;
			z-index: -1;
		}

		// Títulos default Vtex
		h2 {
			@include breakpoint('small', 'min') {
				border: none !important;
				height: 0;
				margin: 0 !important;
				opacity: 0;
				overflow: hidden;
				padding: 0 !important;
				visibility: hidden;
				width: 0;
			}

			@include breakpoint('small', 'max') {
				background-color: #fff!important;
				color: #736c6b!important;
				font-size: 2.2em!important;
				margin-bottom: 0!important;
				position: relative;

				&:before {
					background-color: #87d054;
					content: '';
					height: 2px;
					left: 50%;
					position: absolute;
					top: 100%!important;
					transform: translate(-50%, -50%);
					width: 35px;
				}
			}
		}

		// Active tabs
		&.is--active {
			opacity: 1;
			position: relative;
			z-index: 1;
		}
	}

	// Detalhes produto
	.detalhes {
		// Nome
		.nome {
			font-size: 16px;
			margin: 10px 0;
			min-height: 70px!important;
			padding: 0 10px;

			span {
				li {
					font-size: 16px;
					font-weight: normal;
				}
			}
		}

		// Imagem
		.image {
			img {
				display: block;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				max-height: 250px;
				max-width: 100%;
				width: auto;
			}
		}
	}

	// Stok count
	.shelf__stock {
		border-bottom: 1px solid #d8d8d8;
		font-size: 14px;
		padding: 10px 5px;

		span {
			color: #9aca3c;
		}
	}
}