/********************************************/
/* Termo Coleta */
/*******************************************/
#modal-termo-coleta{
	h3{text-align: center;}
		#produto-coletado{
		display: block;
		margin:10px auto;
	}
	select{
		height: 35px;
	}
	input[type=text]{
	    width: 100%;
	    height: 35px;
	    padding: 0 10px;
	    margin-bottom: 20px;
	}
}

