body {

	// #Cenário A – atual
	// - Econômica
	// - Convencional
	// - Entrega Agendada | Convencional
	// - Rápida

	// #Cenário B – 100%
	// - Entrega Agendada | Econômica
	// - Entrega Agendada | Convencional
	// - Entrega Agendada | Sábado
	// - Entrega Agendada | Rápida

	// #Cenário C – atual + 100 %
	// - Econômica
	// - Convencional
	// - Rápida
	// - Entrega Agendada | Econômica
	// - Entrega Agendada | Convencional
	// - Entrega Agendada | Sábado
	// - Entrega Agendada | Rápida


	// .shipping-options      { border: 5px solid #dd0!important; } // [loja]/checkout/#/shipping
	// .shipping-sla-options  { border: 5px solid #d0d!important; } // [loja]/checkout/#/cart
	// #change-sla-items-list { border: 5px solid #00d!important; } // Not found


	// [ VERSÃO A ]
	&.testeab-entregas--a {
		.shipping-sla-options:not(.not-hide) {
			// Esconde todas as opções
			li { display: none; }

			// Mostra as opções do teste A
			li.seller-1-sla-Economica,
			li.seller-1-sla-Convencional,
			li.seller-1-sla-EntregaAgendada-Convencional,
			li.seller-1-sla-Rapida { display: block; }
		}

		.shipping-options {
			// Esconde todas as opções
			label { display: none; }

			// Mostra as opções do teste A
			label[for='seller-1-sla-Economica'],
			label[for='seller-1-sla-Convencional'],
			label[for='seller-1-sla-EntregaAgendada-Convencional'],
			label[for='seller-1-sla-Rapida'] { display: block; }
		}

		#change-sla-items-list:not(.not-hide) {
			// Esconde todas as opções
			option { display: none; }

			// Mostra as opções do teste A
			option[value='Econômica'],
			option[value='Convencional'],
			option[value='Entrega Agendada I Convencional'],
			option[value='Rápida'] { display: block; }
		}
	}

	// [ VERSÃO B ]
	&.testeab-entregas--b {
		.shipping-sla-options:not(.not-hide) {
			// Esconde todas as opções
			li { display: none; }

			// Mostra as opções do teste B
			li.seller-1-sla-EntregaAgendada-Economica,
			li.seller-1-sla-EntregaAgendada-Convencional,
			li.seller-1-sla-EntregaAgendada-Sabado,
			li.seller-1-sla-EntregaAgendadaISabado,
			li.seller-1-sla-EntregaAgendada-Rapida { display: block; }
		}

		.shipping-options {
			// Esconde todas as opções
			label { display: none; }

			// Mostra as opções do teste B
			label[for='seller-1-sla-EntregaAgendada-Economica'],
			label[for='seller-1-sla-EntregaAgendada-Convencional'],
			label[for='seller-1-sla-EntregaAgendada-Sabado'],
			label[for='seller-1-sla-EntregaAgendadaISabado'],
			label[for='seller-1-sla-EntregaAgendada-Rapida'] { display: block; }
		}

		#change-sla-items-list:not(.not-hide) {
			// Esconde todas as opções
			option { display: none; }

			// Mostra as opções do teste B
			option[value='Entrega Agendada Econômica'],
			option[value='Entrega Agendada I Convencional'],
			option[value='Entrega Agendada Sábado'],
			option[value='Entrega Agendada I Sábado'],
			option[value='Entrega Rápida - Agendada'] { display: block; }
		}
	}

	// [ VERSÃO C ]
	&.testeab-entregas--c {
		// Mostra todas as opções
		.shipping-sla-options:not(.not-hide) li { display: block; }

		// Mostra todas as opções
		.shipping-options label { display: block; }

		// Mostra todas as opções
		#change-sla-items-list:not(.not-hide) option { display: block; }
	}



	// &.hideOptionsA {
	// 	.shipping-sla-options:not(.not-hide) {
	// 		li {
	// 			&:not([class*=Agendada]) {
	// 				&[class*=Convencional],
	// 				&[class*=Economica] { display: none; }
	// 			}
	// 		}
	// 	}
	// 	.shipping-options {
	// 		label {
	// 			&:not([for*=Agendada]) {
	// 				&[for*=Convencional],
	// 				&[for*=Economica] { display: none; }
	// 			}
	// 		}
	// 	}

	// 	#change-sla-items-list:not(.not-hide) {
	// 		option {
	// 			&:not([value*=Agendada]) {
	// 				&[value*=Convencional],
	// 				&[value*=Econômica] { display: none; }
	// 			}
	// 		}
	// 	}
	// }

	// &.hideOptionsB {
	// 	.shipping-sla-options li[class*=Agendada][class*=Economica] { display: none; }
	// 	.shipping-options label[for*=Agendada][for*=Economica] { display: none; }
	// }

	&.not-hide-shipping-options {
		.shipping-options label { display: block !important; }
	}
}

