body {
	&.body-cart {
		.cart {
			padding:0;

			.cart-items {
				thead {
					@include responsiveFont(14, 16, true);
					background-color: $gray-l;

					th {
						text-transform: uppercase;
						padding: 15px;
					}
				}

				tbody {
					padding-bottom:20px;

					td { padding:20px 10px; }

					.item-remove { right:7px; }

					.product-item {
						border-top: 3px solid $gray-l;
						padding-top:20px;

						&:first-child { border-bottom:none; }

						.brand, .seller, .shipping-date, .product-price, .quantity-price{
							@include responsiveFont(12, 16, true);
							color:$txt-gray-l;
							font-weight:normal;
						}

						.product-name {
							@include responsiveFont(14, 16, true);
							font-weight:bold;

							&>a {
								display: block;
								width: 100%;
							}

							.brand {
								display: inline-block;

								&:after {
									display: inline-block;
									content: ' - ';
								}
							}

							.product-service {
								.linkWarranty {
									@include responsiveFont(10, 16, true);
									text-transform: uppercase;
								}
							}
						}

						.shipping-date {
							.shipping-estimate-date {
								color: $txt-gray;
								@include responsiveFont(13, 16, true);
								font-weight: bold;
							}
						}

						.product-price {
							.list-price {
								@include responsiveFont(13, 16, true);

								.old-product-price { color:$txt-gray-l; }
							}

							.best-price {
								color:$txt-gray;
								@include responsiveFont(13, 16, true);
								font-weight:bold;
							}
						}

						.quantity {
							input {
								height:35px;
								width: 40px;
							}

							.item-quantity-change { color: $gray; }
						}

						.quantity-price {
							color:$green;
							font-weight:bold;
							padding:20px 5px;
						}

						.item-remove {
							.item-link-remove { color:$txt-gray-l; }
						}
					}

					.item-service {
						td { padding: 10px 10px 25px 10px; }

						.bundle-item-name { @include responsiveFont(14, 16, true); }

						.quantity-price {
							@include responsiveFont(12, 16, true);
							color:$green;
							font-weight:bold;
						}

						.item-remove {
							.item-link-remove { color:$txt-gray-l; }
						}
					}
				}
			}
		}

		.totalizers {
			width: 46%;
			padding: 0;

			@include breakpoint(small, "max") {
				width: 100%;
			}

			.quantity-price, .monetary{
				width: auto;
				padding-right: 34px;
				@include responsiveFont(13, 16, true);
				font-weight: bold;
				text-align: right;
			}

			.info {
				vertical-align: middle;
				width: 55%;
				padding-right: 30px;
				@include responsiveFont(13, 16, true);
				text-transform: uppercase;
			}

			.empty { display: none; }

			.accordion-group {
				margin-bottom: 0;

				tbody, tfoot {
					padding:5px;

					tr {
						border-bottom: 1px solid $gray-l;
					}
				}

				.Items {
					.info {
						padding-right: 26px;
						@include responsiveFont(13, 16, true);
						font-weight: normal;
						text-transform: uppercase;
					}
				}

				.shipping-calculate {
					.monetary {
						display: none;

						&.form-postal-code {
							display: table-cell !important;
							padding-left: 18px;

							@include breakpoint(extra-small, "max") {
								padding-right: 0;
								padding-left: 0;
							}

							.shipping-form-inline {
								text-align: right;

								input.postal-code {
									width: 90px;
									max-width: 90px;
									margin-right: 5px;
									padding: 16px 5px;
									border-radius: 0;

									@include breakpoint(large, "max") {
										width: 70px;
										max-width: 70px;
									}
								}

								button#cart-shipping-calculate {
									width: 90px;
									max-width: 90px;
									padding: 6px 12px;
									border: 2px solid $gray;
									color: $txt-gray-l;
									background: transparent;
									text-align: center;
									text-transform: capitalize;

									&:hover {
										background: $gray;
										color: #ffffff;
									}
								}
							}

							.error {
								text-align: left;
							}

							#cart-dont-know-postal-code {
								display: none;
							}
						}

						.shipping-calculate-link {
							display: none;
						}
					}
				}

				.Shipping {
					.monetary, .space {
						display: none;
					}

					.info {
						padding: 0;
						text-align: left;
						@include responsiveFont(13, 16, true);
						font-weight: normal;
						text-transform: uppercase;

						.info-shipping {
							display: inline-block;
							width: 55%;
							padding: 8px 0;
							padding-right: 14px;
							text-align: right;
						}

						.postal-code-for-sla {
							display: inline-block;
							float: right;
							min-width: auto;
							padding: 6px 0;

							.shipping-name, .shipping-name-to {
								display: none;
							}

							.cart-reset-postal-code {
								padding-right: 8px;
							}
						}

						.shipping-selected-sla-estimate {
							display: none;
						}

						.shipping-sla-selector {
							padding: 16px 0;
							padding-right: 30px;
							border-top: 1px solid $gray-l;
							text-align: right;

							@include breakpoint(extra-small, "max") {
								padding-right: 0;
								text-align: center;
							}

							.shipping-sla-button {
								width: 100%;
								text-align: right;
								border: none;
								box-shadow: none;
								text-shadow: none;
								background: #fff;
								padding: 0;

								.caret {display: none;}

								&:hover, &:focus, &.btn.dropdown-toggle {
									background: #fff;
									box-shadow: none;
									border: none;
									text-shadow: none;
								}

								span {
									color: $green;
									font-weight: bold;
									font-size: 12px;
								}

								@include breakpoint(extra-small, "max") {
									text-align: center;
								}
							}

							.shipping-estimate {
								display: inline-block;
								position: relative;
								width: 55%;
								padding: 5px 10px;
								border: 1px solid $gray-l;
								@include responsiveFont(13, 16, true);
								text-align: left;
								text-transform: initial;

								&:before {
									display: block;
									content: 'Tipo de entrega';
									position: absolute;
									top: 4px;
									left: -125px;
									color: $gray-d;
									@include responsiveFont(13, 16, true);
									font-weight: normal;
									text-transform: uppercase;
								}

								&:after {
									display: block;
									position: absolute;
									@include contentBefore();
									@include icon-get('arrow-down');
									top: 50%;
									right: 6px;
									@include font-size(8px, true, false);
									transform: translateY(-50%);
								}

								@include breakpoint(extra-small, "max") {
									width: 90%;

									&:before {
										display: none;
									}
								}
							}

							.shipping-sla-options {
								top: 41px;
								right: 30px;
								border-radius: 0;
								border: 1px solid #f4f4f4;
								text-align: left;
								@include responsiveFont(16, 16, true);
								background: #fff;
								box-shadow: 0 0 7px rgba(0,0,0,0.2);
								line-height: normal;
								min-width: 120px;
								padding: 0;

								@include breakpoint(extra-small, "max") {
									width: 90%;
									max-width: 90%;
									left: 5%;
									right: 0;
								}

								li {
									padding: 6px 10px;
									border-bottom: 1px solid #f4f4f4;
									text-transform: initial;

									a {
										padding: 0;
										transition: color 400ms ease-out;

										&:hover { background: #fff; color: $green; }

										.icon-ok {
											display: none;
										}
									}

									&:last-child {
										border-bottom: none;
									}
								}
							}

							.icon-chevron-down {
								display: none;
							}
						}
					}

					.postal-code-value {
						padding-right: 10px;
						color: $green;
						@include responsiveFont(13, 16, true);
						font-weight: bold;
					}

					.icon-remove-sign {
						@include responsiveFont(16, 16, true);

						&:before {
							content: "\f00d";
						}
					}
				}

				tfoot {
					background: $gray-l;

					.info{
						@include responsiveFont(18, 16, true);
						font-weight: 700;
					}

					.monetary {
						color:$green;
						@include responsiveFont(18, 16, true);
						font-weight: 700;
					}
				}
			}
		}

		.coupon-column {
			width: 50%;

			input {
				height:35px;
			}

			.summary-coupon {
				float: none;

				.coupon-data {
					float: none;

					.link-coupon-add {
						padding: 15px 25px;
						@include responsiveFont(12, 16, true);
						font-weight: bold;
						text-transform: uppercase;
					}
				}

				.coupon-fieldset {
					.coupon-label {
						display: inline-block;
						width: 125px;

						label {
							font-weight: bold;
						}
					}

					.coupon-fields {
						display: inline-block;

						input {
							height: 40px;
						}

						button {
							padding: 8px 20px;
							border: 2px solid $gray;
							box-shadow: none;
							color: $gray;
							background: #ffffff;
							font-weight: bold;
							text-transform: uppercase;
							text-shadow: none;

							&:hover {
								background: $gray;
								color: #ffffff;
							}
						}
					}
				}
			}
		}

		.shipping-sla-button {
			border: none;
			box-shadow: none;
			text-shadow: none;
			background: #fff;
			padding: 0;

			.caret {display: none;}

			&:hover, &:focus, &.btn.dropdown-toggle {
				background: #fff;
				box-shadow: none;
				border: none;
				text-shadow: none;
			}

			span {
				color: $green;
				font-weight: bold;
				font-size: 12px;
			}
		}

		.shipping-sla-options {
			@include font-size(16px);
			background: #fff;
			box-shadow: 0 0 7px rgba(0,0,0,0.2);
			line-height: normal;
			min-width: 120px;
			padding: 0;
			li {
				a {
					transition: color 400ms ease-out;
					&:hover { background: #fff; color: $green; }
				}
			}
		}

		.cart-links-bottom {
			#cart-choose-more-products {
				margin-right: 15px;
				padding: 15px 25px;
				@include responsiveFont(13, 16, true);
				font-weight: bold;
				text-transform: uppercase;
			}

			.fake-buttom {
				position: relative;
				padding: 14px 50px;
				padding-right: 65px;
				@include responsiveFont(15, 16, true);
				font-weight: bold;
				text-transform: uppercase;

				&:before {
					display: inline-block;
					@include font-size(16px, true, false);
					@include contentBefore();
					@include icon-get('arrow-right');
					right: 40px;
					top: 50%;
					transform: translateY(-50%) scaleY(1);
					transition: transform 0.2s ease-in;
				}
			}
		}

		@include breakpoint(small, "max") {
			.cart-links-bottom {
				position: relative;
				min-height: 140px;
				margin-bottom: 0;

				.link-choose-more-products-wrapper {
					position: absolute;
					bottom: 0;
					left: 0;
					display: block;
					width: 100%;
					margin: 0;

					#cart-choose-more-products {
						width: 100%;
						@include responsiveFont(15, 16, true);
						text-align: center;
					}
				}

				.fake-buttom {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					margin-bottom: 10px;

					@include responsiveFont(20, 16, true);
				}
			}
		}

		@media screen and (max-width: 767px) {
			.cart {
				.cart-items {
					tbody {
						td { padding: 10px 0 !important; }

						.product-item:first-child { border-top:0 !important; }
					}
				}
			}

			.coupon{
				width:100% !important;

				.coupon-data {
					text-align:center;
					width:100%;
					margin-bottom: 25px;

					.link-coupon-add {
						display: inline-block !important;
						width: 100%;
					}
				}
			}
			.totalizers {
				tfoot {
					tr {
						td { @include responsiveFont(18, 16, true); }
					}
				}
			}

			.link-choose-more-products-wrapper{
				margin-top: 20px;
				display: block;
				margin-bottom: 25px;

				.link-choose-more-products { display: inline-block; }
			}

			.linkWarranty {
				margin-right:10px;
				padding: 5px 0px !important;
				line-height: normal;
			}

			#cart-to-orderform { display: none; }
		}
	}

	.client-pre-email .emailInfo{font-weight: 200!important}
}