body {
	&.body-cart {
		.checkout-container {
			padding-bottom: 40px;
		}

		.cart {
			padding: 0;

			@include breakpoint(small 'max') { padding-bottom: 25px }

			.cart-items {
				thead {
					@include responsiveFont(14, 16, true);
					background-color: $gray-l;

					th {
						padding: 15px;
						text-transform: uppercase;
					}
				}

				tbody {
					padding-bottom: 30px;

					td {
						padding: 20px 10px;
						@include breakpoint(768px, 'max') {
							vertical-align: top;
						}
						@include breakpoint(small, 'max') {
							padding: 10px 0 !important;
						}
					}

					.item-remove { right: 7px; }

					.product-item {
						border-top: 3px solid $gray-l;
						overflow: initial;
						padding: 30px 0;

						@include breakpoint(small, 'max') { padding-bottom: 45px; }

						&:first-child {
							border-bottom: none;

							@include breakpoint(small, 'max') {
								border-top: 0 !important;
							}
						}

						.brand,
						.seller,
						.shipping-date,
						.product-price,
						.quantity-price {
							@include responsiveFont(12, 16, true);
							color: $txt-gray-l;
							font-weight: normal;
						}

						.product-name {
							@include responsiveFont(14, 16, true);
							font-weight: bold;
							width: 385px;

							@include breakpoint(small, 'max') { width: 240px; }

							&>a {
								display: block;
								width: 100%;
							}

							.brand {
								display: inline-block;

								&:after {
									content: ' - ';
									display: inline-block;
								}
							}

							.product-service {
								.linkWarranty {
									@include responsiveFont(11, 16, true);
									text-transform: uppercase;

									@include breakpoint(small, 'max') {
										@include responsiveFont(10, 16, true);
										line-height: normal;
										margin-right: 10px;
										padding: 10px 0;
									}
								}
							}
						}

						.shipping-date {
							.shipping-estimate-date {
								@include responsiveFont(13, 16, true);
								color: $txt-gray;
								font-weight: bold;
							}
						}

						.product-price {
							@include breakpoint(small, 'max') {
								margin-right: 16px;
							}

							.list-price {
								@include responsiveFont(13, 16, true);

								.old-product-price { color: $txt-gray-l; }
							}

							.best-price {
								@include responsiveFont(13, 16, true);
								color: $txt-gray;
								font-weight: bold;
							}
						}

						.quantity {
							@include breakpoint(768px, 'max') {
							   align-content: center;
							   align-items: center;
							   display: flex;
							}
							input {
								height: 35px;
								width: 40px;
							}

							.item-quantity-change {
								@include breakpoint(768px, 'min') {
									position: initial;
								}
								color: $gray;
							 }
						}

						.quantity-price {
							color: $green;
							font-weight: bold;
							padding: 20px 5px;
						}

						.item-remove {
							.item-link-remove { color: $txt-gray-l; }
						}
					}

					.item-service {
						td { padding: 10px 10px 25px 10px; }

						.bundle-item-name { @include responsiveFont(14, 16, true); }

						.quantity-price {
							@include responsiveFont(12, 16, true);
							color: $green;
							font-weight: bold;
						}

						.item-remove {
							.item-link-remove { color: $txt-gray-l; }
						}
					}
				}
			}
		}

		.loading-inline {
			display: none!important;
		}

		.msg-coupon {
			background-color: $green;
			border-radius: 5px;
			box-shadow: 0 1px 8px 3px rgba(0, 0, 0, .2);
			color: #fff;
			display: inline-block;
			margin-top: 25px;
			padding: 2px 6px;
		}

		.totalizers {
			padding: 0;
			width: 46%;

			@include breakpoint(small, 'max') {
				width: 100%;
			}

			.quantity-price,
			.monetary {
				@include responsiveFont(13, 16, true);
				font-weight: bold;
				padding-right: 34px;
				text-align: right;
				width: auto;
			}

			.monetary {
				@include breakpoint(small, 'max') {
					padding-right: 50px;
				}
			}

			.info {
				@include responsiveFont(13, 16, true);
				padding-left: 15px;
				padding-right: 30px;
				text-align: left;
				text-transform: uppercase;
				vertical-align: middle;
				width: 55%;
			}

			.empty { display: none; }

			.accordion-group {
				margin-bottom: 0;

				tbody,
				tfoot {
					padding: 5px;

					tr {
						border-bottom: 1px solid $gray-l;
					}
				}

				.Items {
					.info {
						@include responsiveFont(13, 16, true);
						font-weight: normal;
						padding-right: 26px;
						text-transform: uppercase;
					}
				}

				.shipping-calculate {
					.monetary {
						display: none;

						&.form-postal-code {
							display: table-cell !important;
							padding-left: 18px;

							@include breakpoint(extra-small, 'max') {
								padding-left: 0;
								padding-right: 0;
							}

							.shipping-form-inline {
								text-align: right;

								input.postal-code {
									border-radius: 0;
									margin-right: 5px;
									max-width: 90px;
									padding: 16px 5px;
									width: 90px;

									@include breakpoint(large, 'max') {
										max-width: 70px;
										width: 70px;
									}
								}

								button#cart-shipping-calculate {
									background: transparent;
									border: 2px solid $gray;
									color: $txt-gray-l;
									max-width: 90px;
									padding: 6px 12px;
									text-align: center;
									text-transform: capitalize;
									width: 90px;

									@include breakpoint(extra-small, 'max') {
										margin-right: 50px;
									}

									&:hover {
										background: $gray;
										color: #ffffff;
									}
								}
							}

							.error {
								text-align: left;
							}

							#cart-dont-know-postal-code {
								display: none;
							}
						}

						.shipping-calculate-link {
							display: none;
						}
					}
				}

				.Shipping {
					.monetary,
					.space {
						display: none;
					}

					.info {
						@include responsiveFont(13, 16, true);
						font-weight: normal;
						padding: 0;
						text-align: left;
						text-transform: uppercase;

						.info-shipping {
							display: inline-block;
							padding: 8px 15px;
							width: 60%;
						}

						.postal-code-for-sla {
							display: inline-block;
							float: right;
							min-width: auto;
							padding: 6px 0;

							.shipping-name,
							.shipping-name-to {
								display: none;
							}

							.cart-reset-postal-code {
								padding-right: 8px;
							}
						}

						.shipping-selected-sla-estimate {
							display: none;
						}

						.shipping-sla-selector {
							border-top: 1px solid $gray-l;
							padding: 16px 0;
							padding-left: 15px;
							padding-right: 30px;
							text-align: right;

							@include breakpoint(extra-large, 'max') {
								padding-top: 30px;
							}

							@include breakpoint(extra-small, 'max') {
								padding-right: 15px;
								text-align: center;
							}

							.shipping-sla-button {
								background: #ffffff;
								border: none;
								box-shadow: none;
								padding: 0;
								text-align: right;
								text-shadow: none;
								width: 100%;

								.caret {display: none;}

								&:hover,
								&:focus,
								&.btn.dropdown-toggle {
									background: #ffffff;
									border: none;
									box-shadow: none;
									text-shadow: none;
								}

								span {
									color: $green;
									font-size: 12px;
									font-weight: bold;
								}

								@include breakpoint(extra-small, 'max') {
									text-align: center;
								}
							}

							.shipping-estimate {
								@include responsiveFont(13, 16, true);
								border: 1px solid $gray-l;
								display: inline-block;
								padding: 5px 10px;
								position: relative;
								text-align: left;
								text-transform: initial;
								width: 60%;

								@include breakpoint(extra-large, 'max') {
									width: 100%;
								}

								&:before {
									@include responsiveFont(13, 16, true);
									color: $gray-d;
									content: 'Tipo de entrega';
									display: block;
									font-weight: normal;
									left: -180px;
									position: absolute;
									text-transform: uppercase;
									top: 4px;

									@include breakpoint(extra-large, 'max') {
										left: 0;
										top: -25px;
									}
								}

								&:after {
									@include contentBefore();
									@include font-size(8px, true, false);
									@include icon-get('arrow-down');
									display: block;
									position: absolute;
									right: 6px;
									top: 50%;
									transform: translateY(-50%);
								}
							}

							.shipping-sla-options {
								@include responsiveFont(16, 16, true);
								background: #fff;
								border: 1px solid #f4f4f4;
								border-radius: 0;
								box-shadow: 0 0 7px rgba(0, 0, 0, .2);
								line-height: normal;
								min-width: 120px;
								padding: 0;
								right: 30px;
								text-align: left;
								top: 41px;

								@include breakpoint(extra-small, 'max') {
									left: 5%;
									max-width: 90%;
									right: 0;
									width: 90%;
								}

								li {
									border-bottom: 1px solid #f4f4f4;
									padding: 6px 10px;
									text-transform: initial;

									a {
										padding: 0;
										transition: color 400ms ease-out;

										&:hover {
											background: #ffffff;
											color: $green;
										}

										.icon-ok {
											display: none;
										}
									}

									&:last-child {
										border-bottom: none;
									}
								}
							}

							.icon-chevron-down {
								display: none;
							}
						}
					}

					.postal-code-value {
						@include responsiveFont(13, 16, true);
						color: $green;
						font-weight: bold;
						padding-right: 10px;
					}

					.icon-remove-sign {
						@include responsiveFont(16, 16, true);

						&:before {
							content: '\f00d';
						}
					}
				}

				tfoot {
					background: $gray-l;

					.info {
						@include responsiveFont(18, 16, true);
						font-weight: 700;

						@include breakpoint(small, 'max') {
							@include responsiveFont(16, 16, true);
						}
					}

					.monetary {
						@include responsiveFont(18, 16, true);
						color: $green;
						font-weight: 700;

						@include breakpoint(small, 'max') {
							@include responsiveFont(16, 16, true);
						}
					}
				}
			}
		}

		.coupon-column {
			width: 50%;

			@include breakpoint(small, 'max') {
				width: 100%;

				.coupon {
					width: 100%;
				}
			}

			input {
				height: 35px;
			}

			.summary-coupon {
				float: none;

				.coupon-data {
					float: none;

					@include breakpoint(small, 'max') {
						margin-bottom: 25px;
						text-align: center;
						width: 100%;
					}

					.link-coupon-add {
						@include responsiveFont(12, 16, true);
						font-weight: bold;
						padding: 15px 25px;
						text-transform: uppercase;

						@include breakpoint(small, 'max') {
							display: inline-block !important;
							width: 100%;
						}
					}
				}

				.coupon-fieldset {
					.coupon-label {
						display: block;
						width: 125px;

						label {
							font-weight: bold;
						}
					}

					.coupon-fields {
						display: inline-block;

						input {
							height: 40px;
						}

						button {
							background: #ffffff;
							border: 2px solid $gray;
							box-shadow: none;
							color: $gray;
							font-weight: bold;
							padding: 8px 20px;
							text-shadow: none;
							text-transform: uppercase;

							&:hover {
								background: $gray;
								color: #ffffff;
							}
						}
					}
				}
			}
		}

		.shipping-sla-button {
			background: #ffffff;
			border: none;
			box-shadow: none;
			padding: 0;
			text-shadow: none;

			.caret {display: none;}

			&:hover,
			&:focus,
			&.btn.dropdown-toggle {
				background: #ffffff;
				border: none;
				box-shadow: none;
				text-shadow: none;
			}

			span {
				color: $green;
				font-size: 12px;
				font-weight: bold;
			}
		}

		.shipping-sla-options {
			@include font-size(16px);
			background: #ffffff;
			box-shadow: 0 0 7px rgba(0, 0, 0, .2);
			line-height: normal;
			min-width: 120px;
			padding: 0;
			li {
				a {
					transition: color 400ms ease-out;
					&:hover {
						background: #ffffff;
						color: $green;
					}
				}
			}
		}

		.cart-links-bottom {
			.link-choose-more-products-wrapper {
				@media screen and (min-width: 320px) and (max-width: 490px) {
					position: absolute;
				}
				@include breakpoint(small, 'max') {
					display: block;
					left: 0;
					margin: 20px 0;
					width: 100%;
				}

				#cart-choose-more-products {
					@include responsiveFont(13, 16, true);
					display: none;
					font-weight: bold;
					margin-right: 15px;
					padding: 15px 25px;
					text-transform: uppercase;
					@include breakpoint(small, 'max') {
						@include responsiveFont(12, 16, true);
						display: inline-block;
						text-align: center;
						width: 100%;
					}
				}
			}

			// Botão original Vtex - Fechar pedido
			#cart-to-orderform { visibility: hidden; }

			// Fake button
			.fake-buttom {
				@include breakpoint(768px, 'min') {
					position: relative;
				 }
				@include responsiveFont(15, 16, true);
				font-weight: bold;
				padding: 14px 50px;
				padding-right: 65px;
				position: relative;
				text-transform: uppercase;

				&:before {
					@include contentBefore();
					@include font-size(16px, true, false);
					@include icon-get('arrow-right');
					display: inline-block;
					right: 40px;
					top: 50%;
					transform: translateY(-50%) scaleY(1);
					transition: transform .2s ease-in;
				}

				@include breakpoint(small, 'max') {
					@include responsiveFont(20, 16, true);
					display: block;
					left: 0;
					margin: 10px 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}
		}
	}
}

// barra fixa no mobile dentro do carrinho
@include breakpoint(small, 'max') {
	.btn-place-order-wrapper { display: block; }
	.cart-template {
		.cart-links-bottom {
			margin-bottom: 0;
			min-height: auto;
			.link-choose-more-products {
				@include responsiveFont(14, 16, true);
				@include vendor(border-radius, 20px);
				background-color: $green;
				border: none;
				color: #fff;
			}
		}
	}
	.field-button {
		background-color: #592b6d;
	    bottom: 0;
	    display: block;
	    padding: 10px;
		position: fixed;
	    right: 0;
	    width: 100%;
	    z-index: 12;
		tfoot {
			background-color: transparent;
			bottom: 10px;
			color: #fff;
			left: 0;
			padding: 0 0 0 10px;
			position: fixed;
		    z-index: 15;

			tr {
				border-bottom: none;
				display: inline-block;
			}

			.info {
				@include responsiveFont(13, 16, true);
				display: block;
				font-weight: normal;
				padding: 0;
				text-align: left;
				text-transform: uppercase;
			}

			.monetary {
				@include responsiveFont(16, 16, true);
				color: #fff;
				font-weight: normal;
				padding: 0;
			}
		}
	}
	.container-main {
		.btn-success {
			@include responsiveFont(14, 16, true);
			@include vendor(border-radius, 20px);
			background-color: $green;
			border: none;
			color: #fff;
			float: right;
			font-weight: bold;
			padding: 10px 40px;
			text-transform: uppercase;
		}
	}
	.cart-links-bottom {
		.fake-buttom {
			display: none!important;
		}
	}
}