body {
	&.body-cart {
		.cart {
			padding:0;

			.cart-items {
				thead {
					@include responsiveFont(14);
					background-color: $gray-l;

					th {
						font-weight:normal;
						padding: 15px;
					}
				}

				tbody {
					padding-bottom:20px;

					td { padding:20px 10px; }

					.item-remove { right:7px; }

					.product-item {
						border-top: 3px solid $gray-l;
						padding-top:20px;

						&:first-child { border-bottom:none; }

						.brand, .seller, .shipping-date, .product-price, .quantity-price{
							@include responsiveFont(12);
							color:$txt-gray-l;
							font-weight:normal;
						}

						.product-name {
							@include responsiveFont(14);
							font-weight:bold;
						}

						.product-price {
							.old-product-price { color:$txt-gray-l; }
							.best-price {
								color:$txt-gray;
								font-weight:bold;
							}
						}

						.quantity {
							input {
								height:35px;
								width: 40px;
							}

							.item-quantity-change { color: $gray; }
						}

						.quantity-price {
							color:$green;
							font-weight:bold;
							padding:20px 5px;
						}

						.item-remove {
							.item-link-remove { color:$txt-gray-l; }
						}
					}

					.item-service {
						td { padding: 10px 10px 25px 10px; }

						.bundle-item-name { @include responsiveFont(14); }

						.quantity-price {
							@include responsiveFont(12);
							color:$green;
							font-weight:bold;
						}

						.item-remove {
							.item-link-remove { color:$txt-gray-l; }
						}
					}
				}
			}
		}

		.totalizers {
			padding: 0;

			.quantity-price, .monetary{
				text-align: left;
				width: auto;
			}

			.info {
				padding-right: 30px;
				width: 50%;
			}

			.empty { display: none; }

			.accordion-group {
				margin-bottom: 0;

				tbody,tfoot{padding:5px}
				tfoot {
					background: $gray-l;

					.monetary { color:$green; }
				}
			}

			input[type="tel"] { padding: 16px 5px; }
		}

		.coupon-column input { height:35px; }

		.shipping-sla-button {
			border: none;
			box-shadow: none;
			text-shadow: none;
			background: #fff;
			padding: 0;

			.caret {display: none;}

			&:hover, &:focus, &.btn.dropdown-toggle {
				background: #fff;
				box-shadow: none;
				border: none;
				text-shadow: none;
			}

			span {
				color: $green;
				font-weight: bold;
				font-size: 12px;
			}
		}

		.shipping-sla-options {
			    @include font-size(16px);
			    background: #fff;
			    box-shadow: 0 0 7px rgba(0,0,0,0.2);
			    line-height: normal;
			    min-width: 120px;
			    padding: 0;
				li {
					a {
						transition: color 400ms ease-out;
						&:hover { background: #fff; color: $green; }
					}
				}
		}

		@media screen and (max-width: 767px) {
			.cart {
				.cart-items {
					tbody {
						td { padding: 10px 0 !important; }

						.product-item:first-child { border-top:0 !important; }
					}
				}
			}

			.coupon{
				width:100% !important;

				.coupon-data {
					text-align:center;
					width:100%;
					margin-bottom: 25px;

					.link-coupon-add {
						display: inline-block !important;
						width: 100%;
					}
				}
			}
			.totalizers {
				tfoot {
					tr {
						td { @include responsiveFont(18); }
					}
				}
			}

			.link-choose-more-products-wrapper{
				margin-top: 20px;
				display: block;
				margin-bottom: 25px;

				.link-choose-more-products { display: inline-block; }
			}

			.linkWarranty {
				margin-right:10px;
				padding: 5px 0px !important;
				line-height: normal;
			}

			#cart-to-orderform { display: none; }
		}
	}

	.client-pre-email .emailInfo{font-weight: 200!important}
}