body[class*='consul'] {
	&.body-checkout-confirmation {
		.container { width: 100%; }

		.checkout-confirmation-header {
			header { .come-back { display: block; } }
		}

		#checkout-confirmation-top,
		#checkout-confirmation-bottom {
			margin: 0 auto;
			max-width: 1110px;
			padding: 0 15px;
			padding-bottom: 30px;
			width: 95%;
			h2 {
				color: #9aca3c;
				margin: 20px 0;
			}
		}

		#app-top,
		#app-container {
			background: #ffffff;
			box-shadow: none;
			padding-bottom: 20px;

			.ph3-ns {
				max-width: 1280px;
				padding: 0 90px;
				width: 100%;

				@include breakpoint(small, 'max') { padding: 0 20px; }

				#print-bank-invoice {
					.link {
						@extend %single-transition;
						@include responsiveFont(13, 16, true);
						background: $green;
						border: 1px solid $green;
						border-radius: 20px;
						color: #ffffff;
						font-weight: bold;
						opacity: 1 !important;
						padding: 8px 0;
						text-align: center;
						text-transform: uppercase;
						width: 150px;

						&:hover {
							background: transparent;
							color: $green;
						}

						@include breakpoint(small, 'max') { width: 100%; }
					}
				}

				.black-70:not(.nowrap) {
					@include responsiveFont(22, 16, true);
					border-bottom: 1px solid $gray;
					color: $green;
					margin: 30px 0;
					padding-bottom: 30px;

					@include breakpoint(small, 'max') {
						margin: 10px 0 20px;
						padding-bottom: 10px;
					}
				}

				.cconf-alert {
					background: transparent;
					border: 1px solid $gray;
					border-radius: 0;
					padding: 25px;

					.fl {
						width: 80%;

						@include breakpoint(small, 'max') { width: 100%; }
					}

					.fr {
						width: 20%;

						@include breakpoint(small, 'max') {
							margin-top: 10px;
							width: 100%;
						}
					}

					.dark-green {
						@include responsiveFont(13, 16, true);
						color: $txt-gray;
						margin-bottom: 0;
					}

					.f4 {
						@include responsiveFont(16, 16, true);
						color: $green;
						margin-bottom: 20px;
					}

					.cconf-client-email { color: $green; }
				}

				.pt4 {
					@include breakpoint(small, 'max') { padding-top: 20px; }

					.lh-copy {
						@include responsiveFont(18, 16, true);
						color: $green;
						font-weight: bold;

						#order-id { font-weight: normal; }
					}
				}

				.cconf-address,
				.cconf-payment,
				.cconf-summary {
					margin: 0 10px;
					width: 350px;

					@include breakpoint(small, 'max') {
						display: block;
						margin: 10px 0;
						padding: 0;
						width: 100%;
					}

					&>.fl {
						border: 1px solid $gray;
						box-shadow: none;
						height: 170px;
						min-height: 170px;

						@include breakpoint(small, 'max') {
							height: auto;
							min-height: auto;
						}

						.lh-copy {
							@include responsiveFont(13, 16, true);
							color: $txt-gray;
							font-weight: normal;

							strong { font-weight: normal; }
						}
					}

					.tracked-mega {
						@include responsiveFont(13, 16, true);
						color: $green;
						letter-spacing: initial;
					}
				}

				.cconf-address {
					margin-left: 0;

					@include breakpoint(small, 'max') { margin-top: 0; }

					.lh-copy {
						.mt1 {
							&>div {
								display: inline-block;
								width: auto;
							}
						}
					}
				}

				.cconf-payment {
					.dib:not(.link) { display: none; }

					.db {
						float: none;
						margin-left: 5px;
						padding-left: 10px;
						position: relative;

						@include breakpoint(small, 'max') { display: inline-block; }

						&:before {
							content: '-';
							display: inline-block;
							left: 0;
							position: absolute;
							top: -2px;
						}
					}

					#print-bank-invoice {
						.link { margin-top: 16px; }
					}
				}

				.cconf-summary {
					margin-right: 0;
					position: relative;

					@include breakpoint(small, 'max') {
						margin-bottom: 0;
						padding-bottom: 50px;
					}

					.lh-copy {
						padding: 0;

						.tracked-mega { padding: 15px 15px 0; }
					}

					.cf {
						margin: 5px 0;
						padding: 0 15px;

						.tr { font-weight: bold; }

						&:last-child {
							background: $gray-l;
							bottom: 0;
							left: 0;
							margin-bottom: 0;
							padding: 15px;
							position: absolute;
							text-transform: uppercase;

							&>div {
								color: $green;
								font-weight: bold;
							}
						}
					}

					.b--light-gray { display: none; }
				}

				.pv4 {
					.mb0 { color: $txt-gray; }

					span:nth-child(2) i:after {
						content: ':00';
					}

					span:nth-child(2) i {
						font-style: normal;
					}

					.lh-copy { color: $green; }

					.black-70 {
						&.nowrap {
							background: $green;
							border-radius: 0;
							color: #ffffff;
							font-weight: bold;
							padding: 0 8px;
							text-transform: uppercase;

							@include breakpoint(small, 'max') {
								margin: 0;
								margin-left: 10px;
								margin-top: 10px;
							}
						}
					}
				}

				.cconf-product-table {
					@include breakpoint(small, 'max') { margin-bottom: 0; }

					thead {
						background: $gray-l;
						border-color: transparent;
						color: $txt-gray;
						text-transform: uppercase;

						@include breakpoint(small, 'max') {
							tr { display: inline-block; }
						}

						th {
							text-align: center;

							@include breakpoint(small, 'max') { width: 60px; }

							&:first-child {
								padding-left: 25px;
								text-align: left;

								@include breakpoint(small, 'max') { width: 140px; }
							}

							&:nth-child(2) {
								@include breakpoint(small, 'max') { display: none; }
							}

							&:last-child {
								@include breakpoint(small, 'max') { width: 80px; }
							}
						}
					}

					tbody {
						border: 1px solid $gray;
						border-top: 0;

						tr {
							border-color: transparent;

							@include breakpoint(small, 'max') { display: inline-block; }
						}

						td {
							border-top: 0;
							color: $txt-gray;
							padding: 50px 0;
							text-align: center;

							@include breakpoint(small, 'max') {
								@include responsiveFont(12, 16, true);
								float: left;
								width: 60px;
							}

							&:first-child {
								display: inline-block;
								padding: 25px 0;
								padding-left: 15px;
								text-align: left;
								width: 400px;

								@include breakpoint(small, 'max') {
									width: 135px;

									p { @include responsiveFont(12, 16, true); }
								}

								.db { display: none; }
							}

							&:nth-child(2) {
								@include breakpoint(small, 'max') { display: none; }
							}

							&:last-child {
								color: $green;
								font-weight: bold;

								@include breakpoint(small, 'max') { width: 80px; }
							}

							&>div { padding-top: 10px; }
						}
					}
				}

				.cconf-myorders-button,
				.cconf-continue-button {
					@extend %single-transition;
					background: transparent;
					border: 1px solid $green;
					border-radius: 20px;
					color: $green;
					font-weight: bold;
					padding: 10px 0;
					text-transform: uppercase;

					&:hover {
						background: $green;
						color: #ffffff;
					}
				}

				.cconf-continue-button {
					@include breakpoint(small, 'max') { margin: 10px 0 20px; }
				}
			}
		}
	}
}