// Modal More Phones
#modal-more-phones {
	@include breakpoint(small, 'max') {
		top: 50%;
		transform: translate(-50%, -50%);
	}
	background: #fff;
	border-bottom: 2px solid $green;
	border-radius: 0;
	box-shadow: 0 5px 6px rgba(0, 0, 0, .16);
	left: 50%;
	margin: 0;
	max-width: 450px;
	padding: 2.5em;
	transform: translateX(-50%);
	width: 90%;

	.modal-dialog {
		border-radius: 0;
		position: relative;
	}

	// Modal Header
	.modal-header {
		background: transparent;
		padding: 0;

		// Title
		.modal-title {
			color: #5B5B5B;
			font-size: 20px;
			font-weight: bold;
			line-height: 24px;
			margin: 0;
			text-align: left;

			span { color: $green; }
		}
	}

	// Modal Body
	.modal-body {
		max-height: 100%;
		padding: 0;
	}

	form { margin: 0; }

	#formPhones {
		.alert-danger,
		.alert-success {
			background-color: #fff;
			font-size: 13px;
			margin: 1em 0 0 0;
			text-align: left;

			strong {
				display: block;
				padding: 2px 0;
			}

			p { margin: 0; }

			&.active { display: block!important; }
		}
	}

	.success-message,
	.error-message {
		@media (max-width: 768px) { width: 100%; }
		display: none;
		text-align: center;
	}

	// Messages
	.default-message {
		color: #5B5B5B;
		font-size: 13px;

		p { margin: 1em 0 0 0; }
	}

	.btn-confirmation {
		@include breakpoint(small, 'max') { float: left; }
		float: right;
		margin-right: 5%;
	}

	.data {
		.add-phone {
			cursor: pointer;
			float: right;
			font-size: 12px;
			margin-top: -10px;
			text-align: right;
			text-decoration: underline;

			&.is--active {
				display: none;

				& + .additional-phone {
					margin: 1.2em 0;
					max-height: 400px;
				}
			}
		}

		.contact-modal {
			color: #736C6B;
			margin: 1.2em 0;

			label {
				cursor: inherit;
				display: block;
				font-size: 12px;
				font-weight: 500;

				span {
					font-size: 11px;
					font-weight: normal;
				}
			}

			input[type='tel'],
			input[type='text'] {
				background-color: #fff;
				border: 1px solid #E3E1E1;
				border-radius: 4px;
				box-shadow: none;
				display: block;
				font-size: 12px;
				height: 45px;
				margin: 0;
				padding: 10px 20px;
				width: 100%;
			}

			// Telefone adicional
			&.additional-phone {
				margin: 0;
				max-height: 0;
				overflow: hidden;
				transition: max-height .2s ease;
			}
		}

		// Submit button
		.submit {
			input[type='submit'],
			button {
				background-color: $green !important;
				background-image: none;
				border: 2px solid $green;
				color: #fff!important;
				display: inline-block !important;
				font-family: 'consul', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 15px !important;
				font-weight: 500;
				height: 40px;
				min-width: 140px;
				outline: none;
				padding: 0 40px;

				&:hover {
					background-color: #fff!important;
					color: $green!important;
				}

				&.icon-loading {
					font-size: 0;

					&:before {
						animation: spin .7s infinite linear;
						content: '\f110';
						display: block;
						font-family: FontAwesome;
						font-size: 20px;
						width: 50px;
					}
				}
			}
		}
	}
}