/*********************************************************/
// Modal
/*********************************************************/
.teste-ab-gae {
	#modal-warranty {
		border-radius: 0;
		color: $txt-gray;
		left: 50%;
		margin-bottom: 2%;
		margin-left: 0;
		max-width: 1080px;
		position: absolute;
		top: 3%;
		transform: translateX(-50%);
		width: 100%;

		.close {
			@include responsiveFont(18);
			border: 3px solid $green;
			color: $green;
			padding: 0;
			right: 10px;
			top: 10px;
			z-index: 10;

			&:hover { background: none; }
		}

		.modal-body {
			max-height: none;
			padding: 0;
			text-align: center;

			.container {
				padding: 0 40px;
				width: 100%;
			}

			h2.gae-title {
				@include responsiveFont(24);
				padding: 10px 0 20px;
				text-align: left;
				text-transform: uppercase;

				@include breakpoint('small', max) {
					@include responsiveFont(22);
					line-height: 30px;
				}
			}

			.box-garantia {
				margin: 0 auto;
				width: 100% !important;

				.list-garantia {
					display: table;
					margin: 0;

					@include breakpoint('small', max) {
						display: block;
						width: 100%;
					}

					&:first-child {
						li {
							border-top: 1px solid $gray;
							display: table-cell;
							vertical-align: bottom;

							&:first-child {
								border-left: inherit;
								border-top: inherit;
							}
						}
					}

					&:last-child {
						li:nth-child(3) { border-bottom: 1px solid $green; }
					}

					li {
						@include responsiveFont(30);
						border-bottom: 1px solid $gray;
						border-right: 1px solid $gray;
						display: table-cell;
						height: 64px;
						text-align: center;
						vertical-align: middle;
						width: 248px;

						@include breakpoint('small', max) { width: 100%; }

						&:nth-child(3) {
							background: #f3f3f3;
							border-left: 1px solid $green;
							border-right: 1px solid $green;
						}

						&:first-child {
							@include responsiveFont(14);
							border-left: 1px solid $gray;
							color: #000;
							font-weight: 100;
							padding-left: 10px;
							text-align: left;
						}

						&.gae-product-title {
							padding: 0 0 30px 0;

							@include breakpoint('small', max) {
								border: none;
							}

							.garantia-box-produto {
								img {
									float: left;
									width: 30%;
								}

								.garantia-box-produto-info {
									float: right;
									width: 70%;

									p {
										@include responsiveFont(16);
										color: $gray-d;
										font-weight: bold;

										@include breakpoint('small', max) {
											@include responsiveFont(22);
											line-height: normal;
										}
									}
								}
							}
						}

						&.list-title {
							position: relative;
							vertical-align: middle;

							&:nth-child(3) { border-top: 1px solid $green; }

							span {
								@include responsiveFont(14, 16, true);
								background: #fff;
								border: 1px solid $gray;
								color: $orange;
								font-weight: 700;
								left: 50%;
								padding: 3px 10px;
								position: absolute;
								text-transform: uppercase;
								top: -15px;
								transform: translateX(-50%);

								@include breakpoint('small', max) {
									@include responsiveFont(12, 16, true);
									background: none;
									border: none;
									left: 50%;
									position: absolute;
									top: inherit;
								}
							}

							&.gae-active {
								.gae-anchor {
									i:before {
										transform: rotate(-180deg);
									}
								}
							}

							&:first-child {
								@include breakpoint('small', max) {
									border-top: 1px solid $gray;
								}
							}

							@include breakpoint('small', max) {
								border: none;
								border-bottom: 1px solid $gray;
								display: block;
								height: auto;
								min-height: 90px;
								padding: 20px 0 20px 20px;
							}

							.box-opcao-garantia {
								border: none;
								min-height: auto;
								width: 100%;

								&:hover {
									.footer-box-opcao-garantia { background: none !important;  }
								}

								.box-input {
									float: left;
									margin-left: 10px;
									text-align: right;

									@include breakpoint('small', max) {
										text-align: left;
										width: 10%;
									}

									input {
										background: #ffffff;
										display: inline-block;
										float: right;
										height: 20px;
										left: 15px;
										top: 0;
										width: 20px;

										&:checked:after {
											background: $orange;
											border-radius: 50%;
											content: '';
											display: block;
											height: 9px;
											left: 5px;
											position: relative;
											top: 5px;
											width: 9px;
											z-index: 5;
										}
									}
								}

								.footer-box-opcao-garantia {
									background: none;
									bottom: 12px;
									float: right;
									left: 15px;
									padding-left: 45px;
									text-align: left;
									width: auto;

									@include breakpoint('small', max) { width: 75%; }

									label {
										@include responsiveFont(37);
										color: $orange;
										font-weight: bold;
										line-height: 35px;
										margin-bottom: 0;
										margin-right: 0;
										min-height: 40px;
										padding-left: 0;
										text-transform: uppercase;

										@include breakpoint('small', max) { @include responsiveFont(30); }

										&:before {display: none; }
									}

									&.sem-garantia {
										label {
											@include responsiveFont(21);
											color: $gray-d;
											line-height: 21px;

											@include breakpoint('small', max) {
												@include responsiveFont(22);
											}
										}
									}

									p {
										@include responsiveFont(16);
										color: $txt-gray;
										line-height: 1.3em;
										margin-top: 10px;

										@include breakpoint('small', max) {
											line-height: normal;
											margin-top: -4%;
											width: 110%;
										}
									}
								}

								.gae-anchor {
									@include breakpoint('small', max) {
										float: right;
										text-align: left;
										width: 15%;
									}

									i {
										@include responsiveFont(23, 16, true);
										color: $green;

										&:before {
											transform: rotate(0);
											transition: transform .3s ease-in;
										}
									}
								}

								&.first-box-garantia {
									.box-input { margin-left: 0; }

									.footer-box-opcao-garantia.sem-garantia {
										left: 0;

										label {
											@include responsiveFont(15, 16, true);
											top: 0;
										}

										p {
											@include responsiveFont(13, 16, true);
											margin-top: 15px;
										}
									}
								}
							}
						}

						.item-remove-ico,
						.item-minus-ico { color: $gray-d; }

						.item-ok-ico { color: $green; }

						.gae-price {
							margin-bottom: 0;

							strong {
								@include responsiveFont(20);
								color: $orange;
							}
						}
					}
				}
			}

			.box-button {
				margin: 20px auto;

				.garantia-box-proceed {
					text-align: right;

					.garantia-box-text {
						@include responsiveFont(14);
						float: left;
						font-weight: bold;
						line-height: 1em;
						margin-top: .5em;
						width: 75%;

						p { color: $gray-d; }

						a { color: $orange; }

						@include breakpoint('small', max) {
							text-align: center;
							width: 100%;
						}
					}

					.btn-success {
						@include responsiveFont(18);
						background-color: $green;
						border: 3px solid $green;
						cursor: pointer;
						float: right;
						height: 50px;
						margin-right: 10px;
						padding: 10px;
						text-align: center;
						width: 210px;

						&:hover,
						&:focus {
							@include responsiveFont(18);
							background: #ffffff;
							border: 3px solid $green;
							color: $green;
						}

						@include breakpoint('small', max) {
							text-align: center;
							width: 100%;
						}
					}
				}
			}

			.garantia-disclaimer {
				@include responsiveFont(11);
				background: $gray-l;
				clear: both;
				margin-top: 15px;
				padding: 20px 0;
				text-align: left;

				p { padding: 10px 73px; }
			}
		}

		&.mobile {
			.modal-body {
				.box-opcao-garantia {
					input {
						background: #ffffff;
						height: 20px;
						margin: 0;
						margin-top: 22px;
						vertical-align: top;
						width: 20px;

						&:checked:after {
							background: $orange;
							border-radius: 50%;
							content: '';
							display: block;
							height: 9px;
							left: 5px;
							position: relative;
							top: 5px;
							width: 9px;
							z-index: 5;
						}
					}

					label {
						.title-garantia,
						.garantia-recommended-mobile { color: $orange; }

						.title-garantia {
							.garantia-plusicon { color: $orange; }
						}
					}

					.show-more { color: $gray-d; }
				}

				.row-product-and-action {
					.garantia-box-proceed {
						.btn-continue {
							background-color: $green;
							border: 3px solid $green;
						}
					}
				}
			}
		}
	}
}