/*********************************************************/
// Modal More Phones
/*********************************************************/
#modal-more-phones {
	border-radius: 0;
	left: 50%;
	margin-left: -330px;
	width: 640px;

	@include breakpoint(small, 'max') {
		left: 0;
		margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
		width: 90%;
	}

	.close {
<<<<<<< HEAD
		color: #ffffff;
		border-color: #fff;
=======
		border-color: #fff;
		color: #ffffff;
>>>>>>> modal-atendimento
		padding-bottom: 3px;
	}

	.success-message, 
	.error-message {
		display: none;
		text-align: center;
	}

	.modal-header {
		background: $green;
		padding: 15px;

		h4 {
			@include responsiveFont(26);
			color: #ffffff;
			line-height: normal;
			margin: 0;
			text-align: left;
		}
	}

	.modal-body {
		max-height: 520px;
	}

	#formPhones {
		.alert-danger {
			margin: 0;
			margin-bottom: 20px;
			width: 100%;

			&.active {
				display: block!important;
			}
		}

		.data {
			div {
				display: inline-block;
				margin-top: 10px;
				vertical-align: top;

				label {
					@include responsiveFont(15);
					font-weight: bold;
				}

				&.phone-numbers {
					width: 310px;

					@include breakpoint(small, 'max') {
						width: 100%;
					}

					input[type='tel'] {
						border-radius: 3px;
						height: 35px;
						margin: 10px 0;
					}
				}

				&.turno-ligacao {
					margin-left: 40px;

					@include breakpoint(small, 'max') {
						margin-left: 0;
					}

					span {
						@include responsiveFont(15);
						display: block;
						font-weight: bold;
						margin-bottom: 5px;
					}

					label {
						@include responsiveFont(13);
						display: inline;
						font-weight: normal;
						position: relative;

						&:before {
							border: 1px solid;
							border-radius: 50%;
							content: '';
							display: inline-block;
							height: 12px;
							margin-right: 5px;
							width: 12px;
						}
					}

					input[type=radio] { display: none; }

					input[type=radio]:checked + label:after {
						@include contentBefore();
						background-color: $green;
						border-radius: 50%;
						height: 8px;
						left: 2px;
						top: 2px;
						width: 8px;
					}
				}

				&.submit {
					display: block;

					.enviar {
						@include responsiveFont(13);
						border: 1px solid $green;
						border-radius: 3px;
						color: #ffffff;
						font-weight: bold;
						margin: 10px 0;

						&:hover {
							background: $green;
							color: #ffffff;
						}

						@include breakpoint(small, 'max') {
							width: 100%;
						}
					}
				}
			}
		}
	}
}