/*********************************************************/
// Modal More Phones
/*********************************************************/
#modal-more-phones {
	left: 50%;
	margin-left: -285px;
	width: 505px;

	@include breakpoint(small, 'max') {
		left: 50%;
		margin: 0;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}

	form { margin: 0; }

	.close {
		border-color: #fff;
		color: #ffffff;
		padding-bottom: 3px;
	}

	#formPhones {
		.alert-danger {
			margin: 0;
			margin-bottom: 20px;
			width: 100%;

			&.active {
				display: block!important;
			}
		}
	}

	.success-message,
	.error-message {
		display: none;
		text-align: center;

		@media (max-width: 768px) {
			width: 100%;
		}

	}

	.modal-header {
		background: transparent;
		padding: 22px;
		padding-bottom: 0;

		h4 {
			@include responsiveFont(20, 16, true);
			color: $green;
			font-weight: bold;
			line-height: normal;
			margin: 0;
			text-align: left;
			text-transform: uppercase;
		}
	}

	.modal-body {
		max-height: 100%;
		padding: 22px;
	}

	.default-message { 
		@include responsiveFont(16, 16, true);
		color: #767676; 
	}

	.contact-modal { 
		width: 100%; 
		&>div {
			margin-right: 20px;
		}
		label[for=CL_phone],
		label[for=CL_homePhone] {
			@include responsiveFont(13, 16, true);
			color: #767676;
			font-weight: bold;
		}
		span { font-weight: normal; }
	}

	.btn-confirmation {
		float: right; 
		margin-right: 5%;
		@include breakpoint(small, 'max') { float: left; }
	}

	.data {
		div {
			display: inline-block;
			margin-top: 10px;
			vertical-align: top;

			label { @include responsiveFont(15, 16, true); }

			input[type='tel'],
			input[type='text'] {
				height: 35px;
				margin-bottom: 10px;
			}

			input[type='submit'],
			button {
				@extend .primary-button;
				@include responsiveFont(18, 16, true);
				background-color: $green !important;
				background-image: none;
				border: none;
			    color: fff !important;
				font-size: 17px !important;
				height: 46px;
				outline: none;
			    width: auto;
			    &:hover { color: #fff; }

				@include breakpoint(small, 'max') {
					margin-top: 10px;
					width: 100%;
				}

				&.icon-loading {
					font-size: 0;

					&:before {
						animation: spin .7s infinite linear;
						content: '\f110';
						display: block;
						font-family: FontAwesome;
						font-size: 20px;
						width: 50px;
					}
				}
			}

			&.turno-ligacao { display: none; }

			// &.turno-ligacao {
			// 	margin-left: 60px;

			// 	@include breakpoint(small, 'max') {
			// 		margin: 15px 0;
			// 	}

			// 	span {
			// 		display: block;
			// 		font-weight: bold;
			// 	}

			// 	label {
			// 		display: inline;
			// 		font-weight: normal;
			// 		position: relative;

			// 		&:before {
			// 			border: 1px solid;
			// 			border-radius: 50%;
			// 			content: '';
			// 			display: inline-block;
			// 			height: 12px;
			// 			margin-right: 5px;
			// 			width: 12px;
			// 		}
			// 	}

			// 	input[type=radio] { display: none; }

			// 	input[type=radio]:checked + label:after {
			// 		@include contentBefore();
			// 		background-color: $green;
			// 		border-radius: 50%;
			// 		height: 8px;
			// 		left: 2px;
			// 		top: 4px;
			// 		width: 8px;
			// 	}
			// }

			@include breakpoint(small, 'max') {
				display: block !important;
			}
		}
	}
}