#modal-services {
	margin-bottom: 10%;
	position: absolute;
	top: 10%;

	.modal-body {
		@include responsiveFont(13);
		padding: 20px 35px;

		h2 { @include responsiveFont(16); }

		ul,
		ol {
			li { margin-top: 20px; }
		}
	}

	.modal-footer {
		background: $gray-l;
		border: none;
		padding: 25px 35px 25px 35px;

		.lk-contrato {
			display: block;
			font-weight: bold;
			margin-bottom: 10px;
		}

		#btn-concordo {
			@include vendor(transition, all .3s ease);
			background: $orange;
			border-color: $orange;
			color: #ffffff;

			&:hover {
				background: #ffffff;
				color: $orange;
			}
		}
	}
}
.add-service-container { display: none; }

.product-service fieldset { display: none; }