body {
	/* Change label inputs - Checkout Payment*/
	.custom-label-complemento:after {
		content: 'Complemento';
		display: block;
		text-indent: 0;
	}

	.custom-label-referencia:after {
		content: 'Refer\00EAncia';
		display: block;
		margin-top: -15px;
		text-indent: 0;
	}

	&.body-order-form {
		.checkout-container {
			padding-bottom: 40px;

			.cart-fixed { background: #ffffff; }
		}

		.step {
			@include responsiveFont(14);
			color: $txt-gray-l;
			padding: 0;

			.accordion-heading {
				background-color: $gray-l;
				text-align: center;

				i { display: none; }

				.link-box-edit {
					@include responsiveFont(19);
					background: none;
					border: none;
					color: $txt-gray-l;
					outline: none;
					right: 10px;
					top: auto;

					.icon-edit { display: block; }
				}

				.accordion-toggle {
					@include responsiveFont(22);
					color: $txt-gray;
					font-weight: bold;
					padding: 10px 0;
				}
			}

			input[type='text'],
			input[type='email'],
			input[type='tel'],
			select { height: 40px; }

			.payment-card-number { margin-top: 30px; }

			.box-installments select,
			.payment-card-number input,
			.payment-card-name input { width: 100%; }

			.payment-card-due,
			.payment-card-cvv {
				label {
					display: block;
					width: 100%;
				}
			}

			.payment-card-due-month,
			.payment-card-due-year,
			.payment-card-cvv {
				width: 47%;

				select,
				input {
					@include responsiveFont(14);
					line-height: 20px;
					width: 100%;
				}
			}

			.payment-card-due-year { float: right; }

			.card-flags-container { margin-bottom: 7px; }
			.payment-card-lash { display: none; }

			.payment-body {
				.payment-group {
					width: 40%;

					.payment-group-list-btn { width: 100%; }
				}

				.steps-view { width: 60%; }

				@media screen and (max-width: 767px) {
					.payment-group,
					.steps-view { width: auto !important; }
				}
			}

			.link-change-shipping {
				@include responsiveFont(16);
				margin-top: 15px;
				width: 100%;
			}

			.shipping-options {
				.sla-items-list {
					.shipping-option-item {
						.shipping-option-item-text-wrapper {
							margin-left: 8%;

							.shipping-option-item-name {
								// color: #000000;
								font-weight: bold;
							}
						}

						[class*='icon'] {
							left: 10px;
						}
					}
				}

				.btn-group {
					@include responsiveFont(14);

					.shipping-option-item {
						border-radius: 0;
						margin-bottom: 5px;

						&.active {
							background: rgba(#736c6b, .2);
							color: $txt-gray;
						}

						&:hover {
							background: $gray-l;
							color: $txt-gray;
						}
					}
				}

				p { border-top: 3px solid $gray-l; }
			}

			.scheduled-sla-value-container:hover {
				background: transparent;
				color: $txt-gray;
			}
			.scheduled-sla-edit {
				border: none;
				border-color: $green;
				color: $green;
				margin-right: 10px;

				/*&:hover{
					background: $orange;
					color:#fff;
				}*/
			}

			.link-two-cards { display: none; }
		}

		.cart-template {
			.cart-fixed {
				height: 100%!important;
				position: static!important;
			}

			.summary-cart-template-holder {
				border: 3px solid #f4f2f1;
				height: auto!important;
			}

			h2 {
				@include responsiveFont(20);
				background-color: $gray-l;
				color: $txt-gray;
				font-weight: bold;
				line-height: 18px;
				margin-bottom: 0;
				padding: 16px 0;
				text-align: center;
			}

			ul {
				li.item:first-child {
					border-top: none;
					/*.shipping-date{
						color:$txt-gray;
					}
					.price{
						color:$orange;
					}*/
				}
			}
			.item {
				border-top: 3px solid $gray-l;
				padding: 15px;

				.shipping-date { color: $txt-gray-l; }

				.price { color: $green; }

				.service-list {
					margin-top: 10px;
					width: 100%;
				}
			}

			.cart {
				@include vendor(border-radius, 0);
				margin-bottom: 0;

				.badge {
					background: $green;
					border-color: $green;
					color: #ffffff;
					padding: 3px 6px;
				}
			}

			.link-cart {
				@include responsiveFont(12);
				display: inline-block;
				text-align: center;
				width: 100%;

				a { color: $txt-gray-l; }
			}

			.summary-template-holder {
				@include vendor(border-radius, 0);
				border: 3px solid $gray-l;
				border-top: 0;
				margin-top: -1px;

				.totalizers {
					border: none;
					margin-bottom: 0;

					.table {
						tr {
							height: 40px;

							.info {
								float: none;
								text-align: right;
							}

							.monetary {
								text-align: left;
								width: 50%;
							}
						}

						tfoot {
							td { @include responsiveFont(16); }

							.monetary { color: $green; }
						}
					}
				}

				.garantiaInfo {
					@include responsiveFont(12);
					color: $txt-gray;
					display: none;
					padding: 1em;

					&.active { display: block; }
				}
			}
		}

		.payment-confirmation-wrap {
			background: none;
			margin-top: 10px;
			position: static;
		}

		.pending-wrap {
			@include responsiveFont(14, 16, true);
			a {
				color: $orange;
				text-decoration: none;
			}
			&.loading {
				position: relative;
				text-align: center;
				&:before {
					@include spinner($orange);
					content: ' ';
				}
			}
		}

		// [ Boleto ] - Texto informativo
		.payment-description { line-height: 130%; }

		.box-payment-option {
			.sight { padding: 5px 0; }

			&.bankInvoicePaymentGroup {
				line-height: 120%;

				&:after {
					color: $green;
					content: 'Para emitir o boleto clique em "FINALIZAR COMPRA". \A\A O Boleto possui o vencimento de 1 dia útil e pode ser pago em qualquer agência bancária e internet Banking.\A\A Caso não seja pago durante esse período será automaticamente cancelado.\A\A O prazo de entrega do produto começa a partir da confirmação de pagamento, que pode variar em até 2 dias úteis.';
					font-size: 13px;
					font-weight: bold;
					margin-top: 10px;
					white-space: pre-wrap;
					word-wrap: break-word;
				}
			}
		}
	}

	&[class*='consulempresa'],
	&[class*='consulqa2'] {
		&.body-order-form {
			.box-payment-option {
				&.bankInvoicePaymentGroup {
					&:after {
						content: 'O boleto bancário será exibido após a finalização da compra e também será enviado para o seu e-mail. \A\A O prazo para pagamento do boleto é de 3 dias. \A\A Caso não seja pago durante esse período será automaticamente cancelado. O prazo de entrega do pedido começa a contar após a confirmação do pagamento do boleto. \A\A Whirlpool S.A \A CNPJ: 59.105.999/0039-59 \A\A Whirlpool Eletrodomesticos AM S.A. \A CNPJ: 63.699.839/0001-80 \A\A Whirlpool S.A \A CNPJ: 59.105.999/0003-48';
					}
				}
			}
		}
	}
}


// Checkout novo
#app-container {
	background-color: #f4f4f4;
	box-shadow: 0 45px 0 #f4f4f4;

	.App {
		// Lista de cartões salvos
		.SavedCards {
			a { font-size: 14px; }
		}

		// Error
		span.error { font-size: 12px; }

		// Inputs
		.input-mini,
		.input-small,
		.input-medium,
		.input-large,
		.input-xlarge {
			height: 40px;
			max-width: 100%;
			width: 100%;
		}

		// Validade cartão
		.PaymentCardDueDate {
			label {
				display: block;
				float: none;
				width: 100%;
			}

			span.error { width: 100%; }

			.payment-card-due-month,
			.payment-card-due-year { width: 47%; }

			.payment-card-due-year { float: right; }

			.payment-card-lash {
				display: none;
				visibility: hidden;
			}
		}

		// Código de segurança
		.PaymentCardCVV {
			width: 47%;

			label {
				display: block;
				float: none;
				width: 100%;
			}

			span.error { margin-left: 0; }
		}

		// Pagar com 2 cartões
		.ChangeNumberOfPayments {
			display: none;
			visibility: hidden;
		}

		// Cep
		.PostalCode { width: 25%; }
		.DontKnowPostalCode {
			display: none;
			visibility: hidden;
		}

		// Endereço de cobrança
		.AddressForm {
			p.payment-billing-address-number,
			p.payment-billing-address-complement {
				margin-right: 0;
				width: 47%;
			}

			.payment-billing-address-complement { float: right; }
		}
	}
}
