/**
* About the new styleguide: I am not proud about everything I had done here.
* Please, disrespect all floats and importants written below.
*/

body {
	/* Change label inputs - Checkout Payment*/
	.custom-label-complemento:after {
		content: 'Complemento';
		display: block;
		text-indent: 0;
	}

	.custom-label-referencia:after {
		content: 'Refer\00EAncia';
		display: block;
		margin-top: -15px;
		text-indent: 0;
	}

	&.body-order-form {
		.checkout-container {
			padding-bottom: 40px;

			.cart-fixed {
				background: #ffffff;
				position: relative;
			}
		}

		#payment-data {
			.accordion-group.active {
				padding: 0;

				.accordion-heading {
					padding: 0 20px;
					span {
						margin-bottom: -70px;							// Commited by anyone but me.
						position: relative;
						z-index: 1;
					}
				}

				.accordion-body {
					padding: 0;

					.accordion-inner {
						padding: 0;
					}

					.steps-view {
						background-color: $gray-m;
						border-radius: 0;

						iframe {
							@include breakpoint ('medium', 'max') {
								min-height: 500px;
							}
						}
					}
				}
			}

			.steps-view {
				min-height: 400px;

				@include breakpoint('large', 'max') {
					min-height: 410px;
				}
			}

			.box-step-content {
				min-height: 400px;
			}

			.gift-card-section {
				border-radius: 0;
				margin: 0;
				padding: 5px;
				position: absolute;
				top: 325px;
				width: 40%;

				label {
					color: #736c6b;
					display: block;
					font-size: 12px;
					font-weight: 500;
				}

				#payment-discounts-code {
					height: 30px;
					margin-right: 2%;
					width: 58%;
				}

				#btn-add-gift-card {
					margin-left: 2%;
					width: 36%;
				}

				@include breakpoint ('large', 'max') {
					top: 350px;

					@include breakpoint ('medium', 'max') {
						top: 320px;

						@include breakpoint (767px, 'max') {
							top: 290px;
							width: 100%;
						}
					}
				}
			}

			.payment-group {
				@include breakpoint('medium', 'max') {
					margin-bottom: 80px;
				}
			}
		}

		.step {
			color: $txt-gray-l;
			font-size: 13px;
			padding: 0 20px;

			&.client-profile-data {

				.btn-success {
					background-color: $green;
					border: 2px solid $green;
					font-size: 16px;
					font-weight: 500;
					height: 40px;
					line-height: 0;
					width: 100%;

					&:hover,
					&:focus {
						background-color: #fff;
						color: $green;
					}
				}

				&.filled:not(.active) {
					height: 212px;
				}
			}

			.accordion-heading {
				text-align: center;

				i { display: none; }

				.link-box-edit {
					@include responsiveFont(19);
					background: none;
					border: none;
					color: $txt-gray-l;
					outline: none;
					right: 10px;
					top: auto;

					.icon-edit { display: block; }
				}

				.accordion-toggle {
					color: $gray-d;
					font-size: 16px;
					font-weight: bold;
					padding: 18px 0 10px;
					text-align: left;

					&::after {
						border: 1px solid $green;
						border-radius: 10px;
						content: '';
						display: block;
						margin-top: 10px;
						position: relative;
						width: 35px;
					}
				}
			}

			.accordion-inner {
				padding: 9px 0;
			}


			.box-client-info-pf {
				color: $gray-d;
				margin: 0;

				input.success {
					background-position: right;
					border-color: $green;
				}

				input {
					width: 100% !important;

					&.error {
						border-color: $red-error;
					}
				}

				p {
					float: left!important;
					margin-bottom: 0;
					margin-top: 12px;

					&.client-notice {
						margin: 0;
						max-width: 100%;
						text-align: justify;
					}

					&.input {
						display: inline-block;
						width: 47.5%;

						&.client-email {
							width: 100%;

							#client-email {
								max-width: unset;
							}
						}
					}

					&.client-first-name,
					&.client-document {
						margin-right: 2.5%!important;
					}

					&.client-last-name,
					&.client-phone {
						margin-left: 2.5%!important;
					}

					&.client-last-name {
						@include breakpoint (490px, 'max') {
							margin-left: 4%;
						}
					}

					span.error {
						color: $red-error;
						font-size: 12px;
						font-weight: bold;
						margin-bottom: 0;
						position: relative;
					}
				}

				label {
					color: $gray-d;
					font-size: 12px;
					font-weight: 500;
				}
			}

			#go-to-shipping,
			#go-to-payment,
			.btn-go-to-payment {
				float: none !important;
				text-transform: none;
				width: 100%;

				&.btn-success {
					background-color: $green;
					border: 2px solid $green;
					font-size: 16px;
					font-weight: 500;
					height: 40px;
					line-height: 0;
					width: 100%;

					&:hover,
					&:focus {
						background-color: #fff;
						color: $green;
					}
				}
			}

			.client-profile-email {
				&:before {
					color: $gray-d;
					content: 'E-mail';
					display: block;
					font-size: 12px;
					font-weight: 500;
					margin-bottom: 3px;
				}
				span {
					color: $gray-d;

					&.email {
						font-size: 15px;
						font-weight: 400;
					}
				}
			}

			.client-profile-summary {
				font-size: 15px;
				margin-top: 20px;

				span {
					color: $gray-d;
				}
			}

			.newsletter {
				color: $gray-d;
				font-size: 13px;
				margin: 20px 0 15px;
				position: relative;

				span {
					padding-left: 10px;

					&:before {
						background-color: #fff;
						border: 1px solid $green;
						border-radius: 2px;
						content: '';
						display: inline-block;
						height: 18px;
						left: 0;
						position: absolute;
						width: 18px;
					}

				}

				input {
					display: none;

					&:checked {
						& + span {

							&:before {
								@include icon-get('check-thin');
								background-color: $green;
								color: #fff;
								font-size: 1rem;
							}
						}

					}
				}
			}

			.icon-edit {
				color: $purple-n;
			}

			.address-search-placeholder {
				span {
					color: $gray-d;
					font-size: 12px;
					font-weight: bold;
				}

				small {
					margin-left: 16px;

					#dont-know-postal-code {
						font-size: 12px;
					}
				}
			}

			.address-data {

				input {
					max-width: 100%;
					width: 100%;
				}

				label {
					span {
						color: $gray-d;
						font-size: 12px;
						font-weight: bold;
					}

					small {
						margin-left: 16px;

						#dont-know-postal-code {
							font-size: 12px;
						}
					}
				}

				.ship-number {
					float: none;
					margin: 0 2% 0 0;
					width: 48%;
				}

				p.ship-postal-code {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					width: 100%;

					label {
						width: 100%;
					}

					input,
					small {
						line-height: 3.5;
						max-width: 48%;
					}
				}

				.ship-filled-data {
					margin-bottom: 15px;
					margin-top: 15px;

					span {
						color: $gray-d;
						font-size: 13px;
						font-weight: 400;

						.link-edit {
							color: $purple;
							font-weight: 500;
							text-transform: capitalize;
						}
					}
				}

				.ship-more-info {
					margin: 0 0 0 2%;
					width: 48%;
				}

				.required {
					input {
						&.success {
							background-position: right;
							border-color: $green;
						}

						&.error {
							border-color: $red-error;
						}
					}
				}


				.ship-reference,
				.ship-name {
					width: 100%;
				}

				.error-list {
					width: 100%;
					span.error-description {
						color: $red-error;
						font-size: 12px;
						font-weight: bold;
						margin-bottom: 0;
						position: relative;
					}
				}

				.box-delivery {
					p {
						&.ship-number,
						&.ship-more-info {
							float: left;
						}
					}
				}

				p.input {
					margin-bottom: 11px;
				}

			}

			.address-shipping-options {
				.choose-shipping-option {
					font-size: 12px;
				}

				.shipping-option-item {
					border: 1px solid $gray-n;
					border-radius: 5px;
					margin-bottom: 5px;
					padding-left: 10%;
					position: relative;

					i {
						display: none;
					}

					&:before {
						border: 1px solid $gray-b;
						border-radius: 12px;
						content: '';
						display: inline-block;
						height: 12px;
						left: 4%;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 12px;
					}

					.shipping-option-item-text-wrapper {
						span {
							color: $gray-d;
							font-size: 12px;
							font-weight: 500;
						}

						.shipping-option-item-name {
							color: $purple;
							font-weight: bold;
						}
					}

					&.active {
						background-color: #fff;
						border: 1px solid $purple;

						&:before {
							background-color: $purple;
							border: 2px solid #fff;
							box-shadow: 0 0 0 2px #702f8f;
							height: 10px;
							left: calc(4% + 1px);
							width: 10px;
						}
					}
				}
				.scheduled-sla-label {
					color: $gray-d;
					font-size: 12px;
					margin-bottom: 5px;
				}

				.scheduled-sla-edit {
					color: $purple;
				}

				.scheduled-sla-select,
				.scheduled-sla-value,
				span {
					color: $gray-d;
				}

				.scheduled-sla.active {
					background-color: #fff;
					border: 1px solid $red-error;
				}

				.delivery-windows {
					label {
						position: relative;
					}

					input {
						display: none;
					}

					span {
						&:before {
							border: 1px solid $gray-b;
							border-radius: 12px;
							content: '';
							display: inline-block;
							height: 12px;
							left: 2px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							width: 12px;
						}
					}

					input:checked + span {
						&:before {
							background-color: $purple;
							border: 2px solid #fff;
							box-shadow: 0 0 0 2px #702f8f;
							height: 10px;
							left: 3px;
							width: 10px;
						}
					}
				}
			}

			.shipping-summary-placeholder {
				.address {
					font-size: 13px;
				}

				p.shipping-selected-sla {
					border: none;
					margin-bottom: 2px;

					span {
						color: $gray-d;
						font-weight: 500;
					}

					.text,
					.sla {
						color: $purple;
						font-weight: bold;
					}
				}

				#change-other-shipping-option {
					border: 1px solid $gray-n;
					color: $gray-d;
					font-size: 12px;

					&:hover,
					&:focus {
						background-color: #fff;
					}
				}
			}

			.payment-group {
				padding-top: 70px;
			}

			.link-gift-card {
				top: 330px;

				@include breakpoint ('large', 'max') {
					top: 355px;

					@include breakpoint ('small', 'max') {
						top: 330px;
					}
				}
			}

			.payment-group-item {
				border: none;
				border-left: 4px solid #F1F0F0;
				border-radius: 0;
				border-top: 1px solid $gray-n;
				display: flex;
				justify-content: space-between;
				margin-left: 0;

				&:last-child {
					border-bottom: 1px solid $gray-n;
				}

				&.active {
					background-color: #fff;
					border-left: 4px solid #9ACA3C;

					.payment-group-item-text {
						@include rfs(15);
						color: #736C6B;
						font-weight: bold;
						text-decoration: none;
					}

					&:after {
						@include icon-get('check-thin');
						background-color: #9ACA3C;
						border: 1px solid #BBBBBB;
						color: #fff;
						font-size: .9rem;
						line-height: .975;
					}
				}

				.payment-group-item-text {
					@include rfs(16);
					background-position: left center;
					padding: 8px 0 8px 55px;

				}

				&:after {
					border: 1px solid #BBBBBB;
					content: '';
					display: inline-block;
					height: 16px;
					position: relative;
					top: 12px;
					width: 16px;

				}
			}

			input[type='text'],
			input[type='email'],
			input[type='tel'],
			select { height: 40px; }

			.payment-card-number { margin-top: 30px; }

			.box-installments select,
			.payment-card-number input,
			.payment-card-name input { width: 100%; }

			.payment-card-due,
			.payment-card-cvv {
				label {
					display: block;
					width: 100%;
				}
			}

			.payment-card-due-month,
			.payment-card-due-year,
			.payment-card-cvv {
				width: 47%;

				select,
				input {
					@include responsiveFont(14);
					line-height: 20px;
					width: 100%;
				}
			}

			.payment-card-due-year { float: right; }

			.card-flags-container { margin-bottom: 7px; }
			.payment-card-lash { display: none; }

			.payment-body {
				.payment-group {
					width: 40%;

					.payment-group-list-btn { width: 100%; }
				}

				.steps-view { width: 60%; }

				@media screen and (max-width: 767px) {
					.payment-group,
					.steps-view { width: auto !important; }
				}
			}

			.link-change-shipping {
				@include responsiveFont(16);
				margin-top: 15px;
				width: 100%;
			}

			.scheduled-sla-value-container:hover {
				background: transparent;
				color: $txt-gray;
			}
			.scheduled-sla-edit {
				border: none;
				border-color: $green;
				color: $green;
				margin-right: 10px;

				/*&:hover{
					background: $orange;
					color:#fff;
				}*/
			}

			.link-two-cards { display: none; }
		}

		.cart-template {
			.cart-fixed {
				border: 1px solid #f4f2f1;
				border-radius: 5px;
				height: 100%!important;
				margin-right: 0;
				padding-bottom: 40px;
				width: 100%;
			}

			.summary-cart-template-holder {
				border: 0;
				height: auto!important;


			}

			h2 {
				@include responsiveFont(16);
				color: $txt-gray;
				font-weight: bold;
				line-height: 18px;
				margin: 18px 20px 10px;

				&:after {
					border: 1px solid #9aca3c;
					border-radius: 10px;
					content: '';
					display: block;
					margin-top: 10px;
					position: relative;
					width: 35px;
				}
			}

			.item {
				border: 1px solid $gray-l;
				border-radius: 4px;
				clear: none;
				float: none;
				margin: 5px auto;
				min-height: 115px;
				padding: 15px;
				width: 90%;

				.shipping-date {
					color: $txt-gray-l;
					float: right;
				}

				.price {
					color: $green;
					float: left;
				}

				.service-list {
					margin-top: 10px;
					width: 100%;
				}
			}

			.cart {
				@include vendor(border-radius, 0);
				margin-bottom: 0;

				.badge {
					background: #fff;
					border: 1px solid $purple;
					box-shadow: none;
					color: $purple;
					font-weight: bold;
					padding: 3px 6px;
				}
			}

			.product-name {
				color: $gray-d;
				font-weight: 500;
			}

			.price {
				color: $green;
				font-size: 16px;
				font-weight: bold;

				&:before {
					content: 'Por ';
				}
			}

			.shipping-date {
				color: $gray-d!important;
				font-size: 12px;
				font-weight: bold;
			}

			.link-cart {
				@include responsiveFont(12);
				display: inline-block;
				text-align: center;
				width: 100%;

				a { color: $txt-gray-l; }
			}

			.summary-template-holder {
				@include vendor(border-radius, 0);
				border-top: 0;
				margin-top: -1px;

				.accordion-group {
					margin-bottom: 0;
				}

				.accordion-inner {
					position: relative;
				}

				.totalizers {
					border: none;
					margin-bottom: 0;

					.table {
						margin: 0 auto;
						width: 90%;

						tr {
							height: 40px;

							.info {
								color: $gray-d;
								float: none;
								font-size: 14px;
								font-weight: 700;
								width: 1%;
							}

							.monetary {
								color: $purple;
								font-size: 12px;
								font-weight: bold;
								width: 50%;
							}

							&:not(:last-child) {
								border-bottom: 1px solid $gray-s;
							}
						}

						tfoot {
							background-color: $gray-n;
							left: 0;
							padding: 0 5%;
							position: absolute;
							width: 100%;

							td {
								text-transform: uppercase;
							}

							.info {
								@include responsiveFont(16);
							}

							.monetary {
								@include responsiveFont(16);
								color: $green;
							}
						}
					}
				}

				.garantiaInfo {
					@include responsiveFont(12);
					color: $txt-gray;
					display: none;
					padding: 1em;

					&.active { display: block; }
				}
			}

			@include breakpoint ('medium', 'max') {
				margin-bottom: 40px;
			}
		}

		.payment-confirmation-wrap {
			background: none;
			border: none!important;
			bottom: -100px;
			position: absolute;
			width: 100%;

			.summary-note {
				margin: 0 !important;
			}

			.payment-submit-wrap {
				margin: 0 !important;
			}

			.note-data {
				@include rfs (12);
			}

			@include breakpoint('small', 'max') {
				bottom: -80px;
			}

			button {
				@include rfs(15);
				background-color: $green;
				border-color: $green;
				border-width: 1px;
				height: 40px;
				line-height: 1;
				padding: 10px 0;

				span {
					font-weight: 500;
				}

				&:focus,
				&:hover {
					background-color: #fff;
					color: $green;
				}
			}
		}

		.pending-wrap {
			@include responsiveFont(14, 16, true);
			a {
				color: $orange;
				text-decoration: none;
			}
			&.loading {
				position: relative;
				text-align: center;
				&:before {
					@include spinner($orange);
					content: ' ';
				}
			}
		}

		// [ Boleto ] - Texto informativo
		.payment-description { line-height: 130%; }

		.box-payment-option {
			.sight { padding: 5px 0; }

			&.bankInvoicePaymentGroup {
				line-height: 120%;
				min-height: 365px;

				&:after {
					color: $green;
					content: 'Para emitir o boleto clique em "FINALIZAR COMPRA". \A\A O Boleto possui o vencimento de 1 dia útil e pode ser pago em qualquer agência bancária e internet Banking.\A\A Caso não seja pago durante esse período será automaticamente cancelado.\A\A O prazo de entrega do produto começa a partir da confirmação de pagamento, que pode variar em até 2 dias úteis.';
					font-size: 13px;
					font-weight: bold;
					margin-top: 10px;
					white-space: pre-wrap;
					word-wrap: break-word;
				}
			}
		}
	}

	&[class*='consulempresa'],
	&[class*='consulqa2'] {
		&.body-order-form {
			.box-payment-option {
				&.bankInvoicePaymentGroup {
					&:after {
						content: 'O boleto bancário será exibido após a finalização da compra e também será enviado para o seu e-mail. \A\A O prazo para pagamento do boleto é de 3 dias. \A\A Caso não seja pago durante esse período será automaticamente cancelado. O prazo de entrega do pedido começa a contar após a confirmação do pagamento do boleto. \A\A Whirlpool S.A \A CNPJ: 59.105.999/0039-59 \A\A Whirlpool Eletrodomesticos AM S.A. \A CNPJ: 63.699.839/0001-80 \A\A Whirlpool S.A \A CNPJ: 59.105.999/0003-48';
					}
				}
			}
		}
	}
}


// Checkout novo
#app-container {
	background-color: $gray-m;
	box-shadow: 0 45px 0 #f4f4f4;
	padding: 20px 50px;

	@include breakpoint('medium', 'max') {
		padding: 20px 16px;
	}

	label.FormFieldLabel {
		color: $gray-d;
		font-size: 12px;
		font-weight: 500;
	}

	.PaymentCardValue {
		label {
			float: none;
		}
	}

	p.input {
		margin-bottom: 15px;
	}

	.error {
		border: 2px solid $red-error;
	}
	.help.error {
		border: none;
		color: $red-error;
		font-size: 12px;
		font-weight: bold;
	}

	.AddressToggle {
		input {
			display: none;

			&:checked + label {
				&:before {
					@include icon-get('check-thin');
					background-color: $green;
					color: #fff;
					font-size: 1rem;
				}
			}
		}

		label {
			font-size: 12px;
			line-height: 1;
			margin-left: 25px;
			position: relative;
			width: 50%;

			&:before {
				border: 1px solid $gray-b;
				content: '';
				display: inline-block;
				height: 18px;
				left: -26px;					//please, forgive me!
				position: absolute;
				top: 3px;
				width: 18px;
			}

			@include breakpoint(360px, 'max') {
				width: 90%;
			}
		}
	}

	.SecurityEnvironmentIcon {
		background-color: $gray-m;
		display: flex;
		justify-content: right;

		.icon-lock {
			color: $gray-s;
			display: inline-block;
			font-size: 16px;
		}

		.payment-environment-icon-text {
			color: $gray-s;
			display: inline-block;
			font-size: 12px;
			font-weight: bold;
			width: 110px;

		}
	}

	.PaymentCardFlags {
		margin-top: 36px;

		.card-flags {
			display: flex;
			justify-content: space-between;
			margin: 0 auto 10px;
			width: 90%;
		}

		.card-flag-label {
			position: relative;

			input[type=radio] {
				display: none;
			}


			span {
				font-size: 0;
				text-indent: 0;

				&:before {
					border: 1px solid $gray-b;
					border-radius: 12px;
					bottom: 36px;
					content: '';
					display: inline-block;
					height: 12px;
					left: 15px;
					position: absolute;
					width: 12px;
				}

				&.card-selected {
					&:before {
						background-color: $purple;
						border: 2px solid #fff;
						box-shadow: 0 0 0 2px #702f8f;
						height: 10px;
						width: 10px;
					}
				}
			}
		}
	}

	.App {
		// Lista de cartões salvos
		.SavedCards {
			a { font-size: 14px; }
		}

		// Error
		span.error { font-size: 12px; }

		// Inputs
		.input-mini,
		.input-small,
		.input-medium,
		.input-large,
		.input-xlarge {
			height: 35px;
			max-width: 100%;
			width: 100%;
		}

		// Validade cartão
		.PaymentCardDueDate {
			label {
				display: block;
				float: none;
				width: 100%;
			}

			span.error { width: 100%; }

			.payment-card-due-month,
			.payment-card-due-year { width: 47%; }

			.payment-card-due-year { float: right; }

			.payment-card-lash {
				display: none;
				visibility: hidden;
			}
		}

		.input-prepend {
			width: 100%;

			.add-on {
				height: 35px;
				width: 12%;
			}

			.card-value {
				width: 88%;
			}
		}

		// Código de segurança
		.PaymentCardCVV {

			label {
				display: block;
				float: none;
				width: 100%;
			}

			span.error { margin-left: 0; }
		}

		// Pagar com 2 cartões
		.ChangeNumberOfPayments {
			border-top: 1px solid #ccc;
			font-size: 15px;
			font-weight: bold;
			margin: 1em 0;
			position: relative;

			a {
				color: #999;
				display: block;
				height: 100%;
				padding: 1em 0;
				text-decoration: none;
				width: 100%;

				&:hover { color: #999; }
			}
		}

		// Cep
		.PostalCode { width: 25%; }
		.DontKnowPostalCode {
			display: none;
			visibility: hidden;
		}

		// Endereço de cobrança
		.AddressForm {
			p.payment-billing-address-number,
			p.payment-billing-address-complement {
				margin-right: 0;
				width: 47%;
			}

			.payment-billing-address-complement { float: right; }
		}

		.CardForm {
			.BillingAddress {
				float: left;
				width: 100%;
			}

			#creditCardpayment-card-0Code {
				bottom: 4px;
				position: relative;
			}

			.PaymentCardCVV {
				float: left;
				margin-right: 2%;
				width: 38%;

				label {
					font-size: 0;
					height: 0;
					padding: 0;
				}


				&:before {
					@include rfs(12);
    				bottom: 4px;
					content: 'Cod. Segurança';
					font-weight: 500;
					position: relative;
				}

				.FormFieldLabel[for=creditCardpayment-card-1Code] {
					margin-top: -4px;
				}
			}

			.PaymentCardHolderDocument {
				float: left;
				margin-left: 2%;
				width: 58%;
			}
		}
	}
}

.ChangeNumberOfPayments {
	align-items: center;
	border-top: 1px solid #dfdfdf;
	display: flex;
	padding-top: 10px;
	position: relative;
	width: 100%;


	&:before {
			background-image: url('https://consulqa.vteximg.com.br/arquivos/cns-icon-add-cartao.jpg');
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			display: block;
			height: 23px;
			margin-right: 10px;
			width: 49px;
	}
	a {
		color: #736c6b;
		display: block;
		font-size: 0;
		line-height: normal;
		width: 100%;

		&:before {
			content: 'Adicionar mais um cartão ao pagamento';
			font-size: 13px;
		}
		&:after {
			background-image: url('https://consulqa.vteximg.com.br/arquivos/icon-arrow-gray.png');
			background-size: contain;
			content: '';
			display: block;
			height: 8px;
			position: absolute;
			right: 0;
			top: 50%;
			width: 12px;
		}
	}
}

.CardForm + .CardForm + .ChangeNumberOfPayments a {
	font-size: 13px;
	&:before {
		display: none;
	}
	&:after {
		transform: rotate(180deg);
	}
}