@charset 'UTF-8';

.modal-recurrence {
	background-color: $gray-l;
	left: 50%;
	margin: 0;
	max-width: 1080px;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%!important;
	width: 100%;

	&__body {
		color: $txt-gray;
		max-height: none;
		padding: 40px;
	}

	&__title {
		@include font-size(26px);
		color: $green;
		font-weight: bold;
	}

	&__deadline {
		vertical-align: middle;

		&-period {
			@include font-size(22px);
			background-color: $green;
			border-radius: 50px;
			color: #fff;
			display: inline-block;
			font-weight: bold;
			margin-left: .5em;
			padding: 12px 42px;
		}
	}

	&__advantages {
		display: flex;
		justify-content: space-between;
		margin: 30px 0;
	}

	&__advantage {
		background-color: #fff;
		border-radius: 50px;
		max-width: 320px;
		width: 100%;

		&-body { padding: 30px; }

		&-title {
			@include font-size(20px);
			background-color: $gray-d;
			border-top-left-radius: 50px;
			border-top-right-radius: 50px;
			color: #fff;
			line-height: 1;
			padding: 30px 0;
		}

		&-text {
			@include font-size(14px)
			margin: 0 0 30px;

			&:last-child { margin: 0; }
		}

		&--lg {
			.modal-recurrence__icon {
				height: 64px;
				width: 64px;
			}

			.modal-recurrence__advantage-text { @include font-size(17px) }
		}

		strong {
			@include font-size(20px)
			color: $green;
		}
	}

	&__icon {
		display: block;
		fill: $gray-d;
		height: 25px;
		margin: 0 auto;
		width: 25px;
	}

	&__cta {
		@include font-size(22px);
		background-color: $green;
		border-color: $green;

		&:hover {
			color: $green;
		}

		&:focus {
			color: #fff;
			outline: none;
		}

	}

	.loading-text { @include font-size(22px) }
}