.combos-bread-crumb {
	margin-top: 10px;
	min-height: 60px;

	@include breakpoint(medium, 'max') {
		min-height: auto;
	}

	.combos-bread-crumb__items {
		@include responsiveFont(13, 16, true);
		display: flex;
		flex-wrap: wrap;
		font-weight: bold;
		justify-content: flex-start;
	}

	.combos-bread-crumb__item {
		background-color: $template-primary;
		color: #ffffff;
		display: none;
		line-height: 18px;
		margin: 0 10px 10px 0;
		padding: 5px 0 5px 10px;
		position: relative;
		text-transform: uppercase;

		@include breakpoint(medium, 'max') {
			@include responsiveFont(12, 16, true);
		}

		&.combos-bread-crumb__item--active {
			display: flex;
		}
	}

	@mixin icon-close-bread-crumb($top, $rotate) {
		background: #fff;
		content: '';
		display: block;
		height: 2px;
		margin-top: 3px;
		position: relative;
		top: $top;
		transform: rotate($rotate);
		width: 15px;
	}

	.combos-bread-crumb__icon-close {
		cursor: pointer;
		padding: 0 10px;

		&:before {
			@include icon-close-bread-crumb(5px, 45deg);
		}

		&:after {
			@include icon-close-bread-crumb(0, 135deg);
		}
	}
}
