.combos-filter {
	border-bottom: solid 1px  $gray;
	display: flex;
	justify-content: flex-end;
	position: relative;

	@include breakpoint(small, 'max') {
		border-bottom-color: transparent;
		margin-top: 15px;
		position: initial;
	}

	.combos-filter__category {
		background: #ffffff;
		display: none;
		position: absolute;
		top: 33px;
		z-index: 9999;

		@include breakpoint(small, 'max') {
			height: 100%;
			overflow: auto;
			position: fixed;
			top: 0;
			z-index: 99999;
		}
	}

	.combos-filter__category--active {
		display: block;
	}

	.combos-filter__buttom-container {
		display: flex;
		justify-content: flex-end;
		margin: 0 30px 30px 30px;

		@include breakpoint(small, 'max') {
			background-color: #fff;
			border-top: solid 1px $gray;
			bottom: 0;
			margin: 0;
			position: fixed;
			width: 100%;
			z-index: 99999;
		}
	}

	.combos-filter__buttom {
		line-height: 1.4;
		margin-left: 10px;
		min-height: 40px;
		padding: 8px 25px;
		text-transform: uppercase;
		transition: all .5s ease;

		&.combos-filter__buttom--filter {
			@include responsiveFont(14, 16, true);
			background-color: #ffffff;
			border: solid 1px $gray;
			color: $txt-gray;
			font-weight: bold;
			outline: none;
			padding-right: 64px;

			@include breakpoint(small, 'min') {
				border-bottom: transparent;
			}

			@include breakpoint(small, 'max') {
				padding-right: 25px;
			}

			&:after {
				@include icon-get('arrow-down');
				@include responsiveFont(8, 16, true);
				position: absolute;
				right: 27px;
				top: 50%;
				transform: translateY(-50%);

				@include breakpoint(small, 'max') {
					display: none;
				}
			}
		}

		&.combos-filter__buttom--search {
			background-color: $template-primary;
			border-color: $template-primary;
			color: #fff;

			&:hover span {
				color: #fff;
			}

			@include breakpoint(small, 'max') {
				margin: 10px;
				width: 100%;
			}
		}

		&.combos-filter__buttom--clear {
			@include breakpoint(small, 'max') {
				display: none;
			}
		}

		&.combos-filter__buttom--back {
			@include responsiveFont(16, 16, true);
			align-items: center;
			background: $template-primary;
			color: #fff;
			display: none;
			font-weight: bold;
			margin-left: initial;
			padding: 15px;
			text-transform: uppercase;
			width: 100%;

			@include breakpoint(small, 'max') {
				display: flex;
			}

			&:before {
				background: url('/arquivos/icon-arrow-back.png') no-repeat;
				content: '';
				height: 16px;
				margin-right: 10px;
				width: 16px;
			}
		}

		&.combos-filter__buttom--active {
			border-color: transparent;
			z-index: 9999;

			&:after {
				transform: rotate(180deg) translateY(50%);
			}
		}
	}
}

.combos-category {
	min-width: 540px;

	@include breakpoint(small, 'max') {
		background-color: #ffffff;
		display: block;
		left: 0;
		min-width: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}

	.combos-category__title {
		@include responsiveFont(18, 16, true);
		color: $template-primary;
		font-weight: bold;
		margin: 30px 0 10px 0;
		padding-left: 40px;

		@include breakpoint(small, 'max') {
			padding-left: 20px;
		}
	}

	.combos-category__conteiner {
		display: flex;
		flex-direction: row;

		@include breakpoint(small, 'max') {
			flex-direction: column;
			padding-bottom: 50px;
		}
	}

	.combos-category__items {
		border-right: solid 1px  $gray;
		display: flex;
		flex-direction: column;
		height: 210px;
		justify-content: flex-start;
		margin: 20px 0;
		padding-left: 40px;

		@include breakpoint(small, 'max') {
			border-right: none;
			flex-direction: row;
			flex-wrap: wrap;
			height: initial;
			margin-top: 0;
			padding: 0 20px;
		}

		&:last-child {
			border-right: none;
		}
	}

	.combos-category__title-items {
		@include responsiveFont(14, 16, true);
		font-weight: bold;
		padding-bottom: 5px;
		width: 100%;

		@include breakpoint(small, 'min') {
			display: none;
		}
	}

	.combos-category__item {
		@include responsiveFont(14, 16, true);
		align-items: center;
		color: $txt-gray;
		cursor: pointer;
		display: flex;
		font-weight: bold;
		padding-bottom: 24px;
		position: relative;
		text-transform: uppercase;
		width: 215px;

		@include breakpoint(small, 'max') {
			background-color: #e4e4e4;
			margin: 0 10px 10px 0;
			padding: 0 !important;
			text-transform: initial;
			width: initial;
		}

		&:last-child {
			padding-bottom: 0;

			@include breakpoint(small, 'max') { padding-bottom: 10px; }
		}


		label {
			cursor: pointer;
			padding-left: 25px;
			position: relative;

			@include breakpoint(small, 'max') {
				line-height: 1;
				margin: 0;
				padding: 13px 10px;
				width: 100%;
			}

			&:after {
				@include breakpoint(small, 'max') { content: none; }
			}
		}
	}

	.combos-category__checkbox {
		left: -10px;
		top: -10px;

		&:checked {
			& + label {
				color: $orange;

				@include breakpoint(small, 'max') {
					background-color: $template-primary;
					color: #ffffff;
				}

				&:before {
					background-color: $template-primary;
					border-color: $template-primary;

					@include breakpoint(small, 'max') {
						display: none;
					}
				}

				&:after {
					@include icon-get('check');
					@include responsiveFont(10, 16, true);
					color: #ffffff;
					content: ' ';
					font-weight: bold !important;

					@include breakpoint(small, 'max') {
						display: none;
					}
				}
			}
		}
	}

}

// .landing-combos .header {
// 	z-index: 9999;

// 	@include breakpoint(small, 'max') {
// 		z-index: initial;
// 	}
// }

// header,
// .menu-mobile {
// 	@include breakpoint(small, 'max') {
// 		z-index: 99999 !important;
// 	}
// }
