.combo-product {
	height: 100%;
	padding: 20px 10px;
	width: 180px;

	@include breakpoint(medium, 'max') {
		padding: 0 0 10px 0;
		width: 100%;
	}

	.combo-product__link {
		align-items: center;
		cursor: default;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-around;
		text-decoration: none;

		@include breakpoint(medium, 'max') {
			flex-direction: row;
		}
	}

	 .combo-product__title {
		@include breakpoint(medium, 'min') { min-height: 120px }
		@include breakpoint(medium, 'max') { text-align: left; }
		@include responsiveFont(16, 16, true);
		cursor: pointer;
		font-weight: lighter;
		line-height: 1.3;
		margin: 10px 0;
		min-height: 120px;
		text-align: center;

		@include breakpoint(medium, 'max') {
			min-height: auto;
			text-align: left;
		}

		@include breakpoint(small, 'max') {
			@include responsiveFont(13, 16, true);
			line-height: 1.2;
			margin-right: 5px;
		}
	 }

	 .combo-product__price {
		@include responsiveFont(16, 16, true);
		font-weight: bold;
		margin: 10px 0;
	 }

	@mixin icon-add-and-remove-of-product() {
		@include responsiveFont(10, 16, true);
		font-weight: bold !important;
		left: -12px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.combo-product__button {
		@include responsiveFont(14, 16, true);
		background: none;
		border: none;
		color: $template-primary;
		font-weight: lighter;
		outline: none;
		// height: 30px;
		position: relative;

		&.combo-product__button--remove-item {
			display: none;

			@include breakpoint(small, 'min') {
				@include breakpoint(medium, 'max') {
					padding-left: 15px;
				}
			}

			&:before {
				@include icon-get('close-icon');
				@include icon-add-and-remove-of-product();

				@include breakpoint(medium, 'max') {
					left: 0;
				}

				@include breakpoint(small, 'max') {
					@include responsiveFont(6, 16, true);
				}
			}
		}

		&.combo-product__button--add-item {
			display: none;

			&:before {
				@include icon-get('close-icon');
				@include icon-add-and-remove-of-product();
				transform: translateY(-50%) rotate(45deg);

				@include breakpoint(medium, 'max') {
					left: 0;
				}

				@include breakpoint(small, 'max') {
					@include responsiveFont(6, 16, true);
				}
			}
		 }

		 &.combo-product__button--active {
			 display: inline-block;

			 @include breakpoint(small, 'min') {
				@include breakpoint(medium, 'max') {
					padding-left: 15px;
				}
			}

			@include breakpoint(small, 'max') {
				@include responsiveFont(11, 16, true);
				padding-left: 10px;
				padding-right: 0;
				text-align: right;
			}
		 }
	}

	&.combo-product--inactive .combo-product__title,
	&.combo-product--inactive .combo-product__price,
	&.combo-product--inactive img { opacity: .3; }
}

.product-description-prateleira {
	display: block;
	text-align: center;
	width: 100%;

	@include breakpoint(medium, 'max') {
		padding-left: 10px;
		text-align: left;
	}
}
