{?subtitle}
	<h2 class="pre-title shelf-pre-title js-pre-title">{subtitle|s}</h2>
{:else}
	<h2 class="pre-title shelf-pre-title js-pre-title">{title|s}</h2>
{/subtitle}

<div class="container js-content-lazy" data-position="{position}" data-index="{$idx}">
	<ul class="shelf shelf--btp js-chaordic-shelf content-placeholder">
		<li class="inline-b">
			<article class="shelf-item">
				<div class="shelf-item__image shelf-item--empty"></div>
				<div class="shelf-item__info">
					<div class="shelf-item__name shelf-item--empty"></div>
					<div class="shelf-item__sku shelf-item--empty"></div>
				</div>
				<div class="shelf-item__price">
					<div class="shelf-item__price--list shelf-item--empty"></div>
					<div class="helf-item__price--best shelf-item--empty"></div>
					<div class="shelf-item__price--installment shelf-item--empty"></div>
				</div>
			</article>
		</li>
		<li class="inline-b">
			<article class="shelf-item">
				<div class="shelf-item__image shelf-item--empty"></div>
				<div class="shelf-item__info">
					<div class="shelf-item__name shelf-item--empty"></div>
					<div class="shelf-item__sku shelf-item--empty"></div>
				</div>
				<div class="shelf-item__price">
					<div class="shelf-item__price--list shelf-item--empty"></div>
					<div class="helf-item__price--best shelf-item--empty"></div>
					<div class="shelf-item__price--installment shelf-item--empty"></div>
				</div>
			</article>
		</li>
		<li class="inline-b">
			<article class="shelf-item">
				<div class="shelf-item__image shelf-item--empty"></div>
				<div class="shelf-item__info">
					<div class="shelf-item__name shelf-item--empty"></div>
					<div class="shelf-item__sku shelf-item--empty"></div>
				</div>
				<div class="shelf-item__price">
					<div class="shelf-item__price--list shelf-item--empty"></div>
					<div class="helf-item__price--best shelf-item--empty"></div>
					<div class="shelf-item__price--installment shelf-item--empty"></div>
				</div>
			</article>
		</li>
	</ul>
</div>