{?subtitle}
	<h2 class="pre-title shelf-pre-title js-pre-title">{subtitle|s}</h2>
{:else}
	<h2 class="pre-title shelf-pre-title js-pre-title">{title|s}</h2>
{/subtitle}

<div class="container clearfix js-content-lazy shelf--personalized" data-position="{position}" data-index="{$idx}">
	<div>
		<div class="js-content-personalized--ref shelf--personalized__holder shelf--personalized-ref">
			<ul class="shelf shelf--btp">
				{#displays[0].references[0]}
					{>"shelf-content-placeholder-product-frequentlyBoughtTogether"/}
				{/displays[0].references[0]}
			</ul>
		</div>
        <span class="shelf-plus">+</span>
		<div class="js-content-personalized--ref js-content-sku-ref shelf--personalized__holder shelf--personalized-ref">
			<ul class="shelf shelf--btp">
				{#displays[0].recommendations[0]}
					{>"shelf-content-placeholder-product-frequentlyBoughtTogether"/}
				{/displays[0].recommendations[0]}
			</ul>
        </div>
        <span class="shelf-equals">=</span>
        <div class="js-content-personalized--res shelf--personalized__holder shelf--personalized-res">
            <div class="shelf-res-text">
                Leve os <span>2</span> produtos
            </div>
            <div class="shelf-res-prices">
    
                <div class="old-price">
                    R$ {oldPrice}
                </div>
            
                <div class="price">R$ {price}</div>
            
                <div class="installments">
                    {numberInstallments}x R$ {instalments}
                </div>
            
            </div>
            <a href="javascript:void(0)" data-href="" class="shelf-item__button js-shelf-item__button" target="_parent" title="Comrpar Junto">Comprar Junto</a>
        </div>
	</div>
</div>