<li class="inline-b">
	<article class="shelf-item">
		<div class="shelf-item__image">
			<a href="//{url}" alt="{name}" title="{name}" data-tracking="{trackingUrl}">
				<span class="shelf-item__image--main">
					<img src='//{images.default}' width="345" height="345" />
				</span>
			</a>
		</div>
		<div class="shelf-item__info">
			<a class="shelf-item__name" href="//{url}" alt="{name}" title="{name}" data-tracking="{trackingUrl}">{name|chaordicName}</a><br />
			<div class="shelf-item__sku shelf-item--empty"></div>
		</div>
		<div class="shelf-item__price">
			<div class="shelf-item__price--list shelf-item--empty"></div>
			<div class="helf-item__price--best shelf-item--empty"></div>
			<div class="shelf-item__price--installment shelf-item--empty"></div>
		</div>
	</article>
</li>