@charset 'UTF-8';

.footer-bottom {
	background-color: $default-color-gray-dark;
	border-top: 1px solid #707070;
	color: #fff;
	padding: 1.5em 0;

	// [ Checkout ] - Adaptações
	.footer-2019--checkout & {
		background-color: #f1f0f0;
		border-top: 5px solid #e5e3e3;
		color: #736c6b;
	}

	.container {
		@include breakpoint('small', 'min') {
			display: flex;
			justify-content: space-between;
		}

		// [ Checkout ] - Adaptações
		.footer-2019--checkout & {
			@include breakpoint('small', 'min') { justify-content: flex-start; }
			@include breakpoint('small', 'max') {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	&__item {
		@include breakpoint('small', 'max') { width: 100%!important; }
		position: relative;
		width: 30%;

		// [ Checkout ] - Adaptações
		.footer-2019--checkout & {
			@include breakpoint('small', 'max') {
				margin: 0;
				width: 48%!important;
			}
			margin-right: 5%;
		}

		&:first-child {
			// [ Checkout ] - Adaptações
			.footer-2019--checkout & {
				@include breakpoint('small', 'max') { margin-right: 4%; }
			}
			width: 60%;
		}

		&:last-child {
			.footer-2019--checkout & {
				@include breakpoint('small', 'max') { width: 100%!important; }
				margin-right: 0;

				.footer-bottom__title {
					@include breakpoint('small', 'max') {
						margin-top: 20px;

						&:before {
							bottom: inherit;
							top: -20px;
						}
					}
				}

				img {
					@include breakpoint('small', 'max') {
						position: absolute;
						right: 0;
						top: 20px;
					}
				}
			}
		}

		img {
			display: inline-block;
			margin: 0 20px 20px 0;
		}

		// Ebit
		#seloEbit { max-width: 35px; }
	}

	// Title
	&__title {
		@include rfs(14);
		display: block;
		font-weight: normal;
		margin-bottom: 1.2em;
		padding-bottom: 1em;
		position: relative;

		&:before {
			background-color: $default-color-gray-light;
			bottom: 0;
			content: '';
			display: block;
			height: 2px;
			opacity: .5;
			position: absolute;
			width: 100%;
		}

		a {
			color: #736c6b;
			text-decoration: none;
		}
	}

	// Text
	&__text {
		@include rfs(11);

		a {
			color: #fff;

			// [ Checkout ] - Adaptações
			.footer-2019--checkout & { color: #736c6b; }

			&:hover { text-decoration: underline; }
		}
	}
}

// logo vtex
.vtex-logo-footer {
	display: block;
	margin-top: 1em;
}
