@charset 'UTF-8';

.lead-newsletter {
	@include breakpoint('small', 'max') {
		order: -2;
		padding: 0;
	}
	background-color: #1C1C1C;
	min-height: 60px;
	overflow: hidden;
    padding: 10px 0;
	&__title {
		@include rfs(15);
		font-weight: 500;
	}
	& input:not([type='submit']) {
		margin-right: 12px;
		min-height: 36px;
	}
	& input[type='submit'] {
		background: transparent;
		border-color: #fff;
		color: #fff;
		font-weight: 500;
		&:hover,
		&:focus {
			background-color: #9aca3c;
			border-color: transparent;
		}
	}

	&.success {
		padding: 0;
		p.message-success {
			bottom: 0;
			left: 0;
			position: absolute;
			right: auto;
			text-align: center;
			top: 22px;
			transform: inherit;
			width: 100%;
			z-index: 2;
			&::before {
				left: 290px;
				padding: 0;
				top: 0;
			}
			@media(max-width: 768px) {
				position: relative;
				top: 2px;
			}
		}
		.open-mobile-newsletter {
			background-color: transparent;
			cursor: pointer;
			min-height: 60px;
			z-index: 3;
		}
		& .container {
			@media (max-width:  992px) {
				padding-top: 6px !important;
			}
		}
	}
	input:not([type="submit"])[type="checkbox"]:checked + label {
		width: 100%;
	}

	.open-mobile-newsletter {
		background-color: transparent;
		padding: 10px 0 10px;
		&::before {
			right: 5px;
			top: 13px;
		}
		&__title {
			font-weight: 500;
			width: 100%;
			&::after {
				background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.0497 2.801C15.5729 2.28319 15.5729 1.4379 15.0497 0.920093C14.5345 0.410238 13.705 0.409786 13.1893 0.919078L8 6.04349L2.81071 0.919078C2.29497 0.409785 1.46547 0.410238 0.950288 0.920092C0.427064 1.4379 0.427064 2.28319 0.950288 2.801L8 9.77778L15.0497 2.801Z' fill='%23fff'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-size: contain;
				color: #fff;
				content: '';
				cursor: pointer;
				display: block;
				height: 15px;
				position: absolute;
				right: 0;
				top: 15px;
				width: 15px;
			}
		}

	}
}
