@charset 'UTF-8';

.menu-footer {
	background-color: #424340;

	&-list {
		@include breakpoint('small', 'max') { justify-content: center; }
		display: flex;
		flex-wrap: wrap;
		min-height: 40px;
		text-align: center;

		&__item {
			@include breakpoint('small', 'max') { margin: 0; }
		}

		&__link {
			@include breakpoint('small', 'max') { margin: 0 10px; }
			@include rfs(12);
			color: #fff;
			display: block;
			font-weight: normal;
			height: 100%;
			margin-right: 50px;
			padding: .8em 0!important;

			&:hover { text-decoration: underline; }
		}
	}
}