@if $use-main == true {
	//------------------------------------
	//  MAIN
	//------------------------------------

	// Variables
	$font-size: #{($base-font-size / 16px) * 1em};
	$line-height-integer: #{$line-height-ratio};

	* {
		&,
		&:before,
		&:after { box-sizing: border-box; }
	}

	html,
	html body { opacity: 1 !important; } //prevent vwo flash


	html,
	body {
		background-color: $website-bg-color;
		border: 2px solid #00d!important;
		color: $base-font-color;
		font: normal normal $font-size/$line-height-integer $base-font-family;
		font-weight: normal;
		margin: 0;

		@if $enable-font-smoothing == true {

			-moz-font-smoothing: antialiased;
			-webkit-font-smoothing: antialiased;
			font-smooth: always;
		}
	}

	html[dir='rtl'] { direction: rtl; }

	hr {
		border: 1px solid #fff;
		margin: 2em 0;
	}

	body > img,
	.zx_mediaslot { //remove pixels
		display: none;
		height: 0;
		width: 0;
	}

	// body{position: relative;}
}
