//------------------------------------
//  TYPE
//------------------------------------

// Variables
$small-size: 12px !default;
$micro-size: 10px !default;

// Links
a {
	color: $base-link-color;
	text-decoration: none;

	&:hover { cursor: pointer; }
}

// Sizing
small,
.small { @include font-size($small-size); }

.micro { @include font-size($micro-size); }

// Addresses
address { font-style: normal; }


// Other elements
abbr {
	&[title],
	&[data-original-title] {
		border-bottom: 1px dotted #999;
		cursor: help;
	}
}

acronym {
	border-bottom: 1px dashed $base-link-color;
	cursor: help;
}

.pre-title {
	@include rfs(28);
	font-weight: 700;
	line-height: 1.14;
	margin: 45px 0 0;

	& > span { @include rfs(28); }

	&:empty {display: none}
}

input.error,
select.error {
	background: #FFF0F0!important;
	border-color: #F49A9A!important;
}

span.error {
	@include font-size(11px);
	color: #EF7373;
}
